<section id="videos" class="white-bg relative py-1">
    <div class="l-container flow">  
        <div id="videoPlayer" class="flex flex-column gap-1">
            <div class="video-container">
                <!--<iframe name="video-player" class="youtube-video" width="640" height="360" src="https://www.youtube.com/embed/KYOGW2wym48" frameborder="0" allow="autoplay 'self'; fullscreen 'self'" allowfullscreen="allowfullscreen"></iframe>-->
                <iframe name="video-player" class="youtube-video" width="560" height="315" src="https://www.youtube.com/embed/yDZGTe6xIXg?si=JBbvfw8INpz8XRvn" title="University of Cincinnati anthem video" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen="allowfullscreen"></iframe>
            </div>
            <!--<div class="video-list youtube-video flex flex-row flex-nowrap" style="overflow: hidden; height: 100%; max-width: 100%;">
                <div class="thumbnail one-half active" data-url="https://www.youtube.com/embed/KYOGW2wym48">
                    <a href="https://www.youtube.com/embed/KYOGW2wym48" target="video-player"></a>
                    <div class="thumbnail-img"><img src="https://i.ytimg.com/vi/KYOGW2wym48/mqdefault.jpg"></div>
                    <div class="thumbnail-info">
                        <p>Lauren's Story</p>
                    </div>
                </div>
                <div class="thumbnail one-half" data-url="https://www.youtube.com/embed/PHzY9RWaG4k"></div>
                    <a href="https://www.youtube.com/embed/PHzY9RWaG4k" target="video-player"></a>
                    <div class="thumbnail-img"><img src="https://i.ytimg.com/vi/PHzY9RWaG4k/mqdefault.jpg"></div>
                    <div class="thumbnail-info">
                        <p>Dr. George Rieveschl Jr. - UC's Founder of Philanthropy</p>
                    </div>
                </div>
                <div class="thumbnail one-half" data-url="https://www.youtube.com/embed/PHzY9RWaG4k">
                    <a href="https://www.youtube.com/embed/PHzY9RWaG4k" target="video-player"></a>
                    <div class="thumbnail-img"><img src="https://i.ytimg.com/vi/PHzY9RWaG4k/mqdefault.jpg"></div>
                    <div class="thumbnail-info">
                        <p>Dr. George Rieveschl Jr. - UC's Founder of Philanthropy</p>
                    </div>
                </div>
                <div class="thumbnail one-half" data-url="https://www.youtube.com/embed/UEz8QlQjz2k">
                    <a href="https://www.youtube.com/embed/UEz8QlQjz2k" target="video-player"></a>
                    <div class="thumbnail-img"><img src="https://i.ytimg.com/vi/UEz8QlQjz2k/mqdefault.jpg"></div>
                    <div class="thumbnail-info">
                        <p>UC Foundation: Recruiting Excellence</p>
                    </div>
                </div>
            </div>-->
            
        </div>
  	</div>
</section>
<section class="relative white-bg">
  	<div class="related-stories py-1 relative">
        <div class="l-container">
            <div class="video-list flex flex-row flex-center gap-1 row">
              
              	<div class="one-fourth active">
                    <a href="https://www.youtube.com/embed/yDZGTe6xIXg?si=JBbvfw8INpz8XRvn&autoplay=1" target="video-player" class="c-stacked-block video card whitebox related flex flex-column white-bg ">
                        <div class="c-stacked-block__header">
                            <div class="c-stacked-block__media">
                                <div class="image" style="background-image: url(https://i.ytimg.com/vi/yDZGTe6xIXg/mqdefault.jpg);">
                                </div>
                            </div>
                        </div>
                        <div class="c-stacked-block__body flow">                          	
                            <p>Let's Get to Work - UC Gardner Neuroscience Institute: Imagine the future of brain health</p>
                        </div><!-- end c-stacked-block__body -->
                    </a><!-- end c-stacked-block -->
                </div>
                <div class="one-fourth">
                    <a href="https://www.youtube.com/embed/qf3hKaz8yqg?si=mpu19UKIQTvqzEAQ&autoplay=1" target="video-player" class="c-stacked-block video card whitebox related flex flex-column white-bg ">
                        <div class="c-stacked-block__header">
                            <div class="c-stacked-block__media">
                                <div class="image" style="background-image: url(https://i.ytimg.com/vi/qf3hKaz8yqg/mqdefault.jpg);">
                                </div>
                            </div>
                        </div>
                        <div class="c-stacked-block__body flow">
                          	<p>The Future of Research at the UC Gardner Neuroscience Institute: Cutting-edge research funded by philanthropy</p>
                        </div><!-- end c-stacked-block__body -->
                    </a><!-- end c-stacked-block -->
                </div>
                <div class="one-fourth">
                    <a href="https://www.youtube.com/embed/6XXPluQBahg?si=S0XexTdZd0W4D4OK&autoplay=1" target="video-player" class="c-stacked-block video card whitebox related flex flex-column white-bg ">
                        <div class="c-stacked-block__header">
                            <div class="c-stacked-block__media">
                                <div class="image" style="background-image: url(https://i.ytimg.com/vi/6XXPluQBahg/mqdefault.jpg);">
                                </div>
                            </div>
                        </div>
                        <div class="c-stacked-block__body flow">
                          	<p>Tim's Story: A life-saving stroke treatment</p>
                        </div><!-- end c-stacked-block__body -->
                    </a><!-- end c-stacked-block -->
                </div>
                <div class="one-fourth">
                    <a href="https://www.youtube.com/embed/XFuiwu-Px8M?si=0TEslyavOnrxXHGX&autoplay=1" target="video-player" class="c-stacked-block video card whitebox related flex flex-column white-bg ">
                        <div class="c-stacked-block__header">
                            <div class="c-stacked-block__media">
                                <div class="image" style="background-image: url(https://i.ytimg.com/vi/XFuiwu-Px8M/mqdefault.jpg);">
                                </div>
                            </div>
                        </div>
                        <div class="c-stacked-block__body flow">                          	
                            <p>Parkinson's and Movement Disorder Research: Individualized treatment for each patient</p>
                        </div><!-- end c-stacked-block__body -->
                    </a><!-- end c-stacked-block -->
                </div>
              	
            </div>
        </div>
    </div>
</section>