<div class="accordion flow" data-aria-accordion>
    <p data-aria-accordion-heading>Heading of my panel 1</p>
    <div data-aria-accordion-panel>
        <p>Content goes here</p>
    </div>
    
    <p data-aria-accordion-heading>Heading of my panel 2</p>
    <div data-aria-accordion-panel>
        <p>Content goes here</p>
    </div>

    <p data-aria-accordion-heading>Heading of my panel 3</p>
    <div data-aria-accordion-panel>
        <p>Content goes here</p>
    </div>

    <p data-aria-accordion-heading>Heading of my panel 4</p>
    <div data-aria-accordion-panel>
        <p>Content goes here</p>
    </div>
</div>

