<div class="flow">
    <p class="large p-1">Three columns, each with one-third width, on a <code>'.row'</code> class. Columns stack on tablet view size and below.</p>
    <div class="row flex thirds">
        <div class="one-third p-1">One-third width column using <code>'.one-third'</code> class</div>
        <div class="one-third p-1" style="background: var(--color-grey);">One-third width column using <code>'.one-third'</code> class</div>
        <div class="one-third p-1">One-third width column using <code>'.one-third'</code> class</div>
    </div>

    <p class="large p-1">Two columns, each with one-half width, on a <code>'.row'</code> class. Columns stack on mobile view size.</p>
    <div class="row flex half-half">
        <div class="one-half p-1">One-half width column using <code>'.one-half'</code> class</div>
        <div class="one-half p-1" style="background: var(--color-grey);">One-half width column using <code>'.one-half'</code> class</div>
    </div>

    <p class="large p-1">Four columns, each with one-fourth width, on a <code>'.row'</code> class. Columns stack on tablet view size and below.</p>
    <div class="row flex">
        <div class="one-fourth p-1">One-fourth width column using <code>'.one-fourth'</code> class</div>
        <div class="one-fourth p-1" style="background: var(--color-grey);">One-fourth width column using <code>'.one-fourth'</code> class</div>
        <div class="one-fourth p-1">One-fourth width column using <code>'.one-fourth'</code> class</div>
        <div class="one-fourth p-1" style="background: var(--color-grey);">One-fourth width column using <code>'.one-fourth'</code> class</div>
    </div>

    <p class="large p-1">Two columns, one with with three-fourths width and the other with one-fourth width, on a <code>'.row'</code> class.</p>
    <div class="row flex">
        <div class="three-fourths p-1" style="background: var(--color-grey);">Three-fourths width column using <code>'.three-fourths'</code> class</div>
        <div class="one-fourth p-1">One-fourth width column using <code>'.one-fourth'</code> class</div>
    </div>

    <p class="large p-1">Two columns, one with with one-third width and the other with two-thirds width, on a <code>'.row'</code> class.</p>
    <div class="row flex">
        <div class="one-third p-1">One-third width column using <code>'.one-third'</code> class</div>
        <div class="two-thirds p-1" style="background: var(--color-grey);">Two-thirds width column using <code>'.two-thirds'</code> class</div>
    </div>
</div>