<div class="story">
	<div class="l-container">
		<div class="content" style="margin-top: 0 !important">
			<div class="flow">
				<div class="callout-card background-gray flow">
					<h2>This is how breakthroughs happen</h2>
					<p style="line-height: 1.5 !important; margin: 0;">Your generosity has illuminated what’s next: Student success beyond the classroom. Bearcats winning on the Big 12 stage. The gift of discovery for the health of our community. When you give to the University of Cincinnati and UC Health, you invest in the problem-solvers of tomorrow. Learn more at <a href="https://foundation.uc.edu">foundation.uc.edu</a>.</p>
				</div>

				<div class="callout-card background-gray flow">
					<h2>Make your impact</h2>
					<p style="line-height: 1.5 !important; margin: 0;">Thanks to our community of donors, Bearcats are breaking through—to the next opportunity, the next discovery and the next innovation. Support the University of Cincinnati and UC Health in making the next breakthrough <a href="https://foundation.uc.edu">foundation.uc.edu</a>.</p>
				</div>

				<div class="callout-card background-gray flow">
					<h2>Create the next breakthrough</h2>
					<p style="line-height: 1.5 !important; margin: 0;">Thanks to our community of donors, Bearcats are breaking through—to the next opportunity, the next discovery and the next innovation. Support the University of Cincinnati and UC Health in making the next breakthrough at <a href="https://foundation.uc.edu">foundation.uc.edu</a>.</p>
				</div>
			</div>
		</div>
	</div>
</div>

		