{{> molecules-skip-link }}
{{> organisms-header }}
{{!-- {{> atoms-page-title }} --}}

<div class="page-title relative">
    <div class="l-container">
        <h1>Student Success Philanthropy</h1>
    </div>
</div>
<main id="main" role="main">

    <section class="p-0">
        <div id="article" class="story">
            
            <div class="story-image">
                <img src="https://foundation.uc.edu/image/220412crInnovationHub0025-crop.jpg" alt="UC Students at Innovation Hub">
            </div>
            <div id="message" class="l-container">
                <div class="content flow" style="padding-bottom: 2rem;">
                    <h2 class="text-center" style="margin-top: 0 !important;">There's a story unfolding at UC</h2>
                    <div id="videoPlayer" class="flex flex-column gap-1">
                        <div class="video-container">
                            <!--<iframe name="video-player" class="youtube-video" width="560" height="315" src="https://www.youtube.com/embed/XFuiwu-Px8M?si=2KQAfCfZOkLxLPMq" title="University of Cincinnati anthem video" frameborder="0" allow="autoplay 'self'; fullscreen 'self'" allowfullscreen="allowfullscreen"></iframe>-->
                            <iframe name="video-player" class="youtube-video" width="560" height="315" src="https://www.youtube.com/embed/88bYi2j-PrM?si=Ds1ZqIL2p1RECM3l" title="University of Cincinnati anthem video" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen="allowfullscreen"></iframe>
                        </div>
                    </div>
                                
                </div>
            </div>      
        </div>
    </section>

    <section class="relative white-bg">
        <div class="related-stories py-1 relative">
            <div class="l-container">
                <div class="video-list flex flex-row flex-center gap-1 row">
                
                    <div class="one-fourth active">
                        <a href="https://www.youtube.com/embed/88bYi2j-PrM?si=99JtqEBEjTVvjn4r&autoplay=1" target="video-player" class="c-stacked-block video card whitebox related flex flex-column white-bg ">
                            <div class="c-stacked-block__header">
                                <div class="c-stacked-block__media">
                                    <div class="image" style="background-image: url(https://i.ytimg.com/vi/88bYi2j-PrM/mqdefault.jpg);">
                                    </div>
                                </div>
                            </div>
                            <div class="c-stacked-block__body flow">                          	
                                <p>Glimpses of the Future: NEXT Innovation Scholars</p>
                            </div><!-- end c-stacked-block__body -->
                        </a><!-- end c-stacked-block -->
                    </div>
                    <div class="one-fourth">
                        <a href="https://www.youtube.com/embed/CBlLPkhNlPA?si=XCh9QnYoWZxxEsIm&autoplay=1" target="video-player" class="c-stacked-block video card whitebox related flex flex-column white-bg ">
                            <div class="c-stacked-block__header">
                                <div class="c-stacked-block__media">
                                    <div class="image" style="background-image: url(https://i.ytimg.com/vi/CBlLPkhNlPA/mqdefault.jpg);">
                                    </div>
                                </div>
                            </div>
                            <div class="c-stacked-block__body flow">
                                <p>Co-op and Career Readiness: A Path to Success</p>
                            </div><!-- end c-stacked-block__body -->
                        </a><!-- end c-stacked-block -->
                    </div>
                    <div class="one-fourth">
                        <a href="https://www.youtube.com/embed/Wn3sYDPgPKM?si=fINqx5nw3v5NSCLE&autoplay=1" target="video-player" class="c-stacked-block video card whitebox related flex flex-column white-bg ">
                            <div class="c-stacked-block__header">
                                <div class="c-stacked-block__media">
                                    <div class="image" style="background-image: url(https://i.ytimg.com/vi/Wn3sYDPgPKM/mqdefault.jpg);">
                                    </div>
                                </div>
                            </div>
                            <div class="c-stacked-block__body flow">
                                <p>Bearcats Pantry &amp; Resource Center: Fueling our Future</p>
                            </div><!-- end c-stacked-block__body -->
                        </a><!-- end c-stacked-block -->
                    </div>
                    
                </div>
            </div>
        </div>
    </section>

    <section class="relative white-bg">
        <div class="related-stories py-1 relative">
            <div class="l-container flow">
                <h3>Every one of us who calls Greater Cincinnati home has a stake in what happens next.</h3>
                <p>Bucking trends in higher education, UC is growing—and alongside it, so does our commitment to students. With 50,000 students and a rapidly changing world, UC is accelerating our work to ensure each student succeeds.</p>
                <p><span class="bold">Why?</span> Because we know that a college degree is the best tool for generational change. And a UC degree is the best path to launch a career of meaning and impact.</p>
                <p>Under a broad, university-wide vision, we are creating new scholarships and recruitment programs, adding student-centered resources, and elevating career readiness tools to empower the next generation of leaders.</p>
            </div>
        </div>
    </section>

    <section class="py-1">
        <div class="l-container flow">
            <h2>Together, we will create:</h2>
            <div class="flex icon-text-container">
                <div class="icon-text">
                    <div class="flex">
                        <img alt="Giving Hands icon" src="https://foundation.uc.edu/image/UCFoundation_Black_Icon_Giving_Hands.png" style="width: 75px; height: 75px;">
                        <p>An <span class="bold">opportunity</span> for every student who wants to earn a UC degree, free from financial barriers.</p>
                    </div>
                </div>
                <div class="icon-text">
                    <div class="flex">
                        <img alt="Diversity Inclusion icon" src="https://foundation.uc.edu/image/UCFoundation_Black_Icon_Diversity_Inclusion_1.png" style="width: 75px; height: 75px;">
                        <p>A <span class="bold">community</span> where each Bearcat feels like they belong—and has the tools to thrive.</p>
                    </div>
                </div>
                <div class="icon-text">
                    <div class="flex">
                        <img alt="Inclusion Organizational icon" src="https://foundation.uc.edu/image/UCFoundation_Black_Icon_Inclusion_Organizational_1.png" style="width: 75px; height: 75px;">
                        <p>A <span class="bold">path to success</span> that sets UC apart as the launching place for tomorrow's leaders and change-makers.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="l-container flow">
            <h2>Our Priorities</h2>
            <div class="tabbed">
                <input type="radio" id="tab1" name="css-tabs" checked="">
                <input type="radio" id="tab2" name="css-tabs">
                <input type="radio" id="tab3" name="css-tabs">

                <ul class="tabs">
                    <li class="tab"><label class="h3" for="tab1">Tuition Support &amp; Direct Aid</label></li>
                    <li class="tab"><label class="h3" for="tab2">Campus Belonging &amp; Retention</label></li>
                    <li class="tab"><label class="h3" for="tab3">Co-op &amp; Career Readiness</label></li>
                </ul>

                <div class="tab-content text floating-img flow">
                    <h3>An Opportunity</h3>
                    <figure>
                        <img src="https://foundation.uc.edu/image/230515shTanzania0048.jpg" alt="Tanzania">
                    </figure>
                    <p>To create a Bearcat community that reflects and serves our region and nation, we must address affordability gaps to enrollment and ensure students can navigate inevitable financial hurdles after they are accepted. Our record enrollment rates are a testament to UC’s competitive value proposition. Still, students from various backgrounds can struggle to cover the cost of college, fees, housing, food and other out-of-pocket expenses.</p>
                    <p>Our priorities include:</p>
                    <ul class="flow">
                        <li><p><strong>Expand CPS Strong</strong>, our focused effort to recruit top students from Cincinnati Public Schools and increase the number of degree-holding residents in our region.</p></li>
                        <li><p><strong>Grow recruitment-focused scholarships</strong> to draw in high-demand students from across the nation and allow us to compete with financial packages offered by our Big 12 peers.</p></li>
                        <li><p><strong>Create new scholarship programs</strong> that provide innovative, interdisciplinary training to fuel entrepreneurship, inspire leadership and equip students with the critical skills needed to solve the problems of tomorrow.</p></li>
                    </ul>
                </div>

                <div class="tab-content text floating-img flow">
                    <h3>A Community</h3>
                    <figure>
                        <img src="https://foundation.uc.edu/image/190403Claudia-Rebola_Industrial-Design-Class0052.jpg" alt="Claudia Rebola">
                    </figure>
                    <p>Across UC, we are accelerating our efforts to meet students where they are.</p>
                    <p>We will expand programs that prepare incoming students with college readiness skills, support campus community and grow new mental health initiatives for student well-being.</p>
                    <p>Our priorities include:</p>
                    <ul class="flow">
                        <li><p><strong>First-generation students and scholarships</strong>: Scale our successful Gen-1 model to reach the 9,200 first-generation UC students across campuses.</p></li>
                        <li><p><strong>Flexible funding</strong>: Many students face unexpected costs related to housing, health, transportation or other life issues. We will expand access to flexible funds to ensure a one-time expense doesn’t derail a college career.</p></li>
                    </ul>
                </div>

                <div class="tab-content text floating-img flow">
                    <h3>A Path for Success</h3>
                    <figure>
                        <img src="https://foundation.uc.edu/image/230419crCampusScenes170-EDIT-2.jpg" alt="University of Cincinnati Campus">
                    </figure>
                    <p>As the birthplace of cooperative education, UC is a global leader in co-op, running one of the largest co-op programs in the United States. Each year, students benefit from more than 8,300 hands-on, real-world co-op placements—experiences that are an indispensable part of their education and launching their careers.</p>
                    <p>The new College of Co-op and Professional Studies (CCPS) allows staff to integrate and streamline services, as well as expands co-op programs, internships, and ongoing professional development for adult learners. Our goal is to provide every Bearcat with a meaningful opportunity for experiential learning.</p>
                    <p>Our priorities include:</p>
                    <ul class="flow">
                        <li><p><strong>Advising and mentorship</strong>: Increase the number of co-op advisors, coaches and mentors. Students cite one-on-one engagement with an advisor or mentor as a top benefit of CCPS.</p></li>
                        <li><p><strong>Elevated programming</strong>: Unlock student potential by extending co-op opportunities to untapped student groups, and creating new programs for non-traditional students.</p></li>
                        <li><p><strong>Financial barriers</strong>: Remove hardships to the top co-op placements by increasing wrap-around funding to cover travel, housing and other expenses.</p></li>
                    </ul>
                </div>
            </div>
        </div> 
    </section>

    <section>
        <div class="l-container flow">
            <h2>For Our Students, For Our Future</h2>
            <div class="flow">
                <p>In a rapidly changing world, UC stands out as a public university that is growing, thriving and doubling down on our commitment to the value of higher education.</p>
                <p>We are committed to cultivating tomorrow’s leaders – because we know that by investing in our students, we are investing in our region’s future for generations to come. Together, we can drive our tremendous momentum forward and propel UC into a new era of attracting and graduating tomorrow’s innovators and leaders. Together, we can provide an opportunity, a community and a path to success for every Bearcat now and into the future.</p>
            </div>

            <p class="large">Join us in elevating student success at UC with an investment in one of the following areas of impact:</p>
        </div>
    </section>

    <div class="l-container flow" style="max-width: 100%; width: 800px; padding: 10px;">
        <p class="text-center">Please click below for more details on each of these programs of impact.</p>
        <div class="accordion" data-aria-accordion>
            <h2 data-aria-accordion-heading>NEXT Innovation Scholars</h2>
            <div data-aria-accordion-panel class="flow">
                <p>Leveraging UC’s strengths as a hub of innovation, experiential learning and training, NEXT Innovation Scholars collaborate with Cincinnati-based and global corporate partners, faculty advisors and each other to shape their education while creating actionable solutions for commercial and social applications. With an emphasis on collaborative, cross-disciplinary experiences across industries, this program is fueled by innovation inside and outside the university.</p>
                <p>With dedicated philanthropic investments from our alumni, civic and business leaders, we can expand the NEXT Innovation Scholars program to more deserving Bearcats. Our goal is to secure the future of this program with sustainable funding and partnerships, ultimately fully supporting 70 scholars annually. In addition to university investment and ongoing grants, current scholarship, travel and mentorship expenses for each Next Innovation Scholar total $9,650 annually.</p>
                <p><a href="https://foundation.uc.edu/donate?id=53ff1e61-7365-474f-bc9d-ab3356f0d20a">Next Innovation Scholars Program Fund</a></p>
            </div>
        
            <h2 data-aria-accordion-heading>Presidential Co-op Fund Challenge</h2>
            <div data-aria-accordion-panel class="flow">
                <p>The newly established College of Co-op and Professional Studies is the home through which UC’s No. 1 co-op program will expand and evolve. The college will further expand career preparedness for students and professional development for adult learners.</p>
                <p>The Office of the President has seeded this priority area with a $1 million fund for challenge initiatives and growth.</p>
                <p><a href="https://foundation.uc.edu/donate?id=9e6c5ccc-9604-4ae5-a4ee-551327ead617">Presidential Co-op Challenge Fund</a></p>
            </div>
        
            <h2 data-aria-accordion-heading>Marian Spencer Scholars</h2>
            <div data-aria-accordion-panel class="flow">
                <p>Launched in 2022, this flagship scholarship program is named for Cincinnati’s civil rights leader and UC alumna Marian Spencer.</p>
                <p>As a flagship element of UC’s commitment to Cincinnati Public Schools, the program currently provides 10 CPS graduates a year with full tuition, room and board support as well as meaningful cohort international experiences, mentoring and career coaching and a live-learn community within Marian Spencer Hall.</p>
                <p><a href="https://foundation.uc.edu/donate?id=9453e507-680c-4db8-b6e6-43150e4ea836">Mantei/Mae Innovation Fund: Marian Spencer Scholarship Program Fund</a></p>
            </div>
        
            <h2 data-aria-accordion-heading>Bearcats Pantry &amp; Resource Center</h2>
            <div data-aria-accordion-panel class="flow">
                <p>The Bearcats Pantry &amp; Resource Center provides free, fresh and shelf-stable food; hygiene items; and household goods to those in need. They also offer the career closet which provides students with professional clothing, and meal vouchers that can be used at campus dining halls. Students can receive To-Go Bags which can be conveniently picked up at locations across campus and the BCP Connections works with students to connect them into other campus and community resources.</p>
                <p><a href="https://foundation.uc.edu/donate/BCP?id=b33434d6-73d8-4db8-9fa0-a3da784bd7e5&appeal=f6f7b583-9447-4e2e-9943-d80451c12fd7">Bearcats Pantry &amp; Resource Center Fund</a></p>
            </div>
        
            <h2 data-aria-accordion-heading>UC Student Emergency Fund</h2>
            <div data-aria-accordion-panel class="flow">
                <p>This fund provides targeted emergency financial assistance to full-time students experiencing an unanticipated situation that could derail their studies, for example housing or transportation needs.</p>
                <p>Use of this valuable resource is growing: In the 2022-23 academic year, the fund assisted 46 students and disbursed $16,600. In the fall 2023 semester alone, awarded funds totaled to $17,373.</p>
                <p><a href="https://foundation.uc.edu/donate?id=c2ee6c23-1c1d-4d75-bb62-b8d742c6ec39">The University of Cincinnati Student Emergency Fund</a></p>          	
            </div>
        </div>
    </div>

    <section id="contact" class="py-1">
        <div class="l-container flow">
            <p class="large" style="margin-bottom: 10px;">To learn more about supporting our student success initiatives through philanthropy, please contact:</p>
        </div>
        <div class="l-container flow">
            <div class="row flex gap-1 ">
                <div class="one-half">
                    <div class="contact-card flex flex-between gap-1" style="margin: 0 !important;">
                        <div class="col-image">
                            <div class="image ">
                                <img alt="Headshot of Chris Eden" data-emptytext="Image" src="https://ucfnd-stg-bbisfoun.ucfnd.concourse.host/image/Chris-Eden.jpg">
                            </div>
                        </div>
                        <div class="body">
                            <h3 class="name">
                                Chris Eden
                            </h3>
                            <p>
                                <strong>
                                <span class="title">Assistant VP of Development</span>
                                </strong>
                            </p>
                            <p class="address"><a href="tel:513-556-0912">(513) 556-0912</a> <a href="mailto:Chris.Eden@foundation.uc.edu">Chris.Eden@foundation.uc.edu</a></p>
                        </div>
                    </div>
                </div>
                <div class="one-half">
                    
                </div>
            </div>        
        </div>
    </section>

    <div class="red-bg lockup-bg relative py-1">
        <div class="related-stories py-2 relative">
            <h2 class="white text-center" style="margin-top: 0 !important;">Related Stories</h2>
            <div class="l-container">
                <div class="flex flex-row flex-between gap-1 row">
                    <div class="one-third">
                        <a href="https://www.uc.edu/news/articles/2024/06/uc-student-shares-co-op-experiences-at-turner-construction.html" class="c-stacked-block card whitebox related flex flex-column white-bg ">
                            <div class="c-stacked-block__header">
                                <div class="c-stacked-block__media">
                                    <div class="image" style="background-image: url(https://foundation.uc.edu/image/240607aTurner110.jpg);">
                                    </div>
                                </div>
                            </div>
                            <div class="c-stacked-block__body flow">
                                <h3 class="c-stacked-block__title">Engineering student finds his purpose through co-op</h3>                          	
                                <!--<p>Starting in fall 2024, XX of UC students will receive full tuition as part of a new scholarship focused on professional development and interdisciplinary learning.</p>-->
                            </div><!-- end c-stacked-block__body -->
                        </a><!-- end c-stacked-block -->
                    </div>
                    <div class="one-third">
                        <a href="https://www.uc.edu/news/articles/2024/04/marian-spencer-scholars-at-the-university-of-cincinnati-make-civic-engagement-visit-to-the-nations-capital.html" class="c-stacked-block card whitebox related flex flex-column white-bg ">
                            <div class="c-stacked-block__header">
                                <div class="c-stacked-block__media">
                                    <div class="image" style="background-image: url(https://foundation.uc.edu/image/lincoln-monument-spencer-scholars.jpg);">
                                    </div>
                                </div>
                            </div>
                            <div class="c-stacked-block__body flow">
                                <h3 class="c-stacked-block__title">Nurturing leadership and promoting activism</h3>
                                <!--<p>This flagship program honors Marian Spencer and awards Cincinnati Public Schools graduates with full-tuition scholarship and a unique living-learning community.</p>-->
                            </div><!-- end c-stacked-block__body -->
                        </a><!-- end c-stacked-block -->
                    </div>
                    <div class="one-third">
                        <a href="https://www.uc.edu/news/articles/2024/06/uc-shapes-next-innovation-scholars-global-aspirations.html" class="c-stacked-block card whitebox related flex flex-column white-bg ">
                            <div class="c-stacked-block__header">
                                <div class="c-stacked-block__media">
                                    <div class="image" style="background-image: url(https://foundation.uc.edu/image/lance18.jpg);">
                                    </div>
                                </div>
                            </div>
                            <div class="c-stacked-block__body flow">
                                <h3 class="c-stacked-block__title">NEXT Innovation Scholars shape UC grad’s global aspirations</h3>
                                <!--<p>Next Innovation Scholars makes UC a destination for future-minded students across colleges to foster collaboration and innovative thinking.</p>-->
                            </div><!-- end c-stacked-block__body -->
                        </a><!-- end c-stacked-block -->
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
{{> molecules-back-to-top }}
{{> organisms-footer }}