<div class="BBDonationConfirmation">
    <label class="BBListingHeading DonationListingHeading">Donation Information</label>
    <dl class="flex">
        <dt><label class="BBFieldCaption DonationFieldCaption">Amount:</label></dt>
        <dd class="BBFieldControlCell DonationFieldControlCell"><span>$5.00</span></dd>
    </dl>
    <div class="mergefield">
        <!-- Begin Recurring Info --> 
    </div>
    <dl class="flex">
        <dt><label class="BBFieldCaption DonationFieldCaption">Designation:</label></dt>
        <dd class="BBFieldControlCell DonationFieldControlCell"><span>ALS Research</span></dd>
    </dl>
    <div class="mergefield">
        <!-- Begin Corporate Info --> 
    </div>
    <div class="mergefield">
        <!-- IF ANONYMOUS --> 
    </div>

    <div class="my-1">
        <label class="BBListingHeading DonationListingHeading">Billing Information</label>
        <div class="mergefield">
            <!-- Begin Individual Info --> <span></span>
        </div>
        <dl class="flex flex-wrap">
            <dt><label class="BBFieldCaption DonationFieldCaption">Title:</label></dt>
            <dd class="BBFieldControlCell DonationFieldControlCell"><span></span></dd>
            <dt><label class="BBFieldCaption DonationFieldCaption">First name:</label></dt>
            <dd class="BBFieldControlCell DonationFieldControlCell"><span>Mike</span></dd>
            <dt><label class="BBFieldCaption DonationFieldCaption">Last name:</label></dt>
            <dd class="BBFieldControlCell DonationFieldControlCell"><span>Smith</span></dd>
        </dl>
        <div class="mergefield">
            <span></span> <!-- End Individual Info -->
        </div>
        <div class="mergefield">
            <!-- Begin Corporate Info -->  <!-- End Corporate Info -->
        </div>
        <dl class="flex">
            <dt><label class="BBFieldCaption DonationFieldCaption">Country:</label></dt>
            <dd class="BBFieldControlCell DonationFieldControlCell"><span>United States</span></dd>
        </dl>
        <dl class="flex">
            <dt><label class="BBFieldCaption DonationFieldCaption">Address:</label></dt>
            <dd class="BBFormReadonlyValue DonationCaptureReadonlyValue"><span>100 Smith Dr
                <br>Florence, KY  41001</span>
            </dd>
        </dl>
        <dl class="flex flex-wrap">
            <dt><label class="BBFieldCaption DonationFieldCaption">Phone:</label></dt>
            <dd class="BBFieldControlCell DonationFieldControlCell"><span>5131112222</span></dd>
            <dt><label class="BBFieldCaption DonationFieldCaption">Email:</label></dt>
            <dd class="BBFieldControlCell DonationFieldControlCell"><span>mike.smith@gmail.com</span></dd>
        </dl>
    </div>

    <label class="BBListingHeading DonationListingHeading">Payment Information</label>
    <dl class="flex">
        <dt><label class="BBFieldCaption DonationFieldCaption">Payment Option:</label></dt>
        <dd class="BBFieldControlCell DonationFieldControlCell"><span>Credit Card</span></dd>
    </dl>
    <div class="mergefield"><span></span></div>
    <dl class="flex flex-wrap">
        <dt><label class="BBFieldCaption DonationFieldCaption">Cardholder's Name:</label></dt>
        <dd class="BBFieldControlCell DonationFieldControlCell"><span>Mike Smith</span></dd>
        <dt><label class="BBFieldCaption DonationFieldCaption">Credit Card Number:</label></dt>
        <dd class="BBFieldControlCell DonationFieldControlCell"><span>9999</span></dd>
        <dt><label class="BBFieldCaption DonationFieldCaption">Credit Card Type:</label></dt>
        <dd class="BBFieldControlCell DonationFieldControlCell"><span>Visa</span></dd>
    </dl>
    <div class="mergefield"><span></span></div>
    <div class="mergefield"></div>
    <div class="mergefield"><span></span></div>

    <div class="my-1">
        <label class="BBListingHeading DonationListingHeading">Tribute Information</label>
        <p style="padding: 10px;">This gift is being made in tribute to someone special</p>
        <dl class="flex flex-wrap">
            <dt><label class="BBFieldCaption DonationFieldCaption">Name:</label></dt>
            <dd class="BBFieldControlCell DonationFieldControlCell"><span>John Doe</span></dd>
            <dt><label class="BBFieldCaption DonationFieldCaption">Type:</label></dt>
            <dd class="BBFieldControlCell DonationFieldControlCell"><span>in honor of</span></dd>
            <dt><label class="BBFieldCaption DonationFieldCaption">Description:</label></dt>
            <dd class="BBFieldControlCell DonationFieldControlCell"><span>Special instructions text here. Just a test.</span></dd>
        </dl>
        <div class="mergefield"><span></span></div>
        <p style="padding: 10px;">A letter will be mailed on your behalf to:</p>
        <dl class="flex flex-wrap">
            <dt><label class="BBFieldCaption DonationFieldCaption">Full Name:</label></dt>
            <dd class="BBFieldControlCell DonationFieldControlCell"><span>AckFirst AckLast</span></dd>
            <dt><label class="BBFieldCaption DonationFieldCaption">Country:</label></dt>
            <dd class="BBFieldControlCell DonationFieldControlCell"><span>United States</span></dd>
            <dt><label class="BBFieldCaption DonationFieldCaption">Address:</label></dt>
            <dd class="BBFieldControlCell DonationFieldControlCell"><span>111 Main St.
                <br>Cincinnati, OH  45202</span>
            </dd>
            <dt><label class="BBFieldCaption DonationFieldCaption">Phone:</label></dt>
            <dd class="BBFieldControlCell DonationFieldControlCell"><span>111-111-1111</span></dd>
            <dt><label class="BBFieldCaption DonationFieldCaption">Email:</label></dt>
            <dd class="BBFieldControlCell DonationFieldControlCell"><span>ackfirst.last@gmail.com</span></dd>
        </dl>
    </div>

    <div class="mergefield"><span></span></div>
    <div class="mergefield"><span></span></div>
</div>