<div id="slider">
    <a href="#" class="control_next">>></a>
    <a href="#" class="control_prev"><</a>
    <ul>
        <li style="background-image: url(https://ucfnd-stg-bbisfoun.ucfnd.concourse.host/image/Stroke-Research-Meeting-26-X3.jpg)"></li>
        <li style="background-image: url(https://ucfnd-stg-bbisfoun.ucfnd.concourse.host/image/CG-Photos-0704-X3.jpg)"></li>
        <li style="background-image: url(https://ucfnd-stg-bbisfoun.ucfnd.concourse.host/image/DDC-ALS-Clinic-92-X3.jpg)"></li>
        <li style="background-image: url(https://ucfnd-stg-bbisfoun.ucfnd.concourse.host/image/CG-Photos-0704-X3.jpg)"></li>
    </ul>  
</div>

<div class="slider_option">
    <input type="checkbox" id="checkbox">
    <label for="checkbox">Autoplay Slider</label>
</div> 

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>

jQuery(document).ready(function ($) {

  $('#checkbox').change(function(){
    setInterval(function () {
        moveRight();
    }, 3000);
  });
  
	var slideCount = $('#slider ul li').length;
	var slideWidth = $('#slider ul li').width();
	var slideHeight = $('#slider ul li').height();
	var sliderUlWidth = slideCount * slideWidth;
	
	$('#slider').css({ width: slideWidth, height: slideHeight });
	
	 $('#slider ul').css({ width: sliderUlWidth, marginLeft: - slideWidth });
	
    $('#slider ul li:last-child').prependTo('#slider ul');

    function moveLeft() {
        $('#slider ul').animate({
            left: + slideWidth
        }, 200, function () {
            $('#slider ul li:last-child').prependTo('#slider ul');
            $('#slider ul').css('left', '');
        });
    };

    function moveRight() {
        $('#slider ul').animate({
            left: - slideWidth
        }, 200, function () {
            $('#slider ul li:first-child').appendTo('#slider ul');
            $('#slider ul').css('left', '');
        });
    };

    $('a.control_prev').click(function () {
        moveLeft();
    });

    $('a.control_next').click(function () {
        moveRight();
    });

});

</script>