<div class="l-container">
	<div class="row flex flex-between gap-1">
		<div class="one-half">
			<div class="c-stacked-block card whitebox quote related flex flex-column white-bg ">
				<div class="c-stacked-block__header">
					<div class="c-stacked-block__media">
						<div class="image" style="background-image: url(https://giveto.uc.edu/view.image?Id=8929);">
						</div>
					</div>
				</div>
				<div class="c-stacked-block__body flow">
					<div class="pull-quote">
						<blockquote class="pull-quote">
							<p>Thank you for showing confidence in me and making me believe I was strong enough. And more importantly, thank you for making it possible for me to explore my options through college, and experiment with things that would not have been possible without financial support.</p>
						</blockquote>
						<p class="pull-quote-attribution"><span> Akash '24, Physics </span></p>
					</div>
				</div><!-- end c-stacked-block__body -->
			</div>
		</div>
		<div class="one-half">
			<div class="c-stacked-block card whitebox quote related flex flex-column white-bg ">
				<div class="c-stacked-block__header">
					<div class="c-stacked-block__media">
						<div class="image" style="background-image: url(https://giveto.uc.edu/view.image?Id=8929);">
						</div>
					</div>
				</div>
				<div class="c-stacked-block__body flow">
					<div class="pull-quote">
						<blockquote class="pull-quote">
							<p>Thank you for showing confidence in me and making me believe I was strong enough. And more importantly, thank you for making it possible for me to explore my options through college, and experiment with things that would not have been possible without financial support.</p>
						</blockquote>
						<p class="pull-quote-attribution"><span> Akash '24, Physics </span></p>
					</div>
				</div><!-- end c-stacked-block__body -->
			</div>
		</div>
	</div>
</div>

