<main>
    <ol>
        <li>Ordered List Item</li>
        <li>Ordered List Item</li>
        <li>Ordered List Item</li>
        <li>Ordered List Item</li>
        <li>Ordered List Item</li>
    </ol>
</main>