<section class="sub-footer black-bg py-2">
	<div class="l-container flex flex-row gap-1">
      	<div class="one-third text-center flex flex-column flex-between flow p-1">
          	<div class="flow">
              <h3>FAQ</h3>
              <p>Still have questions?</p>
              <p>Check out our FAQ for assistance.</p>
      		</div>
          	<p><a href="#" class="btn-link">View the FAQ</a></p>
      	</div>
      	<div class="one-third text-center flex flex-column flex-between flow p-1">
          	<div class="flow">
                <h3>Contact Us</h3>
                <p>Can't find the fund you're looking for or have other questions?</p>
                <p>
                    <a href="mailto:foundpub@foundation.uc.edu">foundpub@foundation.uc.edu</a>
                    <a href="tel:5135566781">513-556-6781 </a>
                </p>
      		</div>
          	<p><a href="#" class="btn-link">Contact Details</a></p>
      	</div>
      	<div class="one-third text-center flex flex-column flex-between flow p-1">
          	<div class="flow">
              	<h3>More Ways to Give</h3>
              	<ul>
                    <li><a href="">Give Online</a></li>
                	<li><a href="">Faculty/Staff Giving</a></li>
                  	<li><a href="">Matching Gifts</a></li>
                  	<li><a href="">Cryptocurrency</a></li>
                  	<li><a href="">Legacy Giving</a></li>
                  	<li><a href="">Stock Transfer</a></li>
              	</ul>
          	</div>          	
          	<p><a href="#" class="btn-link">Learn More</a></p>
      	</div>
  	</div>
</section>