<div class="l-container flow">
    <!-- I am using token id as id for div so that i can distinguish multiple parts on page-->
    <div id="PC26676_dvOuter">
        <div class="mini-donation skyContainer" id="5a2199fb-f609-4eec-8c90-9a5053cd25ef" hidewizard="True">
            <!-- design for mini donation  -->
            <div class="bbminiform-container bbminiform-table" id="dvFormContainer">
                <!-- design for donation caption -->
                <div class="bbminiform-row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h2>Make a donation to The Presidential Innovation Scholarship Fund</h2>
                        <p>Select your gift amount and continue.</p>
                    </div>
                </div>
                <!-- Wizard will start from here-->
                <div id="PC26676_stepWizard" class="bcmsWizard">
                    <!-- Wizard Header Start-->
                    <!-- Wizard Header End-->
                    <!-- Wizard Steps Start-->
                    <!--Step 1 start-->
                    <!--Step 1 end-->
                    <!--Step 2 start-->
                    <div class="" id="dvGiftDetailsStepContent" showgiftdetails="False" style="display: none;">
                        <div class="bbminiform-row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <h2 class="bbSectionHeader">Gift Details</h2>
                            </div>
                        </div>
                        <div>
                            <hr>
                        </div>
                    </div>
                    <!--Step 2 end-->
                    <!--Step 3 start. This is just a placeholder now and will be done when we do Personal Info story.-->
                    <!--Step 2 end-->
                    <!-- Wizard Steps End-->
                    <!-- Wizard Footer Start-->
                    <div class="bbminiform-row bcmsWizardFooter" id="wizardFooter">
                        <div class="bbminiform-buttonwrapper bbminiform-clear" id="dvPaymentButtons">
                        </div>
                        <div class="bbminiform-buttonwrapper bbminiform-clear" id="buttonWrapper">
                        </div>
                    </div>
                    <!-- Wizard Footer End-->
                </div>
                <div class="bcmsWizardStepContent" id="dvGiftInfoStepContent">
                    <!-- Design for donation giving levels -->
                    <div class="bbminiform-row-amount">
                        <div id="PC26676_dvGivingLevels" class="bbminiform-list-group bbminiform-segmented-control">
                            <div class="bbminiform-amtboxmain">
                                <div class="bbminiform-amtboxcaption" style="height:30px;">25.00</div>
                                <div class="bbminiform-amtbox height60px" amt="25" giftattribute="iYkEPqTqj3k=">$25</div>
                            </div>
                            <div class="bbminiform-amtboxmain">
                                <div class="bbminiform-amtboxcaption" style="height:30px;">100.00</div>
                                <div class="bbminiform-amtbox bbminiform-amtbox-active bbminiform-selectedamount height60px" amt="100" giftattribute="z4+iMVcCDZM=">$100</div>
                            </div>
                            <div class="bbminiform-amtboxmain">
                                <div class="bbminiform-amtboxcaption" style="height:30px;">500.00</div>
                                <div class="bbminiform-amtbox height60px" amt="500" giftattribute="MCd3+6VSRiY=">$500</div>
                            </div>
                            <div class="bbminiform-amtboxmain">
                                <div class="bbminiform-amtboxcaption" style="height:30px;"></div>
                                <input class="bbminiform-otheramount height60px" placeholder="Other" amt="Other" id="txtOtherAmount" aria-label="Other Amount" giftattribute="B98MO0SVi+DB2iGmPXnUDqXG7eVZaUhieZFCZ0BUSrVLkLXCtdfajg==" style="">
                            </div>
                        </div>
                    </div>
                    <div id="PC26676_divCommonHiddenFields" style="display: none;" class="bbminiform-row">
                        <div style="display:none;">
                            <input type="hidden" value="^(1[0-2]|0?[1-9])/(3[01]|[12][0-9]|0?[1-9])/(?:[0-9]{2})?[0-9]{2}$" id="regExDateFormat">
                            <input type="hidden" fullname="United States" value="United_States" id="selectedCountry">
                            <input type="hidden" fullname="United States" value="United_States" id="selectedAcknowledgeeCountry">
                            <input type="hidden" value="((\(\d{3}\) ?)|(\d{3}[-/ ]?))\d{3}[- \.,]?\d{4}\s?((([xX]|[eE][xX][tT])\.?\s*(\d+))*)$" id="regExPhoneUS">
                            <input type="hidden" value="^[0-9 \+\)\(\-]{6,20}\s?((([xX]|[eE][xX][tT])\.?\s*(\d+))*)$" id="regExPhoneOthers">
                            <input type="hidden" value="^[ ]*[A-Za-z0-9\-_'`!#$%&amp;*+/=?^{|}~]+(\.[A-Za-z0-9\-_'`!#$%&amp;*+/=?^{|}~]+)*@[A-Za-z0-9][A-Za-z0-9\-]*(\.[A-Za-z0-9][A-Za-z0-9\-]*)*\.[A-Za-z]{2,22}[ ]*$" id="regExEmail">
                            <input type="hidden" value="Confirm email and Preferred email do not match" id="emailMismatch">
                            <input type="hidden" value="CTY_USA" id="backOfficeCountry">
                            <input type="hidden" value="(((\%3C)|&lt;)|((\%3E)|&gt;)|((%26)|&amp;))" id="regExName">
                            <input type="hidden" value="(((\%3C)|&lt;)|((\%3E)|&gt;))" id="regExOrgName">
                            <input type="hidden" value="150" id="hdnAddressMaxlength">
                            <input type="hidden" value=" Cannot exceed 150 characters" id="hdnMaxLengthMessage">
                        </div>
                    </div>
                    <div id="dvGiftDetails">
                        <!-- Design for gift aid -->
                    </div>
                </div>
                <div id="PC26676_dvDonateNowPlaceholder" class="bbminiform-donatenowplaceholder" style="height:30px;"></div>
                <button type="button" class="btn btn-primary bbminiform-button btn-text btnFooterAction btnWizardFinish btmMakePayment nonWizard" paymenttype="CC" id="btmMakePayment">
                Donate Now <i class="fa fa-lock bb-lock"></i>
                </button>
            </div>
            <script type="text/javascript">
                //*** All fields required for mini donation 
                var opened = false;
                var fieldInfo = new FieldInformation();
                //*** Preparing data as per part settings
                this.bbtoken = '5a2199fb-f609-4eec-8c90-9a5053cd25ef';
                this.info = new DonationCheckoutPartInfo();
                this.info.bbdonationid = '226';
                this.info.bbdesignationId = '900aa12e-13dd-46ac-9056-fa1c1840a755';
                this.info.bbappealId = '00000000-0000-0000-0000-000000000000';
                this.info.origininfo = '{"PageName":"Impact Story - Sharvari Girish Patil ","PageID":3715,"PartName":"Donation Form - Mini - Impact Story test","PartID":10314,"PartTypeID":158,"AppealID":0,"PageURL":"https://ucfnd-stg-bbisfoun.ucfnd.concourse.host/stories/sharvari-girish-patil","AdminPartURL":"https://ucfnd-stg-bbisfoun.ucfnd.concourse.host/cms/contenthome/id/10314?cid=10314","TransactionDate":"2025-07-16T14:47:08.6598326Z","RecordedByUserDisplayName":"Greg Vissing","RecordedByUserName":"vissing","RecordedByUserID":53,"TransactionVersion":"7.2.2.3703","ClientSitesID":1}';
                this.info.partLanguageData = '{\"Caption\":\"\\n\u003ch2\u003eMake a donation to The Presidential Innovation Scholarship Fund\u003c/h2\u003e\\n\u003cp\u003eSelect your gift amount and continue.\u003c/p\u003e\\n\",\"ConfirmationHTML\":\"\\n\u003ch2\u003eThank you for your gift!\u003c/h2\u003e\\n\u003cp\u003e\u003cstrong\u003eGift Amount:\u003c/strong\u003e\u0026nbsp;\u003c/p\u003e\\n\u003cp\u003e\u003cimg alt=\\\"\\\" src=\\\"https://ucfnd-stg-bbisfoun.ucfnd.concourse.host/insertField.field?id=12\u0026amp;name=Gift+Amount\u0026amp;type=4\\\" runat=\\\"server\\\" fieldid=\\\"12\\\" attribid=\\\"0\\\" searchable=\\\"0\\\" fieldname=\\\"Gift Amount\\\" rownumber=\\\"0\\\" htmlencode=\\\"True\\\" fieldtype=\\\"4\\\" /\u003e\u003c/p\u003e\\n\u003cp\u003e\u0026nbsp;\u003c/p\u003e\\n\",\"OtherAmountText\":\"Other\",\"AmountRequiredValidationMessage\":\"Amount: Required\",\"GenericErrorValidationMessage\":\"There was an error while performing the operation. The page will be refreshed.\",\"InvalidCurrencyFormateMessage\":\"Amount: Invalid currency format\",\"MinimumAmountValidationMessage\":\"Amount: Value must be greater than or equal to \",\"GiftAidCaption\":\"\",\"GiftAidCheckboxDescription\":\"\",\"GiftAidConfirmation\":\"\",\"GiftInformationStepText\":\"Gift Information\",\"GiftInformationStepHeadingText\":\"Gift Info\",\"PersonalInformationStepText\":\"Personal Information\",\"PersonalInformationStepHeadingText\":\"Personal Info\",\"DonateNowButtonText\":\"Donate Now\",\"BackButtonText\":\"Back\",\"ContinueButtonText\":\"Continue\",\"PleaseSelect\":\"Please Select\",\"DynamicZip\":\"[ZIP caption]:\",\"DynamicCity\":\"[city caption]:\",\"DynamicState\":\"[state caption]:\",\"DynamicAddressLines\":\"[address lines caption]:\",\"DynamicZipRequired\":\"[ZIP caption] Required\",\"DynamicCityRequired\":\"[city caption] Required\",\"DynamicStateRequired\":\"[state caption] Required\",\"DynamicAddressLinesRequired\":\"[address lines caption] Required\",\"CountryText\":\"Country\",\"AddressLinesText\":\"\",\"AustraliaZip\":null,\"AustraliaCity\":null,\"AustraliaState\":null,\"CanadaZip\":null,\"CanadaCity\":null,\"CanadaState\":null,\"NewZealandZip\":null,\"NewZealandCity\":null,\"NewZealandState\":null,\"UnitedKingdomZip\":null,\"UnitedKingdomCity\":null,\"UnitedKingdomState\":null,\"UnitedStatesZip\":null,\"UnitedStatesCity\":null,\"UnitedStatesState\":null,\"CountryTextRequired\":\"Country: Required\",\"AddressLinesTextRequired\":\"\",\"AustraliaZipRequired\":null,\"AustraliaCityRequired\":null,\"AustraliaStateRequired\":null,\"CanadaZipRequired\":null,\"CanadaCityRequired\":null,\"CanadaStateRequired\":null,\"NewZealandZipRequired\":null,\"NewZealandCityRequired\":null,\"NewZealandStateRequired\":null,\"UnitedKingdomZipRequired\":null,\"UnitedKingdomCityRequired\":null,\"UnitedKingdomStateRequired\":null,\"UnitedStatesZipRequired\":null,\"UnitedStatesCityRequired\":null,\"UnitedStatesStateRequired\":null,\"PhoneNumberRequired\":\"Phone: Required\",\"ConfirmEmailAddressRequired\":\"Confirm email: Required\",\"PreferredEmailRequired\":\"Preferred email: Required\",\"MaidenNameRequired\":\"Maiden name: Required\",\"LastNameRequired\":\"Last name: Required\",\"MiddleNameRequired\":\"Middle name: Required\",\"FirstNameRequired\":\"First name: Required\",\"TitleRequired\":\"Title: Required\",\"FirstNameIncorrectFormat\":\"First name: Incorrect format\",\"MiddleNameIncorrectFormat\":\"Middle name: Incorrect format\",\"LastNameIncorrectFormat\":\"Last name: Incorrect format\",\"MaidenNameIncorrectFormat\":\"Maiden name: Incorrect format\",\"InvalidEmail\":\"Invalid Email\",\"InvalidPhone\":\"Invalid Phone\",\"EmailMismatch\":\"Confirm email and Preferred email do not match\",\"AddressLengthExceeded\":\"[address lines caption] Cannot exceed 150 characters\"}';
                this.info.bbtoken = '5a2199fb-f609-4eec-8c90-9a5053cd25ef';
                this.info.amountRequiredValidationMessage = 'Amount: Required';
                this.info.minimumAmountValidationMessage = 'Amount: Value must be greater than or equal to ';
                this.info.invalidCurrencyFormateMessage = 'Amount: Invalid currency format';
                this.info.genericErrorMessage = 'There was an error while performing the operation. The page will be refreshed.';
                var recaptcha = 'True';
                this.info.recaptchaRequired = (recaptcha == 'True') ? true : false;
                var giftEnabled = 'False';
                this.info.isGiftAidEnabled = (giftEnabled == 'True') ? true : false;
                this.info.minAmount = 5.000000;
                this.info.backOfficeID = 0;
                this.info.city = '';
                this.info.state = '';
                this.info.country = '';
                this.info.countryFullName = '';
                this.info.street = '\r\n\r\n\r\n\r\n';
                this.info.zip = '';
                this.info.nzSuburb = '';
                this.info.nzCity = '';
                this.info.date = '7/16/2025'
                this.info.title = '';
                this.info.firstName = 'Greg';
                this.info.middleName = '';
                this.info.lastName = 'Vissing';
                this.info.maidenName = '';
                this.info.companyName = '';
                this.info.cardholder = 'Greg Vissing';
                this.info.maid = '2be92ac2-f8ee-44a6-9986-cedd6e21710e';
                this.info.email = 'First.Last@foundation.uc.edu';
                this.info.phone = '';
                this.info.bbdesignationName = 'The Presidential Innovation Scholarship Fund';
                this.info.bbappealName = '';
                this.info.bbcurrencySymbol = '$';
                this.info.bbCurrencyGroupSeparator = ",";
                this.info.bbCurrencyDecimalSeparator = ".";
                this.info.bbConfirmationAmt = 0;
                this.info.finderNum = "-1";
                this.info.bbcheckout = new BBCheckoutProcessor(this, 'Payment', '5a2199fb-f609-4eec-8c90-9a5053cd25ef');
                this.info.bbcheckout.Configuration.Data.Key = '55d0259b-8201-4043-bcdc-94ee78d4f708';
                this.info.bbcheckout.Configuration.TransactionType = 1;
                this.info.bbcheckout.Configuration.Data.ClientAppName = 'BBIS';
                this.info.bbcheckout.Configuration.Data.MerchantAccountId = '2be92ac2-f8ee-44a6-9986-cedd6e21710e';
                this.info.bbcheckout.Configuration.Data.IsEmailRequired = 'True';
                this.info.bbcheckout.Configuration.Data.IsNameVisible = 'True';
                this.info.bbcheckout.Configuration.Data.PrimaryColor = '#000000';
                this.info.bbcheckout.Configuration.Data.SecondaryColor = '';
                this.info.bbcheckout.Configuration.Data.FontFamily = 'opensans';
                this.info.bbcheckout.Configuration.Data.UseCaptcha = 'True';
                this.info.bbcheckout.Configuration.WorkflowType = '1';
                this.info.bbcheckout.Configuration.HandleBrowserClosing = 'True';
                this.info.bbcheckout.Configuration.APITokenID = '5a2199fb-f609-4eec-8c90-9a5053cd25ef';
                this.info.bbcheckout.Configuration.TempConfirmationHtml = 'Thank you for your contribution, please wait while we process your transaction.';
                this.info.bbcheckout.Configuration.AllowSiteTracking = 'True';
                this.info.bbcheckout.intializeCheckout();
                //*** Set main div object to part info class for further use
                this.info.mainDiv = $("#" + this.bbtoken);
                //**** This is to prepare click event for donate now button with appropriate part info
                this.info.clickEventHandler(this.info);
                
                $(function () {
                    //*** Here scop has changed so we need to find main div again for specially document.ready function 
                    var mainDivSelector = "#" + '5a2199fb-f609-4eec-8c90-9a5053cd25ef';
                var editmode = 'False';
                var editormode = (editmode == 'True') ? true : false;
                if (editormode != false) {
                    $("#btmMakePayment").attr("disabled", true);
                }
                
                //**** For multi part on page info object can be override with each other but not an issue because currency group seprator, decimal seprator and currency symbol is same for all parts 
                //**** in application. I did not face any issue if we need part wise culture setting or any issue happen we can set these all like token above i did.
                $(mainDivSelector).find("#txtOtherAmount").autoNumeric('init', {
                    aSep: info.bbCurrencyGroupSeparator, aDec: info.bbCurrencyDecimalSeparator, aSign: info.bbcurrencySymbol, vMin: '0.00',
                });
                
                //*** Convert other amount to invariant culture because BBPS overlay always except amount in invariant culture
                $(mainDivSelector).find("#txtOtherAmount").blur(function () {
                    var amt = $(this).val();
                    amt = amt.replace(info.bbcurrencySymbol, "");
                    var amtParts;
                    if (amt.indexOf(info.bbCurrencyDecimalSeparator) !== -1) {
                        amtParts = amt.split(info.bbCurrencyDecimalSeparator);
                    }
                    if (typeof amtParts != 'undefined' && amtParts.length > 1) {
                        amt = amtParts[0].split(info.bbCurrencyGroupSeparator).join("") + "." + amtParts[1];
                    }
                    $(this).attr("formatedAmt", amt);
                });
                });
                
            </script>
        </div>
        <div id="bbspLoadingOverlay" class="bbspLoadingOverlay">
            <img src="/images/FormEngine/Loading.gif" alt="" class="bbspLoadingImage">
        </div>
    </div>
</div>