<div role="banner" class="skyContainer EventContainer">
    <div class="hidden-xs col-xs-1 col-sm-1 col-md-2 col-lg-2">
        &nbsp;
    </div>
    <div class="col-xs-12 col-sm-10 col-md-8 col-lg-10">
        <p>&nbsp;</p>
        <p><strong><span>20th Anniversary of Sunflower Rev It Up!</span> </strong></p>
        <p><span>Celebrating 20 years of benefiting the center’s research and supporting educational programming for the Parkinson’s Community.</span></p>
        <p><span>Fifty West Brewing Company</span></p>
        <p><span>8/15/2024</span></p>
        <p><span>$20 - $200</span> <br><br></p>
    </div>
</div>

<div role="main" class="skyContainer EventContainer">
    <div class="hidden-xs col-xs-1 col-sm-1 col-md-2 col-lg-2">
        &nbsp;
    </div>
    <div class="col-xs-12 col-sm-10 col-md-8 col-lg-8">
        <div id="PC28674_Ev3errors" class="BBFormValidatorSummary Ev3_ValidationSummary" style="display:none;">
        </div>
        <div id="PC28674_Ev3wiz" class="Ev3_EventWizard">
            <div class="BBSequenceMapContainer">
                <ol class="BBSequenceMap BBEventRegSequenceMap list-inline">
                    <li id="PC28674_Ev3wiz_MenuItem_attendeeStep" class="BBSequenceMapStep BBEventRegSequenceMapStep list-inline-item BBSequenceMapCurrentStep BBEventRegSequenceMapCurrentStep BBSequenceMapFirstStep BBEventRegSequenceMapFirstStep"><span class="BBSequenceMapStepItem BBEventRegSequenceMapStepItem BBSequenceMapCurrentStepItem BBEventRegSequenceMapCurrentStepItem"><i class="mob-content done fa fa-check" style="display: none;" aria-hidden="true"></i><span class="mob-content" style="display: none;">1</span><span class="desk-content">Attendees</span></span></li>
                    <li id="PC28674_Ev3wiz_MenuItem_selectionStep" class="BBSequenceMapStep BBEventRegSequenceMapStep list-inline-item BBSequenceMapFutureStep BBEventRegSequenceMapFutureStep"><a id="PC28674_Ev3wiz_MenuBtn1" class="BBSequenceMapStepItem BBEventRegSequenceMapStepItem BBSequenceMapStepLink BBEventRegSequenceMapStepLink" href="javascript:__doPostBack('PC28674$Ev3wiz$MenuBtn1','')"><i class="mob-content done fa fa-check" style="display: none;" aria-hidden="true"></i><span class="mob-content" style="display: none;">2</span><span class="desk-content">Select events</span></a></li>
                    <li id="PC28674_Ev3wiz_MenuItem_optionsStep" class="BBSequenceMapStep BBEventRegSequenceMapStep list-inline-item BBSequenceMapFutureStep BBEventRegSequenceMapFutureStep"><span class="BBSequenceMapStepItem BBEventRegSequenceMapStepItem BBSequenceMapFutureStepItem BBEventRegSequenceMapFutureStepItem"><i class="mob-content done fa fa-check" style="display: none;" aria-hidden="true"></i><span class="mob-content" style="display: none;">3</span><span class="desk-content">Select options</span></span></li>
                    <li id="PC28674_Ev3wiz_MenuItem_reviewStep" style="display:none;" class="BBSequenceMapStep BBEventRegSequenceMapStep list-inline-item BBSequenceMapFutureStep BBEventRegSequenceMapFutureStep"><span class="BBSequenceMapStepItem BBEventRegSequenceMapStepItem BBSequenceMapFutureStepItem BBEventRegSequenceMapFutureStepItem">Review</span></li>
                    <li id="PC28674_Ev3wiz_MenuItem_checkoutStep" class="BBSequenceMapStep BBEventRegSequenceMapStep list-inline-item BBSequenceMapFutureStep BBEventRegSequenceMapFutureStep BBSequenceMapLastStep BBEventRegSequenceMapLastStep"><span class="BBSequenceMapStepItem BBEventRegSequenceMapStepItem BBSequenceMapFutureStepItem BBEventRegSequenceMapFutureStepItem"><i class="mob-content done fa fa-check" style="display: none;" aria-hidden="true"></i><span class="mob-content" style="display: none;">4</span><span class="desk-content">Checkout</span></span></li>
                    <li id="PC28674_Ev3wiz_MenuItem_paymentStep" style="display:none;" class="BBSequenceMapStep BBEventRegSequenceMapStep list-inline-item BBSequenceMapFutureStep BBEventRegSequenceMapFutureStep BBSequenceMapLastStep BBEventRegSequenceMapLastStep"><span class="BBSequenceMapStepItem BBEventRegSequenceMapStepItem BBSequenceMapFutureStepItem BBEventRegSequenceMapFutureStepItem">Payment</span></li>
                </ol>
            </div>
            <div class="BBSequenceMapContentContainer BBEventRegSequenceMapContentContainer">
                <div class="BBSequenceMapContent BBEventRegSequenceMapContent">
                    <div class="Ev3_RegistrationStepContainer">
                        <div class="EventDesktopHideCell Ev3_StepNameHeader">
                            <span id="PC28674_Ev3wiz_eventUIStep1_lbStepName">Attendees</span>
                        </div>
                        <div>
                        </div>
                        <div id="divRequiredFields">
                            <span id="PC28674_Ev3wiz_eventUIStep1_spanRequiredFields" class="spanRequiredFields">Required fields are marked with an asterisk (*)</span> <span class="clear"></span>
                        </div>
                        <div class="Ev3_RegistrationGroups">
                            <div id="divMaxRegPerCheckOut">
                                <span class="clear"></span>
                            </div>
                            <div>
                                <div id="PC28674_Ev3wiz_eventUIStep1_ctlRegs_rptRegGroups_ctlRegBox_0_divRegBox_0" evid="2712" boxindex="0">
                                    <div class="Ev3_Registrantcontainer">
                                        <div class="Ev3_AttendeeHeader">
                                            <h2 id="PC28674_Ev3wiz_eventUIStep1_ctlRegs_rptRegGroups_ctlRegBox_0_headingAttendee_0" class="Ev3_AttendeeHeading" default="Attendee">Attendee 1</h2>
                                            <div class="Ev3_AttendeeAction">
                                                <span id="PC28674_Ev3wiz_eventUIStep1_ctlRegs_rptRegGroups_ctlRegBox_0_expandAttendee_0" class="Ev3_ExpandAttendee" style=""><i class="fa fa-chevron-up" aria-hidden="true"></i></span>
                                                <span id="PC28674_Ev3wiz_eventUIStep1_ctlRegs_rptRegGroups_ctlRegBox_0_collapseAttendee_0" class="Ev3_CollapseAttendee" style="display: none;"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
                                                <span id="PC28674_Ev3wiz_eventUIStep1_ctlRegs_rptRegGroups_ctlRegBox_0_removeAttendee_0" class="Ev3_DeleteAttendee"><i class="fa fa-times" aria-hidden="true"></i></span>
                                            </div>
                                        </div>
                                        <div id="PC28674_Ev3wiz_eventUIStep1_ctlRegs_rptRegGroups_ctlRegBox_0_divRegistrantContent_0" class="Ev3_RegistrantContent" attendeeindex="0" style="">
                                            <div id="PC28674_Ev3wiz_eventUIStep1_ctlRegs_rptRegGroups_ctlRegBox_0_divLATERCHK_0" class="Ev3_DivLaterChk" style="">
                                                <input name="PC28674$Ev3wiz$eventUIStep1$ctlRegs$rptRegGroups$ctl00$ctlRegBox$chkLATER" type="checkbox" id="PC28674_Ev3wiz_eventUIStep1_ctlRegs_rptRegGroups_ctlRegBox_0_chkLATER_0" class="Ev3_RegisterLaterChk" later="0">
                                                <label for="PC28674_Ev3wiz_eventUIStep1_ctlRegs_rptRegGroups_ctlRegBox_0_chkLATER_0" class="Ev3_RegisterLaterLbl"></label>
                                                <label for="PC28674_Ev3wiz_eventUIStep1_ctlRegs_rptRegGroups_ctlRegBox_0_chkLATER_0" id="PC28674_Ev3wiz_eventUIStep1_ctlRegs_rptRegGroups_ctlRegBox_0_lblLATER_0" class="Ev3_RegisterLaterText">Register as an unnamed guest</label>
                                            </div>
                                            <div id="PC28674_Ev3wiz_eventUIStep1_ctlRegs_rptRegGroups_ctlRegBox_0_divRegistrantFieldForm_0" class="divRegistrantFieldForm fullWidth">
                                                <div class="container fullWidth">
                                                    <div id="PC28674_Ev3wiz_eventUIStep1_ctlRegs_rptRegGroups_ctlRegBox_0_divFNCell_0" class="Ev3_Order BioFields col-xs-12 col-md-6 noLeftRightPadding Ev3_RegistrantFieldCell Ev3_RegistrationFieldCellWithInlineError" data-sort="2">
                                                        <div class="labelContainer">
                                                            <label for="PC28674_Ev3wiz_eventUIStep1_ctlRegs_rptRegGroups_ctlRegBox_0_txtFN_0" id="PC28674_Ev3wiz_eventUIStep1_ctlRegs_rptRegGroups_ctlRegBox_0_lblFN_0">First Name</label>
                                                            <span class="clear"></span>
                                                        </div>
                                                        <input name="PC28674$Ev3wiz$eventUIStep1$ctlRegs$rptRegGroups$ctl00$ctlRegBox$txtFN" type="text" maxlength="30" id="PC28674_Ev3wiz_eventUIStep1_ctlRegs_rptRegGroups_ctlRegBox_0_txtFN_0" firstname="">
                                                        <div class="Ev3_InlineError">
                                                            <label for="PC28674_Ev3wiz_eventUIStep1_ctlRegs_rptRegGroups_ctlRegBox_0_txtFN_0" id="PC28674_Ev3wiz_eventUIStep1_ctlRegs_rptRegGroups_ctlRegBox_0_errFN_0" class="valueReqErr" style="display: none;">First name: Required</label>
                                                            <label for="PC28674_Ev3wiz_eventUIStep1_ctlRegs_rptRegGroups_ctlRegBox_0_txtFN_0" id="PC28674_Ev3wiz_eventUIStep1_ctlRegs_rptRegGroups_ctlRegBox_0_fmtErrFN_0" class="nameFmtErr" style="display: none;">First Name: Invalid Format</label>
                                                        </div>
                                                    </div>
                                                    <div id="PC28674_Ev3wiz_eventUIStep1_ctlRegs_rptRegGroups_ctlRegBox_0_divLastName_0" class="Ev3_Order BioFields col-xs-12 col-md-6 noLeftRightPadding Ev3_RegistrantFieldCell Ev3_RegistrationFieldCellWithInlineError" data-sort="4">
                                                        <div class="labelContainer">
                                                            <label for="PC28674_Ev3wiz_eventUIStep1_ctlRegs_rptRegGroups_ctlRegBox_0_txtLN_0" id="PC28674_Ev3wiz_eventUIStep1_ctlRegs_rptRegGroups_ctlRegBox_0_lblLN_0">Last Name</label>
                                                            <span class="BBFormRequiredFieldMarker">*</span> <span class="clear"></span>
                                                        </div>
                                                        <input name="PC28674$Ev3wiz$eventUIStep1$ctlRegs$rptRegGroups$ctl00$ctlRegBox$txtLN" type="text" maxlength="60" id="PC28674_Ev3wiz_eventUIStep1_ctlRegs_rptRegGroups_ctlRegBox_0_txtLN_0" lastname="">
                                                        <div class="Ev3_InlineError">
                                                            <label for="PC28674_Ev3wiz_eventUIStep1_ctlRegs_rptRegGroups_ctlRegBox_0_txtLN_0" id="PC28674_Ev3wiz_eventUIStep1_ctlRegs_rptRegGroups_ctlRegBox_0_errLN_0" class="valueReqErr" style="display: none;">Last name: Required</label>
                                                            <label for="PC28674_Ev3wiz_eventUIStep1_ctlRegs_rptRegGroups_ctlRegBox_0_txtLN_0" id="PC28674_Ev3wiz_eventUIStep1_ctlRegs_rptRegGroups_ctlRegBox_0_fmtErrLN_0" class="nameFmtErr" style="display: none;">Last Name: Invalid Format</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <input name="PC28674$Ev3wiz$eventUIStep1$ctlRegs$rptRegGroups$ctl00$ctlRegBox$hdnAttendeeID" type="hidden" id="PC28674_Ev3wiz_eventUIStep1_ctlRegs_rptRegGroups_ctlRegBox_0_hdnAttendeeID_0" value="cecbfbc8-e51e-41d5-9a5e-3a584e66b74e">
                                        <input name="PC28674$Ev3wiz$eventUIStep1$ctlRegs$rptRegGroups$ctl00$ctlRegBox$hdnIsLoggedInUser" type="hidden" id="PC28674_Ev3wiz_eventUIStep1_ctlRegs_rptRegGroups_ctlRegBox_0_hdnIsLoggedInUser_0" value="False">
                                    </div>
                                </div>
                            </div>
                            <div id="divAddAttendee">
                                <button onclick="__doPostBack('PC28674$Ev3wiz$eventUIStep1$ctlRegs$btnAddAttendee','')" id="PC28674_Ev3wiz_eventUIStep1_ctlRegs_btnAddAttendee" type="button" class="AddAttendeeButton">
                                <span id="spAddAttendeeIcon" class="AddAttendeeIcon"><i class="fa fa-plus-circle" aria-hidden="true"></i></span>
                                <span id="PC28674_Ev3wiz_eventUIStep1_ctlRegs_spAddAttendee">Add attendee</span>
                                </button>
                            </div>
                            <input name="PC28674$Ev3wiz$eventUIStep1$ctlRegs$hdnRemoveAttendeeIndex" type="hidden" id="PC28674_Ev3wiz_eventUIStep1_ctlRegs_hdnRemoveAttendeeIndex">
                            <input name="PC28674$Ev3wiz$eventUIStep1$ctlRegs$hdnExpandedAttendeeIndex" type="hidden" id="PC28674_Ev3wiz_eventUIStep1_ctlRegs_hdnExpandedAttendeeIndex" value="0">
                            <input name="PC28674$Ev3wiz$eventUIStep1$ctlRegs$rxPhoneUS" type="hidden" id="PC28674_Ev3wiz_eventUIStep1_ctlRegs_rxPhoneUS" value="((\(\d{3}\) ?)|(\d{3}[-/ ]?))\d{3}[- \.,]?\d{4}\s?((([xX]|[eE][xX][tT])\.?\s*(\d+))*)$">
                            <input name="PC28674$Ev3wiz$eventUIStep1$ctlRegs$rxPhone" type="hidden" id="PC28674_Ev3wiz_eventUIStep1_ctlRegs_rxPhone" value="^[0-9 \+\)\(\-]{6,20}\s?((([xX]|[eE][xX][tT])\.?\s*(\d+))*)$">
                            <input name="PC28674$Ev3wiz$eventUIStep1$ctlRegs$rxEmail" type="hidden" id="PC28674_Ev3wiz_eventUIStep1_ctlRegs_rxEmail" value="^[ ]*[A-Za-z0-9\-_'`!#$%&amp;*+/=?^{|}~]+(\.[A-Za-z0-9\-_'`!#$%&amp;*+/=?^{|}~]+)*@[A-Za-z0-9][A-Za-z0-9\-]*(\.[A-Za-z0-9][A-Za-z0-9\-]*)*\.[A-Za-z]{2,22}[ ]*$">
                            <input name="PC28674$Ev3wiz$eventUIStep1$ctlRegs$rxName" type="hidden" id="PC28674_Ev3wiz_eventUIStep1_ctlRegs_rxName" value="^((?!(((\%3E)|(\%3e)|>)|((\%3C)|(\%3c)|<)|((%26)|&amp;))).)*$">
                            <div id="PC28674_Ev3wiz_eventUIStep1_ctlRegs_confirmPopup" class="Ev3_ConfirmPopup">
                                <div class="Ev3_ContentPopup">
                                    <label class="Ev3_ConfirmText" id="lblConfirm"></label>
                                    <button onclick="__doPostBack('PC28674$Ev3wiz$eventUIStep1$ctlRegs$btnYes','')" id="PC28674_Ev3wiz_eventUIStep1_ctlRegs_btnYes" type="button" class="Ev3_ConfirmButton" name="0">Yes</button>
                                    <button onclick="__doPostBack('PC28674$Ev3wiz$eventUIStep1$ctlRegs$btnNo','')" id="PC28674_Ev3wiz_eventUIStep1_ctlRegs_btnNo" type="button" class="Ev3_CancelButton">Cancel</button>
                                </div>
                            </div>
                        </div>
                        <span id="PC28674_Ev3wiz_eventUIStep1_ctlRegs_valRegistrants" style="display:none;"></span>
                        <script>
                            this.defaultSelectText = '\u003cPlease select\u003e'
                        </script>
                    </div>
                </div>
                <div class="BBSequenceMapCommandContainer BBEventRegSequenceMapCommandContainer">
                    <div class="BBSequenceMapOptionalContainer"></div>
                    <div class="BBSequenceMapNavigationContainer BBEventRegSequenceMapNavigationContainer container fullWidth"><input type="button" name="PC28674$Ev3wiz$nextWizardButton" value="Continue" onclick="if(BLACKBAUD.netcommunity.eventUIstep1 &amp;&amp; !BLACKBAUD.netcommunity.eventUIstep1.displayValidationErrors()){return false;};(function(btn){var bDisableMe=true;if(typeof(Page_ClientValidate)=='function'){bDisableMe=Page_ClientValidate('');}if (bDisableMe) {__doPostBack('PC28674$Ev3wiz$nextWizardButton','');btn.disabled=bDisableMe;}})(this);return false;__doPostBack('PC28674$Ev3wiz$nextWizardButton','')" id="PC28674_Ev3wiz_nextWizardButton" class="BBSequenceMapNavigationButton BBEventRegSequenceMapNavigationButton BBSequenceMapNavigationNextButton BBEventRegSequenceMapNavigationNextButton"></div>
                    <div style="clear:both;"></div>
                </div>
            </div>
        </div>
        <input name="PC28674$hdnOrgReg" type="hidden" id="PC28674_hdnOrgReg">
        <input name="PC28674$hdnFreeText" type="hidden" id="PC28674_hdnFreeText">
        <input name="PC28674$hdnBillMeLater" type="hidden" id="PC28674_hdnBillMeLater">
        <input type="submit" name="PC28674$btnPopupCheckoutComplete" value="" id="btnPopupCheckoutComplete" class="btnPopupHide"> 
        <div class="clear"></div>
    </div>
    <div class="hidden-xs col-sm-1 col-md-2 col-lg-2">
        &nbsp;
    </div>
    <div class="clear"></div>
</div>