<div id="PC29349_UpdatePanel"></div>
    <style type="text/css">
        .bbspLoadingImage {
        left: 50%;
        top: 50%;
        position: absolute;
        z-index: 101;
        width: 32px;
        height: 32px;
        margin-left: -16px;
        margin-top: -16px;
        }
    </style>
    <table id="PC29349_tblMain" class="BBFormTable EventTable">
        <tbody>
            <tr>
                <td id="PC29349_TestModeWarning">
                </td>
            </tr>
            <tr>
                <td>
                    <div id="PC29349_ValidationSummary1" class="BBFormValidatorSummary EventValidationSummary" style="display:none;">
                    </div>
                </td>
            </tr>
            <tr id="PC29349_trProgress">
                <td align="center">
                    <table id="PC29349_tblProgress" class="w100p">
                        <tbody>
                            <tr>
                                <th title="Step 1 of 5 (Start)" class="EventProgressCell">Step 1:<br>Start</th>
                                <th title="Step 2 of 5 (Prices)" class="EventProgressCellFuture">Step 2:<br>Prices</th>
                                <th title="Step 3 of 5 (Registrant)" class="EventProgressCellFuture">Step 3:<br>Registrant</th>
                                <th title="Step 4 of 5 (Register)" class="EventProgressCellFuture">Step 4:<br>Register</th>
                                <th title="Step 5 of 5 (Finish)" class="EventProgressCellFuture">Step 5:<br>Finish</th>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table cellspacing="0" cellpadding="0" id="PC29349_Wizard1" style="width:100%;border-collapse:collapse;">
                        <tbody>
                            <tr style="height:100%;">
                                <td>
                                    <table class="w100p">
                                        <tbody>
                                            <tr>
                                                <td class="EventSectionHeader" colspan="2">
                                                    <span id="PC29349_Wizard1_lblSelectHeader">Event Selection</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width: 25px;">
                                                </td>
                                                <td>
                                                    <table cellspacing="0" id="PC29349_Wizard1_dgEventItems1" style="width:100%;border-collapse:collapse;">
                                                        <tbody>
                                                            <tr class="BBListEvenRowStyle">
                                                                <td valign="top">
                                                                    <span class="BBFieldCheckboxCaption"><input id="PC29349_Wizard1_dgEventItems1_chkEventSelect_0" type="checkbox" name="PC29349$Wizard1$dgEventItems1$ctl02$chkEventSelect"></span>
                                                                </td>
                                                                <td align="left" valign="top">
                                                                    <table class="w100p BBFormTable EventItemsTable">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td>
                                                                                    <label for="PC29349_Wizard1_dgEventItems1_chkEventSelect_0" id="PC29349_Wizard1_dgEventItems1_lblEventName_0" class="BBFormTitle EventItemTitleName">A CME Opportunity: The Future of Family Medicine</label>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>
                                                                                    <span id="PC29349_Wizard1_dgEventItems1_lblEventDescription_0" class="BBFormTitle EventItemTitleDescription">We invite you to a day of insightful plenary sessions featuring Drs. Lou Edje and Andrew Bazemore, who will explore the future of family medicine.</span>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>
                                                                                    <span id="PC29349_Wizard1_dgEventItems1_lblTime_0" class="BBFormTitle EventItemTitleTime">Saturday, November 2, 2024 at 8:00 AM</span>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr class="BBListOddRowStyle">
                                                                <td valign="top">
                                                                    <span class="BBFieldCheckboxCaption"><input id="PC29349_Wizard1_dgEventItems1_chkEventSelect_1" type="checkbox" name="PC29349$Wizard1$dgEventItems1$ctl03$chkEventSelect"></span>
                                                                </td>
                                                                <td align="left" valign="top">
                                                                    <table class="w100p BBFormTable EventItemsTable">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td>
                                                                                    <label for="PC29349_Wizard1_dgEventItems1_chkEventSelect_1" id="PC29349_Wizard1_dgEventItems1_lblEventName_1" class="BBFormTitle EventItemTitleName">DFCM 50th Anniversary &amp; Residency Alumni Reunion</label>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>
                                                                                    <span id="PC29349_Wizard1_dgEventItems1_lblEventDescription_1" class="BBFormTitle EventItemTitleDescription">The Department of Family and Community Medicine celebrate their 50th anniversary as a Department within the UC College of Medicine.</span>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>
                                                                                    <span id="PC29349_Wizard1_dgEventItems1_lblTime_1" class="BBFormTitle EventItemTitleTime">Saturday, November 2, 2024 at 6:00 PM</span>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td align="right">
                                    <input type="button" name="PC29349$Wizard1$StartNavigationTemplateContainerID$BBButton1" value="Next" onclick="(function(btn){var bDisableMe=true;if(typeof(Page_ClientValidate)=='function'){bDisableMe=Page_ClientValidate('PC29349');}if (bDisableMe) {__doPostBack('PC29349$Wizard1$StartNavigationTemplateContainerID$BBButton1','MoveNext');btn.disabled=bDisableMe;}})(this);return false;WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;PC29349$Wizard1$StartNavigationTemplateContainerID$BBButton1&quot;, &quot;&quot;, true, &quot;PC29349&quot;, &quot;&quot;, false, true))" id="PC29349_Wizard1_StartNavigationTemplateContainerID_BBButton1" class="BBFormSubmitButton">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    <input type="button" name="PC29349$btnPopupCheckoutComplete" value="" onclick="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;PC29349$btnPopupCheckoutComplete&quot;, &quot;&quot;, true, &quot;&quot;, &quot;&quot;, false, true))" id="btnPopupCheckoutComplete" class="hdCheckoutCompleteBtn">
    <input type="hidden" name="PC29349$hdnTId" id="hdnTId">
    <input type="hidden" name="PC29349$hdnEventTran" id="hdnEventTran">
    <div>
        {{!-- <script>
            this.CheckoutConfiguration = new BBCheckoutModel();
            this.CheckoutConfiguration.Data.Key = '55d0259b-8201-4043-bcdc-94ee78d4f708';
            this.CheckoutConfiguration.TransactionType = 1;
            this.CheckoutConfiguration.Data.ClientAppName = 'BBIS';
            this.CheckoutConfiguration.Data.MerchantAccountId = '2be92ac2-f8ee-44a6-9986-cedd6e21710e';
            this.CheckoutConfiguration.Data.IsEmailRequired = 'True';
            this.CheckoutConfiguration.Data.IsNameVisible = 'True';
            this.CheckoutConfiguration.Data.PrimaryColor = '';
            this.CheckoutConfiguration.Data.SecondaryColor = '';
            this.CheckoutConfiguration.Data.FontFamily = 'opensans';
            this.CheckoutConfiguration.Data.UseCaptcha = 'False';
            this.CheckoutConfiguration.WorkflowType = '1';
            this.CheckoutConfiguration.HandleBrowserClosing = 'True';
            this.CheckoutConfiguration.APITokenID = '9095cb87-73de-48bd-ac69-d00388177808';
            this.CheckoutConfiguration.TempConfirmationHtml = 'Thank you for your contribution, please wait while we process your transaction.';
            this.CheckoutConfiguration.AllowSiteTracking = 'False';
            
            this.CheckoutConfiguration.Data.UseVisaCheckout = true;
            this.CheckoutConfiguration.Data.UseMasterpass = true;
            this.CheckoutConfiguration.Data.UseApplePay = true;
            
            this.bbcheckout = null;
            this.APIControllerName = 'Payment';
            this.TokenID = '9095cb87-73de-48bd-ac69-d00388177808';
            
        </script> --}}
    </div>
    {{!-- <div id="bbspLoadingOverlay" class="bbspLoadingOverlay">
        <img src="/images/FormEngine/Loading.gif" alt="" class="bbspLoadingImage">
    </div> --}}
</div>