{{> molecules-skip-link }}
{{> organisms-header }}

<div class="page-title">
    <div class="l-container">
        <h1>Arts &amp; Sciences</h1>
    </div>
</div>
<main id="main" role="main">
    <section>
        <div class="l-container flow text-center">
            <div class="two-thirds my-auto my-1">
                <iframe class="my-1 youtube-video" width="560" height="315" src="https://www.youtube.com/embed/ILVKgKYnIiE?si=vrivuWoy8rE1V7bC" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <p class="large">By supporting the UC Fund for Arts and Sciences, you are joining a team of alumni and donors committed to making a meaningful impact in our students' lives and thereby the world. It is only through your collective support that we can create the next breakthrough at UC's College of Arts and Sciences.</p>
            <p class="text-center">
                <a href="https://giveto.uc.edu/give?college=art_sci&amp;appeal=fefdba24-1baa-489f-b0ab-0baeb4394470" class="btn-link">Give Now</a>  
            </p>
        </div>        
    </section>

    <section>
        <div class="l-container flow">
            <h2 class="text-center">You Can Make an Impact</h2>
        </div>
        <div class="l-container flow">
            <div class="row flex">
                <div class="one-half"></div>
                <div class="one-half"></div>
            </div>
        </div>
    </section>
</main>

{{> molecules-back-to-top }}
{{> organisms-footer }}