{{> molecules-skip-link }}
{{> organisms-header }}

<div class="page-title">
    <div class="l-container">
        <h1>Arts &amp; Sciences</h1>
    </div>
</div>
<main id="main" role="main">
    <section>
        <div class="l-container flow text-center">
            <div class="two-thirds my-auto my-1">
                <iframe class="my-1 youtube-video" width="560" height="315" src="https://www.youtube.com/embed/ILVKgKYnIiE?si=vrivuWoy8rE1V7bC" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <p class="large">By supporting the UC Fund for Arts and Sciences, you are joining a team of alumni and donors committed to making a meaningful impact in our students' lives and thereby the world. It is only through your collective support that we can create the next breakthrough at UC's College of Arts and Sciences.</p>
            <p class="text-center">
                <a href="https://giveto.uc.edu/give?college=art_sci&amp;appeal=fefdba24-1baa-489f-b0ab-0baeb4394470" class="btn-link">Give Now</a>  
            </p>
        </div>        
    </section>

    <section class="py-1">
        <div class="l-container flow">
            <h2 class="text-center">You Can Make an Impact</h2>
        </div>
        <div class="l-container">
            <div class="row flex flex-between gap-1">
                <div class="one-half">
                    <div class="c-stacked-block card whitebox quote related flex flex-column white-bg ">
                        <div class="c-stacked-block__header">
                            <div class="c-stacked-block__media">
                                <div class="image" style="background-image: url(https://giveto.uc.edu/view.image?Id=8929);">
                                </div>
                            </div>
                        </div>
                        <div class="c-stacked-block__body flow">
                            <div class="pull-quote">
                                <blockquote class="pull-quote">
                                    <p>Thank you for showing confidence in me and making me believe I was strong enough. And more importantly, thank you for making it possible for me to explore my options through college, and experiment with things that would not have been possible without financial support.</p>
                                </blockquote>
                                <p class="pull-quote-attribution"><span> Akash '24, Physics</span></p>
                            </div>
                        </div><!-- end c-stacked-block__body -->
                    </div>
                </div>
                <div class="one-half">
                    <div class="c-stacked-block card whitebox quote related flex flex-column white-bg ">
                        <div class="c-stacked-block__header">
                            <div class="c-stacked-block__media">
                                <div class="image" style="background-image: url(https://giveto.uc.edu/view.image?Id=8928);">
                                </div>
                            </div>
                        </div>
                        <div class="c-stacked-block__body flow">
                            <div class="pull-quote">
                                <blockquote class="pull-quote">
                                    <p>I'm so grateful for the scholarship that is propelling me forward. Thank you for supporting the future of the university, the future of the A&S programs, and the futures of students like me who otherwise might not be able to continue studying here and go on and do great things.</p>
                                </blockquote>
                                <p class="pull-quote-attribution"><span> Kirsten Arill ’27, Environmental Sciences</span></p>
                            </div>
                        </div><!-- end c-stacked-block__body -->
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="l-container flow">
            <h2 class="text-center">Your Investment Creates...</h2>
        </div>
        <div class="l-container">
            <div class="row flex flex-between gap-1">
                <div class="one-half flex gap-1">
                    <img src="https://foundation.uc.edu/view.image?id=9054" width="85" style="aspect-ratio: 1/1; height: 85px;" >
                    <p class="italic">Funding for research that encourages interconnectedness with our campus and our global community.</p>
                </div>
                <div class="one-half flex gap-1">
                    <img src="https://giveto.uc.edu/view.image?id=7540" width="85" style="aspect-ratio: 1/1; height: 85px;" >
                    <p class="italic">Graduate student support which allows students to focus on their research and education by alleviating the financial burden of research costs, conference attendance, professional development and more.</p>
                </div>
            </div>
            <div class="row flex flex-between gap-1 my-1">
                <div class="one-half flex gap-1">
                    <img src="https://giveto.uc.edu/view.image?id=9073" width="85" style="aspect-ratio: 1/1; height: 85px;" >
                    <p class="italic">Opportunity for us to address our greatest needs with unrestricted funds, enabling the college to support the areas that need it most.</p>
                </div>
                <div class="one-half flex gap-1">
                    <img src="https://giveto.uc.edu/view.image?id=8997" width="85" style="aspect-ratio: 1/1; height: 85px;" >
                    <p class="italic">Innovative programs like our new School of Environment and Sustainability to help share the importance of a sustainable world.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="my-2">
        <div class="l-container">
            <div class="callout-card text-center flow">
                <h2>Make a Difference Today</h2>
                <a href="https://giveto.uc.edu/give?college=art_sci&amp;appeal=fefdba24-1baa-489f-b0ab-0baeb4394470" class="btn-link">Give Now</a>
                <div class="formatted-text">
                    <div class="text-center">Questions: Contact <a href="mailto:muenzejr@ucmail.uc.edu">Jamie Muenzer</a>, Senior Director of Annual Giving, <br>or call <a href="tel:513-556-4423">513-556-4423</a>.</div>
                </div>
            </div>
        </div>
    </section>
</main>

{{> molecules-back-to-top }}
{{> organisms-footer }}