<div id="_pnlDonationForm">
    <table id="PC22886_tblAmount" class="taLeft" cellpadding="3">
			<tbody class="donationInfo">
                <tr>
                    <td class="BBFieldControlCell DonationFieldControlCell"><span class="vaTop" itemindex="896" amount="50.00"><input id="PC22886_rdo_896_5" type="radio" name="PC22886$givingLevels" value="rdo_896_5" onclick="rdo_OnClick(this);" aria-labelledby="PC22886_tblAmount"><label for="PC22886_rdo_896_5">$50</label></span></td><td class="vaBottom BBFieldControlCell DonationFieldControlCell"><span>$50.00</span><span class="BBConvertedCurrencyLabel"></span></td>
                </tr>
                <tr>
                    <td class="BBFieldControlCell DonationFieldControlCell"><span class="vaTop" itemindex="897" amount="100.00"><input id="PC22886_rdo_897_5" type="radio" name="PC22886$givingLevels" value="rdo_897_5" onclick="rdo_OnClick(this);" aria-labelledby="PC22886_tblAmount"><label for="PC22886_rdo_897_5">$100</label></span></td><td class="vaBottom BBFieldControlCell DonationFieldControlCell"><span>$100.00</span><span class="BBConvertedCurrencyLabel"></span></td>
                </tr>
                <tr>
                    <td class="BBFieldControlCell DonationFieldControlCell"><span class="vaTop" itemindex="898" amount="250.00"><input id="PC22886_rdo_898_5" type="radio" name="PC22886$givingLevels" value="rdo_898_5" onclick="rdo_OnClick(this);" aria-labelledby="PC22886_tblAmount"><label for="PC22886_rdo_898_5">$250 </label></span></td><td class="vaBottom BBFieldControlCell DonationFieldControlCell"><span>$250.00</span><span class="BBConvertedCurrencyLabel"></span></td>
                </tr>
                <tr>
                    <td class="BBFieldControlCell DonationFieldControlCell"><span class="vaTop" itemindex="899" amount="500.00"><input id="PC22886_rdo_899_5" type="radio" name="PC22886$givingLevels" value="rdo_899_5" onclick="rdo_OnClick(this);" aria-labelledby="PC22886_tblAmount"><label for="PC22886_rdo_899_5">$500</label></span></td><td class="vaBottom BBFieldControlCell DonationFieldControlCell"><span>$500.00</span><span class="BBConvertedCurrencyLabel"></span></td>
                </tr>
                <tr>
                    <td class="BBFieldControlCell DonationFieldControlCell"><span class="vaTop" itemindex="900" amount="1000.00"><input id="PC22886_rdo_900_5" type="radio" name="PC22886$givingLevels" value="rdo_900_5" onclick="rdo_OnClick(this);" aria-labelledby="PC22886_tblAmount"><label for="PC22886_rdo_900_5">$1,000</label></span></td><td class="vaBottom BBFieldControlCell DonationFieldControlCell"><span>$1,000.00</span><span class="BBConvertedCurrencyLabel"></span></td>
                </tr>
                <tr id="PC22886_trOther" style="display:;">
                    <td id="PC22886_tdOther" class="BBFieldControlCell DonationFieldControlCell"><span itemindex="-1"><input id="PC22886_rdoOther" type="radio" name="PC22886$givingLevels" value="rdoOther" onclick="rdo_OnClick(this);" aria-labelledby="PC22886_tblAmount"><label for="PC22886_rdoOther">Other</label></span></td><td class="wsNowrap BBFieldControlCell DonationFieldControlCell">
                        <table style="margin-left: -3px">
                            <tbody class="donationInfo"><tr>
                                <td>
                                    <span id="PC22886_lblSymbol" class="DonationFormTable_DonationPanel_SymbolLabel">$</span>
                                </td>
                                <td id="PC22886_Td1">
                                    <input name="PC22886$txtAmount" type="text" maxlength="10" id="PC22886_txtAmount" class="aspNetDisabled BBFormTextbox DonationTextboxNarrow" onkeyup="UpdateSummary();">
                                    &nbsp;
                                <span id="PC22886_ReqFldValidatorAmount" style="display:none;"></span><span id="PC22886_CmpValidatorAmount" style="display:none;"></span></td>
        
                                <td>
                                    &nbsp;
                                </td>
                                <td>
                                    <span id="PC22886_lblAmtRequiredMarker" class="BBFormRequiredFieldMarker DonationRequiredFieldMarker" style="visibility: visible;">*</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
			</tr>
		</tbody>
    </table>
</div>