<nav class="anchor-scroll-nav">
    <ul class="nav-list">
        <li><a href="#message">Message from Leaders</a></li>
        <li><a href="#vision">Our Vision</a></li>
        <li><a href="#make-impact">Make Your Impact</a></li>
        <li><a href="#stories">Stories</a></li>
        <li><a href="#ways-to-give">Ways to Give</a></li>
    </ul>
</nav>