<div class="pillar-cards row flex flex-row flex-between">
    <a href="#" class="one-third relative">
        <div class="bg-image flex align-center flex-center" style="background-image: url(https://foundation.uc.edu/view.image?Id=7229);">
            <p class="large relative text-center">Empower Our Next Leaders</p>
        </div>          	
    </a>
    <a href="#" class="one-third relative">
        <div class="bg-image flex align-center flex-center" style="background-image: url(https://foundation.uc.edu/view.image?Id=7534);">
            <p class="large relative text-center">Explore Our Next Frontier</p>
        </div>
    </a>
    <a href="#" class="one-third relative">
        <div class="bg-image flex align-center flex-center" style="background-image: url(https://foundation.uc.edu/view.image?Id=7991);">
            <p class="large relative text-center">Embrace Our Next Purpose</p>
        </div>
    </a>
</div>