<footer id="footer" class="c-footer" role="contentinfo">

	<div class="l-container flex flex-row p-1 relative">
		<div class="one-third flow">
			<p class="white bold uppercase list-title">Contact Us</p>
			<ul class="flow menu">
				<li>
					<p><strong>The University of Cincinnati Foundation</strong><br>
						PO Box 19970 Cincinnati, OH 45219</p>
				</li>
				<li class="flow">
					<p><a href="tel:513-556-6781">513-556-6781</a> | <a href="tel:888-556-8889">888-556-8889</a></p>
					<p>513-556-4300 (fax)</p>
				</li>
				<li class="flex gap-2"><a class="email-link" href="mailto:ucfoundation@uc.edu%3C"><i class="fa-solid fa-2xl fa-envelope"></i></a><a class="map-link" href="https://www.google.com/maps/place/University+Hall,+51+Goodman+St,+Cincinnati,+OH+45221/data=!4m2!3m1!1s0x8841b3911b29ad97:0x4622207f542bf00f?sa=X&amp;ved=2ahUKEwjCmLHvtI_lAhXylOAKHdzrBBMQ8gEwAHoECAkQAQ"><i class="fa-solid fa-2xl fa-location-dot"></i></a></li>
			</ul>
			<ul class="navbar-list social-media flex gap-1 menu" role="list">
				<li class="navbar-item">
					<a class="navbar-link instagram" href="https://www.instagram.com/uofcincy/?hl=en"></a>
				</li>
				<li class="navbar-item">
					<a class="navbar-link facebook" href="https://www.facebook.com/uofcincyfoundation/"></a>
				</li>
				<li class="navbar-item">
					<a class="navbar-link youtube" href="https://www.youtube.com/channel/UC1P9AxltYh6kPLO6Swt4Qcw"></a>
				</li>
				<li class="navbar-item">
					<a class="navbar-link twitterx" href="https://twitter.com/uofcincyfound"></a>
				</li>
				<li class="navbar-item">
					<a class="navbar-link linkedin" href="https://www.linkedin.com/company/uofcincyfound/"></a>
				</li>
			</ul>
		</div>
		<div class="one-third flow">
			<p class="white bold uppercase list-title">Quick Links</p>
			<ul class="flow menu" role="list">
				<li><a href="https://www.uc.edu/">UC Home</a></li>
				<li><a href="https://www.alumni.uc.edu/">Alumni Association</a></li>
				<li><a href="https://www.uchealth.com/">UC Health</a></li>
			</ul>
		</div>
		<div class="one-third flow">
			<p class="white bold uppercase list-title">Stay in Touch</p>
			<ul class="flow menu" role="list">
				<li>
					<p>Like being the first to know? You’ll get timely updates on news, events and more from the UC Foundation.</p>
					<a href="https://foundation.uc.edu/email-sign-up-form">Subscribe</a>
				</li>
				<li>
					<a href="https://foundation.uc.edu/about/careers">Careers</a>
				</li>
				<li>
					<a href="https://foundation.uc.edu/privacy-policy">UC Foundation Privacy Policy</a>
				</li>
			</ul>
		</div>		
	</div><!--end l-container-->
	<div class="c-footer__copyright text-center relative">Copyright Information © 2024 {{ company.name }}</div>
	
</footer><!--end c-footer-->