<div class="l-container">
    <div class="highlights">
        <div class="cell highlight-card">
            <div class="shield-container">
                <img class="shield" src="https://foundation.uc.edu/image/uc-lockup-red.png">
            </div>
            <h2>
                <p><strong>Advanced biomedical research</strong> with more than $1 billion raised, including more than $200 million in support of Penn’s ImmunoRevolution, which is developing novel ways to harness the immune system to treat cancer and other diseases.</p>
            </h2>
        </div>
    </div>

    <div class="highlights">
        <div class="cell highlight-card">
            <div class="shield-container">
                <img class="shield" src="https://foundation.uc.edu/image/uc-lockup-red.png">
            </div>
            <h2>
                <p><strong>Advanced biomedical research</strong> with more than $1 billion raised, including more than $200 million in support of Penn’s ImmunoRevolution, which is developing novel ways to harness the immune system to treat cancer and other diseases.</p>
            </h2>
        </div>
    </div>
    
</div>