{{> molecules-skip-link }}
{{> organisms-header }}
<div class="page-title">
    <div class="l-container">
        <h1>UC Alumni Celebration 2024</h1>
    </div>
</div>
<main id="main" role="main">

    <div class="l-container">

        {{> organisms-registration }}

    </div><!--end l-container"-->

</main>
{{> molecules-back-to-top }}
{{> organisms-footer }}