<section class="p-0 white-bg relative">
    <div class="gallery">
        <div class="left">
            <div class="desktopContent">
                <div class="desktopContentSection flow">
                    <h2>Alumnus makes gift to University of Cincinnati LGBTQ Center</h2>
                    <p>A University of Cincinnati alumnus has made a $200,000 gift to the university's LGBTQ Center. Bruce Besanko, A&S '82, retired Kohl's chief financial officer, has created the Bruce Besanko Support Fund for the LGBTQ Center.</p>
                  	<p><a href="#">Read the Story</a></p>
                </div>
                <div class="desktopContentSection flow">
                    <h2>UC Sets Indoor Practice Facility and Performance Center Groundbreaking Date</h2>
                    <p>The University of Cincinnati Athletics Department and the UC Foundation will hold an on-campus ground-breaking ceremony for the game-changing, multi-million-dollar Indoor Practice Facility and Performance Center project on May 23.</p>
                  	<p><a href="#">Read the Story</a></p>
                </div>
                <div class="desktopContentSection flow">
                    <h2>Living the dream, sharing success</h2>
                    <p>Patrice Barnes, A&amp;S '11, smiles wide on a virtual call, New York City’s iconic Plaza Hotel behind her, honking cars providing background music.</p>
                  	<p><a href="#">Read the Story</a></p>
                </div>
                <div class="desktopContentSection flow">
                    <h2>UC business grads soar to new heights with Johnson Investment Counsel Lab</h2>
                    <p>In a whirlwind of financial fervor and adrenaline-charged trading, the world of investment and finance wizardry at the University of Cincinnati has never seemed so exciting.</p>
                  	<p><a href="#">Read the Story</a></p>
                </div>
            </div>
        </div>
        <div class="right">
            <!-- mobile content -->
            <div class="mobileContent">
                <div class="mobilePhoto red"></div>
                <h2>Alumnus makes gift to University of Cincinnati LGBTQ Center</h2>
                <p>A University of Cincinnati alumnus has made a $200,000 gift to the university's LGBTQ Center. Bruce Besanko, A&S '82, retired Kohl's chief financial officer, has created the Bruce Besanko Support Fund for the LGBTQ Center.</p>
              	<p><a href="#">Read the Story</a></p>
                
              	<div class="mobilePhoto green"></div>
                <h2>UC Sets Indoor Practice Facility and Performance Center Groundbreaking Date</h2>
                <p>The University of Cincinnati Athletics Department and the UC Foundation will hold an on-campus ground-breaking ceremony for the game-changing, multi-million-dollar Indoor Practice Facility and Performance Center project on May 23.</p>
              	<p><a href="#">Read the Story</a></p>
                
              	<div class="mobilePhoto pink"></div>
                <h2>Living the dream, sharing success</h2>
                <p>Patrice Barnes, A&S '11, smiles wide on a virtual call, New York City’s iconic Plaza Hotel behind her, honking cars providing background music.</p>
              	<p><a href="#">Read the Story</a></p>
                
              	<div class="mobilePhoto blue"></div>
                <h2>UC business grads soar to new heights with Johnson Investment Counsel Lab</h2>
                <p>In a whirlwind of financial fervor and adrenaline-charged trading, the world of investment and finance wizardry at the University of Cincinnati has never seemed so exciting.</p>
              	<p><a href="#">Read the Story</a></p>
            </div>
            <!-- desktop content -->
            <div class="desktopPhotos">
                <div class="desktopPhoto red"></div>
                <div class="desktopPhoto green"></div>
                <div class="desktopPhoto pink"></div>
                <div class="desktopPhoto blue"></div>
            </div>
        </div>
    </div>
</section>