{{> molecules-skip-link }}
{{> organisms-header }}
<div class="page-title">
    <div class="l-container">
        <h1>Make a Gift</h1>
    </div>
</div>
<main id="main" role="main">

    <div class="l-container">
        
        {{> organisms-mini-donation-form }}

    </div><!--end l-container"-->

</main>
{{> molecules-back-to-top }}
{{> organisms-footer }}