{{> molecules-skip-link }}
{{> organisms-header }}
<div class="page-title">
    <div class="l-container">
        <h1>Make a Gift</h1>
    </div>
</div>
<main id="main" role="main">

    <div class="l-container">
        
        <div class="container flow flex flex-column text-center p-1">
            <p>Thank you for supporting the University of Cincinnati. If you have questions about making a gift, please call us at 888-556-8889 (toll-free) or 513-556-6781 M–F, 8 a.m. – 5 p.m. EST. or email us.</p>
        </div>

        {{> organisms-advanced-donation-form }}

    </div><!--end l-container"-->

</main>

{{> organisms-footer }}
{{> molecules-back-to-top }}