{{> organisms-header }}

<main role="main">

    <div class="l-container">

        {{> organisms-standard-donation-form }}

    </div><!--end l-container"-->

</main>

{{> organisms-footer }}
