{{> molecules-skip-link }}
{{> organisms-header }}
<div class="page-title">
    <div class="l-container">
        <h1>Make a Gift</h1>
    </div>
</div>
<main id="main" role="main">

    <div class="l-container">
        
        <div class="container flow flex flex-column text-center p-1">
            <p>Thank you for supporting the University of Cincinnati. If you have questions about making a gift, please call us at 888-556-8889 (toll-free) or 513-556-6781 M–F, 8 a.m. – 5 p.m. EST. or email us.</p>
        </div>

        <style type="text/css">
            .PaymentPart_Controls {
                float: right;
                display: block;
                margin-right: 50px;
            }
            .PaymentPart_FormContainer {
                overflow: hidden;
            }
            .FinderNumberHelperDiv {
                padding-left: 75px;
            }
            .BBFinderNumberHelperImageDiv {
                padding-left: 150px;
            }
            .bbspLoadingOverlay {
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                position: fixed;
                z-index: 9999999;
                background-color: grey;
                opacity: 0.8;
                display: none;
            }
            .bbspLoadingImage {
                left: 50%;
                top: 50%;
                position: absolute;
                z-index: 101;
                width: 32px;
                height: 32px;
                margin-left: -16px;
                margin-top: -16px;
            }
            .CaptchaName {
                text-align:justify !important;
            }
        </style>
        <div id="PC21803_ctl00_upPayment" role="main">
            <h1 style="display: none;">Cart Display</h1>
            <div id="PC21803_ctl00_PaymentPartFormContainer" class="PaymentPart_FormContainer">
                <div id="PC21803_ctl00_validationSummary" class="PaymentPart_ValidationSummary" style="display:none;">
                </div>
                <a id="PC21803_ctl00_lnkTarget" aria-label="Consent" href="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;PC21803$ctl00$lnkTarget&quot;, &quot;&quot;, true, &quot;&quot;, &quot;&quot;, false, true))"></a>
                <div id="PC21803_ctl00_pnlConsentPopup" class="displayNone pnlConsentPopup" align="center" style="display: none; position: fixed;">
                    <div class="modal-body">
                    </div>
                </div>
                <div id="PC21803_ctl00_CartGrid_cartPanel">
                    <div id="PC21803_ctl00_CartGrid_topLinkBar" class="PaymentPart_CartOptions">
                        <a id="PC21803_ctl00_CartGrid_lbRemoveAll" class="PaymentPartSubmitButton PaymentPart_RemoveAllLink" href="javascript:__doPostBack('PC21803$ctl00$CartGrid$lbRemoveAll','')">Empty Cart</a>
                        <a id="PC21803_ctl00_CartGrid_ButtonUpdateCart" class="PaymentPartSubmitButton PaymentPart_UpdateCartLink" usesubmitbehavior="true" href="javascript:__doPostBack('PC21803$ctl00$CartGrid$ButtonUpdateCart','')">Update Cart</a>
                    </div>
                    <div id="PC21803_ctl00_CartGrid_CartContainer" class="PaymentPart_Cart">
                        <table class="PaymentPart_CartList" cellpadding="0" cellspacing="0" style="border-bottom: 1px solid #000000; border-top: 1px solid #000000;">
                            <thead id="PC21803_ctl00_CartGrid_theadItems" class="PaymentPart_CartHeader">
                                <tr id="PC21803_ctl00_CartGrid_trHeaderRow" style="text-align: left;" class="PaymentPart_CartRows PaymentPart_CartHeaderRow">
                                    <th id="PC21803_ctl00_CartGrid_thDesecription" colspan="2" style="padding-right: 8px; text-align: left;" class="PaymentPart_CartHeaderCell PaymentPart_CartHeaderDescriptionCell">
                                        Description
                                    </th>
                                    <th id="PC21803_ctl00_CartGrid_thHeaderQuantity" style="padding: 8px; text-align: left;" class="PaymentPart_CartHeaderCell PaymentPart_CartHeaderQuantityCell">
                                        Quantity
                                    </th>
                                    <th id="PC21803_ctl00_CartGrid_thUnitPrice" style="padding: 8px; text-align: left;" class="PaymentPart_CartHeaderCell PaymentPart_CartHeaderCurrencyCell">
                                        Price
                                    </th>
                                    <th id="PC21803_ctl00_CartGrid_thTotal" style="padding: 8px; text-align: left;" class="PaymentPart_CartHeaderCell PaymentPart_CartHeaderCurrencyCell">
                                        Total
                                    </th>
                                    <th id="PC21803_ctl00_CartGrid_thRemove" style="padding: 8px; text-align: left;" class="PaymentPart_CartHeaderCell PaymentPart_CartHeaderRemoveCell">
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="PC21803_ctl00_CartGrid_tbCartBody" class="PaymentPart_CartBody">
                                <tr id="PC21803_ctl00_CartGrid_rptCategories_trType_0" class="PaymentPart_CartRows PaymentPart_CartItemTypeRow">
                                    <td id="PC21803_ctl00_CartGrid_rptCategories_tdType_0" colspan="6" style="border-bottom: 1px solid #C0C0C0; border-top: 1px solid #000000;" class="PaymentPart_CartItemType">Donations</td>
                                </tr>
                                <tr id="PC21803_ctl00_CartGrid_rptCategories_rptItems_0_itemTemplate_0_PaymentPartGridRow_0" class="PaymentPart_CartRows">
                                    <td id="PC21803_ctl00_CartGrid_rptCategories_rptItems_0_itemTemplate_0_tdImageItem_0" class="PaymentPart_CartCell PaymentPart_CartThumbnailCell">
                                        <a href="https://foundation.uc.edu/WomensBasketball?soi=c6243ecd-f541-48d8-a1e9-4db7e9d9bb7f" id="PC21803_ctl00_CartGrid_rptCategories_rptItems_0_itemTemplate_0_hyperlinkItemThumbnail_0" aria-label="image hyperlink">
                                        </a>
                                    </td>
                                    <td id="PC21803_ctl00_CartGrid_rptCategories_rptItems_0_itemTemplate_0_tdDescription_0" style="padding: 10px;" class="PaymentPart_CartCell PaymentPart_CartDescriptionCell">
                                        <span>Women's Basketball Development Fund</span>
                                        <br>
                                        <span id="PC21803_ctl00_CartGrid_rptCategories_rptItems_0_itemTemplate_0_attributeContainer_0" class="PaymentPart_CartItemDetails"></span>
                                    </td>
                                    <td id="PC21803_ctl00_CartGrid_rptCategories_rptItems_0_itemTemplate_0_tdCartQuantityCell_0" style="vertical-align: top; padding: 10px;" class="PaymentPart_CartCell PaymentPart_CartCurrencyCell">
                                        1
                                    </td>
                                    <td id="PC21803_ctl00_CartGrid_rptCategories_rptItems_0_itemTemplate_0_tdUnitPrice_0" style="vertical-align: top; padding: 10px;" class="PaymentPart_CartCell PaymentPart_CartCurrencyCell">
                                        <input name="PC21803$ctl00$CartGrid$rptCategories$ctl00$rptItems$ctl00$itemTemplate$txtItemUnitPrice" type="text" value="5.00" id="PC21803_ctl00_CartGrid_rptCategories_rptItems_0_itemTemplate_0_txtItemUnitPrice_0" class="PaymentPart_CartItemUnitPrice" aria-label="Unit Price">
                                    </td>
                                    <td id="PC21803_ctl00_CartGrid_rptCategories_rptItems_0_itemTemplate_0_tdCartItemTotalCell_0" style="vertical-align: top; padding: 10px;" class="PaymentPart_CartCell PaymentPart_CartCurrencyCell">
                                        <span id="PC21803_ctl00_CartGrid_rptCategories_rptItems_0_itemTemplate_0_labelItemTotal_0" class="PaymentPart_CartItemTotal">$5.00</span>
                                        <span id="PC21803_ctl00_CartGrid_rptCategories_rptItems_0_itemTemplate_0_labelItemTotalConverted_0" class="PaymentPart_CartItemTotal"></span>
                                    </td>
                                    <td id="PC21803_ctl00_CartGrid_rptCategories_rptItems_0_itemTemplate_0_tdRemove_0" style="vertical-align: top; padding: 10px;" class="PaymentPart_CartCell PaymentPart_CartRemoveCell">        <input type="image" name="PC21803$ctl00$CartGrid$rptCategories$ctl00$rptItems$ctl00$itemTemplate$imagebuttonItemRemove" id="PC21803_ctl00_CartGrid_rptCategories_rptItems_0_itemTemplate_0_imagebuttonItemRemove_0" class="PaymentPart_CartItemRemoveImage" src="images/clearpixel.gif" alt="Remove" onclick="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;PC21803$ctl00$CartGrid$rptCategories$ctl00$rptItems$ctl00$itemTemplate$imagebuttonItemRemove&quot;, &quot;&quot;, true, &quot;&quot;, &quot;&quot;, false, false))">
                                        <a id="PC21803_ctl00_CartGrid_rptCategories_rptItems_0_itemTemplate_0_lbItemRemove_0" title="Remove: Women's Basketball Development Fund" class="PaymentPart_CartItemRemoveText" href="javascript:__doPostBack('PC21803$ctl00$CartGrid$rptCategories$ctl00$rptItems$ctl00$itemTemplate$lbItemRemove','')">Remove</a>
                                        <input type="hidden" name="PC21803$ctl00$CartGrid$rptCategories$ctl00$rptItems$ctl00$itemTemplate$hiddenItemID" id="PC21803_ctl00_CartGrid_rptCategories_rptItems_0_itemTemplate_0_hiddenItemID_0" value="c6243ecd-f541-48d8-a1e9-4db7e9d9bb7f">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="PC21803_ctl00_divSummaryOuter" class="PaymentPart_CartSummary">
                    <div id="divCartSummary" class="PaymentPart_CartSummaryDetails">
                        <dl id="PC21803_ctl00_dlCartSummary">
                            <dt class="PaymentPart_CartSummaryCaptionContainer">
                                <label for="PC21803_ctl00_labelSummarySubtotal" id="PC21803_ctl00_labelSummarySubtotalCaption" class="PaymentPart_CartSubtotalCaption">Total:</label>
                            </dt>
                            <dd class="PaymentPart_CartSummaryFieldContainer">
                                <span id="PC21803_ctl00_labelSummarySubtotal" class="PaymentPart_CartSubtotal">$5.00</span>
                                <span id="PC21803_ctl00_labelSummarySubtotalConverted" class="PaymentPart_CartSubtotal"></span>
                            </dd>
                            <dd class="BBClear"></dd>
                        </dl>
                    </div>
                    <div class="BBClear">
                    </div>
                </div>
                <!-- SHL BBIS Bug 324823; If the payment part 2.0 has only direct debit option, and the items have a single gift then we can't check out and we show a label saying as such -->
                <div id="PC21803_ctl00_divPersonalInfo" class="PaymentPart_PersonalInfoContainer">
                    <span id="PC21803_ctl00_CustomValidatorEmail" style="display:none;"></span>
                    <div class="BBListingHeading PaymentPart_SectionHeading">
                        <span id="PC21803_ctl00_lblPersonalInfo">Personal Information</span>
                    </div>
                    <style type="text/css">
                        .BBDivFieldContainer
                        {
                        padding:0px 0px 5px 0px;
                        }
                    </style>
                    <div class="BBDivFieldContainer">
                        <label for="PC21803_ctl00_PersonalInfoShippingAddress_ddTitle" id="PC21803_ctl00_PersonalInfoShippingAddress_lblTitle" class="BBDivFieldCaption DCFieldCaption">Title:</label>
                        <select name="PC21803$ctl00$PersonalInfoShippingAddress$ddTitle" id="PC21803_ctl00_PersonalInfoShippingAddress_ddTitle" class="BBFormSelectList DonationCaptureSelectList">
                            <option selected="selected" value=""></option>
                            <option value="Miss">Miss</option>
                            <option value="Mr.">Mr.</option>
                            <option value="Mrs.">Mrs.</option>
                            <option value="Ms.">Ms.</option>
                            <option value="Mx.">Mx.</option>
                            <option value="1st Lieutenant">1st Lieutenant</option>
                            <option value="2nd Lieutenant">2nd Lieutenant</option>
                            <option value="ADM">ADM</option>
                            <option value="BG">BG</option>
                            <option value="Bishop">Bishop</option>
                            <option value="Brigadier General">Brigadier General</option>
                            <option value="Brother">Brother</option>
                            <option value="Captain">Captain</option>
                            <option value="CDR">CDR</option>
                            <option value="Chaplain">Chaplain</option>
                            <option value="Colonel">Colonel</option>
                            <option value="Commander">Commander</option>
                            <option value="CPT">CPT</option>
                            <option value="Dean">Dean</option>
                            <option value="Dean Emeritus">Dean Emeritus</option>
                            <option value="Dr.">Dr.</option>
                            <option value="Ensign">Ensign</option>
                            <option value="Father">Father</option>
                            <option value="Field Svc Instructor-Geo">Field Svc Instructor-Geo</option>
                            <option value="General">General</option>
                            <option value="Governor">Governor</option>
                            <option value="The Honorable">The Honorable</option>
                            <option value="Judge">Judge</option>
                            <option value="LCDR">LCDR</option>
                            <option value="Lt Col">Lt Col</option>
                            <option value="LtCol">LtCol</option>
                            <option value="Lt Gen">Lt Gen</option>
                            <option value="LTC">LTC</option>
                            <option value="LTG">LTG</option>
                            <option value="Lt.">Lt.</option>
                            <option value="Lt. Colonel">Lt. Colonel</option>
                            <option value="Lt. Commander">Lt. Commander</option>
                            <option value="Lt. Corporal">Lt. Corporal</option>
                            <option value="Lt. General">Lt. General</option>
                            <option value="Lt. Governor">Lt. Governor</option>
                            <option value="Lt. Junior Grade">Lt. Junior Grade</option>
                            <option value="Magistrate">Magistrate</option>
                            <option value="Major">Major</option>
                            <option value="Major General">Major General</option>
                            <option value="Master Sergeant">Master Sergeant</option>
                            <option value="Mayor">Mayor</option>
                            <option value="Monsignor">Monsignor</option>
                            <option value="Most Reverend">Most Reverend</option>
                            <option value="Pastor">Pastor</option>
                            <option value="Professor">Professor</option>
                            <option value="Rabbi">Rabbi</option>
                            <option value="Rear Admiral">Rear Admiral</option>
                            <option value="Rep.">Rep.</option>
                            <option value="The Reverend">The Reverend</option>
                            <option value="The Reverend Dr.">The Reverend Dr.</option>
                            <option value="Senator">Senator</option>
                            <option value="Sergeant">Sergeant</option>
                            <option value="Sir">Sir</option>
                            <option value="Sister">Sister</option>
                            <option value="Staff Sergeant">Staff Sergeant</option>
                            <option value="SSgt">SSgt</option>
                            <option value="VADM">VADM</option>
                            <option value="M.">M.</option>
                            <option value="Msr.">Msr.</option>
                            <option value="Mq.">Mq.</option>
                            <option value="Misc.">Misc.</option>
                            <option value="Mre.">Mre.</option>
                            <option value="Ind.">Ind.</option>
                            <option value="Pr.">Pr.</option>
                        </select>
                    </div>
                    <div class="BBDivFieldContainer">
                        <label for="PC21803_ctl00_PersonalInfoShippingAddress_txtFirstName" id="PC21803_ctl00_PersonalInfoShippingAddress_lblFirstName" class="BBDivFieldCaption DCFieldCaption">First name:</label>
                        <input name="PC21803$ctl00$PersonalInfoShippingAddress$txtFirstName" type="text" value="Greg" maxlength="30" id="PC21803_ctl00_PersonalInfoShippingAddress_txtFirstName" class="BBFormTextbox DCTextboxWide">
                        <span id="PC21803_ctl00_PersonalInfoShippingAddress_spanReqFirstName" class="BBFormRequiredFieldMarker DonationCaptureRequiredFieldMarker">*</span>
                    </div>
                    <div class="BBDivFieldContainer">
                        <label for="PC21803_ctl00_PersonalInfoShippingAddress_txtLastName" id="PC21803_ctl00_PersonalInfoShippingAddress_lblLastName" class="BBDivFieldCaption DCFieldCaption">Last name:</label>
                        <input name="PC21803$ctl00$PersonalInfoShippingAddress$txtLastName" type="text" value="Vissing" maxlength="60" id="PC21803_ctl00_PersonalInfoShippingAddress_txtLastName" class="BBFormTextbox DCTextboxWide">
                        <span class="BBFormRequiredFieldMarker DonationCaptureRequiredFieldMarker">*</span>
                    </div>
                    <div id="PC21803_ctl00_PersonalInfoShippingAddress_AddressControl_AUICountry" class="BBDivFieldContainer">
                        <label for="PC21803_ctl00_PersonalInfoShippingAddress_AddressControl_dd_Country" id="PC21803_ctl00_PersonalInfoShippingAddress_AddressControl_lblCountry" class="BBDivFieldCaption DCFieldCaption">Country:</label> 
                        <select name="PC21803$ctl00$PersonalInfoShippingAddress$AddressControl$dd_Country" onchange="javascript:setTimeout('__doPostBack(\'PC21803$ctl00$PersonalInfoShippingAddress$AddressControl$dd_Country\',\'\')', 0)" id="PC21803_ctl00_PersonalInfoShippingAddress_AddressControl_dd_Country" class="BBFormSelectList DonationCaptureSelectList">
                            <option value=""></option>
                            <option value="Afghanistan">Afghanistan</option>
                            <option value="Albania">Albania</option>
                            <option value="Algeria">Algeria</option>
                            <option value="American Samoa">American Samoa</option>
                            <option value="Andorra">Andorra</option>
                            <option value="Angola">Angola</option>
                            <option value="Antigua and Barbuda">Antigua and Barbuda</option>
                            <option value="Argentina">Argentina</option>
                            <option value="Armenia">Armenia</option>
                            <option value="Aruba">Aruba</option>
                            <option value="Australia">Australia</option>
                            <option value="Austria">Austria</option>
                            <option value="Azerbaijan">Azerbaijan</option>
                            <option value="Bahamas">Bahamas</option>
                            <option value="Bahrain">Bahrain</option>
                            <option value="Bangladesh">Bangladesh</option>
                            <option value="Barbados">Barbados</option>
                            <option value="Belgium">Belgium</option>
                            <option value="Belize">Belize</option>
                            <option value="Benin">Benin</option>
                            <option value="Bermuda">Bermuda</option>
                            <option value="Bolivia">Bolivia</option>
                            <option value="Bosnia and Herzegowina">Bosnia and Herzegowina</option>
                            <option value="Botswana">Botswana</option>
                            <option value="Brazil">Brazil</option>
                            <option value="British Indian Ocean Territory">British Indian Ocean Territory</option>
                            <option value="Brunei">Brunei</option>
                            <option value="Bulgaria">Bulgaria</option>
                            <option value="Burkina Faso">Burkina Faso</option>
                            <option value="Burundi">Burundi</option>
                            <option value="Cambodia">Cambodia</option>
                            <option value="Cameroon">Cameroon</option>
                            <option value="Canada">Canada</option>
                            <option value="Cayman Islands">Cayman Islands</option>
                            <option value="Central African Republic">Central African Republic</option>
                            <option value="Chile">Chile</option>
                            <option value="China">China</option>
                            <option value="Colombia">Colombia</option>
                            <option value="Costa Rica">Costa Rica</option>
                            <option value="Cote D'Ivoire">Cote D'Ivoire</option>
                            <option value="Croatia">Croatia</option>
                            <option value="Cyprus">Cyprus</option>
                            <option value="Czech Republic">Czech Republic</option>
                            <option value="Denmark">Denmark</option>
                            <option value="Dominican Republic">Dominican Republic</option>
                            <option value="Ecuador">Ecuador</option>
                            <option value="Egypt">Egypt</option>
                            <option value="El Salvador">El Salvador</option>
                            <option value="Eritrea">Eritrea</option>
                            <option value="Ethiopia">Ethiopia</option>
                            <option value="Fiji">Fiji</option>
                            <option value="Finland">Finland</option>
                            <option value="France">France</option>
                            <option value="Georgia">Georgia</option>
                            <option value="Germany">Germany</option>
                            <option value="Ghana">Ghana</option>
                            <option value="Great Britian">Great Britian</option>
                            <option value="Greece">Greece</option>
                            <option value="Guam">Guam</option>
                            <option value="Guatemala">Guatemala</option>
                            <option value="Guyana">Guyana</option>
                            <option value="Haiti">Haiti</option>
                            <option value="Honduras">Honduras</option>
                            <option value="Hong Kong">Hong Kong</option>
                            <option value="Hungary">Hungary</option>
                            <option value="Iceland">Iceland</option>
                            <option value="India">India</option>
                            <option value="Indonesia">Indonesia</option>
                            <option value="Iran (Islamic Republic of)">Iran (Islamic Republic of)</option>
                            <option value="Iraq">Iraq</option>
                            <option value="Ireland">Ireland</option>
                            <option value="Israel">Israel</option>
                            <option value="Italy">Italy</option>
                            <option value="Jamaica">Jamaica</option>
                            <option value="Japan">Japan</option>
                            <option value="Jordan">Jordan</option>
                            <option value="Kazakhstan">Kazakhstan</option>
                            <option value="Kenya">Kenya</option>
                            <option value="Korea, D.P.R.O.">Korea, D.P.R.O.</option>
                            <option value="Korea, Republic of">Korea, Republic of</option>
                            <option value="Kuwait">Kuwait</option>
                            <option value="Kyrgyzstan">Kyrgyzstan</option>
                            <option value="Latvia">Latvia</option>
                            <option value="Lebanon">Lebanon</option>
                            <option value="Libyan Arab Jamahiriya">Libyan Arab Jamahiriya</option>
                            <option value="Liechtenstein">Liechtenstein</option>
                            <option value="Lithuania">Lithuania</option>
                            <option value="Luxembourg">Luxembourg</option>
                            <option value="Macao">Macao</option>
                            <option value="Macedonia">Macedonia</option>
                            <option value="Madagascar">Madagascar</option>
                            <option value="Malaysia">Malaysia</option>
                            <option value="Malta">Malta</option>
                            <option value="Marshall Islands">Marshall Islands</option>
                            <option value="Mauritania">Mauritania</option>
                            <option value="Mauritius">Mauritius</option>
                            <option value="Metro Manila">Metro Manila</option>
                            <option value="Mexico">Mexico</option>
                            <option value="Moldova, Republic of">Moldova, Republic of</option>
                            <option value="Monaco">Monaco</option>
                            <option value="Morocco">Morocco</option>
                            <option value="Mozambique">Mozambique</option>
                            <option value="Myanmar">Myanmar</option>
                            <option value="Nepal">Nepal</option>
                            <option value="Netherlands">Netherlands</option>
                            <option value="New Zealand">New Zealand</option>
                            <option value="Nicaragua">Nicaragua</option>
                            <option value="Niger">Niger</option>
                            <option value="Nigeria">Nigeria</option>
                            <option value="Norway">Norway</option>
                            <option value="Oman">Oman</option>
                            <option value="Pakistan">Pakistan</option>
                            <option value="Palau">Palau</option>
                            <option value="Panama">Panama</option>
                            <option value="Papua New Guinea">Papua New Guinea</option>
                            <option value="Paraguay">Paraguay</option>
                            <option value="Peru">Peru</option>
                            <option value="Philippines">Philippines</option>
                            <option value="Poland">Poland</option>
                            <option value="Portugal">Portugal</option>
                            <option value="Puerto Rico">Puerto Rico</option>
                            <option value="Qatar">Qatar</option>
                            <option value="Romania">Romania</option>
                            <option value="Russian Federation">Russian Federation</option>
                            <option value="Saudi Arabia">Saudi Arabia</option>
                            <option value="Senegal">Senegal</option>
                            <option value="Serbia">Serbia</option>
                            <option value="Sierra Leone">Sierra Leone</option>
                            <option value="Singapore">Singapore</option>
                            <option value="Slovenia">Slovenia</option>
                            <option value="South Africa">South Africa</option>
                            <option value="South Korea">South Korea</option>
                            <option value="Spain">Spain</option>
                            <option value="Sri Lanka">Sri Lanka</option>
                            <option value="Sudan">Sudan</option>
                            <option value="Swaziland">Swaziland</option>
                            <option value="Sweden">Sweden</option>
                            <option value="Switzerland">Switzerland</option>
                            <option value="Syrian Arab Republic">Syrian Arab Republic</option>
                            <option value="Taiwan">Taiwan</option>
                            <option value="Tanzania">Tanzania</option>
                            <option value="Thailand">Thailand</option>
                            <option value="Trinidad and Tobago">Trinidad and Tobago</option>
                            <option value="Tunisia">Tunisia</option>
                            <option value="Turkey">Turkey</option>
                            <option value="Uganda">Uganda</option>
                            <option value="Ukraine">Ukraine</option>
                            <option value="United Arab Emirates">United Arab Emirates</option>
                            <option value="United Kingdom">United Kingdom</option>
                            <option selected="selected" value="United States" af="afUNITED_STATES" rf="US">United States</option>
                            <option value="Uruguay">Uruguay</option>
                            <option value="Uzbekistan">Uzbekistan</option>
                            <option value="Venezuela">Venezuela</option>
                            <option value="Vietnam">Vietnam</option>
                            <option value="Virgin Islands (U.S.)">Virgin Islands (U.S.)</option>
                            <option value="Yemen">Yemen</option>
                            <option value="Zambia">Zambia</option>
                            <option value="Zimbabwe">Zimbabwe</option>
                        </select>
                    </div>
                    <div id="PC21803_ctl00_PersonalInfoShippingAddress_AddressControl_AUIAddress" class="BBDivFieldContainer">
                        <label for="PC21803_ctl00_PersonalInfoShippingAddress_AddressControl_tb_AddressLine" id="PC21803_ctl00_PersonalInfoShippingAddress_AddressControl_lblAddressLine" class="BBDivFieldCaption DCFieldCaption">Address:</label>
                        <textarea name="PC21803$ctl00$PersonalInfoShippingAddress$AddressControl$tb_AddressLine" rows="2" cols="20" maxlength="150" id="PC21803_ctl00_PersonalInfoShippingAddress_AddressControl_tb_AddressLine" class="BBFormTextArea"></textarea>
                        <span id="PC21803_ctl00_PersonalInfoShippingAddress_AddressControl_lblreq_addrline" class="BBFormRequiredFieldMarker DonationCaptureRequiredFieldMarker">*</span>
                        <span id="PC21803_ctl00_PersonalInfoShippingAddress_AddressControl_ctl01" style="display:none;"></span><span id="PC21803_ctl00_PersonalInfoShippingAddress_AddressControl_ctl02" style="display:none;"></span><span id="PC21803_ctl00_PersonalInfoShippingAddress_AddressControl_ctl06" style="display:none;"></span><span id="PC21803_ctl00_PersonalInfoShippingAddress_AddressControl_ctl07" style="display:none;"></span>
                    </div>
                    <div id="PC21803_ctl00_PersonalInfoShippingAddress_AddressControl_AUIUSCity" class="BBDivFieldContainer">
                        <label for="PC21803_ctl00_PersonalInfoShippingAddress_AddressControl_tb_CityUS" id="PC21803_ctl00_PersonalInfoShippingAddress_AddressControl_lblCityUS" class="BBDivFieldCaption DCFieldCaption">City:</label>
                        <input name="PC21803$ctl00$PersonalInfoShippingAddress$AddressControl$tb_CityUS" type="text" maxlength="50" id="PC21803_ctl00_PersonalInfoShippingAddress_AddressControl_tb_CityUS" class="BBFormTextbox DCTextboxWide"> 
                        <span id="PC21803_ctl00_PersonalInfoShippingAddress_AddressControl_lblreq_cityUS" class="BBFormRequiredFieldMarker DonationCaptureRequiredFieldMarker">*</span>
                        <span id="PC21803_ctl00_PersonalInfoShippingAddress_AddressControl_ctl03" style="display:none;"></span><span id="PC21803_ctl00_PersonalInfoShippingAddress_AddressControl_ctl08" style="display:none;"></span>
                    </div>
                    <div id="PC21803_ctl00_PersonalInfoShippingAddress_AddressControl_AUIUSState" class="BBDivFieldContainer">
                        <label for="PC21803_ctl00_PersonalInfoShippingAddress_AddressControl_dd_StateUS" id="PC21803_ctl00_PersonalInfoShippingAddress_AddressControl_lblStateUS" class="BBDivFieldCaption DCFieldCaption">State:</label>
                        <select name="PC21803$ctl00$PersonalInfoShippingAddress$AddressControl$dd_StateUS" id="PC21803_ctl00_PersonalInfoShippingAddress_AddressControl_dd_StateUS" class="BBFormSelectList DonationCaptureSelectList">
                            <option selected="selected" value="-1">&lt;Please Select&gt;</option>
                            <option value="AA">AA</option>
                            <option value="AE">AE</option>
                            <option value="AK">AK</option>
                            <option value="AL">AL</option>
                            <option value="AP">AP</option>
                            <option value="AR">AR</option>
                            <option value="AS">AS</option>
                            <option value="AZ">AZ</option>
                            <option value="CA">CA</option>
                            <option value="CO">CO</option>
                            <option value="CT">CT</option>
                            <option value="CZ">CZ</option>
                            <option value="DC">DC</option>
                            <option value="DE">DE</option>
                            <option value="FL">FL</option>
                            <option value="FM">FM</option>
                            <option value="GA">GA</option>
                            <option value="GU">GU</option>
                            <option value="HI">HI</option>
                            <option value="IA">IA</option>
                            <option value="ID">ID</option>
                            <option value="IL">IL</option>
                            <option value="IN">IN</option>
                            <option value="KS">KS</option>
                            <option value="KY">KY</option>
                            <option value="LA">LA</option>
                            <option value="MA">MA</option>
                            <option value="MD">MD</option>
                            <option value="ME">ME</option>
                            <option value="MH">MH</option>
                            <option value="MI">MI</option>
                            <option value="MN">MN</option>
                            <option value="MO">MO</option>
                            <option value="MP">MP</option>
                            <option value="MS">MS</option>
                            <option value="MT">MT</option>
                            <option value="NC">NC</option>
                            <option value="ND">ND</option>
                            <option value="NE">NE</option>
                            <option value="NH">NH</option>
                            <option value="NJ">NJ</option>
                            <option value="NM">NM</option>
                            <option value="NV">NV</option>
                            <option value="NY">NY</option>
                            <option value="OH">OH</option>
                            <option value="OK">OK</option>
                            <option value="OR">OR</option>
                            <option value="PA">PA</option>
                            <option value="PR">PR</option>
                            <option value="PW">PW</option>
                            <option value="RI">RI</option>
                            <option value="SC">SC</option>
                            <option value="SD">SD</option>
                            <option value="TN">TN</option>
                            <option value="TX">TX</option>
                            <option value="UT">UT</option>
                            <option value="VA">VA</option>
                            <option value="VI">VI</option>
                            <option value="VT">VT</option>
                            <option value="WA">WA</option>
                            <option value="WI">WI</option>
                            <option value="WV">WV</option>
                            <option value="WY">WY</option>
                        </select>
                        <span id="PC21803_ctl00_PersonalInfoShippingAddress_AddressControl_lblreq_stateUS" class="BBFormRequiredFieldMarker DonationCaptureRequiredFieldMarker">*</span>
                        <span id="PC21803_ctl00_PersonalInfoShippingAddress_AddressControl_ctl04" style="display:none;"></span><span id="PC21803_ctl00_PersonalInfoShippingAddress_AddressControl_ctl09" style="display:none;"></span>
                    </div>
                    <div id="PC21803_ctl00_PersonalInfoShippingAddress_AddressControl_AUIUSZip" class="BBDivFieldContainer">
                        <label for="PC21803_ctl00_PersonalInfoShippingAddress_AddressControl_tb_zipUS" id="PC21803_ctl00_PersonalInfoShippingAddress_AddressControl_lblZipUS" class="BBDivFieldCaption DCFieldCaption">ZIP:</label>
                        <input name="PC21803$ctl00$PersonalInfoShippingAddress$AddressControl$tb_zipUS" type="text" maxlength="12" id="PC21803_ctl00_PersonalInfoShippingAddress_AddressControl_tb_zipUS" class="BBFormTextbox DCTextboxWide" validateas="Zip">
                        <span id="PC21803_ctl00_PersonalInfoShippingAddress_AddressControl_lblreq_zipUS" class="BBFormRequiredFieldMarker DonationCaptureRequiredFieldMarker">*</span>
                    </div>
                    <span id="PC21803_ctl00_PersonalInfoShippingAddress_AddressControl_ctl05" style="display:none;"></span><span id="PC21803_ctl00_PersonalInfoShippingAddress_AddressControl_ctl10" style="display:none;"></span>
                    <div class="BBDivFieldContainer">
                        <label for="PC21803_ctl00_PersonalInfoShippingAddress_txtPhoneNumber" id="PC21803_ctl00_PersonalInfoShippingAddress_lblPhoneNumber" class="BBDivFieldCaption DCFieldCaption">Phone:</label>
                        <input name="PC21803$ctl00$PersonalInfoShippingAddress$txtPhoneNumber" type="text" maxlength="30" id="PC21803_ctl00_PersonalInfoShippingAddress_txtPhoneNumber" class="BBFormTextbox DCTextboxWide">
                    </div>
                    <div class="BBDivFieldContainer">
                        <span id="PC21803_ctl00_PersonalInfoShippingAddress_MultipleEmailControl_AddressTypeLabel" class="BBDivFieldCaption DCFieldCaption">Email type:</span>
                        <select name="PC21803$ctl00$PersonalInfoShippingAddress$MultipleEmailControl$AddressTypeDD" id="PC21803_ctl00_PersonalInfoShippingAddress_MultipleEmailControl_AddressTypeDD" class="BBFormSelectList DonationCaptureSelectList" aria-label="AddressTypeLabel">
                            <option selected="selected" value="1455da2c-87b5-44b9-83e4-4886859676c1">Business</option>
                            <option value="0752f1e6-cfe0-4418-804a-de44d7baaa7c">Home</option>
                        </select>
                    </div>
                    <div class="BBDivFieldContainer">
                        <span id="PC21803_ctl00_PersonalInfoShippingAddress_MultipleEmailControl_EmailLabel" class="BBDivFieldCaption DCFieldCaption" for="txtEmailAddress">Email:</span><input name="PC21803$ctl00$PersonalInfoShippingAddress$MultipleEmailControl$txtEmailAddress" type="text" value="First.Last@foundation.uc.edu" maxlength="100" id="PC21803_ctl00_PersonalInfoShippingAddress_MultipleEmailControl_txtEmailAddress" class="BBFormTextbox DCTextboxWide" aria-label="EmailLabel"><span id="PC21803_ctl00_PersonalInfoShippingAddress_MultipleEmailControl_lblReqEmailAddress" class="BBFormRequiredFieldMarker DonationCaptureRequiredFieldMarker">*</span>
                    </div>
                    <span id="PC21803_ctl00_PersonalInfoShippingAddress_MultipleEmailControl_ctl00" style="display:none;"></span><span id="PC21803_ctl00_PersonalInfoShippingAddress_MultipleEmailControl_ctl01" style="display:none;"></span>
                    <span id="PC21803_ctl00_PersonalInfoShippingAddress_ctl00" style="display:none;"></span><span id="PC21803_ctl00_PersonalInfoShippingAddress_ctl01" style="display:none;"></span><span id="PC21803_ctl00_PersonalInfoShippingAddress_ctl02" style="display:none;"></span><span id="PC21803_ctl00_PersonalInfoShippingAddress_ctl03" style="display:none;"></span><span id="PC21803_ctl00_PersonalInfoShippingAddress_ctl04" style="display:none;"></span><span id="PC21803_ctl00_PersonalInfoShippingAddress_ctl05" style="display:none;"></span><span id="PC21803_ctl00_PersonalInfoShippingAddress_ctl06" style="display:none;"></span>
                    <div class="BBClear"></div>
                    <div id="divUseAsBilling" class="PaymentPart_UseAsBillingContainer">
                        <span class="PaymentPart_PesonalInfoCheckbox"><input id="PC21803_ctl00_chkUseAsBilling" type="checkbox" name="PC21803$ctl00$chkUseAsBilling" checked="checked"><label for="PC21803_ctl00_chkUseAsBilling">Use this as my billing address</label></span>
                    </div>
                    <div class="BBClear"></div>
                    <div id="divUseAsShipping" class="PaymentPart_UseAsShippingContainer">
                    </div>
                </div>
                <div id="PC21803_ctl00_divCaptcha" style="display: none;">
                    <div class="BBListingHeading PaymentPart_SectionHeading">
                        <span id="PC21803_ctl00_lblCaptchaHeading">Additional Security</span>
                    </div>
                    <div class="DonationCaptchaInformation">
                        <span id="PC21803_ctl00_lblCaptchaInfo">This is a security measure to help prevent fraud.</span>
                    </div>
                    <div style="text-align: left;">
                        <style type="text/css">
                            /* New Classes */ .Captcha {
                            margin: 0px;
                            }
                            .CaptchaCaption {
                            float: left;
                            clear: left;
                            width: 125px;
                            text-align: right;
                            padding-right: 5px;
                            padding-left: 10px;
                            }
                            .CaptchaControlCell {
                            margin-left: 140px;
                            clear: right;
                            margin-top: 3px;
                            }
                            .CaptchaResponse {
                            width: 296px;
                            }
                            .CaptchaImageContainer {
                            border: 1px solid #AAAAAA;
                            text-align: center;
                            }
                            .CaptchaImageContainerNew {
                            text-align: center;
                            }
                            .CaptchaActionLinkContainer {
                            text-align: right;
                            }
                            /* Do NOT Include In Stylesheet Editor */ /* We do not want clients styling "reCaptcha" name invisible for licensing reasons */
                            .CaptchaName {
                            text-align: right;
                            color: #595959;
                            font-size: 85%;
                            }
                        </style>
                        <input type="hidden" name="PC21803$ctl00$myCaptcha$hidChallenge" id="PC21803_ctl00_myCaptcha_hidChallenge">
                        <input type="hidden" name="PC21803$ctl00$myCaptcha$hidCaptchaVersion" id="PC21803_ctl00_myCaptcha_hidCaptchaVersion" value="V2">
                        <span id="PC21803_ctl00_myCaptcha_lblNoCaptcha" style="display:none;">Unable to load the reCAPTCHA image.  The public key (vissing) might be invalid for this domain.</span>
                        <div class="DonationCaptcha">
                            <dl id="PC21803_ctl00_myCaptcha_dlYesCaptcha" style="">
                                <dt></dt>
                                <dd class="DonationCaptchaControlCell">
                                    <div class="CaptchaName">
                                        reCAPTCHA<sup>TM</sup>
                                    </div>
                                    <div id="PC21803_ctl00_myCaptcha_pnlImageContainer" class="CaptchaImageContainerNew">
                                        <div style="width: 304px; height: 78px;">
                                            <div><iframe title="reCAPTCHA" width="304" height="78" role="presentation" name="a-yrwuc7kaiyyc" frameborder="0" scrolling="no" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox allow-storage-access-by-user-activation" src="https://www.google.com/recaptcha/api2/anchor?ar=1&amp;k=vissing&amp;co=aHR0cHM6Ly9mb3VuZGF0aW9uLnVjLmVkdTo0NDM.&amp;hl=en&amp;v=EGbODne6buzpTnWrrBprcfAY&amp;theme=light&amp;size=normal&amp;cb=nbik1q1tj07i"></iframe></div>
                                            <textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"></textarea>
                                        </div>
                                        <iframe style="display: none;"></iframe>
                                    </div>
                                </dd>
                                <dt id="PC21803_ctl00_myCaptcha_dtMain" class="<%=CssClassCaption%>" style="display:none;">
                                    <label for="PC21803_ctl00_myCaptcha_txtResponse" id="PC21803_ctl00_myCaptcha_lblImage" class="recaptcha_only_if_image">Enter the text:</label>
                                    <label for="PC21803_ctl00_myCaptcha_txtResponse" id="PC21803_ctl00_myCaptcha_lblAudio" class="recaptcha_only_if_audio">Type what you hear:</label>
                                </dt>
                                <dd id="PC21803_ctl00_myCaptcha_ddResponse" class="<%=CssClassControlCell %>" style="display:none;">
                                    <input name="PC21803$ctl00$myCaptcha$txtResponse" type="text" id="PC21803_ctl00_myCaptcha_txtResponse" class=" BBFormTextbox DonationCaptureTextboxWide" autocomplete="false">
                                    <span class="BBFormRequiredFieldMarker DonationCaptureRequiredFieldMarker">*</span>
                                </dd>
                                <dt id="PC21803_ctl00_myCaptcha_dtSub" style="display:none;"></dt>
                                <dd id="PC21803_ctl00_myCaptcha_ddLinks" class="<%=CssClassControlCell %>" style="display:none;">
                                    <div class="DonationCaptchaActionLinkContainer">
                                        <a href="https://foundation.uc.edu/payment?csid=3506FE0B-149D-459e-A48B-98FE6E322FF4" id="PC21803_ctl00_myCaptcha_lnkReload">
                                        Get a new challenge</a> &nbsp;|&nbsp; <a href="https://foundation.uc.edu/payment?csid=3506FE0B-149D-459e-A48B-98FE6E322FF4" id="PC21803_ctl00_myCaptcha_lnkGetAudio" class=" recaptcha_only_if_image">
                                        Get an audio challenge</a> <a href="https://foundation.uc.edu/payment?csid=3506FE0B-149D-459e-A48B-98FE6E322FF4" id="PC21803_ctl00_myCaptcha_lnkGetImage" class=" recaptcha_only_if_audio">
                                        Get a visual challenge</a>
                                    </div>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="PC21803$ctl00$itemsToRemove" id="PC21803_ctl00_itemsToRemove">
                <input type="hidden" name="PC21803$ctl00$hdnReCaptchaRequired" id="PC21803_ctl00_hdnReCaptchaRequired" value="True">
                <div id="PC21803_ctl00_BottomLinkBar" class="PaymentPart_Controls">
                    <input type="submit" name="PC21803$ctl00$ButtonCheckout" value="REVIEW" onclick="(function(btn){var bDisableMe=true;if(typeof(Page_ClientValidate)=='function'){bDisableMe=Page_ClientValidate('PC21803');}__doPostBack('PC21803$ctl00$ButtonCheckout','');btn.disabled=bDisableMe;})(this);return false;WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;PC21803$ctl00$ButtonCheckout&quot;, &quot;&quot;, true, &quot;PC21803&quot;, &quot;&quot;, false, false))" id="PC21803_ctl00_ButtonCheckout" class="BBFormSubmitbutton PaymentPartSubmitButton" style="display:none;">
                    <input type="submit" name="PC21803$ctl00$ButtonCheckoutSupport" value="REVIEW" onclick="BLACKBAUD.netcommunity.CartDisplay.PaymentCheckout(); return false;(function(btn){var bDisableMe=true;__doPostBack('PC21803$ctl00$ButtonCheckoutSupport','');btn.disabled=bDisableMe;})(this);return false;" id="PC21803_ctl00_ButtonCheckoutSupport" class="BBFormSubmitbutton PaymentPartSubmitButton">
                    <input type="submit" name="PC21803$ctl00$btnPopupCheckoutComplete" value="" onclick="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;PC21803$ctl00$btnPopupCheckoutComplete&quot;, &quot;&quot;, true, &quot;&quot;, &quot;&quot;, false, false))" id="btnPopupCheckoutComplete" style="display: none">
                    <input type="hidden" name="PC21803$ctl00$hdnTokenID" id="PC21803_ctl00_hdnTokenID">
                </div>
                <div id="mpeConsentPopup_backgroundElement" class="BBModalBackground" style="display: none; position: fixed; left: 0px; top: 0px;"></div>
            </div>
            <a id="PC21803_ctl00_cartUpdated" href="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;PC21803$ctl00$cartUpdated&quot;, &quot;&quot;, true, &quot;&quot;, &quot;&quot;, false, true))" style="display:none"></a>
        </div>
        <div id="bbspLoadingOverlay" class="bbspLoadingOverlay" style="">
            <img src="/images/FormEngine/Loading.gif" alt="" class="bbspLoadingImage">
        </div>
        <div id="PC21803_ctl00_dvScript">
            <script>
                var bbcheckout;
                var CurrencyDecimalSeparator = '.',
                    CurrencyGroupSeparator = ',';
                $(function () {
                    bbcheckout = new BBCheckoutProcessor(BLACKBAUD.netcommunity.PaymentCheckoutDisplay, CheckoutModel_Controller, CheckoutModel_Validator, null, CheckoutModel_QueryParams);
                    bbcheckout.Configuration.Data.Key = CheckoutModel_PublicKey;
                    bbcheckout.Configuration.TransactionType = CheckoutModel_TransactionType;
                    bbcheckout.Configuration.Data.ClientAppName = CheckoutModel_ClientAppName;
                    bbcheckout.Configuration.Data.MerchantAccountId = CheckoutModel_MerchantAccountId;
                    bbcheckout.Configuration.Data.IsEmailRequired = CheckoutModel_IsEmailRequired;
                    bbcheckout.Configuration.Data.IsNameVisible = CheckoutModel_IsNameVisible;
                    bbcheckout.Configuration.Data.PrimaryColor = CheckoutModel_PrimaryColor;
                    bbcheckout.Configuration.Data.SecondaryColor = CheckoutModel_SecondaryColor;
                    bbcheckout.Configuration.Data.FontFamily = CheckoutModel_FontFamily;
                    bbcheckout.Configuration.WorkflowType = CheckoutModel_WorkflowType;
                    bbcheckout.Configuration.HandleBrowserClosing = CheckoutModel_HandleBrowserClosing;
                    bbcheckout.Configuration.APITokenID = CheckoutModel_Validator;
                    bbcheckout.Configuration.Data.CMSTransactionId = CheckoutModel_Validator;
                    bbcheckout.Configuration.ContentId = CheckoutModel_ContentId;
                    bbcheckout.Configuration.TempConfirmationHtml = CheckoutModel_TempConfirmationHtml;
                    bbcheckout.Configuration.Data.UseCaptcha = (RecaptchaRequired === 'True');
                    bbcheckout.Configuration.AllowSiteTracking = CheckoutModel_AllowSiteTracking;
                    bbcheckout.intializeCheckout();
                    totalDueAmount = BLACKBAUD.netcommunity.CartDisplay.getDecimalAmount(totalDueAmount, CurrencyDecimalSeparator, CurrencyGroupSeparator);
                });
            </script>
        </div>

    </div><!--end l-container"-->

</main>
{{> molecules-back-to-top }}
{{> organisms-footer }}