{{> molecules-skip-link }}
{{> organisms-header }}

<main id="main" role="main">
	<div class="hero">
		<div class="vimeo-wrapper">
			<iframe src="https://www.youtube.com/embed/tEvXOAQjHiY?controls=0&rel=0&modestbranding=1&muted=1&loop=1&autoplay=1&enablejsapi=1&showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

			<!--<iframe src="https://www.youtube.com/embed/tEvXOAQjHiY?si=SNgs8P15i0wGcP0F&autoplay=1&muted=1&loop=1&controls=0&rel=0&enablejsapi=1" title="FY24 LeadGen Header Mantei UCF - background video" frameborder="0" allow="autoplay; encrypted-media" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>-->
			<!--<iframe src="https://www.youtube.com/embed/tEvXOAQjHiY?autoplay=1&loop=1&rel=0&enablejsapi=1&muted=1&loop=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>-->

            {{!-- <iframe id="player1" src="https://player.vimeo.com/video/857854851?background=1&amp;autoplay=1&amp;loop=1&amp;byline=0&amp;title=0" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" data-gtm-yt-inspected-8="true" data-gtm-yt-inspected-214685_1664="true" data-gtm-yt-inspected-214685_1665="true" data-gtm-yt-inspected-214685_1672="true" data-ready="true"></iframe> --}}
        </div>
		<div class="l-container flex flex-between flex-row relative" style="z-index: 3;">
          	<div class="relative flow">
            	<h1>Next, Now</h1>
              	<h2>Make an Impact today!</h2>
              	<p>Hero placeholder text here.</p>
				<a href="#" class="btn-link">Button Link</a>
          	</div>
			<div class="hide">
				<div class="amounts-popup">
					<a href="https://ucfnd-stg-bbisfoun.ucfnd.concourse.host/2023-ucf-give-custom" class="btn-link black-bg">Make a Gift</a> 
					<ul>
						<li><a style="text-decoration: none !important;" href="https://ucfnd-stg-bbisfoun.ucfnd.concourse.host/2023-ucf-give-custom?amount=50">$50</a></li>
						<li><a style="text-decoration: none !important;" href="https://ucfnd-stg-bbisfoun.ucfnd.concourse.host/2023-ucf-give-custom?amount=100">$100</a></li>
						<li><a style="text-decoration: none !important;" href="https://ucfnd-stg-bbisfoun.ucfnd.concourse.host/2023-ucf-give-custom?amount=250">$250</a></li>
					</ul>
				</div>
			</div>
        </div>
		<div class="video-control l-container flex flex-end">
            <button class="play disabled" onClick="controlVideo('playVideo');">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
					<path d="M464 256A208 208 0 1 0 48 256a208 208 0 1 0 416 0zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zM188.3 147.1c7.6-4.2 16.8-4.1 24.3 .5l144 88c7.1 4.4 11.5 12.1 11.5 20.5s-4.4 16.1-11.5 20.5l-144 88c-7.4 4.5-16.7 4.7-24.3 .5s-12.3-12.2-12.3-20.9V168c0-8.7 4.7-16.7 12.3-20.9z"/>
				</svg>
			</button>
            <button class="pause" onClick="controlVideo('pauseVideo')"">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
					<path d="M464 256A208 208 0 1 0 48 256a208 208 0 1 0 416 0zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zm224-72V328c0 13.3-10.7 24-24 24s-24-10.7-24-24V184c0-13.3 10.7-24 24-24s24 10.7 24 24zm112 0V328c0 13.3-10.7 24-24 24s-24-10.7-24-24V184c0-13.3 10.7-24 24-24s24 10.7 24 24z"/>
				</svg>
			</button>
        </div>
	</div>

	<section class="relative white-bg">
		<div class="l-container p-3 text-center flow">
			<h2 class="heading-divider">Empower Our Next Scholars</h2>
        	<p class="large">Scholarships support student excellence and access. They keep the best and brightest in Cincinnati, they encourage exploration of growing fields of study, and they make the dream of college a reality for thousands of our students.</p>
        	<p class="large">These are the learners who will become the leaders. These are the generational trailblazers, big-picture problem-solvers and global innovators our world needs—and you can help them get there.</p>
      		<p class="large" style="margin-bottom: 40px;"><a class="btn-link bold" href="https://ucfnd-stg-bbisfoun.ucfnd.concourse.host/ds-advanced-donation-form">Give Now</a></p>
		</div>
	</section>

	<section class="red-bg lockup-bg relative">
		<div class="l-container relative flex flex-between gap-2 p-1">
			<div class="card whitebox flow flex flex-column white-bg">
				<img src="https://placehold.co/600x400">
				<div class="p-1">
					<p>"My scholarship means the world to me. With this scholarship, I have been given hope and aspirations to grow into the woman I am working to become."</p>
					<p class="text-right">— Jane, Class of 2024</p>
				</div>				
			</div>
			<div class="card whitebox flow flex flex-column white-bg">
				<img src="https://placehold.co/600x400">
				<div class="p-1">
					<p>"My scholarship means the world to me. With this scholarship, I have been given hope and aspirations to grow into the woman I am working to become."</p>
					<p class="text-right">— Jane, Class of 2024</p>
				</div>				
			</div>
			<div class="card whitebox flow flex flex-column white-bg">
				<img src="https://placehold.co/600x400">
				<div class="p-1">
					<p>"My scholarship means the world to me. With this scholarship, I have been given hope and aspirations to grow into the woman I am working to become."</p>
					<p class="text-right">— Jane, Class of 2024</p>
				</div>				
			</div>
		</div>
	</section>

	<section class="white-bg relative p-3">
		<div class="container l-container flex flex-between gap-2 relative">
			<div class="icon-stats flex wrap justify-center">
				<div class="card text-center one-third p-1">
					<img src="https://foundation.uc.edu/image/UCFoundation_Black_Icon_Fundraising.png" alt="Fundraising icon">
					<p class="red uppercase bold jost">$212 Million</p>
					<p class="uppercase bold">raised for scholarships and fellowships</p>
				</div>
				<div class="card text-center one-third p-1">
					<img src="https://foundation.uc.edu/image/UCFoundation_Black_Icon_Globe.png" alt="Globe icon">
					<p class="red uppercase bold jost">131,000+</p>
					<p class="uppercase bold">donors donated to a scholarship</p>
				</div>
				<div class="card text-center one-third p-1">
					<img src="https://foundation.uc.edu/image/UCFoundation_Black_Icon_Diversity_Inclusion_2.png" alt="Diversity &amp; Inclusion  hands icon in the shape of a heart">
					<p class="red uppercase bold jost">$67 Million</p>
					<p class="uppercase bold">new endowed scholarships created</p>
				</div>
			</div>
		</div>
	</section>
	
	{{!-- {{> organisms-animated-gallery }} --}}

</main>
{{> molecules-back-to-top }}
{{> organisms-footer }}