{{> organisms-header }}

<main role="main">
	<div class="hero">
		<div class="vimeo-wrapper">
            <iframe id="player1" src="https://player.vimeo.com/video/857854851?background=1&amp;autoplay=1&amp;loop=1&amp;byline=0&amp;title=0" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" data-gtm-yt-inspected-8="true" data-gtm-yt-inspected-214685_1664="true" data-gtm-yt-inspected-214685_1665="true" data-gtm-yt-inspected-214685_1672="true" data-ready="true"></iframe>
        </div>
		<div class="l-container flex flex-between flex-row full-width relative" style="z-index: 3;">
          	<div class="relative flow">
            	<h1>Next, Now</h1>
              	<h2>Make an Impact today!</h2>
              	<p>Hero placeholder text here.</p>
				<a href="#" class="btn-link">Button Link</a>
          	</div>
			<div class="hide">
				<div class="amounts-popup">
					<a href="https://ucfnd-stg-bbisfoun.ucfnd.concourse.host/2023-ucf-give-custom" class="btn-link black-bg">Make a Gift</a> 
					<ul>
						<li><a style="text-decoration: none !important;" href="https://ucfnd-stg-bbisfoun.ucfnd.concourse.host/2023-ucf-give-custom?amount=50">$50</a></li>
						<li><a style="text-decoration: none !important;" href="https://ucfnd-stg-bbisfoun.ucfnd.concourse.host/2023-ucf-give-custom?amount=100">$100</a></li>
						<li><a style="text-decoration: none !important;" href="https://ucfnd-stg-bbisfoun.ucfnd.concourse.host/2023-ucf-give-custom?amount=250">$250</a></li>
					</ul>
				</div>
			</div>
        </div>
		<div class="video-control l-container flex flex-end">
            <button class="play disabled">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
					<path d="M464 256A208 208 0 1 0 48 256a208 208 0 1 0 416 0zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zM188.3 147.1c7.6-4.2 16.8-4.1 24.3 .5l144 88c7.1 4.4 11.5 12.1 11.5 20.5s-4.4 16.1-11.5 20.5l-144 88c-7.4 4.5-16.7 4.7-24.3 .5s-12.3-12.2-12.3-20.9V168c0-8.7 4.7-16.7 12.3-20.9z"/>
				</svg>
			</button>
            <button class="pause">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
					<path d="M464 256A208 208 0 1 0 48 256a208 208 0 1 0 416 0zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zm224-72V328c0 13.3-10.7 24-24 24s-24-10.7-24-24V184c0-13.3 10.7-24 24-24s24 10.7 24 24zm112 0V328c0 13.3-10.7 24-24 24s-24-10.7-24-24V184c0-13.3 10.7-24 24-24s24 10.7 24 24z"/>
				</svg>
			</button>
        </div>
	</div>

	<section class="relative white-bg">
		<div class="l-container p-3 text-center">
			<h2>Next Now</h2>
			<p>The Campaign for Cincinnati</p>
			<p class="large">Transformational gifts. New partnerships. Record-breaking Days of Giving. Former students honoring mentors. Donors advancing our understanding of COVID-19.</p>
			<hr class="short thick">
			<h3>Mission Statement:</h3>
			<p class="italic">To inspire a community of UC and UC Health supporters through the power of philanthropy.</p>
		</div>
	</section>

	<section class="red-bg lockup-bg relative">
		<div class="l-container relative flex flex-between gap-2 p-1">
			<div class="card whitebox flow flex flex-column white-bg">
				<img src="https://placehold.co/600x400">
				<p>"My scholarship means the world to me. With this scholarship, I have been given hope and aspirations to grow into the woman I am working to become."</p>
				<p class="text-right">— Jane, Class of 2024</p>
			</div>
			<div class="card whitebox flow flex flex-column white-bg">
				<img src="https://placehold.co/600x400">
				<p>"My scholarship means the world to me. With this scholarship, I have been given hope and aspirations to grow into the woman I am working to become."</p>
				<p class="text-right">— Jane, Class of 2024</p>
			</div>
			<div class="card whitebox flow flex flex-column white-bg">
				<img src="https://placehold.co/600x400">
				<p>"My scholarship means the world to me. With this scholarship, I have been given hope and aspirations to grow into the woman I am working to become."</p>
				<p class="text-right">— Jane, Class of 2024</p>
			</div>
		</div>
	</section>

	{{> organisms-animated-gallery }}

	<div class="l-container">
		{{# hero }}
		{{!-- {{> molecules-hero width="1200" height="800" }} --}}
		{{/ hero }}	
	</div>

</main>
{{> organisms-footer }}
