{{> molecules-skip-link }}
{{> organisms-header }}
{{!-- {{> atoms-page-title }} --}}

<div class="page-title relative">
    <div class="l-container">
        <h1>UC Gardner Neuroscience Institute</h1>
    </div>
</div>
<main id="main" role="main">

	<style>
  
        .carousel {
            position: relative;
            width: 100%;
            margin: auto;
            overflow: hidden;
        }

        .carousel__slides {
            display: flex;
            transition: transform 0.5s ease-in-out;
        }

        .carousel__slide {
            min-width: 100%;
        }

        .carousel__slide img {
            display: block;
            width: 100%;
        }

        .carousel__button {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background: rgba(0, 0, 0, 0.5);
            border: none !important;
            cursor: pointer;
            background-image: url(https://foundation.uc.edu/image/sliderarrows.png);
            background-repeat: no-repeat;
            background-position: center;
            width: 50px;
            height: 75px;
        }

        .carousel__button--prev {
            background-position: 15px 25px;
            left: 0;
        }

        .carousel__button--next {
            background-position: -165px 25px;
            right: 0;
        }
        
        @media (max-width: 768px) {
            .carousel__button {  
                width: 30px;
                height: 55px;
            }
        
            .carousel__button--prev {
                background-position: 5px 15px;
            }

            .carousel__button--next {
                background-position: -170px 15px
            }
        }

    </style>

    <section class="p-0">
        <div id="article" class="story">

            <nav class="anchor-scroll-nav">
                <ul class="nav-list">
                    <li><a href="#vision">Our Vision</a></li>
                    <li><a href="#stories">Stories</a></li>
                    <li><a href="#make-impact">Make Your Impact</a></li>      
                    <li><a href="#what-matters">What Matters to You</a></li>        	
                    <li><a href="#ways-to-give">Ways to Give</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </nav>
            <div class="story-image">
                <div id="carousel" class="carousel" aria-roledescription="carousel" aria-label="Accessible Carousel">
                    <div id="carousel__slides" class="carousel__slides"></div>
                    <a href="#" class="carousel__button carousel__button--prev" aria-label="Previous slide"></a>
                    <a href="#" class="carousel__button carousel__button--next" aria-label="Next slide"></a>
                </div>            
            </div>
        
            <script>
            
                document.addEventListener("DOMContentLoaded", function () {
                    const images = [
                        'https://foundation.uc.edu/image/CG-Photos-0704-X3.jpg', 
                        'https://foundation.uc.edu/image/DDC-ALS-Clinic-92-X3.jpg', 
                        'https://foundation.uc.edu/image/7A8A0002-X3.jpg', 
                        'https://foundation.uc.edu/image/Stroke-Research-Meeting-26-X3.jpg'
                    ];

                    const shuffle = array => {
                        for (let i = array.length - 1; i > 0; i--) {
                            const j = Math.floor(Math.random() * (i + 1));
                            const temp = array[i];
                            array[i] = array[j];
                            array[j] = temp;
                        }
                    }

                    const shuffledArray = shuffle(images); 

                    const container = document.getElementById("carousel__slides");
    
                    for (let i = 0; i < images.length; i++) {
                        const newDiv = document.createElement("div");
                        newDiv.classList.add("carousel__slide");
                        newDiv.setAttribute("aria-roledescription", "slide");
                        let slideNumber = i + 1;
                        newDiv.setAttribute("aria-label", slideNumber + " of 4");

                        const img = document.createElement('img');
                        img.src = images[i];
                        newDiv.appendChild(img);
                        container.appendChild(newDiv);
                    }

                    const carousel = document.querySelector(".carousel__slides");
                    const slides = document.querySelectorAll(".carousel__slide");
                    const prevButton = document.querySelector(".carousel__button--prev");
                    const nextButton = document.querySelector(".carousel__button--next");
                    let currentSlide = 0;            

                    function updateSlide(position) {
                        carousel.style.transform = `translateX(-${position * 100}%)`;
                        carousel.setAttribute(
                            "aria-label",
                            `Slide ${position + 1} of ${slides.length}`
                        );
                    }

                    function showNextSlide() {
                        currentSlide = (currentSlide + 1) % slides.length;
                        updateSlide(currentSlide);
                    }

                    function showPrevSlide() {
                        currentSlide = (currentSlide - 1 + slides.length) % slides.length;
                        updateSlide(currentSlide);
                    }

                    nextButton.addEventListener("click", showNextSlide);
                    prevButton.addEventListener("click", showPrevSlide);

                    document.addEventListener("keydown", function (event) {
                        event.preventDefault();
                        if (event.key === "ArrowRight") {
                            showNextSlide();
                        } else if (event.key === "ArrowLeft") {
                            showPrevSlide();
                        }
                    });

                    slides.forEach((slide, index) => {
                        slide.setAttribute("tabindex", index === 0 ? 0 : -1);
                    });

                    carousel.addEventListener("focusin", function (event) {
                        event.preventDefault();
                        const focusIndex = Array.from(slides).indexOf(document.activeElement);
                        if (focusIndex !== -1) {
                            currentSlide = focusIndex;
                            updateSlide(currentSlide);
                        }
                    });
                });
            
            </script>
        
            <div id="message" class="l-container">
                <div class="content flow" style="padding-bottom: 2rem;">
                    <h2 class="text-center" style="margin-top: 0 !important;">At the forefront of research and care</h2>
                    <div class="text-center">
                        <div style="display: block; margin: 0 auto;">
                            <iframe class="youtube-video" width="560" height="315" src="https://www.youtube.com/embed/yDZGTe6xIXg?si=JBbvfw8INpz8XRvn" title="University of Cincinnati anthem video" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>   

                        <div id="videoPlayer" class="flex flex-column gap-1">
                            <div class="video-container">
                                <iframe name="video-player" class="youtube-video" width="640" height="360" src="https://www.youtube.com/embed/yDZGTe6xIXg?si=JBbvfw8INpz8XRvn" frameborder="0" allow="autoplay 'self'; fullscreen 'self'" allowfullscreen="allowfullscreen"></iframe>
                            </div>
                            <div class="video-list youtube-video flex flex-row" style="overflow: hidden; height: 100%; max-width: 100%;">
                                <div class="thumbnail one-fourth active" data-url="https://www.youtube.com/embed/yDZGTe6xIXg?si=JBbvfw8INpz8XRvn">
                                    <a href="https://www.youtube.com/embed/yDZGTe6xIXg?si=JBbvfw8INpz8XRvn" target="video-player"></a>
                                    <div class="thumbnail-img"><img src="https://i.ytimg.com/vi/yDZGTe6xIXg/mqdefault.jpg"></div>
                                    <div class="thumbnail-info text-left">
                                        <p>Lauren's Story</p>
                                    </div>
                                </div>
                                <div class="thumbnail one-fourth" data-url="https://www.youtube.com/embed/yDZGTe6xIXg?si=JBbvfw8INpz8XRvn"></div>
                                    <a href="https://www.youtube.com/embed/yDZGTe6xIXg?si=JBbvfw8INpz8XRvn" target="video-player"></a>
                                    <div class="thumbnail-img"><img src="https://i.ytimg.com/vi/yDZGTe6xIXg/mqdefault.jpg"></div>
                                    <div class="thumbnail-info text-left">
                                        <p>Lauren's Story</p>
                                    </div>
                                </div>
                                <div class="thumbnail one-fourth" data-url="https://www.youtube.com/embed/PHzY9RWaG4k">
                                    <a href="https://www.youtube.com/embed/PHzY9RWaG4k" target="video-player"></a>
                                    <div class="thumbnail-img"><img src="https://i.ytimg.com/vi/PHzY9RWaG4k/mqdefault.jpg"></div>
                                    <div class="thumbnail-info text-left">
                                        <p>Dr. George Rieveschl Jr. - UC's Founder of Philanthropy</p>
                                    </div>
                                </div>
                                <div class="thumbnail one-fourth" data-url="https://www.youtube.com/embed/UEz8QlQjz2k">
                                    <a href="https://www.youtube.com/embed/UEz8QlQjz2k" target="video-player"></a>
                                    <div class="thumbnail-img"><img src="https://i.ytimg.com/vi/UEz8QlQjz2k/mqdefault.jpg"></div>
                                    <div class="thumbnail-info text-left">
                                        <p>UC Foundation: Recruiting Excellence</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div> 
                </div>
            </div>

        </div>
    </section>

    <section id="vision" class="white-bg relative py-1">
        <div class="l-container flow">
            <h2 class="text-center" style="margin-bottom: 0 !important;">Our Vision</h2>        
            <div class="flex">
                <div class="two-thirds flow">
                    <p>Focused on the pursuit of lifelong brain health, we are recruiting and retaining top talent for research and care and leveraging the power of big data to provide personalized medicine that improves the lives of our patients and their families.</p>
                </div>
                <div class="one-third px-2 my-1-sm">
                    <a href="https://issuu.com/roetj/docs/ucgni_general_case?fr=xKAE9_zU1NQ" class="link-img-text" data-modal-open="modal_1">
                        <p class="text-center"><img width="200" class="my-auto" src="https://foundation.uc.edu/image/UCH_UCGNI-General-Case-270x335.jpg" alt="A 10-Year Vision for Neuroscience"></p>
                        <p class="text" style="margin: 0; text-align: center;">
                            <strong>View our Vision</strong>
                        </p>
                    </a>
                    {{!-- <div id="modal_1" data-modal>
                        <div data-modal-document>
                            <h2 class="text-center">Our Vision</h2>
                            <iframe name="annualReport" class="my-auto" width="1024" height="776" src="https://issuu.com/roetj/docs/ucgni_general_case?fr=xKAE9_zU1NQ" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div> --}}
                </div>
            </div>
        </div>
    </section>

    <section id="stories" class="red-bg lockup-bg relative py-1">
        <h2 class="text-center m-0 p-0 white">You Make it Happen</h2>
        <div class="related-stories py-2 relative">
            <div class="l-container">
                <div class="flex flex-row flex-between gap-1 row">
                    <div class="one-third">
                        <a href="https://www.uchealth.com/en/media-room/press-releases/13-million-from-hugh-h-hoffman-estate-supports-als-research-and-patient-care" class="c-stacked-block card whitebox related flex flex-column white-bg ">
                            <div class="c-stacked-block__header">
                                <div class="c-stacked-block__media">
                                    <div class="image" style="background-image: url(https://ucfnd-stg-bbisfoun.ucfnd.concourse.host/image/ucgni-als-gift1.jpg);">
                                    </div>
                                </div>
                            </div>
                            <div class="c-stacked-block__body flow">
                                <h3 class="c-stacked-block__title">$13.5 million from Hugh H. Hoffman estate supports ALS research and patient care</h3>
                                <p>Donation advances patient care, research and education at UC Gardner Neuroscience Institute.</p>
                            </div>
                            <!-- end c-stacked-block__body -->
                        </a>
                        <!-- end c-stacked-block -->
                    </div>
                    <div class="one-third">
                        <a href="https://foundation.uc.edu/news/gardner-gift-to-neuro-icu" class="c-stacked-block card whitebox related flex flex-column white-bg ">
                            <div class="c-stacked-block__header">
                                <div class="c-stacked-block__media">
                                    <div class="image" style="background-image: url(https://ucfnd-stg-bbisfoun.ucfnd.concourse.host/image/0f3f8aa2-a887-41db-9a21-fd99034a05d6.jpg);">
                                    </div>
                                </div>
                            </div>
                            <div class="c-stacked-block__body flow">
                                <h3 class="c-stacked-block__title">Gardner Family Foundation gifts $5.25 million to UC Health for neurological care</h3>
                                <p>Donation will support facility upgrades to neuroscience floor at UC Medical Center.</p>
                            </div>
                            <!-- end c-stacked-block__body -->
                        </a>
                        <!-- end c-stacked-block -->
                    </div>
                    <div class="one-third">
                        <div class="c-stacked-block card whitebox related flex flex-column white-bg ">
                            <div class="c-stacked-block__header">
                                <div class="c-stacked-block__media">
                                    <div class="image" style="background-image: url(https://ucfnd-stg-bbisfoun.ucfnd.concourse.host/image/UCH-artful-science.jpg);">
                                    </div>
                                </div>
                            </div>
                            <div class="c-stacked-block__body flow">
                                <h3 class="c-stacked-block__title">Neuro News</h3>
                                <p>Read past issues of our e-newsletter for supporters and friends of the UC Gardner Neuroscience Institute.</p>
                                <ul>
                                    <li><a href="https://e8ovhy6g1o.preview-postedstuff.com/V2-ryCI-JPD9-7QYg-ZjzzU">January 2024</a></li>
                                    <li><a href="https://e8ovhy6g1o.preview-postedstuff.com/V2-ryCI-JPD9-7QYg-lSsQ">September 2023</a></li>
                                    <li><a href="https://e8ovhy6g1o.preview-postedstuff.com/V2-ryCI-JPD9-7QYg-slh8">March 2023</a></li>
                                    <li><a href="https://e8ovhy6g1o.preview-postedstuff.com/V2-ryCI-JPD9-7QYg-ZyPe2">December 2022</a></li>
                                </ul>
                                <!--<h3 class="c-stacked-block__title">Developing the next Innovative leaders</h3>
                                <p>Next Innovation Scholars makes UC a destination for future-minded students across colleges to foster collaboration and innovative thinking.</p>-->
                            </div>
                            <!-- end c-stacked-block__body -->
                        </div>
                        <!-- end c-stacked-block -->
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="make-impact" class="white-bg relative py-1">  	
        <div class="l-container">
            <h2 class="text-center" style="margin-bottom: 0 !important;">Make Your Impact</h2>
            <p class="py-1">Your gifts can support research initiatives, enhance care, educate the next generation of providers or go to our most urgent needs. Make a gift today!</p>
        </div>
        <div class="l-container">
            <div class="tabbed">
                <input type="radio" id="tab1" name="css-tabs" checked="">
                <input type="radio" id="tab2" name="css-tabs">
                <input type="radio" id="tab3" name="css-tabs">
                <input type="radio" id="tab4" name="css-tabs">

                <ul class="tabs">
                    <li class="tab"><label class="h3" for="tab1">Research</label></li>
                    <li class="tab"><label class="h3" for="tab2">Care</label></li>
                    <li class="tab"><label class="h3" for="tab3">Education</label></li>
                    <li class="tab"><label class="h3" for="tab4">Greatest Needs</label></li>
                </ul>

                <div class="tab-content bg-img-content text flow p-4" style="background-image: url(https://ucfnd-stg-bbisfoun.ucfnd.concourse.host/image/Dr.-Jeff-Strawn--in-Department-of-Psych.jpg); background-size: cover;">
                    <div class="flex relative">
                        <div class="px-1 one-half relative">
                            <p class="large">Research</p>
                            <p>Fund our most critical research initiatives focused on precision medicine and brain health with a gift to the <a href="https://foundation.uc.edu/donate?id=da010d75-acd3-4a3c-ac24-48ac36772925">Gardner Center UCGNI Programmatic Fund</a></p>
                        </div>
                    </div>                
                </div>
                <div class="tab-content bg-img-content text flow p-4" style="background-image: url(https://ucfnd-stg-bbisfoun.ucfnd.concourse.host/image/Care-Photo-2_1000.jpg); background-size: cover;">
                    <div class="flex relative">
                        <div class="px-1 one-half relative">
                            <p class="large">Care</p>
                            <p>When you support the <a href="https://foundation.uc.edu/donate?id=05efd8f0-0417-4d14-b664-557ed44bafba">Neuroscience Institute Fund</a>, you help our clinical care teams find the right treatment for the right patient at the right time, improving lives.</p>
                        </div>
                    </div>
                </div>
                <div class="tab-content bg-img-content text flow p-4" style="background-image: url(https://ucfnd-stg-bbisfoun.ucfnd.concourse.host/image/Education-Photo.jpg); background-size: cover; background-position: center right -50px !important;">
                    <div class="flex relative">
                        <div class="px-1 one-half relative">
                            <p class="large">Education</p>
                            <p>Support the next generation of neuroscience leaders. The <a href="https://foundation.uc.edu/donate?id=85b2b644-15fa-4407-b9ba-09bb466fa662">Research and Education Discretionary Fund</a> helps recruitment, retention and training.</p>              			
                        </div>
                    </div>
                </div>          
                <div class="tab-content bg-img-content text flow p-4" style="background-image: url(https://ucfnd-stg-bbisfoun.ucfnd.concourse.host/image/UCGNI_cropped-hero_1000.jpg); background-size: contain !important; background-position: center right -140px;">
                    <div class="flex relative">
                        <div class="px-1 one-half relative">
                            <p class="large">Greatest Needs</p>
                            <p>From revolutionary technology to the recruitment of world-class faculty, supporting the <a href="https://foundation.uc.edu/donate?id=f62bf739-3349-4c1c-9634-ce6dde603fed">Neuroscience Institute Discretionary Fund</a> allows our leaders to prioritize ongoing needs.</p>
                        </div>
                    </div>
                </div>
            
            </div>
        </div>
    </section>

    <section id="what-matters" class="red-bg relative py-1 my-1">
        <div class="l-container flow py-1">
            <h2 class="text-center m-0 p-0 white">What Matters Most to You?</h2>
            <p class="white">Breakthrough discoveries, world-renowned specialists, compassionate care for complex conditions. Explore our centers of excellence to learn how the institute is advancing precision medicine in all areas of neurological care.</p>
            <p class="text-center">
                <a href="/ucgni/specialties" class="btn-link">View all specialties</a>
            </p>      	
        </div>
    </section>

    <section id="ways-to-give">
        <div class="l-container flow">
            <h2 class="text-center">Ways to Give</h2>
        </div>
        <div class="l-container">
            <div class="row flex">
                <div class="one-fourth column p-1" style="opacity: 1; transform: translate(0px, 0px);">
                    <div class="vision-image" style="background-image: url('https://foundation.uc.edu/image/icons/UCFoundation_Red_Icon_CellPhone_1_Donate.png'); background-size: contain; background-position: center; background-repeat: no-repeat; height: 125px;"></div>
                    <div class="vision-content">
                        <div class="vision-content-container flow">
                            <h3 class="text-center">Give Online</h3>
                            <p>Make a one-time gift or set up a recurring <a href="https://giveto.uc.edu/give?appeal=07690458-068e-409d-90ea-ff2e605b6a11">donation</a> online.</p>
                        </div>
                    </div>
                </div>
                <div class="one-fourth column p-1" style="opacity: 1; transform: translate(0px, 0px);">
                    <div class="vision-image" style="background-image: url('https://foundation.uc.edu/image/icons/UCFoundation_Red_Icon_Diversity_Inclusion_2.png'); background-size: contain; background-position: center; background-repeat: no-repeat; height: 125px;"></div>
                    <div class="vision-content">
                        <div class="vision-content-container flow">
                            <h3 class="text-center">Matching Gifts</h3>
                            <p>Does your company have a <a href="https://foundation.uc.edu/matching ">matching gift program</a>? You could double the impact of your donation.</p>
                        </div>
                    </div>
                </div>
                <div class="one-fourth column p-1" style="opacity: 1; transform: translate(0px, 0px);">
                    <div class="vision-image" style="background-image: url('https://foundation.uc.edu/image/icons/UCFoundation_Red_Icon_Giving_Box.png'); background-size: contain; background-position: center; background-repeat: no-repeat; height: 125px;"></div>
                    <div class="vision-content">
                        <div class="vision-content-containe flowr">
                            <h3 class="text-center">Gift Planning</h3>
                            <p>Learn more about <a href="https://uc.giftlegacy.com/">gift planning</a>, and how you can make a lasting impact on UC and UC Health.</p>
                        </div>
                    </div>
                </div>
                <div class="one-fourth column p-1" style="opacity: 1; transform: translate(0px, 0px);">
                    <div class="vision-image" style="background-image: url('https://foundation.uc.edu/image/icons/UCFoundation_Red_Icon_Inclusion_Community.png'); background-size: contain; background-position: center; background-repeat: no-repeat; height: 125px;"></div>
                    <div class="vision-content">
                        <div class="vision-content-container flow">
                            <h3 class="text-center">Community Events</h3>
                            <p>View our <a href="https://foundation.uc.edu/events/UpcomingCommunityEvents">community events calendar</a> to support local fundraisers or <a href="mailto:passal@foundaiton.uc.edu">contact us</a> about hosting your own fundraising event.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="contact" class="py-1">
        <div class="l-container flow">
            <h2 class="text-center">Contact Us</h2>
        </div>
        <div class="l-container flow">
            <div class="row flex gap-1">
                <div class="one-half">
                    <div class="contact-card" style="margin: 0 !important;">
                        <div class="col-image">
                            <div class="image ">
                                <img alt="Headshot of Ben Jager" data-emptytext="Image" src="https://ucfnd-stg-bbisfoun.ucfnd.concourse.host/image/Ben-Jager.jpg">
                            </div>
                        </div>
                        <div class="body">
                            <h3 class="name">
                                Ben Jager
                            </h3>
                            <p>
                                <strong>
                                    <span class="title">Associate Director of Development</span>, 
                                    <span class="department">UCGNI</span>
                                </strong>
                            </p>
                            <p class="address">(513) 556-8955 | <a href="mailto:jagerbn@foundation.uc.edu">jagerbn@foundation.uc.edu</a></p>
                        </div>
                    </div>
                </div>
                <div class="one-half">
                    <div class="contact-card" style="margin: 0 !important;">
                        <div class="col-image">
                            <div class="image ">
                                <img alt="Headshot of Jeannie Kellett" data-emptytext="Image" src="https://ucfnd-stg-bbisfoun.ucfnd.concourse.host/image/Jeannie-Kellett.jpg">
                            </div>
                        </div>
                        <div class="body">
                            <h3 class="name">
                                Jeannie Kellett
                            </h3>
                            <p>
                                <strong>
                                    <span class="title">Director of Development</span>, 
                                    <span class="department">UCGNI</span>
                                </strong>
                            </p>
                            <p class="address">(513) 556-0000 | <a href="mailto:sherwohl@foundation.uc.edu">sherwohl@foundation.uc.edu</a></p>
                        </div>
                    </div>
                </div>  
            </div>  
        
            <div class="row flex gap-1 ">
                <div class="one-half">
                    <div class="contact-card" style="margin: 0 !important;">
                        <div class="col-image">
                            <div class="image ">
                                <img alt="Headshot of Emma Laverty" data-emptytext="Image" src="https://ucfnd-stg-bbisfoun.ucfnd.concourse.host/image/ELaverty.jpg">
                            </div>
                        </div>
                        <div class="body">
                            <h3 class="name">
                                Emma Laverty
                            </h3>
                            <p>
                                <strong>
                                    <span class="title">Associate Vice President of Development</span>, 
                                    <span class="department">UCGNI</span>
                                </strong>
                            </p>
                            <p class="address"><a href="tel:6103319046">(610) 331-9046</a> | <a href="mailto:emma.laverty@foundation.uc.edu">emma.laverty@foundation.uc.edu</a></p>
                        </div>
                    </div>
                </div>
                <div class="one-half">
                    <div class="contact-card" style="margin: 0 !important;">
                        <div class="col-image">
                            <div class="image ">
                                <img alt="Headshot of Heather Sherwood" data-emptytext="Image" src="https://ucfnd-stg-bbisfoun.ucfnd.concourse.host/image/Heather-Sherwood.jpg">
                            </div>
                        </div>
                        <div class="body">
                            <h3 class="name">
                                Heather Sherwood
                            </h3>
                            <p>
                                <strong>
                                    <span class="title">Director of Development</span>, 
                                    <span class="department">UCGNI</span>
                                </strong>
                            </p>
                            <p class="address"><a href="mailto:sherwohl@foundation.uc.edu">sherwohl@foundation.uc.edu</a></p>
                        </div>
                    </div>
                </div>  
            </div>  
        
        </div>
    </section>
        
    <script>
    
    $(document).ready(function() {
    
        // Scroll to section
        $(".nav-list > li > a").click(function (e) {
            // Prevent a page reload when a link is pressed
            e.preventDefault();

            $("html, body").animate({
                scrollTop: $($(this).attr("href")).offset().top - 80
            }, 800);
            return false;
        });
    
    });

    </script>

</main>
{{> molecules-back-to-top }}
{{> organisms-footer }}