{{> molecules-skip-link }}
{{> organisms-header }}
<div class="page-title">
    <div class="l-container">
        <h1>Explore Our Next Frontier</h1>
    </div>
</div>
<section class="white-bg relative py-2">
    <div class="l-container flow white-bg">
        <p class="large">With $XXXM to research funds, Next, Now donors invested in visionary talent, innovation-driven programs and life-changing research to further new avenues of discovery and care.</p>
    </div>
  
    <!--</section>
        <section class="white-bg relative p-1">-->
    <h2 class="text-center m-0 py-1">Highlighted Accomplishments</h2>
    <div class="container l-container flex flex-between gap-2 relative">
        <div class="full-width icon-stats flex wrap flex-between">
            <div class="card text-center one-third p-1">
                <img src="https://foundation.uc.edu/image/UCFoundation_Black_Icon_Fundraising.png" alt="Fundraising icon">
                <p class="red uppercase bold jost">XXX</p>
                <p class="uppercase bold">New endowed chairs and professorships</p>
            </div>
            <div class="card text-center one-third p-1">
                <img src="https://foundation.uc.edu/image/UCFoundation_Black_Icon_Globe.png" alt="Globe icon">
                <p class="red uppercase bold jost">$$</p>
                <p class="uppercase bold">in pilot grants</p>
            </div>
            <div class="card text-center one-third p-1">
                <img src="https://foundation.uc.edu/image/UCFoundation_Black_Icon_Diversity_Inclusion_2.png" alt="Diversity &amp; Inclusion  hands icon in the shape of a heart">
                <p class="red uppercase bold jost">$XX Million</p>
                <p class="uppercase bold">new endowed scholarships</p>
            </div>
        </div>
    </div>
    <div class="l-container highlights-container">
      	<!--
        <div class="highlights">
            <div class="cell highlight-card">
                <div class="shield-container">
                    <img class="shield" src="https://ucfnd-stg-bbisfoun.ucfnd.concourse.host/image/uc-lockup-red.png">
                </div>
                <h2>
                    <p><strong>Investments in Research</strong> Philanthropy drove new areas of study, funding research into personalized medicine for <a href="#unique_ID_2" class="_your_class(es)_here_" data-modal-open="modal_1">Parkinson’s Disease</a>, community partnerships for rare diseases (LAM), pilot grants to launch big ideas for cancer treatment and a “game-changing” hub for ALS research in Cincinnati.</p>
                </h2>
            </div>
        </div>
      	
        <div id="modal_1" data-modal>
            <div data-modal-document>
                <h2>Parkinson’s Disease</h2>
                <div class="flex gap-1">
                    <figure class="image floating right" style="width: 200px">
                        <img src="https://placehold.co/200x133" alt="Alt text goes here" width="200" height="133" class="c-stacked-block__img" />
                    <figcaption class="caption">Caption text</figcaption></figure>
                    <div class="content flow">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis quis felis in augue ultrices convallis. Etiam a lorem vitae mauris sollicitudin pretium quis ac lorem.</p>
                        <p>Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam semper sem a tellus aliquam, sit amet ullamcorper elit consequat. Morbi a nisl dolor.</p>
                        <p>Nulla in nunc id lorem porttitor posuere eu in mauris. Morbi aliquam ligula et consectetur pretium. Proin sollicitudin dolor maximus felis mollis dictum.</p>
                    </div>
                </div>
            </div>
        </div>
      
        <div class="highlights">
            <div class="cell highlight-card">
                <div class="shield-container">
                    <img class="shield" src="https://ucfnd-stg-bbisfoun.ucfnd.concourse.host/image/uc-lockup-red.png">
                </div>
                <h2>
                    <p><strong>Hands-on Learning for New Fields</strong> Classrooms that encourage experiential learning like the Kautz-Uible Cryptoeconomics Lab, <a href="#unique_ID_2" class="_your_class(es)_here_" data-modal-open="modal_2">Johnson Investment Lab</a> provide opportunities for students, faculty and the community in breaking fields.</p>
                </h2>
            </div>
        </div>
      	
        <div id="modal_2" data-modal>
            <div data-modal-document>
                <h2>Johnson Investment Lab</h2>
                <div class="flex gap-1">
                    <figure class="image floating right" style="width: 200px">
                        <img src="https://placehold.co/200x133" alt="Alt text goes here" width="200" height="133" class="c-stacked-block__img" />
                    <figcaption class="caption">Caption text</figcaption></figure>
                    <div class="content flow">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis quis felis in augue ultrices convallis. Etiam a lorem vitae mauris sollicitudin pretium quis ac lorem.</p>
                        <p>Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam semper sem a tellus aliquam, sit amet ullamcorper elit consequat. Morbi a nisl dolor.</p>
                        <p>Nulla in nunc id lorem porttitor posuere eu in mauris. Morbi aliquam ligula et consectetur pretium. Proin sollicitudin dolor maximus felis mollis dictum.</p>
                    </div>
                </div>
            </div>
        </div>-->
      
        <div class="highlights">
            <div class="cell highlight-card">
                <div class="shield-container">
                    <img class="shield" src="https://ucfnd-stg-bbisfoun.ucfnd.concourse.host/image/uc-lockup-red.png">
                </div>
                <h2>
                    <p><strong>Investments in Research</strong> Philanthropy drove new areas of study, funding research into personalized medicine for Parkinson’s Disease, community partnerships for rare diseases (LAM), pilot grants to launch big ideas for cancer treatment and a “game-changing” hub for ALS research in Cincinnati.</p>
                </h2>
            </div>
        </div>
        <div class="highlights">
            <div class="cell highlight-card">
                <div class="shield-container">
                    <img class="shield" src="https://ucfnd-stg-bbisfoun.ucfnd.concourse.host/image/uc-lockup-red.png">
                </div>
                <h2>
                    <p><strong>Hands-on Learning for New Fields</strong> Classrooms that encourage experiential learning like the Kautz-Uible Cryptoeconomics Lab, Johnson Investment Lab provide opportunities for students, faculty and the community in breaking fields.</p>
                </h2>
            </div>
        </div>
      	<div class="highlights">
            <div class="cell highlight-card">
                <div class="shield-container">
                    <img class="shield" src="https://ucfnd-stg-bbisfoun.ucfnd.concourse.host/image/uc-lockup-red.png">
                </div>
                <h2>
                    <p><strong>Endowed Chairs for Faculty Leaders</strong> Donors created XX faculty chairs and professorships, supporting UC excellence in fields like ______________, ___________, ____________, ___________, and ________.</p>
                </h2>
            </div>
        </div>
        <div class="highlights">
            <div class="cell highlight-card">
                <div class="shield-container">
                    <img class="shield" src="https://ucfnd-stg-bbisfoun.ucfnd.concourse.host/image/uc-lockup-red.png">
                </div>
                <h2>
                    <p><strong>New Centers for ____ Care</strong> The newly named Osher Center for Integrative Health at UC joined an international collaboration and expanded community reach at home. Neurorecovery Lab, Osher Center, Survivorship</p>
                </h2>
            </div>
        </div>
      	<div class="highlights">
            <div class="cell highlight-card">
                <div class="shield-container">
                    <img class="shield" src="https://ucfnd-stg-bbisfoun.ucfnd.concourse.host/image/uc-lockup-red.png">
                </div>
                <h2>
                  <p><strong>Transformative Spaces at UC Health</strong></p>
                </h2>
              	<ul>
                	<li>Philanthropy made possible the UC Garnder Neuroscience Institute building, an award-winning, state-of-the-art facility created as a patient-centered, multidisciplinary care home seeing _____ patients annually.</li><li>Opening in 2024, the Blood Cancer Healing Center will transform care and research for blood cancers, providing whole-person patient care and expanding opportunities for study.</li><li>With community leadership, the UC Medical Center opened a renovated and expanded emergency department to enhance patient care throughout the region.</li>
              	</ul>
            </div>
        </div>
    </div>
</section>

<section class="red-bg lockup-bg relative p-3 hide" style="display: none !important;">
    <div class="container l-container flex flex-between gap-2 relative">
        <div class="one-third card whitebox flex flex-column">
            <div>
                <img src="https://placehold.co/600x400">
            </div>
            <div class="p-1">
                <h3>Hoffman scholars Creates interdisciplinary cohort program</h3>
                <p>Starting in fall 2024, XX of UC students will receive full tuition as part of a new scholarship focused on professional development and interdisciplinary learning.</p>
            </div>
        </div>
        <div class="one-third card whitebox flex flex-column">
            <div>
                <img src="https://placehold.co/600x400">
            </div>
            <div class="p-1">
                <h3>Marian Spencer Scholars honors civil rights leader</h3>
                <p>This flagship program honors Marian Spencer and awards Cincinnati Public Schools graduates with full-tuition scholarship and a unique living-learning community.</p>
            </div>
        </div>
        <div class="one-third video card whitebox flex flex-column">
            <div>
                <img src="https://placehold.co/600x400">
            </div>
            <div class="p-1">
                <h3>Developing the next Innovative leaders</h3>
                <p>Next Innovation Scholars makes UC a destination for future-minded students across colleges to foster collaboration and innovative thinking.</p>
            </div>
        </div>
    </div>
</section>

<h2 class="text-center m-0 py-1">Voices of Next</h2>
<section class="red-bg lockup-bg relative py-3">
    <div class="related-stories py-2 relative">
        <div class="l-container">
            <div class="flex flex-row flex-between gap-1 row">
                <div class="one-third">
                    <a href="https://www.youtube.com/watch?v=TrPVBpf3Y9s" class="c-stacked-block video card whitebox related flex flex-column white-bg ">
                        <div class="c-stacked-block__header">
                            <div class="c-stacked-block__media">
                                <div class="image" style="background-image: url(https://placehold.co/600x400);">
                                </div>
                            </div>
                        </div>
                        <div class="c-stacked-block__body flow">
                            <p class="date pub-date">Sept 27, 2022</p>
                            <h3 class="c-stacked-block__title">Marian Spencer Scholars</h3>
                        </div><!-- end c-stacked-block__body -->
                    </a><!-- end c-stacked-block -->
                </div>
                <div class="one-third">
                    <a href="https://foundation.uc.edu/stories/victoria-whilhelmy-lindner-scholarship" class="c-stacked-block card whitebox related flex flex-column white-bg ">
                        <div class="c-stacked-block__header">
                            <div class="c-stacked-block__media">
                                <div class="image" style="background-image: url(https://placehold.co/600x400);">
                                </div>
                            </div>
                        </div>
                        <div class="c-stacked-block__body flow">
                            <p class="date pub-date">Feb 7, 2023</p>
                            <h3 class="c-stacked-block__title">From the University of Cincinnati to Southern California</h3>
                        </div><!-- end c-stacked-block__body -->
                    </a><!-- end c-stacked-block -->
                </div>
                <div class="one-third">
                    <a href="https://foundation.uc.edu/stories/iva-dean-medical-scholarship-recipients" class="c-stacked-block card whitebox related flex flex-column white-bg ">
                        <div class="c-stacked-block__header">
                            <div class="c-stacked-block__media">
                                <div class="image" style="background-image: url(https://placehold.co/600x400);">
                                </div>
                            </div>
                        </div>
                        <div class="c-stacked-block__body flow">
                            <p class="date pub-date">March 9, 2023
</p>
                            <h3 class="c-stacked-block__title">Passion for helping others led to dreams of medical school</h3>
                        </div><!-- end c-stacked-block__body -->
                    </a><!-- end c-stacked-block -->
                </div>
            </div>
        </div>
    </div>
</section>

{{> molecules-back-to-top }}
{{> organisms-footer }}