<div style="background: var(--color-bearcats-black)">
    <h1 class="c-logo {{ additionalClasses }}">
        <a href="{{ link.pages-homepage }}" class="c-logo__link" rel="home">
            <img src="../../../images/logo-uc-Foundation_white.png" alt="University of Cincinnati Foundation logo">
        {{!-- <span class="c-logo__left">Soul</span><span class="c-logo__right">Soles</span> --}}
        </a><!--end c-logo__link-->

    </h1><!--end c-logo-->
</div>

<div style="background: var(--color-brand-black)">
    <h1 class="c-logo {{ additionalClasses }}">
        <a href="{{ link.pages-homepage }}" class="c-logo__link" rel="home">
            <img src="../../../images/logo-uc-Foundation_white.png" alt="University of Cincinnati Foundation logo">
        {{!-- <span class="c-logo__left">Soul</span><span class="c-logo__right">Soles</span> --}}
        </a><!--end c-logo__link-->

    </h1><!--end c-logo-->
</div>