<p class="text-center">
    <button type="button" class="btn-link" data-modal-open="modal_1">
        Launch Medium Modal
    </button>
</p>

<p class="text-center">
    <button type="button" class="btn-link" data-modal-open="modal_2">
        Launch Large Modal
    </button>
</p>

{{!-- <a href="https://scottaohara.github.io/accessible_modal_window/" target="_blank">Code source: Accessible Modal Window</a> --}}

<!-- dialog markup -->
<div id="modal_1" data-modal>
    <div data-modal-document>
        <h2>Modal Heading</h2>
        <div class="flex gap-1">
			<figure class="image floating right" style="width: 200px">
				<img src="https://placehold.co/200x133" alt="Alt text goes here" width="200" height="133" class="c-stacked-block__img" />
			<figcaption class="caption">Caption text</figcaption></figure>
			<div class="content flow">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis quis felis in augue ultrices convallis. Etiam a lorem vitae mauris sollicitudin pretium quis ac lorem.</p>
				<p>Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam semper sem a tellus aliquam, sit amet ullamcorper elit consequat. Morbi a nisl dolor.</p>
				<p>Nulla in nunc id lorem porttitor posuere eu in mauris. Morbi aliquam ligula et consectetur pretium. Proin sollicitudin dolor maximus felis mollis dictum.</p>
			</div>
        </div>
    </div>
</div>
<!-- end dialog markup -->

<!-- dialog markup -->
<div id="modal_2" class="large" data-modal>
    <div data-modal-document>
        <h2>Modal Heading</h2>
        <div class="flex gap-1">
			<figure class="image floating right" style="width: 200px">
				<img src="https://placehold.co/200x133" alt="Alt text goes here" width="200" height="133" class="c-stacked-block__img" />
			<figcaption class="caption">Caption text</figcaption></figure>
			<div class="content flow">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis quis felis in augue ultrices convallis. Etiam a lorem vitae mauris sollicitudin pretium quis ac lorem.</p>
				<p>Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam semper sem a tellus aliquam, sit amet ullamcorper elit consequat. Morbi a nisl dolor.</p>
				<p>Nulla in nunc id lorem porttitor posuere eu in mauris. Morbi aliquam ligula et consectetur pretium. Proin sollicitudin dolor maximus felis mollis dictum.</p>
			</div>
        </div>
    </div>
</div>
<!-- end dialog markup -->

