<div class="tabbed">
    <input type="radio" id="tab1" name="css-tabs" checked>
    <input type="radio" id="tab2" name="css-tabs">
    <input type="radio" id="tab3" name="css-tabs">
    
    <ul class="tabs">
        <li class="tab"><label class="h3" for="tab1">Tuition Support &amp; Direct Aid</label></li>
        <li class="tab"><label class="h3" for="tab2">Campus Belonging &amp; Retention</label></li>
        <li class="tab"><label class="h3" for="tab3">Co-op &amp; Career Readiness</label></li>
    </ul>
    
    <div class="tab-content">
        <div class="text floating-img flow">
            <figure class="image floating left">
                <img src="https://placehold.co/200x133" alt="2023 University of Cincinnati Annual Report - Future Forward cover page image" width="200" height="200" class="c-stacked-block__img">
                <figcaption class="caption">Caption placeholder text here.</figcaption>
            </figure>
            <p>Tuition Support and Direct Student Aid To create a Bearcat community that reflects and serves our region and nation, we must address affordability gaps to enrollment and ensure students can navigate inevitable financial hurdles after they are accepted. Our record enrollment rates are a testament to UC’s competitive value proposition. Still, students from various backgrounds can struggle to cover the cost of college, fees, housing, food and other out-of-pocket expenses.</p>
            <p>Our priorities include:</p>
            <ul class="flow">
                <li><p>Expand CPS Strong, our focused effort to recruit top students from Cincinnati Public Schools and increase the number of degree-holding residents in our region.</p></li>
                <li><p>Grow recruitment-focused scholarships to draw in high-demand students from across the nation and allow us to compete with financial packages offered by our Big 12 peers.</p></li>
                <li><p>Create new scholarship programs that provide innovative, interdisciplinary training to fuel entrepreneurship, inspire leadership and equip students with the critical skills needed to solve the problems of tomorrow.</p></li>
            </ul>
        </div>
    </div>
    
    <div class="tab-content">
        <div class="text floating-img flow">
            <figure class="image floating left">
                <img src="https://placehold.co/200x133" alt="2023 University of Cincinnati Annual Report - Future Forward cover page image" width="200" height="200" class="c-stacked-block__img">
                <figcaption class="caption">Caption placeholder text here.</figcaption>
            </figure>
            <p>Across UC, we are accelerating our efforts to support an inclusive environment that meets students where they are.</p>
            <p>We will expand programs that prepare incoming students with college readiness skills, support campus centers of belonging and community and grow new mental health initiatives for student well-being.</p>
            <p>Our priorities include:</p>
            <ul class="flow">
                <li><p>First-generation students and scholarships: Scale our successful Gen-1 model to reach the 9,200 first-generation UC students across campuses.</p></li>
                <li><p>Flexible funding: Many students face unexpected costs related to housing, health, transportation or other life issues. We will expand access to flexible funds to ensure a one-time expense doesn’t derail a college career.</p></li>
            </ul>
        </div>
    </div>
    
    <div class="tab-content">
        <div class="text floating-img flow">
            <figure class="image floating left">
                <img src="https://placehold.co/200x133" alt="2023 University of Cincinnati Annual Report - Future Forward cover page image" width="200" height="200" class="c-stacked-block__img">
                <figcaption class="caption">Caption placeholder text here.</figcaption>
            </figure>
            <p>As the birthplace of cooperative education, UC is a global leader in co-op, running one of the largest co-op programs in the United States. Each year, students benefit from more than 8,300 hands-on, real-world co-op placements—experiences that are an indispensable part of their education and launching their careers.</p>
            <p>The new College of Co-op and Professional Studies (CCPS) allows staff to integrate and streamline services, as well as expands co-op programs, internships, and ongoing professional development for adult learners. Our goal is to provide every Bearcat with a meaningful opportunity for experiential learning.</p>
            <p>Our priorities include:</p>
            <ul class="flow">
                <li><p>Advising and mentorship: Increase the number of co-op advisors, coaches and mentors. Students cite one-on-one engagement with an advisor or mentor as a top benefit of CCPS.</p></li>
                <li><p>Elevated programming: Unlock student potential by extending co-op opportunities to untapped student groups, and creating new programs for non-traditional students.</p></li>
                <li><p>Financial barriers: Remove hardships to the top co-op placements by increasing wrap-around funding to cover travel, housing and other expenses.</p></li>
            </ul>
        </div>
    </div>
</div>