{{> molecules-skip-link }}
{{> organisms-header }}

<main id="main" role="main">
	<div class="hero video-bg">
		<div class="video-wrapper">
			<iframe src="https://www.youtube.com/embed/q1aZzM-qLgg?controls=0&rel=0&modestbranding=1&autoplay=1&mute=1&loop=1&enablejsapi=1&showinfo=0&playlist=q1aZzM-qLgg" allow="autoplay; encrypted-media" frameborder="0"></iframe>
        </div>
		<div class="l-container flex flex-between flex-row relative" style="z-index: 3;">
          	<div class="relative flow">
            	<h1>Thank You</h1>
              	<h2 style="text-wrap: pretty;">Next, Now Campaign concludes with $2.18 billion in gifts</h2>
          	</div>
			<div class="hide">
				<div class="amounts-popup">
					<a href="https://ucfnd-stg-bbisfoun.ucfnd.concourse.host/2023-ucf-give-custom" class="btn-link black-bg">Make a Gift</a> 
					<ul>
						<li><a style="text-decoration: none !important;" href="https://ucfnd-stg-bbisfoun.ucfnd.concourse.host/2023-ucf-give-custom?amount=50">$50</a></li>
						<li><a style="text-decoration: none !important;" href="https://ucfnd-stg-bbisfoun.ucfnd.concourse.host/2023-ucf-give-custom?amount=100">$100</a></li>
						<li><a style="text-decoration: none !important;" href="https://ucfnd-stg-bbisfoun.ucfnd.concourse.host/2023-ucf-give-custom?amount=250">$250</a></li>
					</ul>
				</div>
			</div>
        </div>
		<div class="video-control l-container flex flex-end">
			<button class="play disabled">
				<svg xmlns="http://www.w3.org/2000/svg" fill="#000" class="bi bi-play-fill" viewBox="0 0 16 16">
					<path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393"></path>
				</svg>
			</button>
			<button class="pause">
				<svg xmlns="http://www.w3.org/2000/svg" fill="#000" class="bi bi-pause" viewBox="0 0 16 16">
					<path d="M6 3.5a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0V4a.5.5 0 0 1 .5-.5m4 0a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0V4a.5.5 0 0 1 .5-.5"></path>
				</svg>
			</button>
        </div>
	</div>

	<section class="relative white-bg">
		<div class="container l-container flex flex-column text-center gap-2 py-1">
			<h2 class="heading-divider">Celebrating Your Impact</h2>
			<p class="large">Thanks to the support of more than 136,000 donors, Next, Now: The Campaign for Cincinnati has transformed UC and UC Health, changing countless lives and driving new innovation.</p>
			<p class="large" style="margin-bottom: 0px;"><a class="btn-link bold" href="https://ucfnd-stg-bbisfoun.ucfnd.concourse.host/2023-ucf-give-custom">Read the story</a></p>
		</div>
	</section>

	<section class="white-bg relative py-0">
		<h2 class="text-center m-0 py-1 full-width" style="margin: 0 !important;">See Your Impact</h2>
		<div class="related-stories py-0 relative">
			<div class="l-container">
			
				<div class="flexflex-wrapflex-between pillars row py-1">
					<div class="one-third pillar1">
						<a href="https://ucfnd-stg-bbisfoun.ucfnd.concourse.host/pillar-next-leaders" class="c-stacked-block card whitebox related flex flex-column white-bg ">
							<div class="c-stacked-block__header">
								<div class="c-stacked-block__media">
									<div class="image" style="background-image: url(https://ucfnd-stg-bbisfoun.ucfnd.concourse.host/image/Empowering_600x400.jpg);">
									</div>
								</div>
							</div>
							<div class="c-stacked-block__body flow">
								<h3 class="c-stacked-block__title">Empower Our Next Leaders</h3>
							</div><!-- end c-stacked-block__body -->
						</a><!-- end c-stacked-block -->
					</div>
					<div class="one-third pillar2">
						<a href="https://ucfnd-stg-bbisfoun.ucfnd.concourse.host/pillar-next-frontier" class="c-stacked-block card whitebox related flex flex-column white-bg ">
							<div class="c-stacked-block__header">
								<div class="c-stacked-block__media">
									<div class="image" style="background-image: url(https://ucfnd-stg-bbisfoun.ucfnd.concourse.host//image/ExploreFrontier_600x400.jpg);">
									</div>
								</div>
							</div>
							<div class="c-stacked-block__body flow">
								<h3 class="c-stacked-block__title">Explore Our Next Frontier</h3>
							</div><!-- end c-stacked-block__body -->
						</a><!-- end c-stacked-block -->
					</div>
					<div class="one-third pillar3">
						<a href="https://ucfnd-stg-bbisfoun.ucfnd.concourse.host/pillar-next-purpose" class="c-stacked-block card whitebox related flex flex-column white-bg ">
							<div class="c-stacked-block__header">
								<div class="c-stacked-block__media">
									<div class="image" style="background-image: url(https://ucfnd-stg-bbisfoun.ucfnd.concourse.host//image/Embraceournextpurpose_600x400.jpg);">
									</div>
								</div>
							</div>
							<div class="c-stacked-block__body flow">
								<h3 class="c-stacked-block__title">Embrace Our Next Purpose</h3>
							</div><!-- end c-stacked-block__body -->
						</a><!-- end c-stacked-block -->
					</div>
				<!--</div>
			
				<div class="flex flex-row flex-between gap-1 row py-1">-->
					
					<div class="one-third pillar4">
						<a href="https://ucfnd-stg-bbisfoun.ucfnd.concourse.host/pillar-uc-cancer-center" class="c-stacked-block card whitebox related flex flex-column white-bg ">
							<div class="c-stacked-block__header">
								<div class="c-stacked-block__media">
									<div class="image" style="background-image: url(https://ucfnd-stg-bbisfoun.ucfnd.concourse.host//image/AcceleratingCancerCare_600x400.jpg);">
									</div>
								</div>
							</div>
							<div class="c-stacked-block__body flow">
								<h3 class="c-stacked-block__title">Accelerating Cancer Care</h3>
							</div><!-- end c-stacked-block__body -->
						</a><!-- end c-stacked-block -->
					</div>
					<div class="one-third pillar5">
						<a href="https://ucfnd-stg-bbisfoun.ucfnd.concourse.host/pillar-uc-athletics" class="c-stacked-block card whitebox related flex flex-column white-bg ">
							<div class="c-stacked-block__header">
								<div class="c-stacked-block__media">
									<div class="image" style="background-image: url(https://ucfnd-stg-bbisfoun.ucfnd.concourse.host//image/Big12_600x400.jpg);">
									</div>
								</div>
							</div>
							<div class="c-stacked-block__body flow">
								<h3 class="c-stacked-block__title">Moving to the Big 12</h3>
							</div><!-- end c-stacked-block__body -->
						</a><!-- end c-stacked-block -->
					</div>
					<div class="one-third pillar6">
						<a href="https://ucfnd-stg-bbisfoun.ucfnd.concourse.host/pillar-ucgni" class="c-stacked-block card whitebox related flex flex-column white-bg ">
							<div class="c-stacked-block__header">
								<div class="c-stacked-block__media">
									<div class="image" style="background-image: url(https://ucfnd-stg-bbisfoun.ucfnd.concourse.host//image/DrivingNeuroscience_600x400.jpg);">
									</div>
								</div>
							</div>
							<div class="c-stacked-block__body flow">
								<h3 class="c-stacked-block__title">Driving Neuroscience Breakthroughs</h3>
							</div><!-- end c-stacked-block__body -->
						</a><!-- end c-stacked-block -->
					</div>
				</div>
			
			</div>
		</div>
	</section>

	<section class="white-bg relative py-2">
		<h2 class="text-center m-0 py-1 full-width" style="margin: 0 !important;">By the Numbers</h2>
		<div class="container l-container flex flex-between gap-2 relative">
			<div class="icon-stats flex wrap justify-center">
				<div class="card text-center one-third p-1">
					<img src="https://foundation.uc.edu/image/UCFoundation_Black_Icon_Fundraising.png" alt="Fundraising icon">
					<p class="red uppercase bold jost">$276 Million</p>
					<p class="uppercase bold">for scholarships and fellowships</p>
				</div>
				<div class="card text-center one-third p-1">
					<img src="https://foundation.uc.edu/image/UCFoundation_Black_Icon_Globe.png" alt="Globe icon">
					<p class="red uppercase bold jost">92%</p>
					<p class="uppercase bold">of gifts under $1,000</p>
				</div>
				<div class="card text-center one-third p-1">
					<img src="https://foundation.uc.edu/image/UCFoundation_Black_Icon_Diversity_Inclusion_2.png" alt="Diversity &amp; Inclusion  hands icon in the shape of a heart">
					<p class="red uppercase bold jost">Worldwide Giving</p>
					<p class="uppercase bold">Gifts from all 50 U.S states and 49 countries</p>
				</div>
			</div>
		</div>
	</section>

	<section class="red-bg lockup-bg relative py-3">
		<!--<div class="container l-container flex flex-between gap-2 relative">
			<div class="one-third card whitebox flex flex-column">
				<img src="https://placehold.co/600x400">
				<div class="p-1">
					<h3>Hoffman scholars Creates interdisciplinary cohort program</h3>
					<p>Starting in fall 2024, XX of UC students will receive full tuition as part of a new scholarship focused on professional development and interdisciplinary learning.</p>
				</div>          	
			</div>
			<div class="one-third card whitebox flex flex-column">
				<img src="https://placehold.co/600x400">
				<div class="p-1">
					<h3>Marian Spencer Scholars honors civil rights leader</h3>
					<p>This flagship program honors Marian Spencer and awards Cincinnati Public Schools graduates with full-tuition scholarship and a unique living-learning community.</p>
				</div>  
			</div>
			<div class="one-third card whitebox flex flex-column">
				<img src="https://placehold.co/600x400">
				<div class="p-1">
					<h3>Developing the next Innovative leaders</h3>
					<p>Next Innovation Scholars makes UC a destination for future-minded students across colleges to foster collaboration and innovative thinking.</p>
				</div>  
			</div>
		</div>-->
	
		<div class="related-stories red-bg py-2 lockup-bg relative">
			<div class="l-container">
				<div class="flex flex-row flex-between gap-1 row">
					<div class="one-third">
						<a href="#" class="c-stacked-block card whitebox related flex flex-column white-bg ">
							<div class="c-stacked-block__header">
								<div class="c-stacked-block__media">
									<div class="image" style="background-image: url(https://placehold.co/600x400);">
									</div>
								</div>
							</div>
							<div class="c-stacked-block__body flow">
								<h3 class="c-stacked-block__title">Hoffman scholars Creates interdisciplinary cohort program</h3>                          	
								<p>Starting in fall 2024, XX of UC students will receive full tuition as part of a new scholarship focused on professional development and interdisciplinary learning.</p>
							</div><!-- end c-stacked-block__body -->
						</a><!-- end c-stacked-block -->
					</div>
					<div class="one-third">
						<a href="#" class="c-stacked-block card whitebox related flex flex-column white-bg ">
							<div class="c-stacked-block__header">
								<div class="c-stacked-block__media">
									<div class="image" style="background-image: url(https://placehold.co/600x400);">
									</div>
								</div>
							</div>
							<div class="c-stacked-block__body flow">
								<h3 class="c-stacked-block__title">Marian Spencer Scholars honors civil rights leader</h3>
								<p>This flagship program honors Marian Spencer and awards Cincinnati Public Schools graduates with full-tuition scholarship and a unique living-learning community.</p>
							</div><!-- end c-stacked-block__body -->
						</a><!-- end c-stacked-block -->
					</div>
					<div class="one-third">
						<a href="#" class="c-stacked-block card whitebox related flex flex-column white-bg ">
							<div class="c-stacked-block__header">
								<div class="c-stacked-block__media">
									<div class="image" style="background-image: url(https://placehold.co/600x400);">
									</div>
								</div>
							</div>
							<div class="c-stacked-block__body flow">
								<h3 class="c-stacked-block__title">Developing the next Innovative leaders</h3>
								<p>Next Innovation Scholars makes UC a destination for future-minded students across colleges to foster collaboration and innovative thinking.</p>
							</div><!-- end c-stacked-block__body -->
						</a><!-- end c-stacked-block -->
					</div>
				</div>
			</div>
		</div>
	</section>
	
	{{!-- {{> organisms-animated-gallery }} --}}

</main>
{{> molecules-back-to-top }}
{{> organisms-footer }}