{{> organisms-header }}
{{> organisms-search }}
<main role="main">
	<div class="hero">
		<div class="vimeo-wrapper">
            <iframe id="player1" src="https://player.vimeo.com/video/857854851?background=1&amp;autoplay=1&amp;loop=1&amp;byline=0&amp;title=0" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" data-gtm-yt-inspected-8="true" data-gtm-yt-inspected-214685_1664="true" data-gtm-yt-inspected-214685_1665="true" data-gtm-yt-inspected-214685_1672="true" data-ready="true"></iframe>
        </div>
		<div class="l-container flex flex-between flex-row full-width relative" style="z-index: 3;">
          	<div class="relative flow">
            	<h1>Next, Now</h1>
              	<h2>Make an Impact today!</h2>
              	<p>Hero placeholder text here.</p>
				<a href="#" class="btn-link">Button Link</a>
          	</div>
        </div>
		<div class="video-control l-container flex flex-end">
            <button class="play disabled">Play <i class="fa fa-play-circle" aria-hidden="true"></i></button>
            <button class="pause">Pause <i class="fa fa-pause-circle" aria-hidden="true"></i></button>
        </div>
	</div>
	<section class="red-bg lockup-bg relative">
		<div class="l-container relative flex flex-between gap-2 p-1">
			<div class="card whitebox flow flex flex-column white-bg">
				<img src="https://placehold.co/600x400">
				<p>"My scholarship means the world to me. With this scholarship, I have been given hope and aspirations to grow into the woman I am working to become."</p>
				<p class="text-right">— Jane, Class of 2024</p>
			</div>
			<div class="card whitebox flow flex flex-column white-bg">
				<img src="https://placehold.co/600x400">
				<p>"My scholarship means the world to me. With this scholarship, I have been given hope and aspirations to grow into the woman I am working to become."</p>
				<p class="text-right">— Jane, Class of 2024</p>
			</div>
			<div class="card whitebox flow flex flex-column white-bg">
				<img src="https://placehold.co/600x400">
				<p>"My scholarship means the world to me. With this scholarship, I have been given hope and aspirations to grow into the woman I am working to become."</p>
				<p class="text-right">— Jane, Class of 2024</p>
			</div>
		</div>
	</section>

	{{> organisms-animated-gallery }}

	<div class="l-container">
		{{# hero }}
		{{!-- {{> molecules-hero width="1200" height="800" }} --}}
		{{/ hero }}	
	</div>

</main>
{{> organisms-footer }}
