{{> organisms-header }}
<main role="main">

	<div class="l-container">
		{{# hero }}
		{{> molecules-hero width="1200" height="800" }}
		{{/ hero }}

	</div>

</main>
{{> organisms-footer }}
