<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="cache-control" content="max-age=0"/>
    <meta http-equiv="cache-control" content="no-cache"/>
    <meta http-equiv="expires" content="0"/>
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT"/>
    <meta http-equiv="pragma" content="no-cache"/>
    <title>Icon kit preview | gulp-svg-sprites</title>
    <link href="../../css/svg-sprite.css" rel="stylesheet" type="text/css" media="all"/>
</head>
<body>
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="0" height="0" style="position:absolute">

		<symbol id="minus" viewBox="0 0 16 16">
			<path d="M0 6.5v3a.5.5 0 0 0 .5.5h15a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5H.5a.5.5 0 0 0-.5.5z"></path>
		</symbol>

		<symbol id="plus" viewBox="0 0 16 16">
			<path d="M15.5 6H10V.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5V6H.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5H6v5.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5V10h5.5a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5z"></path>
		</symbol>

		<symbol id="search" viewBox="0 0 15 16">
			<path d="M15 13l-3.893-3.893A5.921 5.921 0 0 0 12 6c0-3.313-2.688-6-6-6S0 2.687 0 6a6 6 0 0 0 6 6c1.143 0 2.2-.337 3.107-.891L13 15a.715.715 0 0 0 1 0l1-1a.713.713 0 0 0 0-1zm-9-3a4 4 0 1 1 0-8 4 4 0 0 1 0 8z"></path>
		</symbol>

		<symbol id="shopping-cart" viewBox="0 0 26 28">
			<title>shopping-cart</title><path d="M10 24c0 1.094-.906 2-2 2s-2-.906-2-2 .906-2 2-2 2 .906 2 2zm14 0c0 1.094-.906 2-2 2s-2-.906-2-2 .906-2 2-2 2 .906 2 2zm2-17v8c0 .5-.391.938-.891 1L8.797 17.906c.078.359.203.719.203 1.094 0 .359-.219.688-.375 1H23c.547 0 1 .453 1 1s-.453 1-1 1H7c-.547 0-1-.453-1-1 0-.484.703-1.656.953-2.141L4.187 6H1c-.547 0-1-.453-1-1s.453-1 1-1h4c1.047 0 1.078 1.25 1.234 2H25c.547 0 1 .453 1 1z"></path>
		</symbol>

		<symbol id="triangle-down" viewBox="0 0 12 16">
			<title>triangle-down</title><path fill="#444" d="M0 6l5.996 5.996L11.992 6H0z"></path>
		</symbol>

		<symbol id="triangle-left" viewBox="0 0 6 16">
			<title>triangle-left</title><path fill="#444" d="M0 7.998l5.996 5.996V2.002L0 7.998z"></path>
		</symbol>

		<symbol id="triangle-right" viewBox="0 0 6 16">
			<title>triangle-right</title><path fill="#444" d="M.001 2.004L5.997 8 .001 13.996V2.004z"></path>
		</symbol>

		<symbol id="triangle-up" viewBox="0 0 12 16">
			<title>triangle-up</title><path fill="#444" d="M5.996 4L0 9.996h11.992L5.996 4z"></path>
		</symbol>

</svg>

<header>
    {{!-- <h1 id="logo">Gulp SVG Sprites <small>(8 icons in &lt;symbol&gt; mode)</small></h1>
    <h4>Files Generated:</h4>
    <ol>
        <li><a href="icons.svg">icons.svg</a></li>
    </ol>
    <h4>Usage:</h4>
    <ol>
        <li>
            Include the <strong>contents</strong> of the <a href="icons.svg">SVG file</a> just after the opening <code>&lt;body&gt;</code> tag.
        </li>
        <li>
            Paste one of the snippets anywhere into your website.
        </li>
    </ol> --}}

</header>
<section>
    <main>
        <ul class="social-media-icons p-1">
            <li>
                <svg id="instagram" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 246.987 246.476">
                    <defs>
                        <style>.instagram-black{fill:#000;fill-rule:evenodd;stroke-width:0px;}</style>
                    </defs>
                    <g>
                        <path class="instagram-black" d="M125.493,234.534c-20.321,0-35.566-3.56-53.033-12.277-2.766-1.38-6.134-3.238-8.681-4.94-7.138-4.769-12.867-9.023-18.952-15.097-4.177-4.169-9.186-9.959-12.492-14.741-.521-.753-.828-1.238-1.351-1.936l-3.972-6.357c-1.71-2.835-3.153-5.892-4.687-8.927-6.142-12.143-10.34-30.939-10.34-44.103,0-17.124,1.293-25.17,6.318-40.141l3.942-9.67c6.475-12.822,11.408-20.962,22.347-31.882,3.052-3.046,7.291-6.777,10.733-9.46l8.027-5.594c11.474-7.014,20.202-11.014,33.376-14.304,17.255-4.31,36.263-4.313,53.534,0,3.747.936,7.182,1.913,10.511,3.114,8.729,3.149,19.515,8.385,26.93,13.936l7.687,5.933c.782.61,1.063.997,1.745,1.543l3.741,3.303c5.239,5.174,6.886,7.338,11.261,12.686l5.614,8.002c6.088,9.969,6.882,12.377,11.075,22.959.646,1.629,1.209,3.517,1.665,5.141,6.39,22.789,6.009,42.428-.74,65.315-2.28,7.73-5.657,14.542-9.47,21.512l-5.286,8.329c-2.306,3.113-6.44,8.751-9.067,11.358-1.323,1.313-3.761,4.175-5.066,5.264l-4.453,4c-3.506,3.275-12.696,9.688-17.026,12.093-4.671,2.595-8.914,4.825-13.87,6.798-1.709.681-3.214,1.201-4.934,1.878-1.7.67-3.315,1.124-5.157,1.655-9.461,2.727-19.042,4.61-29.928,4.61h0ZM0,122.872c0,28.596,9.517,55.306,26.995,77.209.611.766,1.19,1.392,1.811,2.181,4.634,5.885,11.416,12.169,17.436,17.079,5.822,4.748,9.815,7.15,16.08,10.926l10.262,5.239c.862.35,1.669.767,2.618,1.14,3.017,1.187,4.912,2.074,8.313,3.196,23.687,7.817,49.498,9.039,73.497,1.993,4.555-1.337,7.14-2.14,11.587-3.916,1.894-.756,3.707-1.405,5.462-2.289,8.251-4.155,11.736-5.593,19.679-11.087,13.628-9.426,21.633-18.246,30.96-30.791l6.002-9.492c.965-1.723,1.841-3.218,2.736-5.01,4.647-9.307,7.877-17.874,10.311-28.18.764-3.236,2.022-9.969,2.294-13.192,1.151-13.591,1.35-15.099.028-28.869-1.356-14.126-6.059-28.688-12.398-41.343-.896-1.789-1.708-3.383-2.708-5.038-3.214-5.312-5.231-8.851-9.256-13.984l-4.274-5.351c-2.411-2.7-8.026-8.913-10.36-10.771-1.491-1.187-2.598-2.355-4.165-3.584-2.493-1.956-3.545-3.03-6.444-5.062-6.159-4.318-9.916-6.941-16.844-10.398-5.295-2.643-10.462-4.996-16.147-6.872-3.953-1.304-7.761-2.489-12.038-3.466-24.158-5.519-50.272-3.779-73.08,5.355-11.49,4.602-19.878,9.373-29.611,16.656-.765.573-1.438,1.014-2.144,1.613l-5.185,4.442c-4.038,3.582-5.294,5.066-8.814,8.561-3.465,3.442-10.852,13.254-13.344,17.41-.951,1.587-1.943,3.109-2.946,4.801l-3.958,7.544c-.422,1.022-.9,1.767-1.308,2.683C4.844,86.13,0,102.814,0,122.872h0Z"/>
                        <path class="instagram-black" d="M143.808,190.015c-16.617,0-33.022.302-49.72-.298-9.022-.323-18.416-1.425-24.62-5.851-11.342-8.089-12.572-19.139-13.051-32.465-.51-14.181-.206-31.152-.259-45.524-.039-10.709-.257-26.143,5.047-35.291,2.184-3.766,4.479-5.995,7.715-8.57,1.711-1.361,4.337-2.595,6.464-3.407,3.327-1.269,6.98-1.999,10.8-2.391,11.067-1.136,33.064-.768,46.102-.761,10.856.007,29.965-.637,39.808,3.286,1.752.698,3.313,1.426,4.84,2.401.723.461,1.554.996,2.135,1.489.746.633,1.147,1.215,1.802,1.808,2.556,2.316,4.317,4.197,6.122,8.193,4.839,10.713,3.99,27.833,4.026,39.652.042,13.536.308,35.928-.668,46.795-.868,9.665-3.61,16.875-9.792,22.434-3.764,3.385-7.558,5.235-12.806,6.597-6.488,1.683-16.881,1.902-23.944,1.902h0ZM102.029,40.736c-17.02.351-30.491.547-43.294,10.457-1.51,1.17-2.894,2.307-4.173,3.721-.433.479-.722.846-1.14,1.335-2.121,2.478-1.394,1.685-3.401,4.325-1.413,1.859-2.651,4.265-3.693,6.669-4.757,10.977-4.785,23.229-4.915,36.168-.137,13.764-.694,47.144.996,60.299,2.033,15.825,10.439,29.712,25.525,36.151,11.125,4.749,23.109,4.798,36.197,4.958,6.844.084,13.734.085,20.58.05,6.839-.035,13.765.121,20.58-.02,17.281-.361,31.938-.838,44.612-11.713.938-.804,1.96-1.685,2.731-2.526,12.74-13.908,12.966-29.113,13.196-48.41.161-13.504.64-47.522-1.109-60.486-.999-7.402-3.92-16.72-8.379-22.359-4.984-6.302-9.728-10.298-17.209-13.721-10.207-4.669-24.082-4.769-36.313-4.935-13.46-.182-27.339-.239-40.791.039h0ZM122.238,95.447c7.804-.557,14.401,2.457,19.972,7.259,4.964,4.279,8.293,11.546,8.759,18.527.369,5.539-1.303,11.888-4.282,16.276-4.984,7.343-12.094,12.032-21.477,12.575-11.133.643-21.139-5.324-26.132-15.003-8.385-16.252,1.756-38.106,23.161-39.633h0ZM121.295,80.677c-9.842.591-19.219,4.435-26.074,10.88-2.257,2.121-3.186,2.998-5.093,5.439-6.109,7.814-9.317,17.981-8.704,28.279.548,9.196,3.566,16.211,8.542,23.004,8.098,11.055,22.32,17.423,36.198,16.561,8.293-.515,16.952-3.729,23.064-8.525l2.81-2.448c9.192-8.268,14.486-20.501,13.721-33.603-.441-7.578-2.805-14.001-6.384-19.899-1.717-2.83-2.56-3.697-4.662-5.862-.889-.916-1.6-1.859-2.477-2.793l-2.906-2.359c-8.286-5.985-17.022-9.336-28.034-8.674h0ZM166.357,69.154c-2.897.376-5.323,1.915-6.44,3.499-1.47,2.087-2.656,4.055-2.212,7.495.652,5.054,5.134,9.304,11.04,8.549,5.086-.651,9.32-5.05,8.537-10.987-.655-4.967-5.122-9.309-10.925-8.556h0Z"/>
                    </g>
                </svg>
            </li>
            <li>
                <svg id="linkedin" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 246.987 246.476">
                    <defs>
                        <style>.linkedin-black{fill:#000;fill-rule:evenodd;stroke-width:0px;}</style>
                    </defs>
                    <g>
                        <path class="linkedin-black" d="M125.493,234.533c-20.322,0-35.566-3.56-53.033-12.277-2.766-1.38-6.134-3.238-8.681-4.94-7.138-4.769-12.867-9.023-18.952-15.097-4.177-4.169-9.186-9.959-12.492-14.741-.521-.753-.828-1.238-1.351-1.935l-3.972-6.357c-1.71-2.836-3.153-5.892-4.688-8.927-6.142-12.143-10.339-30.939-10.339-44.103,0-17.124,1.293-25.17,6.318-40.142l3.942-9.67c6.475-12.822,11.408-20.963,22.347-31.882,3.052-3.046,7.29-6.777,10.733-9.46l8.027-5.594c11.474-7.014,20.202-11.014,33.375-14.304,17.255-4.31,36.263-4.313,53.535,0,3.747.935,7.182,1.913,10.511,3.114,8.729,3.15,19.515,8.385,26.93,13.936l7.686,5.933c.781.61,1.063.997,1.745,1.542l3.741,3.303c5.239,5.175,6.886,7.338,11.261,12.686l5.614,8.002c6.089,9.969,6.882,12.377,11.075,22.959.646,1.629,1.209,3.517,1.665,5.141,6.39,22.789,6.01,42.428-.74,65.315-2.28,7.73-5.657,14.542-9.47,21.512l-5.287,8.329c-2.306,3.113-6.441,8.751-9.067,11.358-1.323,1.313-3.762,4.175-5.067,5.264l-4.453,4c-3.505,3.275-12.696,9.688-17.025,12.093-4.671,2.595-8.914,4.825-13.871,6.798-1.709.68-3.213,1.2-4.934,1.878-1.701.669-3.314,1.123-5.157,1.655-9.46,2.727-19.041,4.61-29.927,4.61h0ZM0,122.872c0,28.596,9.517,55.306,26.995,77.209.612.766,1.19,1.392,1.811,2.18,4.634,5.885,11.417,12.169,17.436,17.079,5.823,4.748,9.815,7.15,16.079,10.926l10.263,5.239c.862.35,1.669.767,2.618,1.14,3.017,1.187,4.912,2.074,8.313,3.196,23.687,7.817,49.498,9.039,73.497,1.993,4.555-1.337,7.14-2.14,11.587-3.916,1.895-.757,3.707-1.405,5.463-2.289,8.251-4.154,11.736-5.593,19.678-11.087,13.629-9.426,21.633-18.246,30.961-30.79l6.002-9.492c.966-1.723,1.841-3.218,2.736-5.01,4.647-9.307,7.878-17.874,10.311-28.18.764-3.236,2.022-9.969,2.295-13.192,1.151-13.591,1.35-15.099.028-28.869-1.356-14.126-6.06-28.688-12.398-41.343-.896-1.789-1.708-3.383-2.708-5.038-3.213-5.312-5.23-8.851-9.256-13.984l-4.274-5.351c-2.411-2.7-8.027-8.913-10.36-10.771-1.491-1.187-2.599-2.354-4.165-3.584-2.493-1.956-3.545-3.03-6.444-5.062-6.159-4.318-9.916-6.941-16.844-10.399-5.295-2.643-10.463-4.996-16.147-6.871-3.953-1.305-7.761-2.489-12.039-3.466-24.158-5.519-50.271-3.779-73.08,5.355-11.49,4.602-19.878,9.373-29.611,16.656-.765.573-1.438,1.015-2.144,1.613l-5.185,4.442c-4.038,3.582-5.295,5.066-8.814,8.561-3.466,3.442-10.852,13.254-13.344,17.41-.951,1.587-1.943,3.109-2.946,4.801l-3.957,7.544c-.422,1.022-.9,1.767-1.308,2.683C4.844,86.13,0,102.814,0,122.872h0Z"/>
                        <path class="linkedin-black" d="M135.726,97.172c-.385-1.071-.258-4.909-.168-6.324l-29.48.009v100.048c2.477-.032,4.957-.043,7.435-.066,1.594-.015,6.137-.25,7.375.023,1.222.235,12.565.046,14.771.036.143-3.537-.17-7.698-.198-11.324-.091-11.589.171-23.232.195-34.841.029-13.103.698-28.135,17.859-28.779,3.637-.136,7.051.499,9.738,1.974,2.201,1.207,4.365,3.59,5.556,6.113,2.762,5.847,2.776,13.481,2.789,20.528.023,11.613.292,23.238.202,34.84-.028,3.601-.384,8.016-.201,11.482l30.716.122c.237-2.166.055-43.093.055-46.445l.007-17.256c0-1.951.173-4.009.077-5.92-.38-7.633-4.845-19.097-10.55-24.34-1.896-1.742-4.446-3.632-6.802-4.884-5.319-2.828-11.655-4.585-18.74-4.593-8.43-.009-17.87,3.311-23.562,8.493-2.729,2.485-4.091,3.925-6.287,6.874l-.791.804.003-6.574h0ZM54.732,191.078l30.963.002c-.281-4.362-.013-9.67-.003-14.135.011-4.711.016-9.423.026-14.134.007-3.268-.242-27.382.174-28.269-.289-1.443-.063-18.829-.061-21.856.003-3.616.008-7.231.012-10.847.003-3.422.227-7.643-.017-10.967l-31.066-.096-.029,100.302h0ZM68.156,40.674c-5.514.778-9.735,3.332-12.18,6.356-2.607,3.223-4.825,8.495-4.123,14.101,1.179,9.399,9.533,17.639,20.452,16.313,9.276-1.126,17.477-9.696,16.105-20.518-1.158-9.141-9.592-17.757-20.254-16.252h0Z"/>
                    </g>
                </svg>
            </li>
            <li>
                <svg id="twitterx" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 246.988 246.476">
                    <defs>
                        <style>.twitterx-black{fill:#000;fill-rule:evenodd;stroke-width:0px;}</style>
                    </defs>
                    <g>
                        <path class="twitterx-1" d="M151.678,178.974c-1.104-1.551-68.7-94.428-74.764-102.946h18.507c5.039,7.078,58.849,81.163,74.357,102.946h-18.101ZM48.269,192.775l19.27-.013c9.69-10.135,31.808-33.265,43.29-45.273,5.271,7.574,21.69,28.906,33.014,45.272h52.619c-7.791-10.943-46.218-61.331-56.487-75.754,15.594-16.308,35.447-37.071,52.555-54.963-1.529-.002-19.227-.005-19.257-.005-2.525,2.644-32.864,34.374-40.663,42.53-3.751-5.306-29.824-41.682-30.391-42.53h-51.443c4.592,6.449,46.488,65.297,52.283,73.436-4.295,4.585-48.079,50.123-54.79,57.3h0Z"/>
                        <path class="twitterx-1" d="M125.493,234.534c-20.322,0-35.566-3.56-53.033-12.277-2.767-1.38-6.134-3.238-8.681-4.94-7.138-4.769-12.867-9.023-18.952-15.097-4.177-4.169-9.187-9.959-12.492-14.741-.521-.753-.828-1.238-1.351-1.936l-3.971-6.357c-1.71-2.835-3.153-5.892-4.688-8.927-6.142-12.143-10.34-30.939-10.34-44.103,0-17.124,1.293-25.17,6.318-40.141l3.942-9.67c6.475-12.822,11.408-20.962,22.347-31.882,3.052-3.046,7.291-6.777,10.733-9.46l8.027-5.594c11.474-7.014,20.202-11.014,33.376-14.304,17.255-4.31,36.263-4.313,53.534,0,3.747.936,7.182,1.913,10.511,3.114,8.729,3.149,19.515,8.385,26.93,13.936l7.687,5.933c.781.61,1.063.997,1.745,1.543l3.741,3.303c5.239,5.174,6.886,7.338,11.261,12.686l5.614,8.002c6.089,9.969,6.882,12.377,11.075,22.959.646,1.629,1.209,3.517,1.665,5.141,6.39,22.789,6.01,42.428-.74,65.315-2.28,7.73-5.657,14.542-9.47,21.512l-5.286,8.329c-2.306,3.113-6.441,8.751-9.067,11.358-1.323,1.313-3.762,4.175-5.067,5.264l-4.453,4c-3.506,3.275-12.696,9.688-17.025,12.093-4.671,2.595-8.914,4.825-13.871,6.798-1.709.681-3.214,1.201-4.934,1.878-1.701.67-3.315,1.124-5.157,1.655-9.46,2.727-19.041,4.61-29.927,4.61h0ZM0,122.872c0,28.596,9.517,55.306,26.995,77.209.611.766,1.19,1.392,1.811,2.181,4.634,5.885,11.416,12.169,17.436,17.079,5.822,4.748,9.815,7.15,16.079,10.926l10.263,5.239c.862.35,1.669.767,2.618,1.14,3.018,1.187,4.912,2.074,8.313,3.196,23.687,7.817,49.497,9.039,73.497,1.993,4.555-1.337,7.14-2.14,11.587-3.916,1.894-.756,3.707-1.405,5.462-2.289,8.251-4.155,11.736-5.593,19.678-11.087,13.628-9.426,21.633-18.246,30.96-30.791l6.002-9.492c.966-1.723,1.841-3.218,2.736-5.01,4.647-9.307,7.878-17.874,10.311-28.18.764-3.236,2.022-9.969,2.295-13.192,1.151-13.591,1.35-15.099.028-28.869-1.356-14.126-6.06-28.688-12.398-41.343-.896-1.789-1.708-3.383-2.708-5.038-3.213-5.312-5.23-8.851-9.256-13.984l-4.275-5.351c-2.411-2.7-8.026-8.913-10.36-10.771-1.49-1.187-2.598-2.355-4.165-3.584-2.492-1.956-3.545-3.03-6.443-5.062-6.16-4.318-9.916-6.941-16.844-10.398-5.296-2.643-10.463-4.996-16.147-6.872-3.953-1.304-7.761-2.489-12.038-3.466-24.159-5.519-50.272-3.779-73.08,5.355-11.49,4.602-19.878,9.373-29.611,16.656-.766.573-1.439,1.014-2.144,1.613l-5.185,4.442c-4.039,3.582-5.295,5.066-8.814,8.561-3.465,3.442-10.852,13.254-13.344,17.41-.951,1.587-1.942,3.109-2.946,4.801l-3.958,7.544c-.422,1.022-.899,1.767-1.307,2.683C4.844,86.13,0,102.814,0,122.872h0Z"/>
                    </g>
                </svg>
            </li>
            <li>
                <svg id="youtube" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 246.988 246.477">
                    <defs>
                        <style>.youtube-white{fill:#fff;}.youtube-white,.youtube-black{fill-rule:evenodd;stroke-width:0px;}.youtube-black{fill:#000;}</style>
                    </defs>
                    <g>
                        <path class="youtube-black" d="M125.493,234.534c-20.322,0-35.566-3.56-53.033-12.277-2.767-1.38-6.134-3.239-8.681-4.94-7.138-4.769-12.867-9.024-18.952-15.097-4.177-4.169-9.187-9.959-12.493-14.742-.521-.753-.828-1.238-1.351-1.936l-3.972-6.357c-1.71-2.836-3.153-5.893-4.688-8.927-6.142-12.143-10.34-30.939-10.34-44.103,0-17.124,1.293-25.17,6.318-40.141l3.942-9.67c6.475-12.822,11.408-20.963,22.347-31.882,3.052-3.046,7.291-6.777,10.733-9.46l8.027-5.594c11.474-7.014,20.202-11.014,33.376-14.304,17.255-4.31,36.263-4.313,53.535,0,3.747.936,7.182,1.913,10.51,3.114,8.729,3.15,19.515,8.385,26.93,13.936l7.687,5.933c.782.61,1.063.997,1.745,1.542l3.741,3.303c5.239,5.175,6.886,7.338,11.261,12.686l5.614,8.002c6.089,9.969,6.882,12.377,11.075,22.959.646,1.629,1.209,3.517,1.665,5.141,6.39,22.789,6.009,42.428-.74,65.315-2.28,7.73-5.657,14.542-9.47,21.512l-5.286,8.329c-2.306,3.113-6.441,8.751-9.068,11.358-1.324,1.313-3.762,4.175-5.067,5.264l-4.453,4.001c-3.505,3.275-12.696,9.688-17.026,12.093-4.671,2.594-8.913,4.825-13.87,6.798-1.709.681-3.214,1.2-4.934,1.878-1.701.67-3.315,1.124-5.157,1.655-9.46,2.727-19.041,4.61-29.927,4.61h0ZM0,122.872c0,28.596,9.517,55.306,26.995,77.209.611.766,1.19,1.392,1.811,2.18,4.634,5.885,11.416,12.169,17.436,17.079,5.822,4.749,9.815,7.151,16.079,10.926l10.263,5.239c.862.349,1.669.766,2.618,1.14,3.018,1.187,4.912,2.074,8.313,3.196,23.687,7.817,49.497,9.039,73.497,1.993,4.555-1.337,7.14-2.14,11.588-3.916,1.894-.756,3.707-1.405,5.462-2.289,8.252-4.155,11.736-5.593,19.679-11.087,13.629-9.427,21.633-18.246,30.96-30.791l6.002-9.492c.966-1.723,1.841-3.218,2.736-5.01,4.647-9.307,7.878-17.874,10.311-28.18.764-3.236,2.022-9.969,2.295-13.192,1.151-13.591,1.35-15.099.028-28.869-1.356-14.126-6.06-28.688-12.398-41.343-.896-1.789-1.708-3.383-2.709-5.038-3.213-5.312-5.23-8.851-9.256-13.984l-4.275-5.351c-2.411-2.7-8.026-8.913-10.36-10.771-1.49-1.187-2.598-2.354-4.165-3.584-2.493-1.956-3.545-3.03-6.444-5.062-6.159-4.318-9.916-6.941-16.844-10.399-5.295-2.643-10.462-4.995-16.147-6.871-3.953-1.305-7.761-2.489-12.038-3.466-24.158-5.519-50.272-3.779-73.08,5.355-11.49,4.602-19.878,9.373-29.611,16.656-.766.573-1.439,1.014-2.144,1.613l-5.186,4.442c-4.038,3.582-5.294,5.066-8.814,8.561-3.465,3.442-10.852,13.254-13.344,17.41-.952,1.587-1.943,3.109-2.946,4.801l-3.958,7.544c-.422,1.022-.899,1.767-1.308,2.682C4.844,86.13,0,102.814,0,122.872h0Z"/>
                        <path class="youtube-black" d="M105.004,149.495c-.039-17.592-.171-35.619-.073-53.151l.008-.623,47.073,26.759c-.41.813-4.589,2.903-5.683,3.545-3.342,1.963-40.861,23.472-41.325,23.469h0ZM109.45,59.417c-15.182.192-39.288.84-54.321,3.334-4.028.668-7.217,1.826-10.453,3.873-4.656,2.945-8.143,8.177-9.454,14.716-3.232,16.125-3.635,37.825-3,54.11.394,10.106,1.342,25.055,4.749,33.636,4.116,10.368,13.267,13.251,24.02,14.471,5.953.676,12.048.868,18.065,1.202,25.724,1.43,87.527,2.104,111.003-2.114,3.786-.681,7.238-1.999,10.295-4.014,4.525-2.982,8.018-8.432,9.25-14.91,1.052-5.531,1.825-11.188,2.323-16.92,1.057-12.171,1.455-24.741.884-37.007-.438-9.417-1.581-25.702-4.873-33.472-1.762-4.157-4.998-8.081-8.811-10.428-7.929-4.881-23.553-4.952-33.14-5.409-18.574-.886-37.997-1.302-56.537-1.068h0Z"/>
                        <path class="youtube-white" d="M105.004,149.495c.465.003,37.984-21.506,41.325-23.469,1.094-.643,5.273-2.732,5.683-3.545l-47.073-26.759-.008.623c-.098,17.533.034,35.56.073,53.151h0Z"/>
                    </g>
                </svg>
            </li>
            <li>
                <svg id="facebook" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 246.987 246.476">
                    <defs>
                        <style>.facebook-black{fill:#000;fill-rule:evenodd;stroke-width:0px;}</style>
                    </defs>
                    <g>
                        <path class="facebook-black" d="M125.493,234.533c-20.322,0-35.566-3.56-53.033-12.277-2.767-1.38-6.134-3.238-8.681-4.94-7.138-4.769-12.867-9.024-18.952-15.097-4.177-4.169-9.187-9.959-12.492-14.741-.521-.753-.828-1.238-1.351-1.936l-3.972-6.357c-1.71-2.836-3.153-5.892-4.687-8.927-6.142-12.143-10.34-30.939-10.34-44.103,0-17.124,1.293-25.17,6.318-40.141l3.943-9.67c6.475-12.822,11.408-20.963,22.347-31.882,3.052-3.046,7.29-6.777,10.733-9.46l8.027-5.594c11.474-7.014,20.202-11.014,33.376-14.304,17.255-4.31,36.263-4.313,53.534,0,3.747.936,7.183,1.913,10.511,3.114,8.729,3.15,19.515,8.385,26.93,13.936l7.686,5.934c.781.61,1.062.997,1.745,1.542l3.741,3.303c5.239,5.175,6.886,7.338,11.261,12.686l5.614,8.002c6.089,9.969,6.882,12.377,11.075,22.959.646,1.629,1.209,3.517,1.665,5.141,6.39,22.789,6.009,42.428-.74,65.315-2.28,7.73-5.657,14.541-9.47,21.512l-5.286,8.329c-2.306,3.113-6.441,8.751-9.068,11.358-1.323,1.313-3.761,4.175-5.067,5.264l-4.453,4c-3.506,3.275-12.696,9.688-17.025,12.093-4.671,2.595-8.914,4.825-13.871,6.798-1.709.681-3.214,1.2-4.934,1.878-1.701.67-3.315,1.124-5.157,1.655-9.46,2.727-19.041,4.61-29.927,4.61h0ZM0,122.871c0,28.596,9.517,55.306,26.995,77.208.611.766,1.19,1.392,1.811,2.181,4.634,5.885,11.417,12.169,17.436,17.079,5.822,4.748,9.815,7.15,16.079,10.926l10.262,5.239c.862.35,1.669.766,2.618,1.14,3.017,1.187,4.912,2.074,8.313,3.196,23.687,7.817,49.497,9.039,73.497,1.993,4.555-1.337,7.14-2.14,11.587-3.916,1.895-.756,3.707-1.405,5.462-2.289,8.251-4.155,11.735-5.593,19.679-11.087,13.628-9.426,21.632-18.246,30.96-30.79l6.002-9.492c.965-1.723,1.841-3.218,2.736-5.01,4.647-9.307,7.878-17.874,10.31-28.179.764-3.236,2.022-9.969,2.295-13.192,1.151-13.591,1.35-15.099.028-28.869-1.356-14.126-6.06-28.688-12.398-41.343-.896-1.789-1.708-3.383-2.709-5.038-3.213-5.312-5.23-8.851-9.256-13.984l-4.274-5.351c-2.411-2.7-8.026-8.913-10.36-10.771-1.49-1.187-2.598-2.354-4.165-3.584-2.493-1.956-3.545-3.03-6.444-5.062-6.159-4.318-9.916-6.941-16.843-10.398-5.296-2.643-10.463-4.996-16.147-6.871-3.953-1.305-7.761-2.489-12.038-3.466-24.158-5.519-50.271-3.78-73.079,5.355-11.491,4.602-19.878,9.373-29.611,16.656-.766.573-1.439,1.014-2.144,1.613l-5.185,4.442c-4.038,3.583-5.295,5.066-8.814,8.561-3.466,3.442-10.852,13.254-13.344,17.41-.951,1.587-1.943,3.109-2.946,4.801l-3.958,7.544c-.422,1.022-.899,1.767-1.307,2.683C4.844,86.13,0,102.813,0,122.871h0Z"/>
                        <path class="facebook-black" d="M76.269,103.679l.002,28.049,24.738.038.039,67.774c1.418.905,12.65,1.428,15.039,1.405,3.416-.032,12.584-.267,15.299-1.287.447-5.267.082-11.552.073-16.926v-50.889l22.635-.085,4.34-28.031-27.02-.037c0-5.106-.007-10.199-.003-15.291.004-5.431.131-8.701,2.801-12.637,4.978-7.341,15.447-4.887,25.385-5.54l-.014-23.86c-1.685-.72-13.645-1.617-16.243-1.75-8.346-.427-16.088.149-23.547,3.445-2.183.965-3.955,2.174-5.622,3.421-3.173,2.372-6.39,6.244-8.363,9.73-6.35,11.218-4.594,26.716-4.744,40.175-.032,2.853,1.179,2.223-6.707,2.238-3.966.007-14.992-.168-18.086.058h0Z"/>
                    </g>
                </svg>
            </li>
        </ul>
        <br>
        <ul class="social-media-icons p-1">
            <li>
                <svg id="instagram" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 246.987 246.476">
                    <defs>
                        <style>.instagram-red{fill:#e00122;fill-rule:evenodd;stroke-width:0px;}</style>
                    </defs>
                    <g>
                        <path class="instagram-red" d="M125.493,234.534c-20.321,0-35.566-3.56-53.033-12.277-2.766-1.38-6.134-3.238-8.681-4.94-7.138-4.769-12.867-9.023-18.952-15.097-4.177-4.169-9.186-9.959-12.492-14.741-.521-.753-.828-1.238-1.351-1.936l-3.972-6.357c-1.71-2.835-3.153-5.892-4.687-8.927-6.142-12.143-10.34-30.939-10.34-44.103,0-17.124,1.293-25.17,6.318-40.141l3.942-9.67c6.475-12.822,11.408-20.962,22.347-31.882,3.052-3.046,7.291-6.777,10.733-9.46l8.027-5.594c11.474-7.014,20.202-11.014,33.376-14.304,17.255-4.31,36.263-4.313,53.534,0,3.747.936,7.182,1.913,10.511,3.114,8.729,3.149,19.515,8.385,26.93,13.936l7.687,5.933c.782.61,1.063.997,1.745,1.543l3.741,3.303c5.239,5.174,6.886,7.338,11.261,12.686l5.614,8.002c6.088,9.969,6.882,12.377,11.075,22.959.646,1.629,1.209,3.517,1.665,5.141,6.39,22.789,6.009,42.428-.74,65.315-2.28,7.73-5.657,14.542-9.47,21.512l-5.286,8.329c-2.306,3.113-6.44,8.751-9.067,11.358-1.323,1.313-3.761,4.175-5.066,5.264l-4.453,4c-3.506,3.275-12.696,9.688-17.026,12.093-4.671,2.595-8.914,4.825-13.87,6.798-1.709.681-3.214,1.201-4.934,1.878-1.7.67-3.315,1.124-5.157,1.655-9.461,2.727-19.042,4.61-29.928,4.61h0ZM0,122.872c0,28.596,9.517,55.306,26.995,77.209.611.766,1.19,1.392,1.811,2.181,4.634,5.885,11.416,12.169,17.436,17.079,5.822,4.748,9.815,7.15,16.08,10.926l10.262,5.239c.862.35,1.669.767,2.618,1.14,3.017,1.187,4.912,2.074,8.313,3.196,23.687,7.817,49.498,9.039,73.497,1.993,4.555-1.337,7.14-2.14,11.587-3.916,1.894-.756,3.707-1.405,5.462-2.289,8.251-4.155,11.736-5.593,19.679-11.087,13.628-9.426,21.633-18.246,30.96-30.791l6.002-9.492c.965-1.723,1.841-3.218,2.736-5.01,4.647-9.307,7.877-17.874,10.311-28.18.764-3.236,2.022-9.969,2.294-13.192,1.151-13.591,1.35-15.099.028-28.869-1.356-14.126-6.059-28.688-12.398-41.343-.896-1.789-1.708-3.383-2.708-5.038-3.214-5.312-5.231-8.851-9.256-13.984l-4.274-5.351c-2.411-2.7-8.026-8.913-10.36-10.771-1.491-1.187-2.598-2.355-4.165-3.584-2.493-1.956-3.545-3.03-6.444-5.062-6.159-4.318-9.916-6.941-16.844-10.398-5.295-2.643-10.462-4.996-16.147-6.872-3.953-1.304-7.761-2.489-12.038-3.466-24.158-5.519-50.272-3.779-73.08,5.355-11.49,4.602-19.878,9.373-29.611,16.656-.765.573-1.438,1.014-2.144,1.613l-5.185,4.442c-4.038,3.582-5.294,5.066-8.814,8.561-3.465,3.442-10.852,13.254-13.344,17.41-.951,1.587-1.943,3.109-2.946,4.801l-3.958,7.544c-.422,1.022-.9,1.767-1.308,2.683C4.844,86.13,0,102.814,0,122.872h0Z"/>
                        <path class="instagram-red" d="M143.808,190.015c-16.617,0-33.022.302-49.72-.298-9.022-.323-18.416-1.425-24.62-5.851-11.342-8.089-12.572-19.139-13.051-32.465-.51-14.181-.206-31.152-.259-45.524-.039-10.709-.257-26.143,5.047-35.291,2.184-3.766,4.479-5.995,7.715-8.57,1.711-1.361,4.337-2.595,6.464-3.407,3.327-1.269,6.98-1.999,10.8-2.391,11.067-1.136,33.064-.768,46.102-.761,10.856.007,29.965-.637,39.808,3.286,1.752.698,3.313,1.426,4.84,2.401.723.461,1.554.996,2.135,1.489.746.633,1.147,1.215,1.802,1.808,2.556,2.316,4.317,4.197,6.122,8.193,4.839,10.713,3.99,27.833,4.026,39.652.042,13.536.308,35.928-.668,46.795-.868,9.665-3.61,16.875-9.792,22.434-3.764,3.385-7.558,5.235-12.806,6.597-6.488,1.683-16.881,1.902-23.944,1.902h0ZM102.029,40.736c-17.02.351-30.491.547-43.294,10.457-1.51,1.17-2.894,2.307-4.173,3.721-.433.479-.722.846-1.14,1.335-2.121,2.478-1.394,1.685-3.401,4.325-1.413,1.859-2.651,4.265-3.693,6.669-4.757,10.977-4.785,23.229-4.915,36.168-.137,13.764-.694,47.144.996,60.299,2.033,15.825,10.439,29.712,25.525,36.151,11.125,4.749,23.109,4.798,36.197,4.958,6.844.084,13.734.085,20.58.05,6.839-.035,13.765.121,20.58-.02,17.281-.361,31.938-.838,44.612-11.713.938-.804,1.96-1.685,2.731-2.526,12.74-13.908,12.966-29.113,13.196-48.41.161-13.504.64-47.522-1.109-60.486-.999-7.402-3.92-16.72-8.379-22.359-4.984-6.302-9.728-10.298-17.209-13.721-10.207-4.669-24.082-4.769-36.313-4.935-13.46-.182-27.339-.239-40.791.039h0ZM122.238,95.447c7.804-.557,14.401,2.457,19.972,7.259,4.964,4.279,8.293,11.546,8.759,18.527.369,5.539-1.303,11.888-4.282,16.276-4.984,7.343-12.094,12.032-21.477,12.575-11.133.643-21.139-5.324-26.132-15.003-8.385-16.252,1.756-38.106,23.161-39.633h0ZM121.295,80.677c-9.842.591-19.219,4.435-26.074,10.88-2.257,2.121-3.186,2.998-5.093,5.439-6.109,7.814-9.317,17.981-8.704,28.279.548,9.196,3.566,16.211,8.542,23.004,8.098,11.055,22.32,17.423,36.198,16.561,8.293-.515,16.952-3.729,23.064-8.525l2.81-2.448c9.192-8.268,14.486-20.501,13.721-33.603-.441-7.578-2.805-14.001-6.384-19.899-1.717-2.83-2.56-3.697-4.662-5.862-.889-.916-1.6-1.859-2.477-2.793l-2.906-2.359c-8.286-5.985-17.022-9.336-28.034-8.674h0ZM166.357,69.154c-2.897.376-5.323,1.915-6.44,3.499-1.47,2.087-2.656,4.055-2.212,7.495.652,5.054,5.134,9.304,11.04,8.549,5.086-.651,9.32-5.05,8.537-10.987-.655-4.967-5.122-9.309-10.925-8.556h0Z"/>
                    </g>
                </svg>
            </li>
            <li>
                <svg id="linkedin" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 246.987 246.476">
                    <defs>
                        <style>.linkedin-red{fill:#e00122;fill-rule:evenodd;stroke-width:0px;}</style>
                    </defs>
                    <g>
                        <path class="linkedin-red" d="M125.493,234.533c-20.322,0-35.566-3.56-53.033-12.277-2.766-1.38-6.134-3.238-8.681-4.94-7.138-4.769-12.867-9.023-18.952-15.097-4.177-4.169-9.186-9.959-12.492-14.741-.521-.753-.828-1.238-1.351-1.935l-3.972-6.357c-1.71-2.836-3.153-5.892-4.688-8.927-6.142-12.143-10.339-30.939-10.339-44.103,0-17.124,1.293-25.17,6.318-40.142l3.942-9.67c6.475-12.822,11.408-20.963,22.347-31.882,3.052-3.046,7.29-6.777,10.733-9.46l8.027-5.594c11.474-7.014,20.202-11.014,33.375-14.304,17.255-4.31,36.263-4.313,53.535,0,3.747.935,7.182,1.913,10.511,3.114,8.729,3.15,19.515,8.385,26.93,13.936l7.686,5.933c.781.61,1.063.997,1.745,1.542l3.741,3.303c5.239,5.175,6.886,7.338,11.261,12.686l5.614,8.002c6.089,9.969,6.882,12.377,11.075,22.959.646,1.629,1.209,3.517,1.665,5.141,6.39,22.789,6.01,42.428-.74,65.315-2.28,7.73-5.657,14.542-9.47,21.512l-5.287,8.329c-2.306,3.113-6.441,8.751-9.067,11.358-1.323,1.313-3.762,4.175-5.067,5.264l-4.453,4c-3.505,3.275-12.696,9.688-17.025,12.093-4.671,2.595-8.914,4.825-13.871,6.798-1.709.68-3.213,1.2-4.934,1.878-1.701.669-3.314,1.123-5.157,1.655-9.46,2.727-19.041,4.61-29.927,4.61h0ZM0,122.872c0,28.596,9.517,55.306,26.995,77.209.612.766,1.19,1.392,1.811,2.18,4.634,5.885,11.417,12.169,17.436,17.079,5.823,4.748,9.815,7.15,16.079,10.926l10.263,5.239c.862.35,1.669.767,2.618,1.14,3.017,1.187,4.912,2.074,8.313,3.196,23.687,7.817,49.498,9.039,73.497,1.993,4.555-1.337,7.14-2.14,11.587-3.916,1.895-.757,3.707-1.405,5.463-2.289,8.251-4.154,11.736-5.593,19.678-11.087,13.629-9.426,21.633-18.246,30.961-30.79l6.002-9.492c.966-1.723,1.841-3.218,2.736-5.01,4.647-9.307,7.878-17.874,10.311-28.18.764-3.236,2.022-9.969,2.295-13.192,1.151-13.591,1.35-15.099.028-28.869-1.356-14.126-6.06-28.688-12.398-41.343-.896-1.789-1.708-3.383-2.708-5.038-3.213-5.312-5.23-8.851-9.256-13.984l-4.274-5.351c-2.411-2.7-8.027-8.913-10.36-10.771-1.491-1.187-2.599-2.354-4.165-3.584-2.493-1.956-3.545-3.03-6.444-5.062-6.159-4.318-9.916-6.941-16.844-10.399-5.295-2.643-10.463-4.996-16.147-6.871-3.953-1.305-7.761-2.489-12.039-3.466-24.158-5.519-50.271-3.779-73.08,5.355-11.49,4.602-19.878,9.373-29.611,16.656-.765.573-1.438,1.015-2.144,1.613l-5.185,4.442c-4.038,3.582-5.295,5.066-8.814,8.561-3.466,3.442-10.852,13.254-13.344,17.41-.951,1.587-1.943,3.109-2.946,4.801l-3.957,7.544c-.422,1.022-.9,1.767-1.308,2.683C4.844,86.13,0,102.814,0,122.872h0Z"/>
                        <path class="linkedin-red" d="M135.726,97.172c-.385-1.071-.258-4.909-.168-6.324l-29.48.009v100.048c2.477-.032,4.957-.043,7.435-.066,1.594-.015,6.137-.25,7.375.023,1.222.235,12.565.046,14.771.036.143-3.537-.17-7.698-.198-11.324-.091-11.589.171-23.232.195-34.841.029-13.103.698-28.135,17.859-28.779,3.637-.136,7.051.499,9.738,1.974,2.201,1.207,4.365,3.59,5.556,6.113,2.762,5.847,2.776,13.481,2.789,20.528.023,11.613.292,23.238.202,34.84-.028,3.601-.384,8.016-.201,11.482l30.716.122c.237-2.166.055-43.093.055-46.445l.007-17.256c0-1.951.173-4.009.077-5.92-.38-7.633-4.845-19.097-10.55-24.34-1.896-1.742-4.446-3.632-6.802-4.884-5.319-2.828-11.655-4.585-18.74-4.593-8.43-.009-17.87,3.311-23.562,8.493-2.729,2.485-4.091,3.925-6.287,6.874l-.791.804.003-6.574h0ZM54.732,191.078l30.963.002c-.281-4.362-.013-9.67-.003-14.135.011-4.711.016-9.423.026-14.134.007-3.268-.242-27.382.174-28.269-.289-1.443-.063-18.829-.061-21.856.003-3.616.008-7.231.012-10.847.003-3.422.227-7.643-.017-10.967l-31.066-.096-.029,100.302h0ZM68.156,40.674c-5.514.778-9.735,3.332-12.18,6.356-2.607,3.223-4.825,8.495-4.123,14.101,1.179,9.399,9.533,17.639,20.452,16.313,9.276-1.126,17.477-9.696,16.105-20.518-1.158-9.141-9.592-17.757-20.254-16.252h0Z"/>
                    </g>
                </svg>
            </li>
            <li>
                <svg id="twitterx" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 246.988 246.476">
                    <defs>
                        <style>.twitterx-red{fill:#e00122;fill-rule:evenodd;stroke-width:0px;}</style>
                    </defs>
                    <g>
                        <path class="twitterx-red" d="M151.678,178.974c-1.104-1.551-68.7-94.428-74.764-102.946h18.507c5.039,7.078,58.849,81.163,74.357,102.946h-18.101ZM48.269,192.775l19.27-.013c9.69-10.135,31.808-33.265,43.29-45.273,5.271,7.574,21.69,28.906,33.014,45.272h52.619c-7.791-10.943-46.218-61.331-56.487-75.754,15.594-16.308,35.447-37.071,52.555-54.963-1.529-.002-19.227-.005-19.257-.005-2.525,2.644-32.864,34.374-40.663,42.53-3.751-5.306-29.824-41.682-30.391-42.53h-51.443c4.592,6.449,46.488,65.297,52.283,73.436-4.295,4.585-48.079,50.123-54.79,57.3h0Z"/>
                        <path class="twitterx-red" d="M125.493,234.534c-20.322,0-35.566-3.56-53.033-12.277-2.767-1.38-6.134-3.238-8.681-4.94-7.138-4.769-12.867-9.023-18.952-15.097-4.177-4.169-9.187-9.959-12.492-14.741-.521-.753-.828-1.238-1.351-1.936l-3.971-6.357c-1.71-2.835-3.153-5.892-4.688-8.927-6.142-12.143-10.34-30.939-10.34-44.103,0-17.124,1.293-25.17,6.318-40.141l3.942-9.67c6.475-12.822,11.408-20.962,22.347-31.882,3.052-3.046,7.291-6.777,10.733-9.46l8.027-5.594c11.474-7.014,20.202-11.014,33.376-14.304,17.255-4.31,36.263-4.313,53.534,0,3.747.936,7.182,1.913,10.511,3.114,8.729,3.149,19.515,8.385,26.93,13.936l7.687,5.933c.781.61,1.063.997,1.745,1.543l3.741,3.303c5.239,5.174,6.886,7.338,11.261,12.686l5.614,8.002c6.089,9.969,6.882,12.377,11.075,22.959.646,1.629,1.209,3.517,1.665,5.141,6.39,22.789,6.01,42.428-.74,65.315-2.28,7.73-5.657,14.542-9.47,21.512l-5.286,8.329c-2.306,3.113-6.441,8.751-9.067,11.358-1.323,1.313-3.762,4.175-5.067,5.264l-4.453,4c-3.506,3.275-12.696,9.688-17.025,12.093-4.671,2.595-8.914,4.825-13.871,6.798-1.709.681-3.214,1.201-4.934,1.878-1.701.67-3.315,1.124-5.157,1.655-9.46,2.727-19.041,4.61-29.927,4.61h0ZM0,122.872c0,28.596,9.517,55.306,26.995,77.209.611.766,1.19,1.392,1.811,2.181,4.634,5.885,11.416,12.169,17.436,17.079,5.822,4.748,9.815,7.15,16.079,10.926l10.263,5.239c.862.35,1.669.767,2.618,1.14,3.018,1.187,4.912,2.074,8.313,3.196,23.687,7.817,49.497,9.039,73.497,1.993,4.555-1.337,7.14-2.14,11.587-3.916,1.894-.756,3.707-1.405,5.462-2.289,8.251-4.155,11.736-5.593,19.678-11.087,13.628-9.426,21.633-18.246,30.96-30.791l6.002-9.492c.966-1.723,1.841-3.218,2.736-5.01,4.647-9.307,7.878-17.874,10.311-28.18.764-3.236,2.022-9.969,2.295-13.192,1.151-13.591,1.35-15.099.028-28.869-1.356-14.126-6.06-28.688-12.398-41.343-.896-1.789-1.708-3.383-2.708-5.038-3.213-5.312-5.23-8.851-9.256-13.984l-4.275-5.351c-2.411-2.7-8.026-8.913-10.36-10.771-1.49-1.187-2.598-2.355-4.165-3.584-2.492-1.956-3.545-3.03-6.443-5.062-6.16-4.318-9.916-6.941-16.844-10.398-5.296-2.643-10.463-4.996-16.147-6.872-3.953-1.304-7.761-2.489-12.038-3.466-24.159-5.519-50.272-3.779-73.08,5.355-11.49,4.602-19.878,9.373-29.611,16.656-.766.573-1.439,1.014-2.144,1.613l-5.185,4.442c-4.039,3.582-5.295,5.066-8.814,8.561-3.465,3.442-10.852,13.254-13.344,17.41-.951,1.587-1.942,3.109-2.946,4.801l-3.958,7.544c-.422,1.022-.899,1.767-1.307,2.683C4.844,86.13,0,102.814,0,122.872h0Z"/>
                    </g>
                </svg>
            </li>
            <li>
                <svg id="youtube" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 246.988 246.477">
                    <defs>
                        <style>.youtube-white{fill:#fff;}.youtube-white,.youtube-red{fill-rule:evenodd;stroke-width:0px;}.youtube-red{fill:#e00122;}</style>
                    </defs>
                    <g>
                        <path class="youtube-red" d="M125.493,234.534c-20.322,0-35.566-3.56-53.033-12.277-2.767-1.38-6.134-3.239-8.681-4.94-7.138-4.769-12.867-9.024-18.952-15.097-4.177-4.169-9.187-9.959-12.493-14.742-.521-.753-.828-1.238-1.351-1.936l-3.972-6.357c-1.71-2.836-3.153-5.893-4.688-8.927-6.142-12.143-10.34-30.939-10.34-44.103,0-17.124,1.293-25.17,6.318-40.141l3.942-9.67c6.475-12.822,11.408-20.963,22.347-31.882,3.052-3.046,7.291-6.777,10.733-9.46l8.027-5.594c11.474-7.014,20.202-11.014,33.376-14.304,17.255-4.31,36.263-4.313,53.535,0,3.747.936,7.182,1.913,10.51,3.114,8.729,3.15,19.515,8.385,26.93,13.936l7.687,5.933c.782.61,1.063.997,1.745,1.542l3.741,3.303c5.239,5.175,6.886,7.338,11.261,12.686l5.614,8.002c6.089,9.969,6.882,12.377,11.075,22.959.646,1.629,1.209,3.517,1.665,5.141,6.39,22.789,6.009,42.428-.74,65.315-2.28,7.73-5.657,14.542-9.47,21.512l-5.286,8.329c-2.306,3.113-6.441,8.751-9.068,11.358-1.324,1.313-3.762,4.175-5.067,5.264l-4.453,4.001c-3.505,3.275-12.696,9.688-17.026,12.093-4.671,2.594-8.913,4.825-13.87,6.798-1.709.681-3.214,1.2-4.934,1.878-1.701.67-3.315,1.124-5.157,1.655-9.46,2.727-19.041,4.61-29.927,4.61h0ZM0,122.872c0,28.596,9.517,55.306,26.995,77.209.611.766,1.19,1.392,1.811,2.18,4.634,5.885,11.416,12.169,17.436,17.079,5.822,4.749,9.815,7.151,16.079,10.926l10.263,5.239c.862.349,1.669.766,2.618,1.14,3.018,1.187,4.912,2.074,8.313,3.196,23.687,7.817,49.497,9.039,73.497,1.993,4.555-1.337,7.14-2.14,11.588-3.916,1.894-.756,3.707-1.405,5.462-2.289,8.252-4.155,11.736-5.593,19.679-11.087,13.629-9.427,21.633-18.246,30.96-30.791l6.002-9.492c.966-1.723,1.841-3.218,2.736-5.01,4.647-9.307,7.878-17.874,10.311-28.18.764-3.236,2.022-9.969,2.295-13.192,1.151-13.591,1.35-15.099.028-28.869-1.356-14.126-6.06-28.688-12.398-41.343-.896-1.789-1.708-3.383-2.709-5.038-3.213-5.312-5.23-8.851-9.256-13.984l-4.275-5.351c-2.411-2.7-8.026-8.913-10.36-10.771-1.49-1.187-2.598-2.354-4.165-3.584-2.493-1.956-3.545-3.03-6.444-5.062-6.159-4.318-9.916-6.941-16.844-10.399-5.295-2.643-10.462-4.995-16.147-6.871-3.953-1.305-7.761-2.489-12.038-3.466-24.158-5.519-50.272-3.779-73.08,5.355-11.49,4.602-19.878,9.373-29.611,16.656-.766.573-1.439,1.014-2.144,1.613l-5.186,4.442c-4.038,3.582-5.294,5.066-8.814,8.561-3.465,3.442-10.852,13.254-13.344,17.41-.952,1.587-1.943,3.109-2.946,4.801l-3.958,7.544c-.422,1.022-.899,1.767-1.308,2.682C4.844,86.13,0,102.814,0,122.872h0Z"/>
                        <path class="youtube-red" d="M105.004,149.495c-.039-17.592-.171-35.619-.073-53.151l.008-.623,47.073,26.759c-.41.813-4.589,2.903-5.683,3.545-3.342,1.963-40.861,23.472-41.325,23.469h0ZM109.45,59.417c-15.182.192-39.288.84-54.321,3.334-4.028.668-7.217,1.826-10.453,3.873-4.656,2.945-8.143,8.177-9.454,14.716-3.232,16.125-3.635,37.825-3,54.11.394,10.106,1.342,25.055,4.749,33.636,4.116,10.368,13.267,13.251,24.02,14.471,5.953.676,12.048.868,18.065,1.202,25.724,1.43,87.527,2.104,111.003-2.114,3.786-.681,7.238-1.999,10.295-4.014,4.525-2.982,8.018-8.432,9.25-14.91,1.052-5.531,1.825-11.188,2.323-16.92,1.057-12.171,1.455-24.741.884-37.007-.438-9.417-1.581-25.702-4.873-33.472-1.762-4.157-4.998-8.081-8.811-10.428-7.929-4.881-23.553-4.952-33.14-5.409-18.574-.886-37.997-1.302-56.537-1.068h0Z"/>
                        <path class="youtube-white" d="M105.004,149.495c.465.003,37.984-21.506,41.325-23.469,1.094-.643,5.273-2.732,5.683-3.545l-47.073-26.759-.008.623c-.098,17.533.034,35.56.073,53.151h0Z"/>
                    </g>
                </svg>
            </li>
            <li>
                <svg id="facebook" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 246.987 246.476">
                    <defs>
                        <style>.facebook-red{fill:#e00122;fill-rule:evenodd;stroke-width:0px;}</style>
                    </defs>
                    <g>
                        <path class="facebook-red" d="M125.493,234.533c-20.322,0-35.566-3.56-53.033-12.277-2.767-1.38-6.134-3.238-8.681-4.94-7.138-4.769-12.867-9.024-18.952-15.097-4.177-4.169-9.187-9.959-12.492-14.741-.521-.753-.828-1.238-1.351-1.936l-3.972-6.357c-1.71-2.836-3.153-5.892-4.687-8.927-6.142-12.143-10.34-30.939-10.34-44.103,0-17.124,1.293-25.17,6.318-40.141l3.943-9.67c6.475-12.822,11.408-20.963,22.347-31.882,3.052-3.046,7.29-6.777,10.733-9.46l8.027-5.594c11.474-7.014,20.202-11.014,33.376-14.304,17.255-4.31,36.263-4.313,53.534,0,3.747.936,7.183,1.913,10.511,3.114,8.729,3.15,19.515,8.385,26.93,13.936l7.686,5.934c.781.61,1.062.997,1.745,1.542l3.741,3.303c5.239,5.175,6.886,7.338,11.261,12.686l5.614,8.002c6.089,9.969,6.882,12.377,11.075,22.959.646,1.629,1.209,3.517,1.665,5.141,6.39,22.789,6.009,42.428-.74,65.315-2.28,7.73-5.657,14.541-9.47,21.512l-5.286,8.329c-2.306,3.113-6.441,8.751-9.068,11.358-1.323,1.313-3.761,4.175-5.067,5.264l-4.453,4c-3.506,3.275-12.696,9.688-17.025,12.093-4.671,2.595-8.914,4.825-13.871,6.798-1.709.681-3.214,1.2-4.934,1.878-1.701.67-3.315,1.124-5.157,1.655-9.46,2.727-19.041,4.61-29.927,4.61h0ZM0,122.871c0,28.596,9.517,55.306,26.995,77.208.611.766,1.19,1.392,1.811,2.181,4.634,5.885,11.417,12.169,17.436,17.079,5.822,4.748,9.815,7.15,16.079,10.926l10.262,5.239c.862.35,1.669.766,2.618,1.14,3.017,1.187,4.912,2.074,8.313,3.196,23.687,7.817,49.497,9.039,73.497,1.993,4.555-1.337,7.14-2.14,11.587-3.916,1.895-.756,3.707-1.405,5.462-2.289,8.251-4.155,11.735-5.593,19.679-11.087,13.628-9.426,21.632-18.246,30.96-30.79l6.002-9.492c.965-1.723,1.841-3.218,2.736-5.01,4.647-9.307,7.878-17.874,10.31-28.179.764-3.236,2.022-9.969,2.295-13.192,1.151-13.591,1.35-15.099.028-28.869-1.356-14.126-6.06-28.688-12.398-41.343-.896-1.789-1.708-3.383-2.709-5.038-3.213-5.312-5.23-8.851-9.256-13.984l-4.274-5.351c-2.411-2.7-8.026-8.913-10.36-10.771-1.49-1.187-2.598-2.354-4.165-3.584-2.493-1.956-3.545-3.03-6.444-5.062-6.159-4.318-9.916-6.941-16.843-10.398-5.296-2.643-10.463-4.996-16.147-6.871-3.953-1.305-7.761-2.489-12.038-3.466-24.158-5.519-50.271-3.78-73.079,5.355-11.491,4.602-19.878,9.373-29.611,16.656-.766.573-1.439,1.014-2.144,1.613l-5.185,4.442c-4.038,3.583-5.295,5.066-8.814,8.561-3.466,3.442-10.852,13.254-13.344,17.41-.951,1.587-1.943,3.109-2.946,4.801l-3.958,7.544c-.422,1.022-.899,1.767-1.307,2.683C4.844,86.13,0,102.813,0,122.871h0Z"/>
                        <path class="facebook-red" d="M76.269,103.679l.002,28.049,24.738.038.039,67.774c1.418.905,12.65,1.428,15.039,1.405,3.416-.032,12.584-.267,15.299-1.287.447-5.267.082-11.552.073-16.926v-50.889l22.635-.085,4.34-28.031-27.02-.037c0-5.106-.007-10.199-.003-15.291.004-5.431.131-8.701,2.801-12.637,4.978-7.341,15.447-4.887,25.385-5.54l-.014-23.86c-1.685-.72-13.645-1.617-16.243-1.75-8.346-.427-16.088.149-23.547,3.445-2.183.965-3.955,2.174-5.622,3.421-3.173,2.372-6.39,6.244-8.363,9.73-6.35,11.218-4.594,26.716-4.744,40.175-.032,2.853,1.179,2.223-6.707,2.238-3.966.007-14.992-.168-18.086.058h0Z"/>
                    </g>
                </svg>
            </li>
        </ul>
        <br>
        <ul class="social-media-icons black-bg p-1">
            <li>
                <svg id="instagram" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 246.987 246.476">
                    <defs>
                        <style>.instagram-white{fill:#fff;fill-rule:evenodd;stroke-width:0px;}</style>
                    </defs>
                    <g>
                        <path class="instagram-white" d="M125.493,234.534c-20.321,0-35.566-3.56-53.033-12.277-2.766-1.38-6.134-3.238-8.681-4.94-7.138-4.769-12.867-9.023-18.952-15.097-4.177-4.169-9.186-9.959-12.492-14.741-.521-.753-.828-1.238-1.351-1.936l-3.972-6.357c-1.71-2.835-3.153-5.892-4.687-8.927-6.142-12.143-10.34-30.939-10.34-44.103,0-17.124,1.293-25.17,6.318-40.141l3.942-9.67c6.475-12.822,11.408-20.962,22.347-31.882,3.052-3.046,7.291-6.777,10.733-9.46l8.027-5.594c11.474-7.014,20.202-11.014,33.376-14.304,17.255-4.31,36.263-4.313,53.534,0,3.747.936,7.182,1.913,10.511,3.114,8.729,3.149,19.515,8.385,26.93,13.936l7.687,5.933c.782.61,1.063.997,1.745,1.543l3.741,3.303c5.239,5.174,6.886,7.338,11.261,12.686l5.614,8.002c6.088,9.969,6.882,12.377,11.075,22.959.646,1.629,1.209,3.517,1.665,5.141,6.39,22.789,6.009,42.428-.74,65.315-2.28,7.73-5.657,14.542-9.47,21.512l-5.286,8.329c-2.306,3.113-6.44,8.751-9.067,11.358-1.323,1.313-3.761,4.175-5.066,5.264l-4.453,4c-3.506,3.275-12.696,9.688-17.026,12.093-4.671,2.595-8.914,4.825-13.87,6.798-1.709.681-3.214,1.201-4.934,1.878-1.7.67-3.315,1.124-5.157,1.655-9.461,2.727-19.042,4.61-29.928,4.61h0ZM0,122.872c0,28.596,9.517,55.306,26.995,77.209.611.766,1.19,1.392,1.811,2.181,4.634,5.885,11.416,12.169,17.436,17.079,5.822,4.748,9.815,7.15,16.08,10.926l10.262,5.239c.862.35,1.669.767,2.618,1.14,3.017,1.187,4.912,2.074,8.313,3.196,23.687,7.817,49.498,9.039,73.497,1.993,4.555-1.337,7.14-2.14,11.587-3.916,1.894-.756,3.707-1.405,5.462-2.289,8.251-4.155,11.736-5.593,19.679-11.087,13.628-9.426,21.633-18.246,30.96-30.791l6.002-9.492c.965-1.723,1.841-3.218,2.736-5.01,4.647-9.307,7.877-17.874,10.311-28.18.764-3.236,2.022-9.969,2.294-13.192,1.151-13.591,1.35-15.099.028-28.869-1.356-14.126-6.059-28.688-12.398-41.343-.896-1.789-1.708-3.383-2.708-5.038-3.214-5.312-5.231-8.851-9.256-13.984l-4.274-5.351c-2.411-2.7-8.026-8.913-10.36-10.771-1.491-1.187-2.598-2.355-4.165-3.584-2.493-1.956-3.545-3.03-6.444-5.062-6.159-4.318-9.916-6.941-16.844-10.398-5.295-2.643-10.462-4.996-16.147-6.872-3.953-1.304-7.761-2.489-12.038-3.466-24.158-5.519-50.272-3.779-73.08,5.355-11.49,4.602-19.878,9.373-29.611,16.656-.765.573-1.438,1.014-2.144,1.613l-5.185,4.442c-4.038,3.582-5.294,5.066-8.814,8.561-3.465,3.442-10.852,13.254-13.344,17.41-.951,1.587-1.943,3.109-2.946,4.801l-3.958,7.544c-.422,1.022-.9,1.767-1.308,2.683C4.844,86.13,0,102.814,0,122.872h0Z"/>
                        <path class="instagram-white" d="M143.808,190.015c-16.617,0-33.022.302-49.72-.298-9.022-.323-18.416-1.425-24.62-5.851-11.342-8.089-12.572-19.139-13.051-32.465-.51-14.181-.206-31.152-.259-45.524-.039-10.709-.257-26.143,5.047-35.291,2.184-3.766,4.479-5.995,7.715-8.57,1.711-1.361,4.337-2.595,6.464-3.407,3.327-1.269,6.98-1.999,10.8-2.391,11.067-1.136,33.064-.768,46.102-.761,10.856.007,29.965-.637,39.808,3.286,1.752.698,3.313,1.426,4.84,2.401.723.461,1.554.996,2.135,1.489.746.633,1.147,1.215,1.802,1.808,2.556,2.316,4.317,4.197,6.122,8.193,4.839,10.713,3.99,27.833,4.026,39.652.042,13.536.308,35.928-.668,46.795-.868,9.665-3.61,16.875-9.792,22.434-3.764,3.385-7.558,5.235-12.806,6.597-6.488,1.683-16.881,1.902-23.944,1.902h0ZM102.029,40.736c-17.02.351-30.491.547-43.294,10.457-1.51,1.17-2.894,2.307-4.173,3.721-.433.479-.722.846-1.14,1.335-2.121,2.478-1.394,1.685-3.401,4.325-1.413,1.859-2.651,4.265-3.693,6.669-4.757,10.977-4.785,23.229-4.915,36.168-.137,13.764-.694,47.144.996,60.299,2.033,15.825,10.439,29.712,25.525,36.151,11.125,4.749,23.109,4.798,36.197,4.958,6.844.084,13.734.085,20.58.05,6.839-.035,13.765.121,20.58-.02,17.281-.361,31.938-.838,44.612-11.713.938-.804,1.96-1.685,2.731-2.526,12.74-13.908,12.966-29.113,13.196-48.41.161-13.504.64-47.522-1.109-60.486-.999-7.402-3.92-16.72-8.379-22.359-4.984-6.302-9.728-10.298-17.209-13.721-10.207-4.669-24.082-4.769-36.313-4.935-13.46-.182-27.339-.239-40.791.039h0ZM122.238,95.447c7.804-.557,14.401,2.457,19.972,7.259,4.964,4.279,8.293,11.546,8.759,18.527.369,5.539-1.303,11.888-4.282,16.276-4.984,7.343-12.094,12.032-21.477,12.575-11.133.643-21.139-5.324-26.132-15.003-8.385-16.252,1.756-38.106,23.161-39.633h0ZM121.295,80.677c-9.842.591-19.219,4.435-26.074,10.88-2.257,2.121-3.186,2.998-5.093,5.439-6.109,7.814-9.317,17.981-8.704,28.279.548,9.196,3.566,16.211,8.542,23.004,8.098,11.055,22.32,17.423,36.198,16.561,8.293-.515,16.952-3.729,23.064-8.525l2.81-2.448c9.192-8.268,14.486-20.501,13.721-33.603-.441-7.578-2.805-14.001-6.384-19.899-1.717-2.83-2.56-3.697-4.662-5.862-.889-.916-1.6-1.859-2.477-2.793l-2.906-2.359c-8.286-5.985-17.022-9.336-28.034-8.674h0ZM166.357,69.154c-2.897.376-5.323,1.915-6.44,3.499-1.47,2.087-2.656,4.055-2.212,7.495.652,5.054,5.134,9.304,11.04,8.549,5.086-.651,9.32-5.05,8.537-10.987-.655-4.967-5.122-9.309-10.925-8.556h0Z"/>
                    </g>
                </svg>
            </li>
            <li>
                <svg id="linkedin" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 246.987 246.476">
                    <defs>
                        <style>.linkedin-white{fill:#fff;fill-rule:evenodd;stroke-width:0px;}</style>
                    </defs>
                    <g>
                        <path class="linkedin-white" d="M125.493,234.533c-20.322,0-35.566-3.56-53.033-12.277-2.766-1.38-6.134-3.238-8.681-4.94-7.138-4.769-12.867-9.023-18.952-15.097-4.177-4.169-9.186-9.959-12.492-14.741-.521-.753-.828-1.238-1.351-1.935l-3.972-6.357c-1.71-2.836-3.153-5.892-4.688-8.927-6.142-12.143-10.339-30.939-10.339-44.103,0-17.124,1.293-25.17,6.318-40.142l3.942-9.67c6.475-12.822,11.408-20.963,22.347-31.882,3.052-3.046,7.29-6.777,10.733-9.46l8.027-5.594c11.474-7.014,20.202-11.014,33.375-14.304,17.255-4.31,36.263-4.313,53.535,0,3.747.935,7.182,1.913,10.511,3.114,8.729,3.15,19.515,8.385,26.93,13.936l7.686,5.933c.781.61,1.063.997,1.745,1.542l3.741,3.303c5.239,5.175,6.886,7.338,11.261,12.686l5.614,8.002c6.089,9.969,6.882,12.377,11.075,22.959.646,1.629,1.209,3.517,1.665,5.141,6.39,22.789,6.01,42.428-.74,65.315-2.28,7.73-5.657,14.542-9.47,21.512l-5.287,8.329c-2.306,3.113-6.441,8.751-9.067,11.358-1.323,1.313-3.762,4.175-5.067,5.264l-4.453,4c-3.505,3.275-12.696,9.688-17.025,12.093-4.671,2.595-8.914,4.825-13.871,6.798-1.709.68-3.213,1.2-4.934,1.878-1.701.669-3.314,1.123-5.157,1.655-9.46,2.727-19.041,4.61-29.927,4.61h0ZM0,122.872c0,28.596,9.517,55.306,26.995,77.209.612.766,1.19,1.392,1.811,2.18,4.634,5.885,11.417,12.169,17.436,17.079,5.823,4.748,9.815,7.15,16.079,10.926l10.263,5.239c.862.35,1.669.767,2.618,1.14,3.017,1.187,4.912,2.074,8.313,3.196,23.687,7.817,49.498,9.039,73.497,1.993,4.555-1.337,7.14-2.14,11.587-3.916,1.895-.757,3.707-1.405,5.463-2.289,8.251-4.154,11.736-5.593,19.678-11.087,13.629-9.426,21.633-18.246,30.961-30.79l6.002-9.492c.966-1.723,1.841-3.218,2.736-5.01,4.647-9.307,7.878-17.874,10.311-28.18.764-3.236,2.022-9.969,2.295-13.192,1.151-13.591,1.35-15.099.028-28.869-1.356-14.126-6.06-28.688-12.398-41.343-.896-1.789-1.708-3.383-2.708-5.038-3.213-5.312-5.23-8.851-9.256-13.984l-4.274-5.351c-2.411-2.7-8.027-8.913-10.36-10.771-1.491-1.187-2.599-2.354-4.165-3.584-2.493-1.956-3.545-3.03-6.444-5.062-6.159-4.318-9.916-6.941-16.844-10.399-5.295-2.643-10.463-4.996-16.147-6.871-3.953-1.305-7.761-2.489-12.039-3.466-24.158-5.519-50.271-3.779-73.08,5.355-11.49,4.602-19.878,9.373-29.611,16.656-.765.573-1.438,1.015-2.144,1.613l-5.185,4.442c-4.038,3.582-5.295,5.066-8.814,8.561-3.466,3.442-10.852,13.254-13.344,17.41-.951,1.587-1.943,3.109-2.946,4.801l-3.957,7.544c-.422,1.022-.9,1.767-1.308,2.683C4.844,86.13,0,102.814,0,122.872h0Z"/>
                        <path class="linkedin-white" d="M135.726,97.172c-.385-1.071-.258-4.909-.168-6.324l-29.48.009v100.048c2.477-.032,4.957-.043,7.435-.066,1.594-.015,6.137-.25,7.375.023,1.222.235,12.565.046,14.771.036.143-3.537-.17-7.698-.198-11.324-.091-11.589.171-23.232.195-34.841.029-13.103.698-28.135,17.859-28.779,3.637-.136,7.051.499,9.738,1.974,2.201,1.207,4.365,3.59,5.556,6.113,2.762,5.847,2.776,13.481,2.789,20.528.023,11.613.292,23.238.202,34.84-.028,3.601-.384,8.016-.201,11.482l30.716.122c.237-2.166.055-43.093.055-46.445l.007-17.256c0-1.951.173-4.009.077-5.92-.38-7.633-4.845-19.097-10.55-24.34-1.896-1.742-4.446-3.632-6.802-4.884-5.319-2.828-11.655-4.585-18.74-4.593-8.43-.009-17.87,3.311-23.562,8.493-2.729,2.485-4.091,3.925-6.287,6.874l-.791.804.003-6.574h0ZM54.732,191.078l30.963.002c-.281-4.362-.013-9.67-.003-14.135.011-4.711.016-9.423.026-14.134.007-3.268-.242-27.382.174-28.269-.289-1.443-.063-18.829-.061-21.856.003-3.616.008-7.231.012-10.847.003-3.422.227-7.643-.017-10.967l-31.066-.096-.029,100.302h0ZM68.156,40.674c-5.514.778-9.735,3.332-12.18,6.356-2.607,3.223-4.825,8.495-4.123,14.101,1.179,9.399,9.533,17.639,20.452,16.313,9.276-1.126,17.477-9.696,16.105-20.518-1.158-9.141-9.592-17.757-20.254-16.252h0Z"/>
                    </g>
                </svg>
            </li>
            <li>
                <svg id="twitterx" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 246.988 246.476">
                    <defs>
                        <style>.twitterx-white{fill:#fff;fill-rule:evenodd;stroke-width:0px;}</style>
                    </defs>
                    <g>
                        <path class="twitterx-white" d="M151.678,178.974c-1.104-1.551-68.7-94.428-74.764-102.946h18.507c5.039,7.078,58.849,81.163,74.357,102.946h-18.101ZM48.269,192.775l19.27-.013c9.69-10.135,31.808-33.265,43.29-45.273,5.271,7.574,21.69,28.906,33.014,45.272h52.619c-7.791-10.943-46.218-61.331-56.487-75.754,15.594-16.308,35.447-37.071,52.555-54.963-1.529-.002-19.227-.005-19.257-.005-2.525,2.644-32.864,34.374-40.663,42.53-3.751-5.306-29.824-41.682-30.391-42.53h-51.443c4.592,6.449,46.488,65.297,52.283,73.436-4.295,4.585-48.079,50.123-54.79,57.3h0Z"/>
                        <path class="twitterx-white" d="M125.493,234.534c-20.322,0-35.566-3.56-53.033-12.277-2.767-1.38-6.134-3.238-8.681-4.94-7.138-4.769-12.867-9.023-18.952-15.097-4.177-4.169-9.187-9.959-12.492-14.741-.521-.753-.828-1.238-1.351-1.936l-3.971-6.357c-1.71-2.835-3.153-5.892-4.688-8.927-6.142-12.143-10.34-30.939-10.34-44.103,0-17.124,1.293-25.17,6.318-40.141l3.942-9.67c6.475-12.822,11.408-20.962,22.347-31.882,3.052-3.046,7.291-6.777,10.733-9.46l8.027-5.594c11.474-7.014,20.202-11.014,33.376-14.304,17.255-4.31,36.263-4.313,53.534,0,3.747.936,7.182,1.913,10.511,3.114,8.729,3.149,19.515,8.385,26.93,13.936l7.687,5.933c.781.61,1.063.997,1.745,1.543l3.741,3.303c5.239,5.174,6.886,7.338,11.261,12.686l5.614,8.002c6.089,9.969,6.882,12.377,11.075,22.959.646,1.629,1.209,3.517,1.665,5.141,6.39,22.789,6.01,42.428-.74,65.315-2.28,7.73-5.657,14.542-9.47,21.512l-5.286,8.329c-2.306,3.113-6.441,8.751-9.067,11.358-1.323,1.313-3.762,4.175-5.067,5.264l-4.453,4c-3.506,3.275-12.696,9.688-17.025,12.093-4.671,2.595-8.914,4.825-13.871,6.798-1.709.681-3.214,1.201-4.934,1.878-1.701.67-3.315,1.124-5.157,1.655-9.46,2.727-19.041,4.61-29.927,4.61h0ZM0,122.872c0,28.596,9.517,55.306,26.995,77.209.611.766,1.19,1.392,1.811,2.181,4.634,5.885,11.416,12.169,17.436,17.079,5.822,4.748,9.815,7.15,16.079,10.926l10.263,5.239c.862.35,1.669.767,2.618,1.14,3.018,1.187,4.912,2.074,8.313,3.196,23.687,7.817,49.497,9.039,73.497,1.993,4.555-1.337,7.14-2.14,11.587-3.916,1.894-.756,3.707-1.405,5.462-2.289,8.251-4.155,11.736-5.593,19.678-11.087,13.628-9.426,21.633-18.246,30.96-30.791l6.002-9.492c.966-1.723,1.841-3.218,2.736-5.01,4.647-9.307,7.878-17.874,10.311-28.18.764-3.236,2.022-9.969,2.295-13.192,1.151-13.591,1.35-15.099.028-28.869-1.356-14.126-6.06-28.688-12.398-41.343-.896-1.789-1.708-3.383-2.708-5.038-3.213-5.312-5.23-8.851-9.256-13.984l-4.275-5.351c-2.411-2.7-8.026-8.913-10.36-10.771-1.49-1.187-2.598-2.355-4.165-3.584-2.492-1.956-3.545-3.03-6.443-5.062-6.16-4.318-9.916-6.941-16.844-10.398-5.296-2.643-10.463-4.996-16.147-6.872-3.953-1.304-7.761-2.489-12.038-3.466-24.159-5.519-50.272-3.779-73.08,5.355-11.49,4.602-19.878,9.373-29.611,16.656-.766.573-1.439,1.014-2.144,1.613l-5.185,4.442c-4.039,3.582-5.295,5.066-8.814,8.561-3.465,3.442-10.852,13.254-13.344,17.41-.951,1.587-1.942,3.109-2.946,4.801l-3.958,7.544c-.422,1.022-.899,1.767-1.307,2.683C4.844,86.13,0,102.814,0,122.872h0Z"/>
                    </g>
                </svg>
            </li>
            <li>
                <svg id="youtube" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 246.988 246.477">
                    <defs>
                        <style>.youtube-black{fill:#000;}.youtube-1,.youtube-white{fill-rule:evenodd;stroke-width:0px;}.youtube-white{fill:#fff;}</style>
                    </defs>
                    <g>
                        <path class="youtube-white" d="M125.493,234.534c-20.322,0-35.566-3.56-53.033-12.277-2.767-1.38-6.134-3.239-8.681-4.94-7.138-4.769-12.867-9.024-18.952-15.097-4.177-4.169-9.187-9.959-12.493-14.742-.521-.753-.828-1.238-1.351-1.936l-3.972-6.357c-1.71-2.836-3.153-5.893-4.688-8.927-6.142-12.143-10.34-30.939-10.34-44.103,0-17.124,1.293-25.17,6.318-40.141l3.942-9.67c6.475-12.822,11.408-20.963,22.347-31.882,3.052-3.046,7.291-6.777,10.733-9.46l8.027-5.594c11.474-7.014,20.202-11.014,33.376-14.304,17.255-4.31,36.263-4.313,53.535,0,3.747.936,7.182,1.913,10.51,3.114,8.729,3.15,19.515,8.385,26.93,13.936l7.687,5.933c.782.61,1.063.997,1.745,1.542l3.741,3.303c5.239,5.175,6.886,7.338,11.261,12.686l5.614,8.002c6.089,9.969,6.882,12.377,11.075,22.959.646,1.629,1.209,3.517,1.665,5.141,6.39,22.789,6.009,42.428-.74,65.315-2.28,7.73-5.657,14.542-9.47,21.512l-5.286,8.329c-2.306,3.113-6.441,8.751-9.068,11.358-1.324,1.313-3.762,4.175-5.067,5.264l-4.453,4.001c-3.505,3.275-12.696,9.688-17.026,12.093-4.671,2.594-8.913,4.825-13.87,6.798-1.709.681-3.214,1.2-4.934,1.878-1.701.67-3.315,1.124-5.157,1.655-9.46,2.727-19.041,4.61-29.927,4.61h0ZM0,122.872c0,28.596,9.517,55.306,26.995,77.209.611.766,1.19,1.392,1.811,2.18,4.634,5.885,11.416,12.169,17.436,17.079,5.822,4.749,9.815,7.151,16.079,10.926l10.263,5.239c.862.349,1.669.766,2.618,1.14,3.018,1.187,4.912,2.074,8.313,3.196,23.687,7.817,49.497,9.039,73.497,1.993,4.555-1.337,7.14-2.14,11.588-3.916,1.894-.756,3.707-1.405,5.462-2.289,8.252-4.155,11.736-5.593,19.679-11.087,13.629-9.427,21.633-18.246,30.96-30.791l6.002-9.492c.966-1.723,1.841-3.218,2.736-5.01,4.647-9.307,7.878-17.874,10.311-28.18.764-3.236,2.022-9.969,2.295-13.192,1.151-13.591,1.35-15.099.028-28.869-1.356-14.126-6.06-28.688-12.398-41.343-.896-1.789-1.708-3.383-2.709-5.038-3.213-5.312-5.23-8.851-9.256-13.984l-4.275-5.351c-2.411-2.7-8.026-8.913-10.36-10.771-1.49-1.187-2.598-2.354-4.165-3.584-2.493-1.956-3.545-3.03-6.444-5.062-6.159-4.318-9.916-6.941-16.844-10.399-5.295-2.643-10.462-4.995-16.147-6.871-3.953-1.305-7.761-2.489-12.038-3.466-24.158-5.519-50.272-3.779-73.08,5.355-11.49,4.602-19.878,9.373-29.611,16.656-.766.573-1.439,1.014-2.144,1.613l-5.186,4.442c-4.038,3.582-5.294,5.066-8.814,8.561-3.465,3.442-10.852,13.254-13.344,17.41-.952,1.587-1.943,3.109-2.946,4.801l-3.958,7.544c-.422,1.022-.899,1.767-1.308,2.682C4.844,86.13,0,102.814,0,122.872h0Z"/>
                        <path class="youtube-white" d="M105.004,149.495c-.039-17.592-.171-35.619-.073-53.151l.008-.623,47.073,26.759c-.41.813-4.589,2.903-5.683,3.545-3.342,1.963-40.861,23.472-41.325,23.469h0ZM109.45,59.417c-15.182.192-39.288.84-54.321,3.334-4.028.668-7.217,1.826-10.453,3.873-4.656,2.945-8.143,8.177-9.454,14.716-3.232,16.125-3.635,37.825-3,54.11.394,10.106,1.342,25.055,4.749,33.636,4.116,10.368,13.267,13.251,24.02,14.471,5.953.676,12.048.868,18.065,1.202,25.724,1.43,87.527,2.104,111.003-2.114,3.786-.681,7.238-1.999,10.295-4.014,4.525-2.982,8.018-8.432,9.25-14.91,1.052-5.531,1.825-11.188,2.323-16.92,1.057-12.171,1.455-24.741.884-37.007-.438-9.417-1.581-25.702-4.873-33.472-1.762-4.157-4.998-8.081-8.811-10.428-7.929-4.881-23.553-4.952-33.14-5.409-18.574-.886-37.997-1.302-56.537-1.068h0Z"/>
                        <path class="youtube-black" d="M105.004,149.495c.465.003,37.984-21.506,41.325-23.469,1.094-.643,5.273-2.732,5.683-3.545l-47.073-26.759-.008.623c-.098,17.533.034,35.56.073,53.151h0Z"/>
                    </g>
                </svg>
            </li>
            <li>
                <svg id="facebook" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 246.987 246.476">
                    <defs>
                        <style>.facebook-white{fill:#fff;fill-rule:evenodd;stroke-width:0px;}</style>
                    </defs>
                    <g>
                        <path class="facebook-white" d="M125.493,234.533c-20.322,0-35.566-3.56-53.033-12.277-2.767-1.38-6.134-3.238-8.681-4.94-7.138-4.769-12.867-9.024-18.952-15.097-4.177-4.169-9.187-9.959-12.492-14.741-.521-.753-.828-1.238-1.351-1.936l-3.972-6.357c-1.71-2.836-3.153-5.892-4.687-8.927-6.142-12.143-10.34-30.939-10.34-44.103,0-17.124,1.293-25.17,6.318-40.141l3.943-9.67c6.475-12.822,11.408-20.963,22.347-31.882,3.052-3.046,7.29-6.777,10.733-9.46l8.027-5.594c11.474-7.014,20.202-11.014,33.376-14.304,17.255-4.31,36.263-4.313,53.534,0,3.747.936,7.183,1.913,10.511,3.114,8.729,3.15,19.515,8.385,26.93,13.936l7.686,5.934c.781.61,1.062.997,1.745,1.542l3.741,3.303c5.239,5.175,6.886,7.338,11.261,12.686l5.614,8.002c6.089,9.969,6.882,12.377,11.075,22.959.646,1.629,1.209,3.517,1.665,5.141,6.39,22.789,6.009,42.428-.74,65.315-2.28,7.73-5.657,14.541-9.47,21.512l-5.286,8.329c-2.306,3.113-6.441,8.751-9.068,11.358-1.323,1.313-3.761,4.175-5.067,5.264l-4.453,4c-3.506,3.275-12.696,9.688-17.025,12.093-4.671,2.595-8.914,4.825-13.871,6.798-1.709.681-3.214,1.2-4.934,1.878-1.701.67-3.315,1.124-5.157,1.655-9.46,2.727-19.041,4.61-29.927,4.61h0ZM0,122.871c0,28.596,9.517,55.306,26.995,77.208.611.766,1.19,1.392,1.811,2.181,4.634,5.885,11.417,12.169,17.436,17.079,5.822,4.748,9.815,7.15,16.079,10.926l10.262,5.239c.862.35,1.669.766,2.618,1.14,3.017,1.187,4.912,2.074,8.313,3.196,23.687,7.817,49.497,9.039,73.497,1.993,4.555-1.337,7.14-2.14,11.587-3.916,1.895-.756,3.707-1.405,5.462-2.289,8.251-4.155,11.735-5.593,19.679-11.087,13.628-9.426,21.632-18.246,30.96-30.79l6.002-9.492c.965-1.723,1.841-3.218,2.736-5.01,4.647-9.307,7.878-17.874,10.31-28.179.764-3.236,2.022-9.969,2.295-13.192,1.151-13.591,1.35-15.099.028-28.869-1.356-14.126-6.06-28.688-12.398-41.343-.896-1.789-1.708-3.383-2.709-5.038-3.213-5.312-5.23-8.851-9.256-13.984l-4.274-5.351c-2.411-2.7-8.026-8.913-10.36-10.771-1.49-1.187-2.598-2.354-4.165-3.584-2.493-1.956-3.545-3.03-6.444-5.062-6.159-4.318-9.916-6.941-16.843-10.398-5.296-2.643-10.463-4.996-16.147-6.871-3.953-1.305-7.761-2.489-12.038-3.466-24.158-5.519-50.271-3.78-73.079,5.355-11.491,4.602-19.878,9.373-29.611,16.656-.766.573-1.439,1.014-2.144,1.613l-5.185,4.442c-4.038,3.583-5.295,5.066-8.814,8.561-3.466,3.442-10.852,13.254-13.344,17.41-.951,1.587-1.943,3.109-2.946,4.801l-3.958,7.544c-.422,1.022-.899,1.767-1.307,2.683C4.844,86.13,0,102.813,0,122.871h0Z"/>
                        <path class="facebook-white" d="M76.269,103.679l.002,28.049,24.738.038.039,67.774c1.418.905,12.65,1.428,15.039,1.405,3.416-.032,12.584-.267,15.299-1.287.447-5.267.082-11.552.073-16.926v-50.889l22.635-.085,4.34-28.031-27.02-.037c0-5.106-.007-10.199-.003-15.291.004-5.431.131-8.701,2.801-12.637,4.978-7.341,15.447-4.887,25.385-5.54l-.014-23.86c-1.685-.72-13.645-1.617-16.243-1.75-8.346-.427-16.088.149-23.547,3.445-2.183.965-3.955,2.174-5.622,3.421-3.173,2.372-6.39,6.244-8.363,9.73-6.35,11.218-4.594,26.716-4.744,40.175-.032,2.853,1.179,2.223-6.707,2.238-3.966.007-14.992-.168-18.086.058h0Z"/>
                    </g>
                </svg>
            </li>
        </ul>
    </main>
    
    
    {{!-- <ul class="icon-boxes hide">


        <li title="minus">
            <div class="icon-box" id="icon-box-minus">
                <svg class="icon minus">
                    <use xlink:href="#minus" />
                </svg>
            </div>
            <h2>minus</h2>
            <button onclick="showPopover('snippet-minus')" type="button">Show Snippet</button>
            <br/>
            <button onclick="invertBackground('icon-box-minus')" type="button">Invert Background</button>
            <div class="snippet-popover" id="snippet-minus">
                <pre><code>&lt;svg class=&quot;icon minus&quot;&gt;&lt;use xlink:href=&quot;#minus&quot;&gt;&lt;/use&gt;&lt;/svg&gt;</code></pre>
                <button onclick="hidePopover()" type="button">Close</button>
            </div>
        </li>


        <li title="plus">
            <div class="icon-box" id="icon-box-plus">
                <svg class="icon plus">
                    <use xlink:href="#plus" />
                </svg>
            </div>
            <h2>plus</h2>
            <button onclick="showPopover('snippet-plus')" type="button">Show Snippet</button>
            <br/>
            <button onclick="invertBackground('icon-box-plus')" type="button">Invert Background</button>
            <div class="snippet-popover" id="snippet-plus">
                <pre><code>&lt;svg class=&quot;icon plus&quot;&gt;&lt;use xlink:href=&quot;#plus&quot;&gt;&lt;/use&gt;&lt;/svg&gt;</code></pre>
                <button onclick="hidePopover()" type="button">Close</button>
            </div>
        </li>


        <li title="search">
            <div class="icon-box" id="icon-box-search">
                <svg class="icon search">
                    <use xlink:href="#search" />
                </svg>
            </div>
            <h2>search</h2>
            <button onclick="showPopover('snippet-search')" type="button">Show Snippet</button>
            <br/>
            <button onclick="invertBackground('icon-box-search')" type="button">Invert Background</button>
            <div class="snippet-popover" id="snippet-search">
                <pre><code>&lt;svg class=&quot;icon search&quot;&gt;&lt;use xlink:href=&quot;#search&quot;&gt;&lt;/use&gt;&lt;/svg&gt;</code></pre>
                <button onclick="hidePopover()" type="button">Close</button>
            </div>
        </li>


        <li title="shopping-cart">
            <div class="icon-box" id="icon-box-shopping-cart">
                <svg class="icon shopping-cart">
                    <use xlink:href="#shopping-cart" />
                </svg>
            </div>
            <h2>shopping-cart</h2>
            <button onclick="showPopover('snippet-shopping-cart')" type="button">Show Snippet</button>
            <br/>
            <button onclick="invertBackground('icon-box-shopping-cart')" type="button">Invert Background</button>
            <div class="snippet-popover" id="snippet-shopping-cart">
                <pre><code>&lt;svg class=&quot;icon shopping-cart&quot;&gt;&lt;use xlink:href=&quot;#shopping-cart&quot;&gt;&lt;/use&gt;&lt;/svg&gt;</code></pre>
                <button onclick="hidePopover()" type="button">Close</button>
            </div>
        </li>


        <li title="triangle-down">
            <div class="icon-box" id="icon-box-triangle-down">
                <svg class="icon triangle-down">
                    <use xlink:href="#triangle-down" />
                </svg>
            </div>
            <h2>triangle-down</h2>
            <button onclick="showPopover('snippet-triangle-down')" type="button">Show Snippet</button>
            <br/>
            <button onclick="invertBackground('icon-box-triangle-down')" type="button">Invert Background</button>
            <div class="snippet-popover" id="snippet-triangle-down">
                <pre><code>&lt;svg class=&quot;icon triangle-down&quot;&gt;&lt;use xlink:href=&quot;#triangle-down&quot;&gt;&lt;/use&gt;&lt;/svg&gt;</code></pre>
                <button onclick="hidePopover()" type="button">Close</button>
            </div>
        </li>


        <li title="triangle-left">
            <div class="icon-box" id="icon-box-triangle-left">
                <svg class="icon triangle-left">
                    <use xlink:href="#triangle-left" />
                </svg>
            </div>
            <h2>triangle-left</h2>
            <button onclick="showPopover('snippet-triangle-left')" type="button">Show Snippet</button>
            <br/>
            <button onclick="invertBackground('icon-box-triangle-left')" type="button">Invert Background</button>
            <div class="snippet-popover" id="snippet-triangle-left">
                <pre><code>&lt;svg class=&quot;icon triangle-left&quot;&gt;&lt;use xlink:href=&quot;#triangle-left&quot;&gt;&lt;/use&gt;&lt;/svg&gt;</code></pre>
                <button onclick="hidePopover()" type="button">Close</button>
            </div>
        </li>


        <li title="triangle-right">
            <div class="icon-box" id="icon-box-triangle-right">
                <svg class="icon triangle-right">
                    <use xlink:href="#triangle-right" />
                </svg>
            </div>
            <h2>triangle-right</h2>
            <button onclick="showPopover('snippet-triangle-right')" type="button">Show Snippet</button>
            <br/>
            <button onclick="invertBackground('icon-box-triangle-right')" type="button">Invert Background</button>
            <div class="snippet-popover" id="snippet-triangle-right">
                <pre><code>&lt;svg class=&quot;icon triangle-right&quot;&gt;&lt;use xlink:href=&quot;#triangle-right&quot;&gt;&lt;/use&gt;&lt;/svg&gt;</code></pre>
                <button onclick="hidePopover()" type="button">Close</button>
            </div>
        </li>


        <li title="triangle-up">
            <div class="icon-box" id="icon-box-triangle-up">
                <svg class="icon triangle-up">
                    <use xlink:href="#triangle-up" />
                </svg>
            </div>
            <h2>triangle-up</h2>
            <button onclick="showPopover('snippet-triangle-up')" type="button">Show Snippet</button>
            <br/>
            <button onclick="invertBackground('icon-box-triangle-up')" type="button">Invert Background</button>
            <div class="snippet-popover" id="snippet-triangle-up">
                <pre><code>&lt;svg class=&quot;icon triangle-up&quot;&gt;&lt;use xlink:href=&quot;#triangle-up&quot;&gt;&lt;/use&gt;&lt;/svg&gt;</code></pre>
                <button onclick="hidePopover()" type="button">Close</button>
            </div>
        </li>

    </ul> --}}
</section>
{{!-- <footer>
    <p>Generated by <a href="https://github.com/shakyshane/gulp-svg-sprites">Gulp Svg Sprites</a> - Preview page courtesy of <a href="http://iconizr.com" target="_blank">iconizr</a>.</p>
</footer> --}}
<script type="text/javascript">
    var openSnippet;
    function showPopover(id) {
        openSnippet = document.getElementById(id);
        openSnippet.classList.add("active");
    }
    function hidePopover() {

        openSnippet.classList.remove("active");
    }
    function invertBackground(id) {
        var elem = document.getElementById(id);
        elem.classList.toggle("inverted");
    }
</script>
</body>
</html>
