{{> molecules-skip-link }}
{{> organisms-header }}

<div class="page-title">
    <div class="l-container">
        <h1>Staff</h1>
    </div>
</div>
<main id="main" role="main">
    <div class="l-container flow">
        <h2>President's Office</h2>
        <table class="rwd-table" border="0" style="border-collapse: collapse; width: 100%;">
            <colgroup>
                <col style="width: 50%;">
                <col style="width: 50%;">
            </colgroup>
            <tbody class="flow">
                <tr>
                    <td>
                        <p><a href="mailto:Rich.Bundy@foundation.uc.edu">O. Richard Bundy, III</a></p>
                        <p>President</p>
                        <p>(513) 556-6703</p>
                    </td>
                    <td>
                        <p><a href="mailto:Heather.Ellison@foundation.uc.edu">Heather Ellison</a></p>
                        <p>Chief of Staff</p>
                        <p>(513) 556-6768</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><a href="mailto:Lauren.Roberson@foundation.uc.edu">Lauren Roberson</a></p>
                        <p>Senior Executive Assistant</p>
                        <p>(513) 558-8388</p>
                    </td>
                    <td>&nbsp;</td>
                </tr>
            </tbody>
        </table>
        <hr>
        <h2>Inclusive Excellence in Philanthropy</h2>
        <table class="rwd-table" border="0" style="border-collapse: collapse; width: 100%;">
            <colgroup>
                <col style="width: 99.8928%;">
            </colgroup>
            <tbody class="flow">
                <tr>
                    <td>
                        <p><a href="mailto:Everrett.Smith@foundation.uc.edu">Everrett Smith</a></p>
                        <p>Senior Research Fellow</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <hr>
        <h2>Principal Giving</h2>
        <table class="rwd-table" border="0" style="border-collapse: collapse; width: 100%;">
            <colgroup>
                <col style="width: 99.8928%;">
            </colgroup>
            <tbody class="flow">
                <tr>
                    <td>
                        <p><a href="mailto:Mike.Zenz@foundation.uc.edu">Mike Zenz</a></p>
                        <p>Executive Director, Principal Giving</p>
                        <p>(513) 558-4619</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <hr>
        <h2>Alumni and Annual Giving</h2>
        <table class="rwd-table" border="0" style="border-collapse: collapse; width: 100%;">
            <colgroup>
                <col style="width: 49.9464%;">
                <col style="width: 49.9464%;">
            </colgroup>
            <tbody class="flow">
                <tr>
                    <td>
                        <p><a href="mailto:Jennifer.Heisey@foundation.uc.edu">Jen Heisey</a></p>
                        <p>Vice President, Alumni and Annual Giving</p>
                        <p>(513) 556-6375</p>
                    </td>
                    <td>
                        <p><a href="mailto:Heather.Pena@foundation.uc.edu">Heather Peña</a></p>
                        <p>Associate Vice President, Alumni and Annual Giving</p>
                        <p>(513) 556-4457</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><a href="mailto:Keith.Stichtenoth@foundation.uc.edu">Keith Stichtenoth</a></p>
                        <p>Special Assistant, Executive Communications</p>
                        <p>(513) 556-3296</p>
                    </td>
                    <td>
                        <p><a href="mailto:Micki.Ford@foundation.uc.edu">Micki Ford</a></p>
                        <p>Program Director, UCAA, Operations</p>
                        <p>(513) 556-6618</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><a href="mailto:Angela.Brock@foundation.uc.edu">Angela Brock</a></p>
                        <p>Program Manager, UCAA</p>
                    </td>
                    <td>&nbsp;</td>
                </tr>
            </tbody>
        </table>
        <h3>Annual Giving and Integrated Marketing</h3>
        <table class="rwd-table" border="0" style="border-collapse: collapse; width: 100%;">
            <colgroup>
                <col style="width: 49.9464%;">
                <col style="width: 49.9464%;">
            </colgroup>
            <tbody class="flow">
                <tr>
                    <td>
                        <p><a href="mailto:Jaime.Bitzenhofer@foundation.uc.edu">Jaime Bitzenhofer</a></p>
                        <p>Assistant Vice President, Annual Giving &amp; Integrated Marketing</p>
                        <p>(513) 556-0319</p>
                    </td>
                    <td>
                        <p><a href="mailto:Jamie.Muenzer@foundation.uc.edu">Jamie Muenzer</a></p>
                        <p>Executive Director, Annual Giving &amp; Direct Marketing</p>
                        <p>(513) 556-4423</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><a href="mailto:Phillip.James@foundation.uc.edu">Phillip James</a></p>
                        <p>Senior Director, Annual Giving</p>
                        <p>(513) 556-6295</p>
                    </td>
                    <td>
                        <p><a href="mailto:Rachel.Lampkin@foundation.uc.edu">Rachel Lampkin</a></p>
                        <p>Director, Annual Giving</p>
                        <p>(513) 556-3294</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><a href="mailto:tony.theobald@foundation.uc.edu">Tony Theobald</a></p>
                        <p>Director, Annual Giving</p>
                        <p>(513) 556-0844</p>
                    </td>
                    <td>
                        <p><a href="mailto:Lauren.Briede@foundation.uc.edu">Lauren Briede</a></p>
                        <p>Director, Integrated Marketing</p>
                        <p>(513) 556-6138</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><a href="mailto:Amy.Wernert@foundation.uc.edu">Amy Wernert</a></p>
                        <p>Director, Annual Giving, Direct Marketing</p>
                        <p>(513) 556-4522</p>
                    </td>
                    <td>
                        <p><a href="mailto:Kelly.Grant@foundation.uc.edu">Kelly Grant</a></p>
                        <p>Associate Director, Annual Giving &amp; Member Services</p>
                        <p>(513) 556-6294</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><a href="mailto:Emily.Kelly@foundation.uc.edu">Emily Kelly</a></p>
                        <p>Digital Philanthropy Center Manager</p>
                        <p>(513) 556-3763</p>
                    </td>
                    <td>
                        <p><a href="mailto:Morgan.Hawk@foundation.uc.edu">Morgan Hawk</a></p>
                        <p>Assistant Director, Integrated Marketing</p>
                        <p>(513) 558-5785</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><a href="mailto:Mackenzie.Overmyer@foundation.uc.edu">Mackenzie Overmyer</a></p>
                        <p>Assistant Director, Digital Engagement</p>
                        <p>(513) 556-2025</p>
                    </td>
                    <td>&nbsp;</td>
                </tr>
            </tbody>
        </table>
        <h3>Alumni Engagement</h3>
        <table class="rwd-table" border="0" style="border-collapse: collapse; width: 100%;">
            <colgroup>
                <col style="width: 49.9456%;">
                <col style="width: 49.9456%;">
            </colgroup>
            <tbody class="flow">
                <tr>
                    <td>
                        <p><a href="mailto:Cynthia.Miller@foundation.uc.edu">Cynthia Miller</a></p>
                        <p>Executive Director, Alumni Engagement</p>
                        <p>(513) 556-6397</p>
                    </td>
                    <td>
                        <p><a href="mailto:Shelley.Johnson@foundation.uc.edu">Shelley Johnson</a></p>
                        <p>Senior Director, Alumni Engagement - College of Law</p>
                        <p>(513) 556-6154</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><a href="mailto:Victoria.Kuhlman@foundation.uc.edu">Victoria Kuhlman</a></p>
                        <p>Senior Director, Alumni Engagement</p>
                        <p>(513) 556-6457</p>
                    </td>
                    <td>
                        <p><a href="mailto:Ann.Terry@foundation.uc.edu">Ann Terry</a></p>
                        <p>Senior Director, Alumni Engagement - College of Engineering &amp; Applied Sciences</p>
                        <p>(513) 556-4469</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><a href="mailto:Briana.Coggins@foundation.uc.edu">Briana Coggins</a></p>
                        <p>Director, Alumni Engagement - College of Medicine</p>
                        <p>(513) 556-4005</p>
                    </td>
                    <td>
                        <p><a href="mailto:Maurice.Stewart@foundation.uc.edu">Maurice Stewart</a></p>
                        <p>Director, Alumni Engagement - Inclusive Excellence</p>
                        <p>(513) 556-4312</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><a href="mailto:Sam.Speyer@foundation.uc.edu">Sam Speyer</a></p>
                        <p>Director, Alumni Engagement, Lindner College of Business</p>
                        <p>(513) 556-4522</p>
                    </td>
                    <td>
                        <p><a href="mailto:Mark.Osborne@foundation.uc.edu">Mark Osborne</a></p>
                        <p>Program Director, Alumni Engagement - Arts &amp; Sciences</p>
                        <p>(513) 556-3748</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><a href="mailto:Maggie.Ibrahim-Taney@foundation.uc.edu">Maggie Ibrahim-Taney</a></p>
                        <p>Program Director, Alumni Engagement - Special Interest &amp; Athletics</p>
                        <p>(513) 556-5052</p>
                    </td>
                    <td>
                        <p><a href="mailto:Gage.Woolley@foundation.uc.edu">Gage Woolley</a></p>
                        <p>Program Director, Alumni Engagement - College of Education, Criminal Justice, Human Services &amp; IT &amp; College of Nursing</p>
                        <p>(513) 556-6466</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><a href="mailto:Emma.McAvoy@foundation.uc.edu">Emma McAvoy</a></p>
                        <p>Program Director, Alumni Engagement, National Networks</p>
                    </td>
                    <td>
                        <p><a href="mailto:Briana.Harper@foundation.uc.edu">Briana Harper</a></p>
                        <p>Program Director, Alumni Engagement</p>
                        <p>(513) 558-5932</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><a href="mailto:Marie.Morgan@foundation.uc.edu">Marie Morgan</a></p>
                        <p>Program Director, Alumni Engagement</p>
                        <p>(513) 558-4428</p>
                    </td>
                    <td>&nbsp;</td>
                </tr>
            </tbody>
        </table>
        <hr>
        <h2>Strategic Communications</h2>
        <table class="rwd-table" border="0" style="border-collapse: collapse; width: 100%;">
            <colgroup>
                <col style="width: 49.9464%;">
                <col style="width: 49.9464%;">
            </colgroup>
            <tbody class="flow">
                <tr>
                    <td>
                        <p><a href="mailto:Julie.Engebrecht@foundation.uc.edu">Julie Engebrecht</a></p>
                        <p>Vice President, Strategic Communications</p>
                        <p>(513) 556-9685</p>
                    </td>
                    <td>
                        <p><a href="mailto:Kathryn.Cosse@foundation.uc.edu">Katy Cossé</a></p>
                        <p>Senior Director, Editorial Communications</p>
                        <p>(513) 556-2635</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><a href="mailto:Jenny.Hudson@foundation.uc.edu">Jenny Hudson</a></p>
                        <p>Senior Advancement Writer</p>
                        <p>(513) 556-7703</p>
                    </td>
                    <td>
                        <p><a href="mailto:Amanda.Farrell@foundation.uc.edu">Amanda Farrell</a></p>
                        <p>Executive Director, Strategic Communications</p>
                        <p>(513) 556-6228</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><a href="mailto:Julia.Mace@foundation.uc.edu">Julia Mace</a></p>
                        <p>Director, External Communications</p>
                        <p>(513) 556-1330</p>
                    </td>
                    <td>
                        <p><a href="mailto:Alison.Sampson@foundation.uc.edu">Alison Sampson</a></p>
                        <p>Lead Advancement Writer</p>
                        <p>(513) 556-7362</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><a href="mailto:Lisa.Bernard-Kuhn@foundation.uc.edu">Lisa Bernard-Kuhn</a></p>
                        <p>Senior Advancement Writer</p>
                    </td>
                    <td>
                        <p><a href="mailto:Gina.Smith@foundation.uc.edu">Gina Portwood Smith</a></p>
                        <p>Creative Director</p>
                        <p>(513) 556-6379</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><a href="mailto:Dillon.Wray@foundation.uc.edu">Dillon Wray</a></p>
                        <p>Assistant Creative Director</p>
                        <p>(513) 556-6153</p>
                    </td>
                    <td>
                        <p><a href="mailto:Greg.Vissing@foundation.uc.edu">Greg Vissing</a></p>
                        <p>Senior Web Developer &amp; UI/UX Designer</p>
                        <p>(513) 556-8934</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <hr>
        <h2>Development</h2>
        <table class="rwd-table" border="0" style="border-collapse: collapse; width: 100%;">
            <colgroup>
                <col style="width: 49.9464%;">
                <col style="width: 49.9464%;">
            </colgroup>
            <tbody class="flow">
                <tr>
                    <td>
                        <p><a href="mailto:Caleb.Whitted@foundation.uc.edu">Caleb Whitted</a></p>
                        <p>Vice President, West &amp; Regional Campuses</p>
                        <p>(513) 556-6225</p>
                    </td>
                    <td>
                        <p><a href="mailto:Chris.Eden@foundation.uc.edu">Chris Eden</a></p>
                        <p>Assistant Vice President, Development</p>
                        <p>(513) 556-0912</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><a href="mailto:Curtis.Eaton@foundation.uc.edu">Curtis Eaton</a></p>
                        <p>Assistant Vice President, Development</p>
                        <p>(513) 556-7444</p>
                    </td>
                    <td>
                        <p><a href="mailto:Kathy.Collins@foundation.uc.edu">Kathy Collins</a></p>
                        <p>Assistant Director, Operations</p>
                        <p>(513) 556-0862</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><a href="mailto:Olivia.Sawchuk@foundation.uc.edu">Olivia Sawchuk</a></p>
                        <p>Development Program Manager</p>
                    </td>
                    <td>
                        <p><a href="mailto:Yolanda.Robinson@foundation.uc.edu">Yolanda Robinson</a></p>
                        <p>Development Program Manager</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <h3>Donor Relations &amp; Signature Events</h3>
        <table class="rwd-table" border="0" style="border-collapse: collapse; width: 100%;">
            <colgroup>
                <col style="width: 49.9464%;">
                <col style="width: 49.9464%;">
            </colgroup>
            <tbody class="flow">
                <tr>
                    <td>
                        <p><a href="mailto:Valerie.Milinovich@foundation.uc.edu">Valerie Milinovich</a></p>
                        <p>Assistant Vice President, Donor Relations &amp; Signature Events</p>
                        <p>(513) 558-2808</p>
                    </td>
                    <td>
                        <p><a href="mailto:Leah.Flynn@foundation.uc.edu">Leah Flynn</a></p>
                        <p>Senior Director, Donor Relations &amp; Signature Events</p>
                        <p>(513) 558-8622</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><a href="mailto:Allison.Brucato@foundation.uc.edu">Allison Brucato</a></p>
                        <p>Director, Donor Relations &amp; Signature Events</p>
                        <p>(513) 556-6260</p>
                    </td>
                    <td>
                        <p><a href="mailto:Jessoca.Fischbach@foundation.uc.edu">Jessica Fischbach</a></p>
                        <p>Director, Donor Relations &amp; Signature Events</p>
                        <p>(513) 556-1217</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><a href="mailto:Madalyn.Mills@foundation.uc.edu">Madalyn Mills</a></p>
                        <p>Program Director, Donor Relations &amp; Signature Events</p>
                        <p>(513) 558-5914</p>
                    </td>
                    <td>
                        <p><a href="mailto:Taylor.Maier@foundation.uc.edu">Taylor Maier</a></p>
                        <p>Assistant Director, Donor Relations &amp; Signature Events</p>
                        <p>(513) 556-9658</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <h3>Corporate &amp; Foundation Relations</h3>
        <table class="rwd-table" border="0" style="border-collapse: collapse; width: 100%;">
            <colgroup>
                <col style="width: 49.9464%;">
                <col style="width: 49.9464%;">
            </colgroup>
            <tbody class="flow">
                <tr>
                    <td>
                        <p><a href="mailto:Amanda.Greenwell@foundation.uc.edu">Amanda Smith</a></p>
                        <p>Senior Director, Corporate Relations</p>
                        <p>(513) 556-6374</p>
                    </td>
                    <td>
                        <p><a href="mailto:Carol.Russell@foundation.uc.edu">Carol Russell</a></p>
                        <p>Senior Director, Foundation Relations</p>
                        <p>(513) 556-6169</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><a href="mailto:Jenni.Miller@foundation.uc.edu">Jenni Miller</a></p>
                        <p>Assistant Director, Foundation Relations</p>
                        <p>(513) 556-6361</p>
                    </td>
                    <td>&nbsp;</td>
                </tr>
            </tbody>
        </table>
        <h3>Gift Planning</h3>
        <table class="rwd-table" border="0" style="border-collapse: collapse; width: 100%;">
            <colgroup>
                <col style="width: 49.9464%;">
                <col style="width: 49.9464%;">
            </colgroup>
            <tbody class="flow">
                <tr>
                    <td>
                        <p><a href="mailto:Tammy.Wernke@foundation.uc.edu">Tammy Wernke</a></p>
                        <p>Assistant Vice President, Gift Planning</p>
                        <p>(513) 556-6293</p>
                    </td>
                    <td>
                        <p><a href="mailto:Liz.Sauers@foundation.uc.edu">Liz Sauers</a></p>
                        <p>Director, Gift Planning</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><a href="mailto:Dillon.Westrich@foundation.uc.edu">Dillon Westrich</a></p>
                        <p>Assistant Director, Gift Planning</p>
                        <p>(513) 558-3842</p>
                    </td>
                    <td>&nbsp;</td>
                </tr>
            </tbody>
        </table>
        <h3>National</h3>
        <table class="rwd-table" border="0" style="border-collapse: collapse; width: 100%;">
            <colgroup>
                <col style="width: 49.9464%;">
                <col style="width: 49.9464%;">
            </colgroup>
            <tbody class="flow">
                <tr>
                    <td>
                        <p><a href="mailto:Danny.Turner@foundation.uc.edu">Danny Turner</a></p>
                        <p>Assistant Vice President, National Development</p>
                        <p>(513) 368-1603</p>
                    </td>
                    <td>
                        <p><a href="mailto:Taylor.Police@foundation.uc.edu">Taylor Police</a></p>
                        <p>Senior Director of Development, National</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><a href="mailto:Martina.Pineda@foundation.uc.edu">Martina Pineda</a></p>
                        <p>Associate Director of Development, National</p>
                    </td>
                    <td>
                        <p><a href="mailto:Daniel.Ester@foundation.uc.edu">Daniel Ester</a></p>
                        <p>Assistant Director of Development, National</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <h2>Development - Academic Health Enterprise</h2>
        <table class="rwd-table" border="0" style="border-collapse: collapse; width: 100%;">
            <colgroup>
                <col style="width: 49.9464%;">
                <col style="width: 49.9464%;">
            </colgroup>
            <tbody class="flow">
                <tr>
                    <td>
                        <p><a href="mailto:Jonathan.Agree@foundation.uc.edu">Jonathan Agree</a></p>
                        <p>VP, Development - Academic Health Enterprise</p>
                        <p>(513) 558-3355</p>
                    </td>
                    <td>
                        <p><a href="mailto:Matt.Heston@foundation.uc.edu">Matt Heston</a></p>
                        <p>Director of Operations - Academic Medicine</p>
                        <p>(513) 556-6290</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><a href="mailto:Apryl.Vossmeyer@foundation.uc.edu">Apryl Vossmeyer</a></p>
                        <p>Development Coordinator - Academic Medicine</p>
                        <p>(513) 556-6744</p>
                    </td>
                    <td>&nbsp;</td>
                </tr>
            </tbody>
        </table>
        <h3>Corporate &amp; Foundation Relations</h3>
        <table class="rwd-table" border="0" style="border-collapse: collapse; width: 100%;">
            <colgroup>
                <col style="width: 49.9464%;">
                <col style="width: 49.9464%;">
            </colgroup>
            <tbody class="flow">
                <tr>
                    <td>
                        <p><a href="mailto:Cynthia.Moore@foundation.uc.edu">Cyndi Moore</a></p>
                        <p>Executive Director, Corporate &amp; Foundation Relations - Academic Medicine</p>
                        <p>(513) 585-8207</p>
                    </td>
                    <td>
                        <p><a href="mailto:Sue.Goldberg@foundation.uc.edu">Sue Goldberg</a></p>
                        <p>Director, Corporate &amp; Foundation Relations - Academic Medicine</p>
                        <p>(513) 556-6749</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <hr>
        <h2>Administration and Finance</h2>
        <table class="rwd-table" border="0" style="border-collapse: collapse; width: 100%;">
            <colgroup>
                <col style="width: 49.9464%;">
                <col style="width: 49.9464%;">
            </colgroup>
            <tbody class="flow">
                <tr>
                    <td>
                        <p><a href="mailto:Thomas.Freeman@foundation.uc.edu">Thomas Freeman</a></p>
                        <p>Vice President/Chief Financial Officer</p>
                        <p>(513) 556-6286</p>
                    </td>
                    <td>
                        <p><a href="mailto:Connie.Schutzman@foundation.uc.edu">Connie Schutzman</a></p>
                        <p>Executive Assistant, Chief Financial Officer</p>
                        <p>(513) 556-3778</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><a href="mailto:Kendra.Smith@foundation.uc.edu">Kendra Smith</a></p>
                        <p>Controller</p>
                        <p>(513) 556-0831</p>
                    </td>
                    <td>
                        <p><a href="mailto:Alisa.Huber@foundation.uc.edu">Alisa Huber</a></p>
                        <p>Senior Associate Controller</p>
                        <p>(513) 556-6280</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><a href="mailto:Kyle.Fuchs@foundation.uc.edu">Kyle Fuchs</a></p>
                        <p>Accounting Manager</p>
                        <p>(513) 556-6355</p>
                    </td>
                    <td>
                        <p><a href="mailto:Anthony.Saladonis@foundation.uc.edu">Tony Saladonis</a></p>
                        <p>Accounting Manager</p>
                        <p>(513) 558-4080</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><a href="mailto:Jayne.Stubbs@foundation.uc.edu">Jayne Stubbs</a></p>
                        <p>Accounting Manager</p>
                        <p>(513) 556-5492</p>
                    </td>
                    <td>
                        <p><a href="mailto:Louisa.Beckman@foundation.uc.edu">Louisa Beckman</a></p>
                        <p>Accounting Supervisor, Payroll &amp; Budget</p>
                        <p>(513) 556-6284</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><a href="mailto:Tiffany.Hudson@foundation.uc.edu">Tiffany Hudson</a></p>
                        <p>Senior Accountant</p>
                        <p>(513) 556-6292</p>
                    </td>
                    <td>
                        <p><a href="mailto:Joe.Monaco@foundation.uc.edu">Joe Monaco</a></p>
                        <p>Director, General Accounting</p>
                        <p>(513) 556-6725</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><a href="mailto:Pamella.Osterman@foundation.uc.edu">Pam Osterman</a></p>
                        <p>Senior Accountant</p>
                        <p>(513) 556-6731</p>
                    </td>
                    <td>
                        <p><a href="mailto:Kim.Puthoff@foundation.uc.edu">Kim Puthoff</a></p>
                        <p>Senior Accountant</p>
                        <p>(513) 556-6285</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><a href="mailto:Becky.Snow@foundation.uc.edu">Becky Snow</a></p>
                        <p>Office Services Manager</p>
                        <p>(513) 556-6739</p>
                    </td>
                    <td>
                        <p><a href="mailto:Robin.Verdon@foundation.uc.edu">Robin Verdon</a></p>
                        <p>Senior Accountant II</p>
                        <p>(513) 556-6729</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><a href="mailto:Jonathan.Galvin@foundation.uc.edu">Mandy McNett</a></p>
                        <p>Accountant</p>
                        <p>(513) 556-6146</p>
                    </td>
                    <td>&nbsp;</td>
                </tr>
            </tbody>
        </table>
        <hr>
        <h2>Technology, Information &amp; Philanthropic Strategy</h2>
        <table class="rwd-table" border="0" style="border-collapse: collapse; width: 100%;">
            <colgroup>
                <col style="width: 49.9456%;">
                <col style="width: 49.9456%;">
            </colgroup>
            <tbody class="flow">
                <tr>
                    <td>
                        <p><a href="mailto:Carrie.White@foundation.uc.edu">Carrie White</a></p>
                        <p>Vice President, Technology, Information &amp; Philanthropic Strategy</p>
                        <p>(513) 556-6167</p>
                    </td>
                    <td>
                        <p><a href="mailto:Lori.Stiles@foundation.uc.edu">Lori Stiles</a></p>
                        <p>Executive Assistant, Technology, Information &amp; Philanthropic Strategy</p>
                        <p>(513) 556-6700</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <h3>Prospect Development</h3>
        <table class="rwd-table" border="0" style="border-collapse: collapse; width: 100%;">
            <colgroup>
                <col style="width: 49.9456%;">
                <col style="width: 49.9456%;">
            </colgroup>
            <tbody class="flow">
                <tr>
                    <td>
                        <p><a href="mailto:Betsy.Schmidt-Gullett@foundation.uc.edu">Betsy Schmidt-Gullett</a></p>
                        <p>Executive Director, Prospect Development</p>
                        <p>(513) 556-6140</p>
                    </td>
                    <td>
                        <p><a href="mailto:Candace.Olley@foundation.uc.edu">Candace Olley</a></p>
                        <p>Director, Prospect Development</p>
                        <p>(513) 556-2447</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><a href="mailto:Harper.Lee@foundation.uc.edu">Harper Lee</a></p>
                        <p>Director, Prospect Research</p>
                        <p>(513) 556-6202</p>
                    </td>
                    <td>
                        <p><a href="mailto:podplejr@foundation.uc.edu">Jason Podplesky</a></p>
                        <p>Assistant Director, Prospect Research</p>
                        <p>(513) 556-3187</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><a href="mailto:Anna.Lennon@foundation.uc.edu">Anna Lennon</a></p>
                        <p>Associate Director, Prospect Development - West Campus</p>
                        <p>(513) 584-1350</p>
                    </td>
                    <td>
                        <p><a href="mailto:Erin.Weaver@foundation.uc.edu">Erin Weaver</a></p>
                        <p>Associate Director, Data Quality</p>
                        (513) 556-6525
                        <p>&nbsp;</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><a href="mailto:swackhmn@foundation.uc.edu">Megan Swackhammer</a></p>
                        <p>Associate Director, Prospect Development - West Campus</p>
                        <p>(513) 556-8989</p>
                    </td>
                    <td>
                        <p><a href="mailto:Jill.Schneider@foundation.uc.edu">Jill Schneider</a></p>
                        <p>Associate Director, Prospect Development - Academic Medicine</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <h3>Gift Administration &amp; Philanthropic Stewardship Data</h3>
        <table class="rwd-table" border="0" style="border-collapse: collapse; width: 100%;">
            <colgroup>
                <col style="width: 49.9456%;">
                <col style="width: 49.9456%;">
            </colgroup>
            <tbody class="flow">
                <tr>
                    <td>
                        <p><a href="mailto:Sarah.Barnard@foundation.uc.edu">Sarah Barnard</a></p>
                        <p>Executive Director, Gift Administration &amp; Philanthropic Stewardship Data</p>
                        <p>(513) 556-2078</p>
                    </td>
                    <td>
                        <p><a href="mailto:Kristin.Rohr@foundation.uc.edu">Kristin Rohr</a></p>
                        <p>Associate Director, Gift Administration &amp; Philanthropic Stewardship Data</p>
                        <p>(513) 556-6305</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><a href="mailto:Emily.Mcgrath@foundation.uc.edu">Emily McGrath</a></p>
                        <p>Associate Director, Philanthropic Data Management</p>
                        <p>(513) 556-6740</p>
                    </td>
                    <td>
                        <p><a href="mailto:Jenny.Schramm@foundation.uc.edu">Jenny Schramm</a></p>
                        <p>Assistant Director, Gifts &amp; Records</p>
                        <p>(513) 556-6291</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><a href="mailto:Mariam.Elgafy@foundation.uc.edu">Mariam Elgafy</a></p>
                        <p>Associate Director, Philanthropic Stewardship Data</p>
                        <p>(513) 556-7281</p>
                    </td>
                    <td>
                        <p><a href="mailto:Jeremy.Smith@foundation.uc.edu">Jeremy Smith</a></p>
                        <p>Data Management Specialist</p>
                        <p>(513) 556-6777</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <h3>Fundraising Applications</h3>
        <table class="rwd-table" border="0" style="border-collapse: collapse; width: 100%;">
            <colgroup>
                <col style="width: 49.9456%;">
                <col style="width: 49.9456%;">
            </colgroup>
            <tbody class="flow">
                <tr>
                    <td>
                        <p><a href="mailto:Shawn.Schaeffer@foundation.uc.edu">Shawn Schaeffer</a></p>
                        <p>Executive Director, Fundraising Applications</p>
                        <p>(513) 558-7814</p>
                    </td>
                    <td>
                        <p><a href="mailto:Christina.Rutherford@foundation.uc.edu">Christina Rutherford</a></p>
                        <p>Associate Director, Fundraising Applications</p>
                        <p>(513) 556-6719</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><a href="mailto:Austin.Spotts@foundation.uc.edu">Austin Spotts</a></p>
                        <p>Associate Director, Data Operations</p>
                        <p>(513) 556-6701</p>
                    </td>
                    <td>
                        <p><a href="mailto:Anhly.Truong@foundation.uc.edu">Anhly Truong</a></p>
                        <p>Assistant Director, Data Operations</p>
                        <p>(513) 556-6354</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <h3>Information Technology &amp; Analytics</h3>
        <table class="rwd-table" border="0" style="border-collapse: collapse; width: 100%;">
            <colgroup>
                <col style="width: 49.9456%;">
                <col style="width: 49.9456%;">
            </colgroup>
            <tbody class="flow">
                <tr>
                    <td>
                        <p><a href="mailto:Pat.Burgess@foundation.uc.edu">Pat Burgess</a></p>
                        <p>Senior Director, IT</p>
                        <p>(513) 556-6395</p>
                    </td>
                    <td>
                        <p><a href="mailto:Mike.Lang@foundation.uc.edu">Mike Lang</a></p>
                        <p>Senior System Administrator</p>
                        <p>(513) 556-6346</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><a href="mailto:Aubrey.Wilson@foundation.uc.edu">Aubrey Wilson</a></p>
                        <p>Senior Director, Reporting &amp; Analytics</p>
                        <p>(513) 556-8916</p>
                    </td>
                    <td>
                        <p><a href="mailto:Hyguette.Ishimwe@foundation.uc.edu">Hyguette Ishimwe</a></p>
                        <p>Business Intelligence Analyst</p>
                        <p>(513) 556-6715</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><a href="mailto:Anne.Adkins@foundation.uc.edu">Annie Adkins</a></p>
                        <p>Business Process Analyst</p>
                        <p>(513) 556-6164</p>
                    </td>
                    <td>
                        <p><a href="mailto:Jana.Tye@foundation.uc.edu">Jana Tye</a></p>
                        <p>IT Analyst II</p>
                        <p>(513) 556-8982</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><a href="mailto:BJ.Osibogun@foundation.uc.edu">Babajide (BJ) Osibogun</a></p>
                        <p>Information Security Analyst</p>
                    </td>
                    <td>&nbsp;</td>
                </tr>
            </tbody>
        </table>
        <hr>
        <h2>Human Resources</h2>
        <table class="rwd-table" border="0" style="border-collapse: collapse; width: 100%;">
            <colgroup>
                <col style="width: 49.9464%;">
                <col style="width: 49.9464%;">
            </colgroup>
            <tbody class="flow">
                <tr>
                    <td>
                        <p><a href="mailto:Samantha.Dailey@foundation.uc.edu">Samantha Dailey</a></p>
                        <p>VP, Human Resources</p>
                        <p>(513) 556-6323</p>
                    </td>
                    <td>
                        <p><a href="mailto:Lora.Drennen@foundation.uc.edu">Lora Drennen</a></p>
                        <p>Associate Director, Human Resources</p>
                        <p>(513) 556-6376</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><a href="mailto:Taylor.Rodgers@foundation.uc.edu">Taylor Rodgers</a></p>
                        <p>Talent Acquisition Specialist</p>
                        <p>(513) 558-5557</p>
                    </td>
                    <td>
                        <p><a href="mailto:Yuanyuan.Qu@foundation.uc.edu">Yuanyuan Qu</a></p>
                        <p>Program Manager, Human Resources</p>
                        <p>(513) 556-6287</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <hr>
        <h2>College and Unit Contacts</h2>
        <h3>Athletics</h3>
        <table class="rwd-table" border="0" style="border-collapse: collapse; width: 100%;">
            <colgroup>
                <col style="width: 49.9456%;">
                <col style="width: 49.9456%;">
            </colgroup>
            <tbody class="flow">
                <tr>
                    <td>
                        <p><a href="mailto:John.Matsko@foundation.uc.edu">John Matsko</a></p>
                        <p>Associate Vice President of Development, Athletics</p>
                    </td>
                    <td>
                        <p><a href="mailto:Karen.Hatcher@foundation.uc.edu">Karen Hatcher</a></p>
                        <p>Assistant Vice President, Principal Gifts - Athletics</p>
                        <p>(513) 556-2539</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><a href="mailto:Michael.Thomas@foundation.uc.edu">Michael Thomas</a></p>
                        <p>Senior Director of Development, Athletics</p>
                        <p>(513) 556-0596</p>
                    </td>
                    <td>
                        <p><a href="mailto:mark.berger@foundation.uc.edu">Mark Berger</a></p>
                        <p>Director of Development, Athletics</p>
                        <p>(513) 556-0668</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><a href="mailto:Jonathan.Galvin@foundation.uc.edu">Jonathan Galvin</a></p>
                        <p>Associate Director of Development, Athletics</p>
                        <p>(513) 556-2784</p>
                    </td>
                    <td>
                        <p><a href="mailto:Gianna.Salzbrunn@foundation.uc.edu">Gianna Salzbrunn</a></p>
                        <p>Assistant Director of Development, Athletics</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><a href="mailto:Nikol.Cianciola@foundation.uc.edu">Nikol Cianciola</a></p>
                        <p>Program Director, Athletics Operations</p>
                        <p>(513) 556-7201</p>
                    </td>
                    <td>
                        <p><a href="mailto:kalinkj@foundation.uc.edu">Kris Kalin</a></p>
                        <p>Program Director, Athletics Signature Events &amp; Donor Experiences</p>
                        <p>(513) 556-5623</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><a href="mailto:becky.schaaf@foundation.uc.edu">Becky Schaaf</a></p>
                        <p>Reporting &amp; Data Specialist, Athletics</p>
                        <p>(513) 556-3189</p>
                    </td>
                    <td>&nbsp;</td>
                </tr>
            </tbody>
        </table>
        <h3>College of Arts and Sciences</h3>
        <table class="rwd-table" border="0" style="border-collapse: collapse; width: 100%;">
            <colgroup>
                <col style="width: 49.9456%;">
                <col style="width: 49.9456%;">
            </colgroup>
            <tbody class="flow">
                <tr>
                    <td>
                        <p><a href="mailto:Paul.Print@foundation.uc.edu">Paul Print</a></p>
                        <p>Executive Director of Development, A&amp;S</p>
                    </td>
                    <td>
                        <p><a href="mailto:christa.bernardo@foundation.uc.edu">Christa Bernardo</a></p>
                        <p>Director of Development, A&amp;S and UC Libraries</p>
                        <p>(513) 556-0055</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <h3>Carl H. Lindner College of Business</h3>
        <table class="rwd-table" border="0" style="border-collapse: collapse; width: 100%;">
            <colgroup>
                <col style="width: 49.9456%;">
                <col style="width: 49.9456%;">
            </colgroup>
            <tbody class="flow">
                <tr>
                    <td>
                        <p><a href="mailto:lauren.jacquot@foundation.uc.edu">Lauren Jacquot</a></p>
                        <p>Senior Director of Development, LCB</p>
                        <p>(513) 556-7023</p>
                    </td>
                    <td>
                        <p><a href="mailto:Justin.Gibson@foundation.uc.edu">Justin Gibson</a></p>
                        <p>Director of Development, LCB</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><a href="mailto:Samantha.Lake@foundation.uc.edu">Samantha Lake</a></p>
                        <p>Director of Development, LCB</p>
                        <p>(513) 556-7827</p>
                    </td>
                    <td>
                        <p><a href="mailto:Mikayla.Tepe@foundation.uc.edu">Mikayla Tepe</a></p>
                        <p>Assistant Director of Development, LCB</p>
                        <p>(513) 556-5074</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <h3>College-Conservatory of Music</h3>
        <table class="rwd-table" border="0" style="border-collapse: collapse; width: 100%;">
            <colgroup>
                <col style="width: 49.9456%;">
                <col style="width: 49.9456%;">
            </colgroup>
            <tbody class="flow">
                <tr>
                    <td>
                        <p><a href="mailto:Elaine.Cox@foundation.uc.edu">Elaine Cox</a></p>
                        <p>Senior Director of Development, CCM</p>
                        <p>(513) 556-2528</p>
                    </td>
                    <td>
                        <p><a href="mailto:Anna.Bloemer@foundation.uc.edu">Annie Bloemer</a></p>
                        <p>Associate Director of Development, CCM</p>
                        <p>(513) 556-4441</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <h3>College of Design, Architecture, Art, and Planning</h3>
        <table class="rwd-table" border="0" style="border-collapse: collapse; width: 100%;">
            <colgroup>
                <col style="width: 99.8912%;">
            </colgroup>
            <tbody class="flow">
                <tr>
                    <td>
                        <p><a href="mailto:Laura.Johnson@foundation.uc.edu">Laura Johnson Dorl</a></p>
                        <p>Senior Director of Development, DAAP</p>
                        <p>(513) 556-1211</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <h3>College of Education, Criminal Justice, and Human Services</h3>
        <table class="rwd-table" border="0" style="border-collapse: collapse; width: 100%;">
            <colgroup>
                <col style="width: 49.9456%;">
                <col style="width: 49.9456%;">
            </colgroup>
            <tbody class="flow">
                <tr>
                    <td>
                        <p><a href="mailto:sarah.lewton@foundation.uc.edu">Sarah Lewton</a></p>
                        <p>Director of Development, CECH</p>
                        <p>(513) 556-1149</p>
                    </td>
                    <td>
                        <p><a href="mailto:sabine.flessa@foundation.uc.edu">Sabine Flessa</a></p>
                        <p>Assistant Director of Development, CECH</p>
                        <p>(513) 556-1414</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <h3>College of Engineering and Applied Science</h3>
        <table class="rwd-table" border="0" style="border-collapse: collapse; width: 100%;">
            <colgroup>
                <col style="width: 49.9456%;">
                <col style="width: 49.9456%;">
            </colgroup>
            <tbody class="flow">
                <tr>
                    <td>
                        <p><a href="mailto:Michael.Volan@foundation.uc.edu">Mike Volan</a></p>
                        <p>Senior Director of Development, CEAS</p>
                        <p>(513) 556-6147</p>
                    </td>
                    <td>
                        <p><a href="mailto:Alina.Nosal@foundation.uc.edu">Alina Nosal</a></p>
                        <p>Director of Development, CEAS</p>
                        <p>(513) 556-4221</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><a href="mailto:Jennifer.Morand@foundation.uc.edu">Jen Cahall</a></p>
                        <p>Associate Director of Development, CEAS</p>
                    </td>
                    <td>&nbsp;</td>
                </tr>
            </tbody>
        </table>
        <h3>College of Law</h3>
        <table class="rwd-table" border="0" style="border-collapse: collapse; width: 100%;">
            <colgroup>
                <col style="width: 49.9456%;">
                <col style="width: 49.9456%;">
            </colgroup>
            <tbody class="flow">
                <tr>
                    <td>
                        <p><a href="mailto:Carolyn.Adam@foundation.uc.edu">Carolyn Adam</a></p>
                        <p>Senior Director of Development, Law</p>
                        <p>(513) 556-5002</p>
                    </td>
                    <td>
                        <p><a href="mailto:mindy.roy@foundation.uc.edu">Mindy Roy</a></p>
                        <p>Director of Development, Law</p>
                        <p>(513) 556-0244</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <h3>Academic Health Colleges</h3>
        <table class="rwd-table" border="0" style="border-collapse: collapse; width: 100%;">
            <colgroup>
                <col style="width: 49.9456%;">
                <col style="width: 49.9456%;">
            </colgroup>
            <tbody class="flow">
                <tr>
                    <td>
                        <p><a href="mailto:kim.francis@foundation.uc.edu">Kim Francis</a></p>
                        <p>Associate Vice President Development, Academic Colleges &amp; Campaign Strategy</p>
                        <p>(513) 558-3432</p>
                    </td>
                    <td>
                        <p><a href="mailto:matt.pearce@foundation.uc.edu">Matt Pearce</a></p>
                        <p>Assistant Vice President of Development, Colleges</p>
                        <p>(513) 558-5386</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><a href="mailto:andrew.polter@foundation.uc.edu">Andrew Polter</a></p>
                        <p>Senior Director of Development, Colleges - Medicine</p>
                    </td>
                    <td>
                        <p><a href="mailto:Emily.Nist@foundation.uc.edu">Emily Nist</a></p>
                        <p>Director of Development, Colleges - Medicine</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><a href="mailto:david.irwin@foundation.uc.edu">David Irwin</a></p>
                        <p>Associate Director of Development, Colleges - Medicine</p>
                        <p>(513) 558-5141</p>
                    </td>
                    <td>
                        <p><a href="mailto:katie.arce@foundation.uc.edu">Katie Arce</a></p>
                        <p>Associate Director of Development, Colleges</p>
                        <p>(513) 558-4175</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><a href="mailto:Sara.Kahmann@foundation.uc.edu">Sara Kahmann</a></p>
                        <p>Associate Director of Development, Colleges - Medicine</p>
                    </td>
                    <td>
                        <p><a href="mailto:Daniel.Sommers@foundation.uc.edu">Daniel (DJ) Sommers</a></p>
                        <p>Assistant Director of Development, Colleges, Medicine</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><a href="mailto:Erin.Chamberlain@foundation.uc.edu">Erin Chamberlain</a></p>
                        <p>Program Director, Signature Events &amp; Donor Experience</p>
                    </td>
                    <td>
                        <p><a href="mailto:Anthony.Contini@foundation.uc.edu">Anthony Contini</a></p>
                        <p>Development Program Manager</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><a href="mailto:Mary.Jo.Philhower@foundation.uc.edu">Mary Jo Philhower</a></p>
                        <p>Development Program Manager, College of Medicine</p>
                    </td>
                    <td>&nbsp;</td>
                </tr>
            </tbody>
        </table>
        <h3>Clinical Programs</h3>
        <table class="rwd-table" border="0" style="border-collapse: collapse; width: 100%;">
            <colgroup>
                <col style="width: 49.9456%;">
                <col style="width: 49.9456%;">
            </colgroup>
            <tbody class="flow">
                <tr>
                    <td>
                        <p><a href="mailto:Emma.Laverty@foundation.uc.edu">Emma Laverty</a></p>
                        <p>Assistant Vice President, UC Health/Clinical Programs</p>
                    </td>
                    <td>
                        <p><a href="mailto:Heather.Sherwood@foundation.uc.edu">Heather Sherwood</a></p>
                        <p>Director of Development, UC Gardner Neuroscience Institute</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><a href="mailto:Jeannie.Helsel@foundation.uc.edu">Jeannie Kellett</a></p>
                        <p>Director of Development, UC Gardner Neuroscience Institute</p>
                    </td>
                    <td>
                        <p><a href="mailto:Ben.Jager@foundation.uc.edu">Ben Jager</a></p>
                        <p>Associate Director of Development, UC Gardner Neuroscience Institute</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><a href="mailto:Jolinda.Miller@foundation.uc.edu">Jolinda Miller</a></p>
                        <p>Executive Director of Development, Clinical Programs</p>
                        <p>(513) 556-2784</p>
                    </td>
                    <td>
                        <p><a href="mailto:dolores.dodson@foundation.uc.edu">Dolores Dodson</a></p>
                        <p>Director of Development, Clinical Programs</p>
                        <p>(513) 584-1625</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <h3>UC Cancer Center</h3>
        <table class="rwd-table" border="0" style="border-collapse: collapse; width: 100%;">
            <colgroup>
                <col style="width: 49.9456%;">
                <col style="width: 49.9456%;">
            </colgroup>
            <tbody class="flow">
                <tr>
                    <td>
                        <p><a href="mailto:Laureen.McCorkle@foundation.uc.edu">Laureen McCorkle</a></p>
                        <p>Associate Vice President, Development, UC Cancer Center</p>
                        <p>(513) 558-9879</p>
                    </td>
                    <td>
                        <p><a href="mailto:Elizabeth.Knollman@foundation.uc.edu">Beth Knollman</a></p>
                        <p>Senior Director of Development, UC Cancer Center</p>
                        <p>(513) 558-7327</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><a href="mailto:smithtf@foundation.uc.edu">Tiffany Shabazz</a></p>
                        <p>Director of Development, UC Cancer Center</p>
                        <p>(513) 556-8010</p>
                    </td>
                    <td>
                        <p><a href="mailto:amy.pass@foundation.uc.edu">Amy Pass</a></p>
                        <p>Senior Director of Constituent Development, Institutes</p>
                        <p>(513) 558-6342</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><a href="mailto:sydney.kavish@foundation.uc.edu">Sydney Kavish</a></p>
                        <p>Director of Development &amp; Donor Experience, Institutes</p>
                        <p>(513) 556-0435</p>
                    </td>
                    <td>
                        <p><a href="mailto:Stella.Roll@foundation.uc.edu">Stella Roll</a></p>
                        <p>Development Program Manager</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <h3>Regional Campuses – UC Clermont &amp; Blue Ash</h3>
        <table class="rwd-table" border="0" style="border-collapse: collapse; width: 100%;">
            <colgroup>
                <col style="width: 99.8912%;">
            </colgroup>
            <tbody class="flow">
                <tr>
                    <td>
                        <p><a href="mailto:Andrew.Baker@foundation.uc.edu">Andrew Baker</a></p>
                        <p>Director of Development, UC Blue Ash</p>
                        <p>(513) 936-1734</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <p>&nbsp;</p>
    </div>
</main>
{{> molecules-back-to-top }}
{{> organisms-footer }}

