<div id="donation-form" class="donationForm width-700">
  	<script src="https://doublethedonation.com/api/js/ddplugin.js"></script> 
	<link href="https://doublethedonation.com/api/css/ddplugin.css" rel="stylesheet"/>
  
  	<div class="breadcrumbs form-group flex flex-row flex-between">
        <a href="#" class="breadcrumb bc-designation active flex flex-column" data-step="1">
          	<span class="form-step">1</span>
          	<span>Gift Details</span>
      	</a><!--<span class="divider">></span>-->
        <a href="#" class="breadcrumb bc-review flex flex-column" data-step="2">
          	<span class="form-step">2</span>
          	<span>Gift Review</span>
      	</a><!--<span class="divider">></span>-->
      	<a href="#" class="breadcrumb bc-billing flex flex-column" data-step="3">
          	<span class="form-step">3</span>
          	<span>Your Information</span>
      	</a><!--<span class="divider">></span>-->
        <span class="breadcrumb bc-payment flex flex-column">
      		<span class="form-step">4</span>
          	<span>Payment</span>	
      	</span>
    </div>
  
    <div class="validation"></div>
    <div class="form">
        <div class="gift">
            <!------ STEP 1 ------>
            <div class="steps step1 active">
                <fieldset class="donationInformation">
                    <div class="designations">
                        <div>
                            <div class="pull-right">
                                <span class="gift-count-indicator text-right" style="line-height:3.3em;">Your Gifts <span class="gift-count badge">0</span></span>
                            </div>
                            <div>
                              	<h3 class="top-heading">Make an Impact Today.</h3>
                                <h3 class="top-heading hide">For Cincinnati. For Generations.</h3>
                            </div>
                        </div>
                        
                        <p>Where would you like to make your commitment?</p>
                        <div class="designation-categories form-group flex flex-between">
                            <a href="#" id="school" class="selected">School or College</a>
                            <a href="#" id="campus" class="">Other Area</a>
                            <a href="#" id="cause" class="">A Cause</a>
                            <a href="#" id="search" class=""><img src="https://ucfnd-stg-bbisfoun.ucfnd.concourse.host/file/icons/searchIcon.svg" alt="Search icon"></a>
                            {{!-- <a href="#" id="search" class=""><span style="color:transparent;line-height:0;font-size:0;">Search</span><i class="fa fa-search" aria-hidden="true"></i></a> --}}
                        </div>
                      
                        <div class="formrow category-select form-group">
                            <label for="categoryList" id="categoryLabel" class="labelText">Which school or college?</label>
                            <div class="relative req-field">
                                <select class="chosen-select categoryList form-control select2-input" id="categoryList" name=" ">
                                    <option value="" selected="selected" />Select the school or college
                                </select>
                                <span class="req">*</span>
                            </div>
                        </div>
                        <div class="formrow designation-search form-group">
                            <p>
                                <label for="designationSearch" style="width: 350px;">Find a designation by searching below:</label>
                            </p>
                            <div class="flex">
                                <input type="text" class="form-control" id="designationSearch" style="width: 90%; margin-top: 0px; border-top-right-radius: 0; border-bottom-right-radius: 0;" placeholder="Search for a designation" />
                                <button id="designationSearchBtn" style="width: 10%; border-radius: 4px; border-top-left-radius: 0; border-bottom-left-radius: 0;"><i class="fa fa-search" style="display: block;" aria-hidden="true">
                                <span style="line-height: 0;font-size: 0;color: transparent;">Search for a designation</span></i>
                                </button>
                            </div>
                        </div>
                        <div class="formrow designation-select form-group">
                            <!-- <label for="designationId">Gift designation:</label> -->
                            <label for="designationId" class="labelText">Which designation? <span id="designationCount">&nbsp;</span></label>
                            <div class="relative req-field">
                                <select class="chosen-select designationId form-control select2-input" id="designationId" name=" ">
                                    <option value="" selected="selected" />
                                        Choose a designation
                                        <!-- <option value="D68341C5-71E8-4362-B8AB-1ECB3B192432">Unspecified</option> -->
                                </select>
                                <span class="req">*</span>
                            </div>
                        </div>
                        <div id="designationDescription">
                          	<p id="desDescrText">&nbsp;</p>
                        </div>
                        <div id="otherDesignation" class="otherDesignation">
                            <input type="text" maxlength="240" class="form-control" id="otherDesignationInput" class="otherDesignationInput" />
                        </div>
                        <!-- Begin redesigned amount buttons -->
                        <div class="formrow form-group relative">
                            <p>How much would you like to give?</p>
                            <div class="amounts">
                                <a href="#" id="amt1" class="amount" data-value="50">$50</a>
                                <a href="#" id="amt2" class="amount" data-value="100">$100</a>
                                <a href="#" id="amt3" class="amount" data-value="250">$250</a>
                                <a href="#" id="amt4" class="amount" data-value="500">$500</a>
                                <a href="#" id="amt5" class="amount" data-value="1000">$1000</a>
                                <a href="#" id="amt6" class="amount" data-value="1500">$1500</a>
                                <a href="#" id="amt7" class="amount" data-value="2500">$2500</a>
                                <a href="#" id="amt8" class="amount" data-value="5000">$5000</a>                          
                                <label for="otherAmtInput" class="otherAmt amount flex" style="width: 98%;"><span class="input-group-addon" style="font-weight:bold;">$</span>
                                  	<input type="text" class="form-control" id="otherAmtInput" placeholder="Your gift amount" autocomplete="off" />
                                  	<!--<input type="number" class="form-control" id="otherAmtInput" style="font-family: Helvetica, Arial, sans-serif;font-weight:400;" placeholder="Your gift amount" autocomplete="off" min="0.00" max="9999.99" step="1.00" value="100.00" data-number="{'toFixed': 2, 'stepfactor': 1000}" />-->
                                </label> 	
                                <div id="otherAmtInstr" style="margin-top:5px;">
                                    <div class="input-helper" style="text-align:center;">Enter an amount in the input field above.</div>
                                </div>
                            </div>
                        </div>
                      
                        <!--
                      	<div class="formrow">
                            <div class="gift-frequencies form-group">
                                <input type="checkbox" id="recurringGift" class="gift-frequency" data-value="RECURRING GIFT" />
                                <label for="recurringGift" id="gift-frequency-label">I want to keep my generosity going with automatic payments.</label>
                            </div>
                        </div>
						-->
                      	<!-- #recurrenceSection moved below Gift Type field -->
                        <!--<div id="recurrenceSection" class="recurrence" style="display: none;">-->
                            
                        <!-- End redesigned amount buttons -->
                        <div class="step-buttons form-group">
                            <input id="cancelAddLineItem" class="step-button form-control btn btn-default" type="button" value="Return to review" style="display:none;" />
                            <input id="addLineItem" class="addLineItem step-button form-control btn btn-default" type="button" value="Add Gift" />						
                        </div>
                    </div>
                </fieldset>
            </div>
            <!------ STEP 2 ------>
            <div class="steps step2">
                <div>
                    <div class="pull-right"><span class="gift-count-indicator text-right">Your Gifts <span class="gift-count badge">0</span></span></div>
                    <div>
                        <h3 class="top-heading">Gift Review</h3>
                    </div>
                </div>
                
                <div id="lineItems" class="line-items form-group">
                    <h3>Gifts</h3>
                    <div class="line-item total-amount" style="text-align:center;">
                        <p style="color: #666">Your gift cart is currently empty.</p>
                        <p><a style="color:#69C;font-size:.9em;padding:5px;" href="#" class="add-gift">+ Add a gift</a></p>
                    </div>
                </div>
                <fieldset class="otherDonationInformation">
                    <div>
                        			
                        <div class="attributes">
                          	<div>
                                <div class="formrow form-group one-half">
                                    <label for="giftType" class="labelText">Gift type (Required):</label>
                                    <select id="giftType" class="chosen-select giftTypeTxt form-control add-arrow">
                                        <!--<option value="New Gift" selected="selected" />New Gift -->
                                        <option value="One-Time" selected="selected" />One-Time Gift
                                        <option value="Monthly" />Monthly Gift
                                        <option value="Pledge" />Pledge Payment
                                    </select>
                                </div>
                          	</div>
                          
                          	<!-- #recurrenceSection moved from Step 1 -->
                          	<div id="recurrenceSection" class="recurrence" style="display: none;">
                              	<div>                                  
                                    <div class="formrow form-group frequency-select one-half">
                                        <!-- "Day 1 of every month"... this will be different now that they can start on any day. -->
                                        <label for="frequency" class="labelText">Installment Frequency</label>
                                        <div class="relative req-field">
                                            <select id="frequency" class="chosen-select frequency form-control add-arrow">
                                                <option value="2" />Monthly
                                                <option value="3" />Quarterly
                                            </select>
                                            <span class="req">*</span>
                                        </div>
                                    </div>
                              	</div>
                              	<div class="flex gap-1">
                                    <div class="formrow form-group start-input one-half">
                                        <!-- Start and end dates - use a date picker -->
                                        <label for="startDate" class="labelText">Starting Date</label>
                                        <div class="relative req-field">
                                            <input type="text" maxlength="35" id="startDate" class="startDate form-control" placeholder="mm/dd/yyyy" value="" />
                                            <span class="req">*</span>
                                        </div>
                                    </div>
                                    <div class="formrow form-group end-input flex flex-wrap one-half">
                                        <!-- Start and end dates - use a date picker -->
                                      	<div class="flex flex-row flex-end align-center" style="height: max-content;">
                                          	<input type="checkbox" class="endDateCheckbox" id="endDateCheckbox" style="margin-bottom: 0;" />
                                          	<label for="endDateCheckbox" class="labelText">Add an ending date (optional)</label>
                                      	</div>
                                        <input type="text" maxlength="35" id="endDate" class="endDate form-control" placeholder="mm/dd/yyyy" value="" />
                                    </div>
                              	</div>
                                <div class="formrow form-group month-select" style="display: none;">
                                    <label for="month" class="labelText">Month:</label>
                                    <div class="relative req-field">
                                        <select id="month" class="chosen-select month form-control select2-input">
                                            <option value="select a value" selected="selected" />select a value
                                            <option value="1" />January
                                            <option value="2" />February
                                            <option value="3" />March
                                            <option value="4" />April
                                            <option value="5" />May
                                            <option value="6" />June
                                            <option value="7" />July
                                            <option value="8" />August
                                            <option value="9" />September
                                            <option value="10" />October
                                            <option value="11" />November
                                            <option value="12" />December
                                        </select>
                                        <span class="req">*</span>
                                    </div>
                                </div>
                                <div class="formrow form-group" style="display: none;">
                                    <label for="dayOfMonth" class="labelText">Day of Month:</label>
                                    <div class="relative req-field">
                                        <select id="dayOfMonth" class="dayOfMonth form-control select2-input">
                                            <option value="select a value" selected="selected" />select a value
                                            <option value="1" />1
                                            <option value="2" />2
                                            <option value="3" />3
                                            <option value="4" />4
                                            <option value="5" />5
                                            <option value="6" />6
                                            <option value="7" />7
                                            <option value="8" />8
                                            <option value="9" />9
                                            <option value="10" />10
                                            <option value="11" />11
                                            <option value="12" />12
                                            <option value="13" />13
                                            <option value="14" />14
                                            <option value="15" />15
                                            <option value="16" />16
                                            <option value="17" />17
                                            <option value="18" />18
                                            <option value="19" />19
                                            <option value="20" />20
                                            <option value="21" />21
                                            <option value="22" />22
                                            <option value="23" />23
                                            <option value="24" />24
                                            <option value="25" />25
                                            <option value="26" />26
                                            <option value="27" />27
                                            <option value="28" />28
                                            <option value="29" />29
                                            <option value="30" />30
                                            <option value="31" />31
                                        </select>
                                        <span class="req">*</span>
                                    </div>
                                </div>
                            </div>
                          
                            <!--<div class="formrow form-group">
                                <label for="donorType" class="labelText">I am making this gift as a(n):</label>
                                <select id="donorType" class="chosen-select donorTypeTxt form-control">
                                    <option value="Individual" selected="selected" />Individual
                                    <option value="Business" />Business
                                </select>
                            </div>-->
                            <!-- Business fields - will only show, and be required, if 'Business' is chosen as donor type -->
                            <!--<div id="businessSection" style="display:none;">
                                <div class="formrow form-group business-name-input">
                                    <label for="businessNameTxt" class="labelText">Business Name:</label>
                                    <div class="relative req-field">
                                        <input type="text" maxlength="60" id="businessNameTxt" class="orgNameTxt form-control" value="" />
                                        <span class="req">*</span>
                                    </div>
                                </div>
                                <div class="formrow form-group business-rep-input">
                                    <label for="repNameTxt" class="labelText">Representative Name:</label>
                                    <div class="relative req-field">
                                        <input type="text" maxlength="35" id="repNameTxt" class="orgRepTxt form-control" value="" />
                                        <span class="req">*</span>
                                    </div>
                                </div>
                                <div class="formrow form-group business-title-input">
                                    <label for="repTitleTxt" class="labelText">Representative Title:</label>
                                    <div class="relative req-field">
                                        <input type="text" maxlength="35" id="repTitleTxt" class="orgTitleTxt form-control" value="" />
                                        <span class="req">*</span>
                                    </div>
                                </div>
                            </div>-->
                        </div>
                        <!-- End business fields -->
                        <div class="formrow form-group comments-input">
                            <label for="comments" class="labelText">Special Instructions/Comments (Optional):</label>
                          	<input type="text" class="comments form-control" id="comments" maxlength="255" placeholder="" />
                            <!--<textarea id="comments" rows="3" class="comments form-control" maxlength="255"></textarea>-->
                        </div>
                    </div>
                    
                </fieldset>
                <fieldset class="tributeInformation">
                    <div class="tribute">
                        <div class="BBListingHeading DonationListingHeading" style="border:none;background-color:transparent;">
                            <span id="lblTributeHeading">Tribute Information</span>
                            <span class="tributeSpan form-group">
                            <input id="tributeCheckbox" type="checkbox" />
                            <label for="tributeCheckbox" class="tributeLabel">I would like to make my gift as a tribute</label>
                            </span>
                        </div>
                        <div id="tributeInfoSub">
                            <div class="tributeDefinition">
                                <div class="formrow form-group tribute-type-input">
                                    <label for="ddlTribute" class="labelText">Type:</label>
                                    <div class="relative req-field">
                                        <select name="ddlTribute" id="ddlTribute" class="type form-control">
                                            <option selected="selected" value="0" />select a value
                                            <option value="in honor of" />in honor of person
                                            <option value="in memory of" />in memory of person
                                            <option value="in memory of pet" />in memory of pet
                                        </select>
                                        <span class="req">*</span>
                                    </div>
                                </div>
                              	<div class="flex gap-1">
                                    <div class="formrow form-group tribute-fname-input one-half">
                                        <label for="txtTributeFirstName" class="labelText">First name:</label>
                                        <input name="txtTributeFirstName" type="text" maxlength="30" id="txtTributeFirstName" autocomplete="nope" class="firstName form-control" />		
                                    </div>
                                    <div class="formrow form-group tribute-lname-input one-half">
                                        <label for="txtTributeLastName" class="tribute-lname-label labelText">Last name:</label>
                                        <div class="relative req-field">
                                            <input name="txtTributeLastName" type="text" maxlength="60" id="txtTributeLastName" autocomplete="nope" class="lastName form-control" />
                                            <span class="req">*</span>
                                        </div>
                                    </div>
                              	</div>
                                <div class="formrow form-group tribute-instr-input">
                                    <label for="txtTributeDescription" class="labelText">Special Instructions:</label>
                                    <div class="relative req-field">
                                        <input name="txtTributeDescription" type="text" maxlength="255" id="txtTributeDescription" autocomplete="nope" class="description form-control" />
                                        <span class="req">*</span>
                                    </div>
                                    <div class="input-helper" style="">If your gift honors/memorializes a pet, please indicate species and owner's names for appropriate acknowledgement.</div>
                                </div>
                            </div>
                            <div class="formrow form-group flex gap-1">
                                <input id="chkAcknowledge" type="checkbox" name="chkAcknowledge" />
                                <label for="chkAcknowledge" class="labelText">Provide contact information for honoree or next of kin. Please note address information is required if you would like to specify a contact.</label>
                            </div>
                            <div id="acknowledgeeInfoSub">
                                <div class="acknowledgee">
                                  	<div class="flex gap-1">
                                        <div class="formrow form-group ackn-fname-input one-half">
                                            <label for="txtAcknowledgeeFirstName" class="labelText">First name</label>
                                            <input id="txtAcknowledgeeFirstName" class="firstName form-control" type="text" maxlength="30" autocomplete="nope" name="txtAcknowledgeeFirstName" />
                                        </div>
                                        <div class="formrow form-group ackn-lname-input one-half">
                                            <label for="txtAcknowledgeeLastName" class="labelText">Last name</label>
                                            <div class="relative req-field">
                                                <input id="txtAcknowledgeeLastName" class="lastName form-control" type="text" maxlength="60" autocomplete="nope" name="txtAcknowledgeeLastName" />
                                                <span class="req">*</span>
                                            </div>
                                        </div>
                                  	</div>
                                    <div class="formrow form-group ackn-country-input">
                                        <label for="acknowledgeeCountry" class="labelText">Country</label>
                                        <div class="relative req-field">
                                            <select class="country form-control select2-input" autocomplete="nope" id="acknowledgeeCountry">
                                            </select>
                                            <span class="req">*</span>
                                        </div>
                                    </div>
                                    <div class="formrow form-group required ackn-address-input">
                                        <label for="acknowledgeeStreetAddress" class="labelText">Address lines</label>
                                        <div class="relative req-field">
                                            <!--<textarea class="addressLines form-control" autocomplete="nope" id="acknowledgeeStreetAddress" cols="20" rows="2" maxlength="148"></textarea>-->
                                          	<input type="text" class="addressLines form-control" id="acknowledgeeStreetAddress" maxlength="148" placeholder="" />
                                            <span class="req">*</span>
                                        </div>
                                    </div>
                                  	<div class="flex gap-1">
                                        <div class="formrow form-group required ackn-city-input one-half">
                                            <label for="acknowledgeeCity" class="labelText">City:</label>
                                            <div class="relative req-field">
                                                <input type="text" class="city form-control" autocomplete="nope" id="acknowledgeeCity" maxlength="50" placeholder="" />
                                                <span class="req">*</span>
                                            </div>
                                        </div>
                                        <div class="formrow form-group ackn-state-input one-third">
                                            <label for="acknowledgeeState" class="labelText">State</label>
                                            <div class="relative req-field">
                                                <select class="state form-control select2-input" autocomplete="nope" id="acknowledgeeState">
                                                </select>
                                                <span class="req">*</span>
                                            </div>
                                        </div>
                                        <div class="formrow form-group required ackn-zip-input one-fourth">
                                            <label for="acknowledgeePostalCode" class="labelText">ZIP/Postal code</label>
                                            <div class="relative req-field">
                                                <input type="text" class="postalCode form-control" autocomplete="nope" id="acknowledgeePostalCode" maxlength="10" placeholder="" />
                                                <span class="req">*</span>
                                            </div>
                                        </div>
                                  	</div>
                                  	<div class="flex gap-1">
                                        <div class="formrow form-group ackn-phone-input one-half">								
                                            <label for="acknowledgeePhone" class="labelText">Phone</label>
                                            <input type="text" class="phone form-control" autocomplete="nope" id="acknowledgeePhone" maxlength="50" placeholder="" />
                                        </div>
                                        <div class="formrow form-group required ackn-email-input one-half">								
                                            <label for="acknowledgeeEmailAddress" class="labelText">Email</label>
                                            <input type="text" class="email form-control" autocomplete="nope" id="acknowledgeeEmailAddress" maxlength="100" placeholder="" />
                                        </div>
                                  	</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <div class="step-buttons form-group">
                    <input id="returnToGiftDetail" class="step-button form-control btn btn-default" type="button" value="BACK" />
                    <input id="continueToYourInfo" class="step-button form-control btn btn-default" type="button" value="CONTINUE" />
                </div>
            </div>
        </div>
        <!------ STEP 3 ------>
        <div class="steps step3">
            <fieldset class="billingInformation">
                <div>
                    <div class="pull-right"><span class="gift-count-indicator text-right">Your Gifts <span class="gift-count badge">0</span></span></div>
                    <div>
                        <h3 class="top-heading">Your Information</h3>
                    </div>
                </div>
                
                <div class="donor">
                  	<div class="flex gap-1">
                      	<div class="formrow form-group required fname-input one-half">
                            <label for="firstName" class="labelText">First name (Required)</label>
                            <div class="relative req-field">
                                <input type="text" class="firstName form-control" id="firstName" maxlength="30" placeholder="" />
                                <span class="req">*</span>
                            </div>
                        </div>
                        <div class="formrow form-group required lname-input one-half">
                            <label for="lastName" class="labelText">Last name (Required)</label>
                            <div class="relative req-field">
                                <input type="text" class="lastName form-control" id="lastName" maxlength="60" placeholder="" />
                                <span class="req">*</span>
                            </div>
                        </div>
                  	</div>
                                    	
                    <div class="address full-width">
                        <div class="flex gap-1">

                            <div class="formrow form-group required country-input one-half">
                              <label for="country" class="labelText">Country (Required)</label>
                              <div class="relative req-field">
                                <select class="chosen-select country form-control select2-input" id="country">
                                </select>
                                <span class="req">*</span>
                              </div>
                            </div>

                            <div class="formrow form-group required zip-input one-half">
                              <label for="postalCode" class="labelText">ZIP/Postal code (Required)</label>
                              <div class="relative req-field">
                                <input type="text" class="postalCode form-control" id="postalCode" maxlength="10" placeholder="" />
                                <span class="req">*</span>
                              </div>
                            </div>

                          </div>
                          <div class="formrow form-group required address-input">
                            <label for="streetAddress" class="labelText">Address (Required)</label>
                            <div class="relative req-field">
                              <!--<textarea class="streetAddress form-control" id="streetAddress" cols="20" rows="2" maxlength="148"></textarea>-->
                              <input type="text" class="streetAddress form-control" id="streetAddress" maxlength="100" placeholder="" />
                              <span class="req">*</span>
                            </div>
                          </div>
                          <div class="flex gap-1">

                            <div class="formrow form-group required city-input one-half">
                              <label for="city" class="labelText">City (Required)</label>
                              <div class="relative req-field">
                                <input type="text" class="city form-control" id="city" maxlength="50" placeholder="" />
                                <span class="req">*</span>
                              </div>
                            </div>
                            <div class="formrow form-group required state-input one-half">
                              <label for="state" class="labelText">State (Required)</label>
                              <div class="relative req-field">
                                <select class="chosen-select state form-control select2-input" id="state">
                                </select>
                                <span class="req">*</span>
                              </div>
                            </div>
                            <div class="formrow form-group required province-input one-half hide">
                              <label for="province" class="labelText">Province (Required)</label>
                              <div class="relative req-field">
                                <select class="chosen-select province form-control select2-input" id="province">
                                </select>
                                <span class="req">*</span>
                              </div>
                            </div>

                        </div>
                    </div>
                  
                  	<div class="flex gap-1">
                        <div class="formrow form-group required email-input one-half">
                            <label for="emailAddress" class="labelText">Email (Required)</label>
                            <div class="relative req-field">
                                <input type="text" class="emailAddress form-control" id="emailAddress" maxlength="100" placeholder="" value="" />
                                <span class="req">*</span>
                            </div>
                        </div>
                        <div class="formrow form-group required phone-input one-half">
                            <label for="phone" class="labelText">Phone (Required)</label>
                            <div class="relative req-field">
                                <input type="text" class="phone form-control" id="phone" maxlength="50" placeholder="" />
                                <span class="req">*</span>
                            </div>
                        </div>
                  	</div>
                </div>
              
              	<div class="formrow">
                	<script>var DDCONF = {API_KEY: "N6tBG3KcsjhTlVVR"};</script>
                	<label for="dd-company-name-input" class="labelText">See if your employer will match your gift! (optional)</label>
                	<div id="dd-company-name-input"></div>
            	</div>
            </fieldset>
            <!--<div class="formrow">
                <script>var DDCONF = {API_KEY: "N6tBG3KcsjhTlVVR"};</script>
                <label for="dd-company-name-input" class="labelText">See if your employer will match your gift! (optional)</label>
                <div id="dd-company-name-input"></div>
            </div>-->
            <div class="step-buttons form-group">
                <input id="returnToReview" class="step-button form-control btn btn-default" type="button" value="BACK" />
                <input id="donate" class="step-button submit form-control btn btn-default btn-donate" type="button" value="Continue" />
            </div>
        </div>
    </div>
    <div class="confirmation" id="confirmation"></div>
</div>