<div class="pull-quote with-headshot">
    <blockquote>
        <p>When students succeed at the University of Cincinnati, their achievements extend far beyond our classrooms and campus.</p>
        <br><br>
        <p>UC’s commitment to student success is a call-to-action for all of us who want to make a pledge to lift up families, employers and communities across Greater Cincinnati for generations to come.</p>
    </blockquote>
    <p class="pull-quote-attribution flex align-center">
        <span class="headshot">
            <img src="https://media.licdn.com/dms/image/D5603AQGELOUM_Ft9GA/profile-displayphoto-shrink_800_800/0/1673291702886?e=1717632000&v=beta&t=xQo9utYPAm8JyT50bTzryK3AIF2qPynzf03Vy-xN4Yo">
        </span>
        <span> Neville G. Pinto, PhD<br>President<br>University of Cincinnati</span>
    </p>
</div>