<div id="PC25937_UpdatePanel">
    <style type="text/css">
        .ColumnNoWrapHelper {
            white-space: nowrap;
        }
        .hdCheckoutCompleteBtn {
            display: none;
        }
    </style>
    <input name="PC25937$HiddenID" type="hidden" id="PC25937_HiddenID" value="-1">
    <input name="PC25937$hdnDesignationIds" type="hidden" id="PC25937_hdnDesignationIds">
    <div id="PC25937_pnlDonationForm" role="main">            
        <h1 style="display: none;">Donation Form</h1>        
        <table class="BBFormTable DonationFormTable">
            <tbody>
                <tr>
                    <td class="BBMessage DonationMessage" colspan="2">                        
                    </td>
                </tr>
                <tr>
                    <td class="BBMessage DonationMessage" colspan="2">                        
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div id="PC25937_ValidationSummary1" class="BBFormValidatorSummary DonationValidationSummary DonationClientValidationSummary" style="display:none;">
                        </div>
                        <div id="PC25937_ValidationSummary2" class="BBFormValidatorSummary DonationValidationSummary" style="display:none;">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td id="PC25937_DonorChallengeInfo" colspan="2" class="BBMessage DonationMessage DonorChallenge">                        
                    </td>                
                </tr>
                <tr>
                    <td class="BBListingHeading DonationListingHeading" colspan="2">
                        <span id="PC25937_lblPersonal">Donation Information</span>
                    </td>
                </tr>        
            </tbody>
            <tbody id="PC25937_TB_pnlDonation" class="DonationFormTable_DonationPanel donationInfo">
                <tr>
                    <td id="PC25937_thCaptionAmount" class="BBFieldCaption DonationFieldCaption" valign="top">
                        <label for="PC25937_txtAmount" id="PC25937_lblAmountCaption"></label>
                    </td>		
                    <td class="BBFieldControlCell DonationFieldControlCell">
                        <table id="PC25937_tblAmount" class="taLeft" cellpadding="3" onkeydown="javascript:if (isEnterPressed(event)) {try{document.getElementById('PC25937_btnAddToCart').click();return false;} catch(e) {}} else return true;">
                            <tbody class="donationInfo">
                                <tr>
                                    <td class="BBFieldControlCell DonationFieldControlCell">
                                        <span class="vaTop" itemindex="1060" amount="50.00"><input id="PC25937_rdo_1060_5" type="radio" name="PC25937$givingLevels" value="rdo_1060_5" onclick="rdo_OnClick(this);" aria-labelledby="PC25937_tblAmount"><label for="PC25937_rdo_1060_5">$50</label></span></td><td class="vaBottom BBFieldControlCell DonationFieldControlCell"><span>$50.00</span><span class="BBConvertedCurrencyLabel"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="BBFieldControlCell DonationFieldControlCell"><span class="vaTop" itemindex="1061" amount="100.00"><input id="PC25937_rdo_1061_5" type="radio" name="PC25937$givingLevels" value="rdo_1061_5" onclick="rdo_OnClick(this);" aria-labelledby="PC25937_tblAmount"><label for="PC25937_rdo_1061_5">$100</label></span></td><td class="vaBottom BBFieldControlCell DonationFieldControlCell"><span>$100.00</span><span class="BBConvertedCurrencyLabel"></span></td>
                                </tr>
                                <tr>
                                    <td class="BBFieldControlCell DonationFieldControlCell"><span class="vaTop" itemindex="1062" amount="250.00"><input id="PC25937_rdo_1062_5" type="radio" name="PC25937$givingLevels" value="rdo_1062_5" onclick="rdo_OnClick(this);" aria-labelledby="PC25937_tblAmount"><label for="PC25937_rdo_1062_5">$250</label></span></td><td class="vaBottom BBFieldControlCell DonationFieldControlCell"><span>$250.00</span><span class="BBConvertedCurrencyLabel"></span></td>
                                </tr>
                                <tr>
                                    <td class="BBFieldControlCell DonationFieldControlCell"><span class="vaTop" itemindex="1063" amount="500.00"><input id="PC25937_rdo_1063_5" type="radio" name="PC25937$givingLevels" value="rdo_1063_5" onclick="rdo_OnClick(this);" aria-labelledby="PC25937_tblAmount"><label for="PC25937_rdo_1063_5">$500</label></span></td><td class="vaBottom BBFieldControlCell DonationFieldControlCell"><span>$500.00</span><span class="BBConvertedCurrencyLabel"></span></td>
                                </tr>
                                <tr>
                                    <td class="BBFieldControlCell DonationFieldControlCell"><span class="vaTop" itemindex="1064" amount="1000.00"><input id="PC25937_rdo_1064_5" type="radio" name="PC25937$givingLevels" value="rdo_1064_5" onclick="rdo_OnClick(this);" aria-labelledby="PC25937_tblAmount"><label for="PC25937_rdo_1064_5">$1,000</label></span></td><td class="vaBottom BBFieldControlCell DonationFieldControlCell"><span>$1,000.00</span><span class="BBConvertedCurrencyLabel"></span></td>
                                </tr>
                                <tr id="PC25937_trOther" style="display:;">
                                    <td id="PC25937_tdOther" class="BBFieldControlCell DonationFieldControlCell"><span itemindex="-1"><input id="PC25937_rdoOther" type="radio" name="PC25937$givingLevels" value="rdoOther" onclick="rdo_OnClick(this);" aria-labelledby="PC25937_tblAmount"><label for="PC25937_rdoOther">Other</label></span></td><td class="wsNowrap BBFieldControlCell DonationFieldControlCell">
                                        <table style="margin-left: -3px">
                                            <tbody class="donationInfo">
                                                <tr>
                                                    <td>
                                                        <span id="PC25937_lblSymbol" class="DonationFormTable_DonationPanel_SymbolLabel">$</span>
                                                    </td>
                                                    <td id="PC25937_Td1">
                                                        <input name="PC25937$txtAmount" type="text" maxlength="10" id="PC25937_txtAmount" class="aspNetDisabled BBFormTextbox DonationTextboxNarrow" onkeyup="UpdateSummary();">                                                    
                                                        <span id="PC25937_ReqFldValidatorAmount" style="display:none;"></span><span id="PC25937_CmpValidatorAmount" style="display:none;"></span>
                                                    </td>                            
                                                    <td>                                                        
                                                    </td>
                                                    <td>
                                                        <span id="PC25937_lblAmtRequiredMarker" class="BBFormRequiredFieldMarker DonationRequiredFieldMarker" style="visibility: visible;">*</span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
            <tbody class="additionalInfo">
                <tr id="PC25937_trDesignation">
                    <td class="BBFieldCaption DonationFieldCaption DonationFieldDropDownCaption">
                        <label for="PC25937_ddlDesignations" id="PC25937_lblDesignationCaption">Choose an area to support:</label>
                    </td>
                    <td class="BBFieldControlCell DonationFieldControlCell">
                        <select name="PC25937$ddlDesignations" id="PC25937_ddlDesignations" class="BBFormSelectList DonationSelectList" style="max-width: 355px !Important;">
                            <option value="1960">Alice Margaret Posey Endowment Fund</option>
                            <option value="1944">Allied Health Sciences Annual Fund</option>
                            <option value="1939">Annual Fund for CCM</option>
                            <option value="1957">Bearcat Bands Annual Fund</option>
                            <option value="1935">Books for Bearcats Fund</option>
                            <option value="1936">Bowties for Scholarships Fund</option>
                            <option value="1958">Brain Tumor Center Fund</option>
                            <option value="1941">CECH Annual Fund</option>
                            <option value="1956">Cincinnatus Scholarship Fund</option>
                            <option value="1942">Clermont College Annual Fund</option>
                            <option value="1945">College of Arts and Sciences Annual Fund</option>
                            <option value="1943">College of Design, Architecture, Art, and Planning</option>
                            <option value="1947">College of Engineering and Applied Science Annual </option>
                            <option value="1946">College of Law Annual Fund</option>
                            <option value="1940">College of Nursing Annual Fund</option>
                            <option value="1938">Darwin T. Turner Scholars Program</option>
                            <option value="1954">Friends of CCM</option>
                            <option value="1948">Friends of OLLI Fund</option>
                            <option value="1950">Gen-1 Theme House Fund</option>
                            <option value="1951">Hoxworth Blood Center Annual Fund</option>
                            <option value="1930">International Programs</option>
                            <option value="1952">IvaDean Medical Student Scholarship Fund</option>
                            <option value="1955">James L. Winkle College of Pharmacy Annual Fund</option>
                            <option value="1937">Lindner College of Business Annual Fund</option>
                            <option value="1953">Neuroscience Institute Discretionary Fund</option>
                            <option value="1923">Non-Traditional Student Scholarship Fund</option>
                            <option selected="selected" value="1924">President's Transformation Fund</option>
                            <option value="1925">Senior Class Gift Fund</option>
                            <option value="1926">Student Need Scholarship Fund</option>
                            <option value="1927">UC Blue Ash College Annual Fund</option>
                            <option value="1929">UC Cancer Center Fund</option>
                            <option value="1931">UC Parents Fund</option>
                            <option value="1928">UCAA Loyal Bearcat Society</option>
                            <option value="1932">UCATS General Fund</option>
                            <option value="1933">University Honors Scholars Program Fund</option>
                            <option value="1934">University of Cincinnati Libraries Annual Fund</option>
                            <option value="1949">University of Cincinnati's College of Medicine</option>
                            <option value="1959">Other</option>
                        </select>                    
                    </td>
                </tr>
            </tbody>
            <tbody id="PC25937_tbdCart">
                <tr id="PC25937_trAddToCart">
                    <td class="BBFieldCaption DonationFieldCaption"></td>
                    <td>
                        <input type="button" name="PC25937$btnAddToCart" value="Add Gift" onclick="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;PC25937$btnAddToCart&quot;, &quot;&quot;, true, &quot;PC25937_TB_pnlDonation&quot;, &quot;&quot;, false, true))" id="PC25937_btnAddToCart" class="BBFormSubmitButton DonationSubmitButton">
                    </td>
                </tr>            
                <tr id="PC25937_trCart">
                    <td class="BBFieldCaption DonationFieldCaption"></td>
                    <td>                        
                    </td>
                </tr>            
            </tbody>
        </table>
        <script>
            /*
            var publicKey = '55d0259b-8201-4043-bcdc-94ee78d4f708';
            var APITokenID = '00000000-0000-0000-0000-000000000000';
            var CurrencyDecimalSeparator = '.',
                CurrencyGroupSeparator = ',';
            $(function () {
                $('#' + 'PC25937_ddlDesignations').on({
                    mouseenter: function () {
                        var option = $(this).find("option:selected")[0];
                        if (option !== null) {
                            $(this).attr("title", option.text);
                        }
                    }
                });
            });

            this.bbcheckout = new BBCheckoutProcessor(BLACKBAUD.netcommunity.DonationClassicCheckout, 'Payment', '00000000-0000-0000-0000-000000000000', null);
            this.bbcheckout.Configuration.Data.Key = '';
            this.bbcheckout.Configuration.TransactionType = 1;
            this.bbcheckout.Configuration.Data.ClientAppName = 'BBIS';        
            this.bbcheckout.Configuration.Data.MerchantAccountId = '';
            this.bbcheckout.Configuration.Data.IsEmailRequired = 'True';
            this.bbcheckout.Configuration.Data.IsNameVisible = 'True';
            this.bbcheckout.Configuration.Data.PrimaryColor = '';
            this.bbcheckout.Configuration.Data.SecondaryColor = '';
            this.bbcheckout.Configuration.Data.FontFamily = '';
            this.bbcheckout.Configuration.Data.UseCaptcha = 'False';
            this.bbcheckout.Configuration.WorkflowType = '2';
            this.bbcheckout.Configuration.HandleBrowserClosing = 'True';
            this.bbcheckout.Configuration.APITokenID = '00000000-0000-0000-0000-000000000000';
            this.bbcheckout.Configuration.TempConfirmationHtml = '';
            this.bbcheckout.Configuration.AllowSiteTracking = 'False';
            this.bbcheckout.intializeCheckout();
            */
        </script>
    </div>
    <div id="bbspLoadingOverlay" class="bbspLoadingOverlay">
        <img src="https://foundation.uc.edu/images/FormEngine/Loading.gif" alt="" class="bbspLoadingImage">
    </div>
</div>

<hr>

<div id="PC25882_UpdatePanel">
    <style type="text/css">
        .ColumnNoWrapHelper {
            white-space: nowrap;
        }
        .hdCheckoutCompleteBtn {
            display: none;
        }
    </style>
    <input name="PC25882$HiddenID" type="hidden" id="PC25882_HiddenID" value="-1">
    <input name="PC25882$hdnDesignationIds" type="hidden" id="PC25882_hdnDesignationIds">
    <div id="PC25882_pnlDonationForm" role="main">
        <h1 style="display: none;">Donation Form</h1>
        <input type="button" name="PC25882$btnPopupCheckoutComplete" value="" onclick="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;PC25882$btnPopupCheckoutComplete&quot;, &quot;&quot;, true, &quot;&quot;, &quot;&quot;, false, true))" id="btnPopupCheckoutComplete" class="hdCheckoutCompleteBtn">
        <table class="BBFormTable DonationFormTable">
            <tbody>
                <tr>
                    <td class="BBMessage DonationMessage" colspan="2">
                    </td>
                </tr>
                <tr>
                    <td class="BBMessage DonationMessage" colspan="2">
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div id="PC25882_ValidationSummary1" class="BBFormValidatorSummary DonationValidationSummary DonationClientValidationSummary" style="display:none;">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td id="PC25882_DonorChallengeInfo" colspan="2" class="BBMessage DonationMessage DonorChallenge">
                    </td>
                </tr>
                <tr>
                    <td class="BBListingHeading DonationListingHeading" colspan="2">
                        <span id="PC25882_lblPersonal">Donation Information</span>
                    </td>
                </tr>
            </tbody>
            <tbody id="PC25882_TB_pnlDonation" class="DonationFormTable_DonationPanel">
                <tr>
                    <td id="PC25882_thCaptionAmount" class="BBFieldCaption DonationFieldCaption" valign="top">
                        <label for="PC25882_txtAmount" id="PC25882_lblAmountCaption"></label>
                    </td>
                    <td class="BBFieldControlCell DonationFieldControlCell">
                        <table id="PC25882_tblAmount" class="taLeft" cellpadding="3">
                            <tbody>
                                <tr>
                                    <td class="BBFieldControlCell DonationFieldControlCell"><span class="vaTop" itemindex="1052" amount="50.00"><input id="PC25882_rdo_1052_5" type="radio" name="PC25882$givingLevels" value="rdo_1052_5" onclick="rdo_OnClick(this);" aria-labelledby="PC25882_tblAmount"><label for="PC25882_rdo_1052_5">$50</label></span></td>
                                    <td class="vaBottom BBFieldControlCell DonationFieldControlCell"><span>$50.00</span><span class="BBConvertedCurrencyLabel"></span></td>
                                </tr>
                                <tr>
                                    <td class="BBFieldControlCell DonationFieldControlCell"><span class="vaTop" itemindex="1053" amount="100.00"><input id="PC25882_rdo_1053_5" type="radio" name="PC25882$givingLevels" value="rdo_1053_5" onclick="rdo_OnClick(this);" aria-labelledby="PC25882_tblAmount"><label for="PC25882_rdo_1053_5">$100</label></span></td>
                                    <td class="vaBottom BBFieldControlCell DonationFieldControlCell"><span>$100.00</span><span class="BBConvertedCurrencyLabel"></span></td>
                                </tr>
                                <tr>
                                    <td class="BBFieldControlCell DonationFieldControlCell"><span class="vaTop" itemindex="1054" amount="250.00"><input id="PC25882_rdo_1054_5" type="radio" name="PC25882$givingLevels" value="rdo_1054_5" onclick="rdo_OnClick(this);" aria-labelledby="PC25882_tblAmount"><label for="PC25882_rdo_1054_5">$250</label></span></td>
                                    <td class="vaBottom BBFieldControlCell DonationFieldControlCell"><span>$250.00</span><span class="BBConvertedCurrencyLabel"></span></td>
                                </tr>
                                <tr>
                                    <td class="BBFieldControlCell DonationFieldControlCell"><span class="vaTop" itemindex="1055" amount="500.00"><input id="PC25882_rdo_1055_5" type="radio" name="PC25882$givingLevels" value="rdo_1055_5" onclick="rdo_OnClick(this);" aria-labelledby="PC25882_tblAmount"><label for="PC25882_rdo_1055_5">$500</label></span></td>
                                    <td class="vaBottom BBFieldControlCell DonationFieldControlCell"><span>$500.00</span><span class="BBConvertedCurrencyLabel"></span></td>
                                </tr>
                                <tr>
                                    <td class="BBFieldControlCell DonationFieldControlCell"><span class="vaTop" itemindex="1056" amount="1000.00"><input id="PC25882_rdo_1056_5" type="radio" name="PC25882$givingLevels" value="rdo_1056_5" onclick="rdo_OnClick(this);" aria-labelledby="PC25882_tblAmount"><label for="PC25882_rdo_1056_5">$1,000</label></span></td>
                                    <td class="vaBottom BBFieldControlCell DonationFieldControlCell"><span>$1,000.00</span><span class="BBConvertedCurrencyLabel"></span></td>
                                </tr>
                                <tr id="PC25882_trOther" style="display:;">
                                    <td id="PC25882_tdOther" class="BBFieldControlCell DonationFieldControlCell"><span itemindex="-1"><input id="PC25882_rdoOther" type="radio" name="PC25882$givingLevels" value="rdoOther" checked="checked" onclick="rdo_OnClick(this);" aria-labelledby="PC25882_tblAmount"><label for="PC25882_rdoOther">Other</label></span></td>
                                    <td class="wsNowrap BBFieldControlCell DonationFieldControlCell">
                                        <table style="margin-left: -3px">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <span id="PC25882_lblSymbol" class="DonationFormTable_DonationPanel_SymbolLabel">$</span>
                                                    </td>
                                                    <td id="PC25882_Td1">
                                                        <input name="PC25882$txtAmount" type="text" maxlength="10" id="PC25882_txtAmount" class="BBFormTextbox DonationTextboxNarrow" onkeyup="UpdateSummary();">
                                                        <span id="PC25882_ReqFldValidatorAmount" style="display:none;"></span><span id="PC25882_CmpValidatorAmount" style="display:none;"></span>
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                        <span id="PC25882_lblAmtRequiredMarker" class="BBFormRequiredFieldMarker DonationRequiredFieldMarker" style="visibility:visible;">*</span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr id="PC25882_trAdditInformation">
                    <td class="BBListingHeading DonationListingHeading" colspan="3">
                        <span id="PC25882_lblAdditInformation">Additional Information</span>
                    </td>
                </tr>
                <tr id="PC25882_trGiftType" style="display:;">
                    <td id="PC25882_tdGiftTypeCaption" class="BBFieldCaption DonationFieldCaption" valign="top">
                        <span id="PC25882_lblGiftTypeCaption">Type of gift:</span>
                    </td>
                    <td colspan="2" class="BBFieldControlCell DonationFieldControlCell">
                        <table id="PC25882_rdoGiftType" role="group" aria-label="divGiftType">
                            <tbody>
                                <tr>
                                    <td><input id="PC25882_rdoGiftType_0" type="radio" name="PC25882$rdoGiftType" value="OneTime" onclick="javascript:setTimeout('__doPostBack(\'PC25882$rdoGiftType$0\',\'\')', 0)"><label for="PC25882_rdoGiftType_0">One-time gift</label></td>
                                </tr>
                                <tr>
                                    <td><input id="PC25882_rdoGiftType_1" type="radio" name="PC25882$rdoGiftType" value="Recurring" checked="checked"><label for="PC25882_rdoGiftType_1">Recurring gift</label></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr id="PC25882_trRecurrence" style="display:;">
                    <td id="PC25882_tdFrequencyCaption" class="BBFieldCaption DonationFieldCaption" valign="top">
                        <label for="PC25882_Recurrence_ddlFrequency" id="PC25882_lblFrequencyCaption">Frequency:</label>
                    </td>
                    <td colspan="2" class="BBFieldControlCell DonationFieldControlCell">
                        <table>
                            <tbody>
                                <tr>
                                    <td id="PC25882_Recurrence_tdFrequency" valign="bottom">
                                        <select name="PC25882$Recurrence$ddlFrequency" onchange="javascript:setTimeout('__doPostBack(\'PC25882$Recurrence$ddlFrequency\',\'\')', 0)" id="PC25882_Recurrence_ddlFrequency" class="BBFormSelectList DonationSelectList">
                                            <option selected="selected" value="<?xml version=&quot;1.0&quot; encoding=&quot;utf-16&quot;?><RecurrenceInformation xmlns:xsd=&quot;http://www.w3.org/2001/XMLSchema&quot; xmlns:xsi=&quot;http://www.w3.org/2001/XMLSchema-instance&quot;>  <Frequency xmlns=&quot;urn:blackbaud.RE7.XDATA&quot;>Monthly</Frequency>  <Position xmlns=&quot;urn:blackbaud.RE7.XDATA&quot;>First</Position>  <StartDate xmlns=&quot;urn:blackbaud.RE7.XDATA&quot; />  <EndDate xmlns=&quot;urn:blackbaud.RE7.XDATA&quot; />  <DayOfWeek xmlns=&quot;urn:blackbaud.RE7.XDATA&quot;>Sunday</DayOfWeek>  <Day xmlns=&quot;urn:blackbaud.RE7.XDATA&quot;>1</Day>  <Month xmlns=&quot;urn:blackbaud.RE7.XDATA&quot;>0</Month>  <ProcessNow xmlns=&quot;urn:blackbaud.RE7.XDATA&quot;>false</ProcessNow></RecurrenceInformation>">Day 1 of every month</option>
                                            <option value="<?xml version=&quot;1.0&quot; encoding=&quot;utf-16&quot;?><RecurrenceInformation xmlns:xsd=&quot;http://www.w3.org/2001/XMLSchema&quot; xmlns:xsi=&quot;http://www.w3.org/2001/XMLSchema-instance&quot;>  <Frequency xmlns=&quot;urn:blackbaud.RE7.XDATA&quot;>Monthly</Frequency>  <Position xmlns=&quot;urn:blackbaud.RE7.XDATA&quot;>First</Position>  <StartDate xmlns=&quot;urn:blackbaud.RE7.XDATA&quot; />  <EndDate xmlns=&quot;urn:blackbaud.RE7.XDATA&quot; />  <DayOfWeek xmlns=&quot;urn:blackbaud.RE7.XDATA&quot;>Sunday</DayOfWeek>  <Day xmlns=&quot;urn:blackbaud.RE7.XDATA&quot;>15</Day>  <Month xmlns=&quot;urn:blackbaud.RE7.XDATA&quot;>0</Month>  <ProcessNow xmlns=&quot;urn:blackbaud.RE7.XDATA&quot;>false</ProcessNow></RecurrenceInformation>">Day 15 of every month</option>
                                        </select>
                                        <div id="PC25882_Recurrence_divFrequency">
                                            <table>
                                                <tbody>
                                                    <tr id="PC25882_Recurrence_trRange">
                                                        <td colspan="2" class="wsNowrap">
                                                            <label for="PC25882_Recurrence_DatePickerStart" id="PC25882_Recurrence_lblTxtStarting" class="BBFieldCaption">Starting:</label>
                                                            <input name="PC25882$Recurrence$DatePickerStart" type="text" value="2/28/2024" id="PC25882_Recurrence_DatePickerStart" class="BBFormTextbox DonationTextboxNarrow hasDatepicker" placeholder="mm/dd/yyyy"><img class="ui-datepicker-trigger" src="https://foundation.uc.edu/images/calendar.gif" alt="Start Date" title="Start Date">&nbsp;&nbsp;
                                                            <span id="spanTruePledgeEndingDate" style="display:none"> 
                                                            &nbsp;    
                                                            <span id="PC25882_Recurrence_lblEndingOnCaption">Ending: </span>
                                                            &nbsp;
                                                            <span id="lblTruePledgeEndingDate"></span>
                                                            </span>
                                                            <span id="PC25882_Recurrence_ctl07" style="display:none;"></span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr id="PC25882_trAnonymous">
                    <td class="BBFieldCaption DonationFieldCaption">
                        <span id="PC25882_lblAnonymousCaption">Anonymous:</span>
                    </td>
                    <td colspan="2" class="BBFieldControlCell DonationFieldControlCell">
                        <span class="BBFieldCheckboxCaption DonationFieldCheckboxCaption"><input id="PC25882_chkAnonymous" type="checkbox" name="PC25882$chkAnonymous" aria-label="lblchkAnonymous"><label for="PC25882_chkAnonymous">I prefer to make this donation anonymously</label></span>
                    </td>
                </tr>
                <tr id="PC25882_trSource">
                    <td class="BBFieldCaption DonationFieldCaption">
                        <label for="PC25882_ddlSources" id="PC25882_lblSourceCaption">How Did You Hear About Our Site:</label>
                    </td>
                    <td class="vaTop" colspan="2">
                        <select name="PC25882$ddlSources" id="PC25882_ddlSources" class="BBFormSelectList DonationSelectList">
                            <option selected="selected" value=""></option>
                            <option value="7747">24AG-BBIS</option>
                        </select>
                        <span id="PC25882_ctl53" style="display:none;"></span>
                    </td>
                </tr>
                <tr>
                    <td class="BBFieldControlCell DonationFieldControlCell DonationVerificationCell" colspan="3">
                    </td>
                </tr>
                <tr>
                    <td class="BBFormButtonCell DonationButtonCell" colspan="3">
                        <input type="submit" name="PC25882$btnNext" value="Continue" onclick="(function(btn){var bDisableMe=true;if(typeof(Page_ClientValidate)=='function'){bDisableMe=Page_ClientValidate('PC25882');}__doPostBack('PC25882$btnNext','');btn.disabled=bDisableMe;})(this);return false;WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;PC25882$btnNext&quot;, &quot;&quot;, true, &quot;PC25882&quot;, &quot;&quot;, false, false))" id="PC25882_btnNext" class="BBFormSubmitButton DonationSubmitButton">
                    </td>
                </tr>
                <input type="hidden" name="PC25882$hdnTId" id="hdnTId">
            </tbody>
        </table>
        <script>
            /*
            var publicKey = '55d0259b-8201-4043-bcdc-94ee78d4f708';
            var APITokenID = '00000000-0000-0000-0000-000000000000';
            var CurrencyDecimalSeparator = '.',
                CurrencyGroupSeparator = ',';
            $(function () {
                $('#' + 'PC25882_ddlDesignations').on({
                    mouseenter: function () {
                        var option = $(this).find("option:selected")[0];
                        if (option !== null) {
                            $(this).attr("title", option.text);
                        }
                    }
                });
            });
            
            this.bbcheckout = new BBCheckoutProcessor(BLACKBAUD.netcommunity.DonationClassicCheckout, 'Payment', '00000000-0000-0000-0000-000000000000', null);
            this.bbcheckout.Configuration.Data.Key = '';
            this.bbcheckout.Configuration.TransactionType = 1;
            this.bbcheckout.Configuration.Data.ClientAppName = 'BBIS';        
            this.bbcheckout.Configuration.Data.MerchantAccountId = '';
            this.bbcheckout.Configuration.Data.IsEmailRequired = 'True';
            this.bbcheckout.Configuration.Data.IsNameVisible = 'True';
            this.bbcheckout.Configuration.Data.PrimaryColor = '';
            this.bbcheckout.Configuration.Data.SecondaryColor = '';
            this.bbcheckout.Configuration.Data.FontFamily = '';
            this.bbcheckout.Configuration.Data.UseCaptcha = 'False';
            this.bbcheckout.Configuration.WorkflowType = '2';
            this.bbcheckout.Configuration.HandleBrowserClosing = 'True';
            this.bbcheckout.Configuration.APITokenID = '00000000-0000-0000-0000-000000000000';
            this.bbcheckout.Configuration.TempConfirmationHtml = '';
            this.bbcheckout.Configuration.AllowSiteTracking = 'False';
            this.bbcheckout.intializeCheckout();
            */
        </script>
    </div>
    <div id="bbspLoadingOverlay" class="bbspLoadingOverlay">
        <img src="https://foundation.uc.edu/images/FormEngine/Loading.gif" alt="" class="bbspLoadingImage">
    </div>
</div>

<hr>

<div id="PC28234_UpdatePanel">
    <style type="text/css">
        .ColumnNoWrapHelper {
        white-space: nowrap;
        }
        .hdCheckoutCompleteBtn {
        display: none;
        }
    </style>
    <input name="PC28234$HiddenID" type="hidden" id="PC28234_HiddenID">
    <input name="PC28234$hdnDesignationIds" type="hidden" id="PC28234_hdnDesignationIds">
    <div id="PC28234_pnlDonationForm" role="main">
        <h1 style="display: none;">Donation Form</h1>
        <span id="PC28234_ReqFldValidatorTributeAcknPhone" style="display:none;"></span><span id="PC28234_ReqFldValidatorTributeAcknEmail" style="display:none;"></span><input type="button" name="PC28234$btnPopupCheckoutComplete" value="" onclick="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;PC28234$btnPopupCheckoutComplete&quot;, &quot;&quot;, true, &quot;&quot;, &quot;&quot;, false, true))" id="btnPopupCheckoutComplete" class="hdCheckoutCompleteBtn">
        <table class="BBFormTable DonationFormTable">
            <tbody>
                <tr>
                    <td class="BBMessage DonationMessage" colspan="2">
                    </td>
                </tr>
                <tr>
                    <td class="BBMessage DonationMessage" colspan="2">
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div id="PC28234_ValidationSummary1" class="BBFormValidatorSummary DonationValidationSummary DonationClientValidationSummary" style="display:none;">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td id="PC28234_DonorChallengeInfo" colspan="2" class="BBMessage DonationMessage DonorChallenge">
                    </td>
                </tr>
                <tr>
                    <td class="BBListingHeading DonationListingHeading" colspan="2">
                        <span id="PC28234_lblPersonal">Donation Information</span>
                    </td>
                </tr>
            </tbody>
            <tbody id="PC28234_TB_pnlDonation" class="DonationFormTable_DonationPanel">
                <tr>
                    <td id="PC28234_thCaptionAmount" class="BBFieldCaption DonationFieldCaption" valign="top">
                        <label for="PC28234_txtAmount" id="PC28234_lblAmountCaption">Amount:</label>
                    </td>
                    <td class="BBFieldControlCell DonationFieldControlCell">
                        <table id="PC28234_tblAmount" class="taLeft" cellpadding="3">
                            <tbody>
                                <tr>
                                    <td class="BBFieldControlCell DonationFieldControlCell"><span class="vaTop" itemindex="1277" amount="50.00"><input id="PC28234_rdo_1277_5" type="radio" name="PC28234$givingLevels" value="rdo_1277_5" onclick="rdo_OnClick(this);" aria-labelledby="PC28234_tblAmount"><label for="PC28234_rdo_1277_5">$50</label></span></td>
                                    <td class="vaBottom BBFieldControlCell DonationFieldControlCell"><span>$50.00</span><span class="BBConvertedCurrencyLabel"></span></td>
                                </tr>
                                <tr>
                                    <td class="BBFieldControlCell DonationFieldControlCell"><span class="vaTop" itemindex="1278" amount="100.00"><input id="PC28234_rdo_1278_5" type="radio" name="PC28234$givingLevels" value="rdo_1278_5" onclick="rdo_OnClick(this);" aria-labelledby="PC28234_tblAmount"><label for="PC28234_rdo_1278_5">$100</label></span></td>
                                    <td class="vaBottom BBFieldControlCell DonationFieldControlCell"><span>$100.00</span><span class="BBConvertedCurrencyLabel"></span></td>
                                </tr>
                                <tr>
                                    <td class="BBFieldControlCell DonationFieldControlCell"><span class="vaTop" itemindex="1279" amount="250.00"><input id="PC28234_rdo_1279_5" type="radio" name="PC28234$givingLevels" value="rdo_1279_5" onclick="rdo_OnClick(this);" aria-labelledby="PC28234_tblAmount"><label for="PC28234_rdo_1279_5">$250</label></span></td>
                                    <td class="vaBottom BBFieldControlCell DonationFieldControlCell"><span>$250.00</span><span class="BBConvertedCurrencyLabel"></span></td>
                                </tr>
                                <tr>
                                    <td class="BBFieldControlCell DonationFieldControlCell"><span class="vaTop" itemindex="1280" amount="500.00"><input id="PC28234_rdo_1280_5" type="radio" name="PC28234$givingLevels" value="rdo_1280_5" onclick="rdo_OnClick(this);" aria-labelledby="PC28234_tblAmount"><label for="PC28234_rdo_1280_5">$500</label></span></td>
                                    <td class="vaBottom BBFieldControlCell DonationFieldControlCell"><span>$500.00</span><span class="BBConvertedCurrencyLabel"></span></td>
                                </tr>
                                <tr>
                                    <td class="BBFieldControlCell DonationFieldControlCell"><span class="vaTop" itemindex="1281" amount="1000.00"><input id="PC28234_rdo_1281_5" type="radio" name="PC28234$givingLevels" value="rdo_1281_5" onclick="rdo_OnClick(this);" aria-labelledby="PC28234_tblAmount"><label for="PC28234_rdo_1281_5">$1,000</label></span></td>
                                    <td class="vaBottom BBFieldControlCell DonationFieldControlCell"><span>$1,000.00</span><span class="BBConvertedCurrencyLabel"></span></td>
                                </tr>
                                <tr id="PC28234_trOther" style="display:;">
                                    <td id="PC28234_tdOther" class="BBFieldControlCell DonationFieldControlCell"><span itemindex="-1"><input id="PC28234_rdoOther" type="radio" name="PC28234$givingLevels" value="rdoOther" onclick="rdo_OnClick(this);" aria-labelledby="PC28234_tblAmount"><label for="PC28234_rdoOther">Other</label></span></td>
                                    <td class="wsNowrap BBFieldControlCell DonationFieldControlCell">
                                        <table style="margin-left: -3px">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <span id="PC28234_lblSymbol" class="DonationFormTable_DonationPanel_SymbolLabel">$</span>
                                                    </td>
                                                    <td id="PC28234_Td1">
                                                        <input name="PC28234$txtAmount" type="text" maxlength="10" id="PC28234_txtAmount" disabled="disabled" class="aspNetDisabled BBFormTextbox DonationTextboxNarrow" onkeyup="UpdateSummary();">
                                                        &nbsp;
                                                        <span id="PC28234_ReqFldValidatorAmount" style="display:none;"></span><span id="PC28234_CmpValidatorAmount" style="display:none;"></span>
                                                    </td>
                                                    <td>
                                                        &nbsp;
                                                    </td>
                                                    <td>
                                                        <span id="PC28234_lblAmtRequiredMarker" class="BBFormRequiredFieldMarker DonationRequiredFieldMarker" style="visibility:hidden;">*</span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr id="PC28234_trDesignation">
                    <td class="BBFieldCaption DonationFieldCaption DonationFieldDropDownCaption">
                        <label for="PC28234_ddlDesignations" id="PC28234_lblDesignationCaption">Designation:</label>
                    </td>
                    <td class="BBFieldControlCell DonationFieldControlCell">
                        <select name="PC28234$ddlDesignations" id="PC28234_ddlDesignations" class="BBFormSelectList DonationSelectList" style="max-width: 355px !Important;">
                            <option value="2031">2024 CCM Speaks</option>
                            <option value="2032">Breast Cancer Center Event Fund</option>
                            <option selected="selected" value="2033">Presidential Co-op Challenge</option>
                        </select>
                    </td>
                </tr>
                <tr id="PC28234_trAdditInformation">
                    <td class="BBListingHeading DonationListingHeading" colspan="3">
                        <span id="PC28234_lblAdditInformation">Additional Information</span>
                    </td>
                </tr>
                <tr id="PC28234_trGiftType" style="display:;">
                    <td id="PC28234_tdGiftTypeCaption" class="BBFieldCaption DonationFieldCaption" valign="top">
                        <span id="PC28234_lblGiftTypeCaption">Type of gift:</span>
                    </td>
                    <td colspan="2" class="BBFieldControlCell DonationFieldControlCell">
                        <table id="PC28234_rdoGiftType" role="group" aria-label="divGiftType">
                            <tbody>
                                <tr>
                                    <td><input id="PC28234_rdoGiftType_0" type="radio" name="PC28234$rdoGiftType" value="OneTime" checked="checked"><label for="PC28234_rdoGiftType_0">One-time gift</label></td>
                                </tr>
                                <tr>
                                    <td><input id="PC28234_rdoGiftType_1" type="radio" name="PC28234$rdoGiftType" value="Recurring" onclick="javascript:setTimeout('__doPostBack(\'PC28234$rdoGiftType$1\',\'\')', 0)"><label for="PC28234_rdoGiftType_1">Recurring gift</label></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr id="PC28234_trAnonymous">
                    <td class="BBFieldCaption DonationFieldCaption">
                        <span id="PC28234_lblAnonymousCaption">Anonymous:</span>
                    </td>
                    <td colspan="2" class="BBFieldControlCell DonationFieldControlCell">
                        <span class="BBFieldCheckboxCaption DonationFieldCheckboxCaption"><input id="PC28234_chkAnonymous" type="checkbox" name="PC28234$chkAnonymous" aria-label="lblchkAnonymous"><label for="PC28234_chkAnonymous">I prefer to make this donation anonymously</label></span>
                    </td>
                </tr>
                <tr id="PC28234_trComments">
                    <td class="vaTop BBFieldCaption DonationFieldCaption">
                        <label for="PC28234_txtComments" id="PC28234_lblCommentsCaption">Comments:</label>
                    </td>
                    <td colspan="2">
                        <textarea name="PC28234$txtComments" rows="2" cols="20" maxlength="255" id="PC28234_txtComments" class="BBFormTextArea DonationTextArea"></textarea>
                    </td>
                </tr>
                <tr>
                    <td class="BBListingHeading DonationListingHeading" colspan="3">
                        <span id="PC28234_lblTributeHeading">Tribute Information</span>
                    </td>
                </tr>
                <tr>
                    <td class="BBMessage DonationMessage" colspan="3">
                        <span id="PC28234_lblTributeSectionDescription"></span>
                    </td>
                </tr>
                <tr id="PC28234_trTributeName" style="display:none;">
                    <td id="PC28234_tdTribNameCaption" class="BBFieldCaption DonationFieldCaption">
                        <label for="PC28234_txtTributeFullName" id="PC28234_lblName">Name:</label>
                    </td>
                    <td id="PC28234_tdTribNameControls" class="BBFieldControlCell DonationFieldControlCell">
                        <input name="PC28234$txtTributeFullName" type="text" maxlength="50" id="PC28234_txtTributeFullName" class="BBFormTextbox DonationTextboxWide">
                    </td>
                    <td id="PC28234_tdTributeRequiredMarker" class="BBFormRequiredFieldMarker DonationRequiredFieldMarker" style="visibility:hidden;">*
                    </td>
                </tr>
                <tr id="PC28234_trTributeFirstName" style="display:;">
                    <td id="PC28234_tdTributeFirstName" class="BBFieldCaption DonationFieldCaption">
                        <label for="PC28234_txtTributeFirstName" id="PC28234_lblTributeFirstName">First name:</label>
                    </td>
                    <td id="PC28234_tdTributeFirstNameControls" class="BBFieldControlCell DonationFieldControlCell">
                        <input name="PC28234$txtTributeFirstName" type="text" maxlength="50" id="PC28234_txtTributeFirstName" class="BBFormTextbox DonationTextboxWide">
                        <span id="PC28234_ReqFldValidatorTributeFirstName" style="display:none;"></span>
                    </td>
                </tr>
                <tr id="PC28234_trTributeLastName" style="display:;">
                    <td id="PC28234_tdTributeLastName" class="BBFieldCaption DonationFieldCaption">
                        <label for="PC28234_txtTributeLastName" id="PC28234_lblTributeLastName">Last name:</label>
                    </td>
                    <td id="PC28234_tdTributeLastNameControls" class="BBFieldControlCell DonationFieldControlCell">
                        <input name="PC28234$txtTributeLastName" type="text" maxlength="50" id="PC28234_txtTributeLastName" class="BBFormTextbox DonationTextboxWide" onkeyup="txtTributeName_KeyUp(this, 'PC28234_tdTributeTypeRequiredMarker');">
                        <span id="PC28234_ReqFldValidatorTribName" style="display:none;"></span><span id="PC28234_ReqFldValidatorTributeLastName" style="display:none;"></span>
                    </td>
                    <td id="PC28234_tdTributeLastNameRequiredMarker" class="BBFormRequiredFieldMarker DonationRequiredFieldMarker" style="visibility:hidden;">*
                    </td>
                </tr>
                <tr id="PC28234_trTributeDesc">
                    <td id="PC28234_tdTribDescCaption" class="BBFieldCaption DonationFieldCaption">
                        <label for="PC28234_ddlTribute" id="PC28234_lblType">Type:</label>
                    </td>
                    <td id="PC28234_tdTribDescControls" class="BBFieldControlCell DonationFieldControlCell" style="text-align: left;">
                        <select name="PC28234$ddlTribute" id="PC28234_ddlTribute" class="BBFormSelectList DonationSelectList" onchange="ddlTribute_OnChange(this)">
                            <option value="0"></option>
                            <option selected="selected" value="10186">in honor of</option>
                            <option value="10187">in memory of</option>
                        </select>
                    </td>
                    <td id="PC28234_tdTributeTypeRequiredMarker" class="BBFormRequiredFieldMarker DonationRequiredFieldMarker" style="visibility: hidden">*
                    </td>
                </tr>
                <tr id="PC28234_trTributeDesc2">
                    <td id="PC28234_tdTrib2Caption" class="BBFieldCaption DonationFieldCaption">
                        <label for="PC28234_txtTributeDescription" id="PC28234_lblDescription">Description:</label>
                    </td>
                    <td id="PC28234_tdTrib2Controls" class="BBFieldControlCell DonationFieldControlCell" style="text-align: left;">
                        <input name="PC28234$txtTributeDescription" type="text" maxlength="255" id="PC28234_txtTributeDescription" class="BBFormTextbox DonationTextboxWide">
                        <span id="PC28234_ReqFldValidatorTribDesc" style="display:none;"></span>
                    </td>
                    <td id="PC28234_tdTributeDescRequiredMarker" class="BBFormRequiredFieldMarker DonationRequiredFieldMarker" style="visibility:hidden;">*
                    </td>
                </tr>
                <tr>
                    <td class="BBFieldCaption DonationFieldCaption"></td>
                    <td class="w100p BBFieldControlCell DonationCaptureFieldControlCell">
                        <span class="BBFieldCheckboxCaption DonationFieldCheckboxCaption"><input id="PC28234_chkAcknowledge" type="checkbox" name="PC28234$chkAcknowledge" checked="checked" onclick="javascript:setTimeout('__doPostBack(\'PC28234$chkAcknowledge\',\'\')', 0)"><label for="PC28234_chkAcknowledge">Mail a letter on my behalf</label></span>
                    </td>
                    <td id="PC28234_tdTributeChkAcknowledgeRequiredMarker" class="BBFormRequiredFieldMarker DonationRequiredFieldMarker" style="visibility: hidden">*
                    </td>
                </tr>
            </tbody>
            <tbody id="pnlAcknowledgee">
                <tr id="PC28234_trAcknowledgeeName" style="display:none;">
                    <td class="BBFieldCaption DonationFieldCaption">
                        <label for="PC28234_txtTributeAcknFullName" id="PC28234_lblFullNameCaption">Full Name:</label>
                    </td>
                    <td id="PC28234_Td2" class="BBFieldControlCell DonationFieldControlCell">
                        <input name="PC28234$txtTributeAcknFullName" type="text" maxlength="50" id="PC28234_txtTributeAcknFullName" class="BBFormTextbox DonationTextboxWide">
                    </td>
                    <td class="BBFormRequiredFieldMarker DonationRequiredFieldMarker">*
                    </td>
                </tr>
                <tr id="PC28234_trAcknowledgeeFirstName" style="display:;">
                    <td id="PC28234_tdAcknowledgeeFirstName" class="BBFieldCaption DonationFieldCaption">
                        <label for="PC28234_txtAcknowledgeeFirstName" id="PC28234_lblAcknowledgeeFirstName">First name:</label>
                    </td>
                    <td id="PC28234_tdAcknowledgeeFirstNameControls" class="BBFieldControlCell DonationFieldControlCell">
                        <input name="PC28234$txtAcknowledgeeFirstName" type="text" maxlength="50" id="PC28234_txtAcknowledgeeFirstName" class="BBFormTextbox DonationTextboxWide">
                        <span id="PC28234_ReqFldValidatorAcknowledgeeFirstName" style="display:none;"></span>
                    </td>
                </tr>
                <tr id="PC28234_trAcknowledgeeLastName" style="display:;">
                    <td id="PC28234_tdAcknowledgeeLastName" class="BBFieldCaption DonationFieldCaption">
                        <label for="PC28234_txtAcknowledgeeLastName" id="PC28234_lblAcknowledgeeLastName">Last name:</label>
                    </td>
                    <td id="PC28234_tdAcknowledgeeLastNameControls" class="BBFieldControlCell DonationFieldControlCell">
                        <input name="PC28234$txtAcknowledgeeLastName" type="text" maxlength="50" id="PC28234_txtAcknowledgeeLastName" class="BBFormTextbox DonationTextboxWide">
                        <span id="PC28234_ReqFldValidatorTributeAcknFullName" style="display:none;"></span><span id="PC28234_ReqFldValidatorAcknowledgeeLastName" style="display:none;"></span>
                    </td>
                    <td class="BBFormRequiredFieldMarker DonationRequiredFieldMarker">*
                    </td>
                </tr>
                <tr>
                    <td id="PC28234_AddressCtl_lbl_country" class="BBFieldCaption DonationFieldCaption">
                        <label for="PC28234_AddressCtl_dd_Country" id="PC28234_AddressCtl_lblCountry">Country:</label>
                    </td>
                    <td id="PC28234_AddressCtl_ctl_Country" class="taLeft BBFieldControlCell DonationFieldControlCell">
                        <select name="PC28234$AddressCtl$dd_Country" onchange="javascript:setTimeout('__doPostBack(\'PC28234$AddressCtl$dd_Country\',\'\')', 0)" id="PC28234_AddressCtl_dd_Country" class="BBFormSelectList DonationSelectList" onclick="javaScript:Page_BlockSubmit = false;">
                            <option value="Afghanistan">Afghanistan</option>
                            <option value="Albania">Albania</option>
                            <option value="Algeria">Algeria</option>
                            <option value="American Samoa">American Samoa</option>
                            <option value="Andorra">Andorra</option>
                            <option value="Angola">Angola</option>
                            <option value="Antigua and Barbuda">Antigua and Barbuda</option>
                            <option value="Argentina">Argentina</option>
                            <option value="Armenia">Armenia</option>
                            <option value="Aruba">Aruba</option>
                            <option value="Australia">Australia</option>
                            <option value="Austria">Austria</option>
                            <option value="Azerbaijan">Azerbaijan</option>
                            <option value="Bahamas">Bahamas</option>
                            <option value="Bahrain">Bahrain</option>
                            <option value="Bangladesh">Bangladesh</option>
                            <option value="Barbados">Barbados</option>
                            <option value="Belgium">Belgium</option>
                            <option value="Belize">Belize</option>
                            <option value="Benin">Benin</option>
                            <option value="Bermuda">Bermuda</option>
                            <option value="Bolivia">Bolivia</option>
                            <option value="Bosnia and Herzegowina">Bosnia and Herzegowina</option>
                            <option value="Botswana">Botswana</option>
                            <option value="Brazil">Brazil</option>
                            <option value="British Indian Ocean Territory">British Indian Ocean Territory</option>
                            <option value="Brunei">Brunei</option>
                            <option value="Bulgaria">Bulgaria</option>
                            <option value="Burkina Faso">Burkina Faso</option>
                            <option value="Burundi">Burundi</option>
                            <option value="Cambodia">Cambodia</option>
                            <option value="Cameroon">Cameroon</option>
                            <option value="Canada">Canada</option>
                            <option value="Cayman Islands">Cayman Islands</option>
                            <option value="Central African Republic">Central African Republic</option>
                            <option value="Chile">Chile</option>
                            <option value="China">China</option>
                            <option value="Colombia">Colombia</option>
                            <option value="Costa Rica">Costa Rica</option>
                            <option value="Cote D'Ivoire">Cote D'Ivoire</option>
                            <option value="Croatia">Croatia</option>
                            <option value="Cyprus">Cyprus</option>
                            <option value="Czech Republic">Czech Republic</option>
                            <option value="Denmark">Denmark</option>
                            <option value="Dominican Republic">Dominican Republic</option>
                            <option value="Ecuador">Ecuador</option>
                            <option value="Egypt">Egypt</option>
                            <option value="El Salvador">El Salvador</option>
                            <option value="Eritrea">Eritrea</option>
                            <option value="Ethiopia">Ethiopia</option>
                            <option value="Fiji">Fiji</option>
                            <option value="Finland">Finland</option>
                            <option value="France">France</option>
                            <option value="Georgia">Georgia</option>
                            <option value="Germany">Germany</option>
                            <option value="Ghana">Ghana</option>
                            <option value="Great Britian">Great Britian</option>
                            <option value="Greece">Greece</option>
                            <option value="Guam">Guam</option>
                            <option value="Guatemala">Guatemala</option>
                            <option value="Guyana">Guyana</option>
                            <option value="Haiti">Haiti</option>
                            <option value="Honduras">Honduras</option>
                            <option value="Hong Kong">Hong Kong</option>
                            <option value="Hungary">Hungary</option>
                            <option value="Iceland">Iceland</option>
                            <option value="India">India</option>
                            <option value="Indonesia">Indonesia</option>
                            <option value="Iran (Islamic Republic of)">Iran (Islamic Republic of)</option>
                            <option value="Iraq">Iraq</option>
                            <option value="Ireland">Ireland</option>
                            <option value="Israel">Israel</option>
                            <option value="Italy">Italy</option>
                            <option value="Jamaica">Jamaica</option>
                            <option value="Japan">Japan</option>
                            <option value="Jordan">Jordan</option>
                            <option value="Kazakhstan">Kazakhstan</option>
                            <option value="Kenya">Kenya</option>
                            <option value="Korea, D.P.R.O.">Korea, D.P.R.O.</option>
                            <option value="Korea, Republic of">Korea, Republic of</option>
                            <option value="Kuwait">Kuwait</option>
                            <option value="Kyrgyzstan">Kyrgyzstan</option>
                            <option value="Latvia">Latvia</option>
                            <option value="Lebanon">Lebanon</option>
                            <option value="Libyan Arab Jamahiriya">Libyan Arab Jamahiriya</option>
                            <option value="Liechtenstein">Liechtenstein</option>
                            <option value="Lithuania">Lithuania</option>
                            <option value="Luxembourg">Luxembourg</option>
                            <option value="Macao">Macao</option>
                            <option value="Macedonia">Macedonia</option>
                            <option value="Madagascar">Madagascar</option>
                            <option value="Malaysia">Malaysia</option>
                            <option value="Malta">Malta</option>
                            <option value="Marshall Islands">Marshall Islands</option>
                            <option value="Mauritania">Mauritania</option>
                            <option value="Mauritius">Mauritius</option>
                            <option value="Metro Manila">Metro Manila</option>
                            <option value="Mexico">Mexico</option>
                            <option value="Moldova, Republic of">Moldova, Republic of</option>
                            <option value="Monaco">Monaco</option>
                            <option value="Morocco">Morocco</option>
                            <option value="Mozambique">Mozambique</option>
                            <option value="Myanmar">Myanmar</option>
                            <option value="Nepal">Nepal</option>
                            <option value="Netherlands">Netherlands</option>
                            <option value="New Zealand">New Zealand</option>
                            <option value="Nicaragua">Nicaragua</option>
                            <option value="Niger">Niger</option>
                            <option value="Nigeria">Nigeria</option>
                            <option value="Norway">Norway</option>
                            <option value="Oman">Oman</option>
                            <option value="Pakistan">Pakistan</option>
                            <option value="Palau">Palau</option>
                            <option value="Panama">Panama</option>
                            <option value="Papua New Guinea">Papua New Guinea</option>
                            <option value="Paraguay">Paraguay</option>
                            <option value="Peru">Peru</option>
                            <option value="Philippines">Philippines</option>
                            <option value="Poland">Poland</option>
                            <option value="Portugal">Portugal</option>
                            <option value="Puerto Rico">Puerto Rico</option>
                            <option value="Qatar">Qatar</option>
                            <option value="Romania">Romania</option>
                            <option value="Russian Federation">Russian Federation</option>
                            <option value="Saudi Arabia">Saudi Arabia</option>
                            <option value="Senegal">Senegal</option>
                            <option value="Serbia">Serbia</option>
                            <option value="Sierra Leone">Sierra Leone</option>
                            <option value="Singapore">Singapore</option>
                            <option value="Slovenia">Slovenia</option>
                            <option value="South Africa">South Africa</option>
                            <option value="South Korea">South Korea</option>
                            <option value="Spain">Spain</option>
                            <option value="Sri Lanka">Sri Lanka</option>
                            <option value="Sudan">Sudan</option>
                            <option value="Swaziland">Swaziland</option>
                            <option value="Sweden">Sweden</option>
                            <option value="Switzerland">Switzerland</option>
                            <option value="Syrian Arab Republic">Syrian Arab Republic</option>
                            <option value="Taiwan">Taiwan</option>
                            <option value="Tanzania">Tanzania</option>
                            <option value="Thailand">Thailand</option>
                            <option value="Trinidad and Tobago">Trinidad and Tobago</option>
                            <option value="Tunisia">Tunisia</option>
                            <option value="Turkey">Turkey</option>
                            <option value="Uganda">Uganda</option>
                            <option value="Ukraine">Ukraine</option>
                            <option value="United Arab Emirates">United Arab Emirates</option>
                            <option value="United Kingdom">United Kingdom</option>
                            <option selected="selected" value="United States">United States</option>
                            <option value="Uruguay">Uruguay</option>
                            <option value="Uzbekistan">Uzbekistan</option>
                            <option value="Venezuela">Venezuela</option>
                            <option value="Vietnam">Vietnam</option>
                            <option value="Virgin Islands (U.S.)">Virgin Islands (U.S.)</option>
                            <option value="Yemen">Yemen</option>
                            <option value="Zambia">Zambia</option>
                            <option value="Zimbabwe">Zimbabwe</option>
                        </select>
                    </td>
                    <td id="PC28234_AddressCtl_lblreq_country" class="BBFormRequiredFieldMarker DonationRequiredFieldMarker">
                        *
                    </td>
                </tr>
                <tr>
                    <td id="PC28234_AddressCtl_lbl_addrline" class="BBFieldCaption DonationFieldCaption">
                        <label for="PC28234_AddressCtl_tb_AddressLine" id="PC28234_AddressCtl_lblAddressLine">Address:</label>
                    </td>
                    <td id="PC28234_AddressCtl_ctl_addrline" class="taLeft BBFieldControlCell DonationFieldControlCell">
                        <textarea name="PC28234$AddressCtl$tb_AddressLine" rows="2" cols="20" id="PC28234_AddressCtl_tb_AddressLine" class="BBFormTextArea DonationTextArea"></textarea>
                    </td>
                    <td id="PC28234_AddressCtl_lblreq_addrline" valign="top" class="BBFormRequiredFieldMarker DonationRequiredFieldMarker">
                        *
                    </td>
                </tr>
                <tr>
                    <td id="PC28234_AddressCtl_lbl_cityUS" class="BBFieldCaption DonationFieldCaption">
                        <label for="PC28234_AddressCtl_tb_CityUS" id="PC28234_AddressCtl_lblCityUS">City:</label>
                    </td>
                    <td id="PC28234_AddressCtl_ctl_cityUS" class="taLeft BBFieldControlCell DonationFieldControlCell">
                        <input name="PC28234$AddressCtl$tb_CityUS" type="text" maxlength="50" id="PC28234_AddressCtl_tb_CityUS" class="BBFormTextbox DonationTextbox">
                    </td>
                    <td id="PC28234_AddressCtl_lblreq_cityUS" class="BBFormRequiredFieldMarker DonationRequiredFieldMarker">
                        *
                    </td>
                </tr>
                <tr id="PC28234_AddressCtl_tr_stateUS">
                    <td id="PC28234_AddressCtl_lbl_stateUS" class="BBFieldCaption DonationFieldCaption">
                        <label for="PC28234_AddressCtl_dd_StateUS" id="PC28234_AddressCtl_lblStateUS">State:</label>
                    </td>
                    <td id="PC28234_AddressCtl_ctl_stateUS" class="taLeft BBFieldControlCell DonationFieldControlCell">
                        <select name="PC28234$AddressCtl$dd_StateUS" id="PC28234_AddressCtl_dd_StateUS" class="BBFormSelectList DonationSelectList">
                            <option selected="selected" value="-1">&lt;Please Select&gt;</option>
                            <option value="AA">AA</option>
                            <option value="AE">AE</option>
                            <option value="AK">AK</option>
                            <option value="AL">AL</option>
                            <option value="AP">AP</option>
                            <option value="AR">AR</option>
                            <option value="AS">AS</option>
                            <option value="AZ">AZ</option>
                            <option value="CA">CA</option>
                            <option value="CO">CO</option>
                            <option value="CT">CT</option>
                            <option value="CZ">CZ</option>
                            <option value="DC">DC</option>
                            <option value="DE">DE</option>
                            <option value="FL">FL</option>
                            <option value="FM">FM</option>
                            <option value="GA">GA</option>
                            <option value="GU">GU</option>
                            <option value="HI">HI</option>
                            <option value="IA">IA</option>
                            <option value="ID">ID</option>
                            <option value="IL">IL</option>
                            <option value="IN">IN</option>
                            <option value="KS">KS</option>
                            <option value="KY">KY</option>
                            <option value="LA">LA</option>
                            <option value="MA">MA</option>
                            <option value="MD">MD</option>
                            <option value="ME">ME</option>
                            <option value="MH">MH</option>
                            <option value="MI">MI</option>
                            <option value="MN">MN</option>
                            <option value="MO">MO</option>
                            <option value="MP">MP</option>
                            <option value="MS">MS</option>
                            <option value="MT">MT</option>
                            <option value="NC">NC</option>
                            <option value="ND">ND</option>
                            <option value="NE">NE</option>
                            <option value="NH">NH</option>
                            <option value="NJ">NJ</option>
                            <option value="NM">NM</option>
                            <option value="NV">NV</option>
                            <option value="NY">NY</option>
                            <option value="OH">OH</option>
                            <option value="OK">OK</option>
                            <option value="OR">OR</option>
                            <option value="PA">PA</option>
                            <option value="PR">PR</option>
                            <option value="PW">PW</option>
                            <option value="RI">RI</option>
                            <option value="SC">SC</option>
                            <option value="SD">SD</option>
                            <option value="TN">TN</option>
                            <option value="TX">TX</option>
                            <option value="UT">UT</option>
                            <option value="VA">VA</option>
                            <option value="VI">VI</option>
                            <option value="VT">VT</option>
                            <option value="WA">WA</option>
                            <option value="WI">WI</option>
                            <option value="WV">WV</option>
                            <option value="WY">WY</option>
                        </select>
                    </td>
                    <td id="PC28234_AddressCtl_tdreq_stateUS">
                        <span id="PC28234_AddressCtl_lblreq_stateUS" class="BBFormRequiredFieldMarker DonationRequiredFieldMarker">*</span>
                    </td>
                </tr>
                <tr>
                </tr>
                <tr>
                    <td id="PC28234_AddressCtl_lbl_zipUS" class="BBFieldCaption DonationFieldCaption"><label for="PC28234_AddressCtl_tb_ZipUS" id="PC28234_AddressCtl_lblZipUS">ZIP:</label></td>
                    <td id="PC28234_AddressCtl_ctl_zipUS" class="taLeft BBFieldControlCell DonationFieldControlCell"><input name="PC28234$AddressCtl$tb_ZipUS" type="text" maxlength="10" id="PC28234_AddressCtl_tb_ZipUS" class="BBFormTextbox DonationTextbox"></td>
                    <td id="PC28234_AddressCtl_lblreq_zipUS" class="BBFormRequiredFieldMarker DonationRequiredFieldMarker">
                        *
                    </td>
                </tr>
                <tr>
                    <td class="BBFieldCaption DonationFieldCaption">
                        <label for="PC28234_txtTributeAcknPhone" id="PC28234_lblPhoneCaption">Phone:</label>
                    </td>
                    <td class="BBFieldControlCell DonationFieldControlCell">
                        <input name="PC28234$txtTributeAcknPhone" type="text" maxlength="20" id="PC28234_txtTributeAcknPhone" class="BBFormTextbox DonationTextbox">
                    </td>
                </tr>
                <tr>
                    <td class="BBFieldCaption DonationFieldCaption">
                        <label for="PC28234_txtTributeAcknEmail" id="PC28234_lblEmailCaption">Email:</label>
                    </td>
                    <td class="BBFieldControlCell DonationFieldControlCell">
                        <input name="PC28234$txtTributeAcknEmail" type="text" maxlength="100" id="PC28234_txtTributeAcknEmail" class="BBFormTextbox DonationTextboxWide">
                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td class="BBFieldControlCell DonationFieldControlCell DonationVerificationCell" colspan="3">
                    </td>
                </tr>
                <tr>
                    <td class="BBFormButtonCell DonationButtonCell" colspan="3">
                        <input type="submit" name="PC28234$btnNext" value="Continue" onclick="(function(btn){var bDisableMe=true;if(typeof(Page_ClientValidate)=='function'){bDisableMe=Page_ClientValidate('PC28234');}__doPostBack('PC28234$btnNext','');btn.disabled=bDisableMe;})(this);return false;WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;PC28234$btnNext&quot;, &quot;&quot;, true, &quot;PC28234&quot;, &quot;&quot;, false, false))" id="PC28234_btnNext" class="BBFormSubmitButton DonationSubmitButton">
                    </td>
                </tr>
                <input type="hidden" name="PC28234$hdnTId" id="hdnTId">
            </tbody>
        </table>
        <script>
            /*
            var publicKey = '55d0259b-8201-4043-bcdc-94ee78d4f708';
            var APITokenID = '00000000-0000-0000-0000-000000000000';
            var CurrencyDecimalSeparator = '.',
                CurrencyGroupSeparator = ',';
            $(function () {
                $('#' + 'PC28234_ddlDesignations').on({
                    mouseenter: function () {
                        var option = $(this).find("option:selected")[0];
                        if (option !== null) {
                            $(this).attr("title", option.text);
                        }
                    }
                });
            });
            
            this.bbcheckout = new BBCheckoutProcessor(BLACKBAUD.netcommunity.DonationClassicCheckout, 'Payment', '00000000-0000-0000-0000-000000000000', null);
            this.bbcheckout.Configuration.Data.Key = '';
            this.bbcheckout.Configuration.TransactionType = 1;
            this.bbcheckout.Configuration.Data.ClientAppName = 'BBIS';        
            this.bbcheckout.Configuration.Data.MerchantAccountId = '';
            this.bbcheckout.Configuration.Data.IsEmailRequired = 'True';
            this.bbcheckout.Configuration.Data.IsNameVisible = 'True';
            this.bbcheckout.Configuration.Data.PrimaryColor = '';
            this.bbcheckout.Configuration.Data.SecondaryColor = '';
            this.bbcheckout.Configuration.Data.FontFamily = '';
            this.bbcheckout.Configuration.Data.UseCaptcha = 'False';
            this.bbcheckout.Configuration.WorkflowType = '2';
            this.bbcheckout.Configuration.HandleBrowserClosing = 'True';
            this.bbcheckout.Configuration.APITokenID = '00000000-0000-0000-0000-000000000000';
            this.bbcheckout.Configuration.TempConfirmationHtml = '';
            this.bbcheckout.Configuration.AllowSiteTracking = 'False';
            this.bbcheckout.intializeCheckout(); */
        </script>
    </div>
    <div id="bbspLoadingOverlay" class="bbspLoadingOverlay">
        <img src="/images/FormEngine/Loading.gif" alt="" class="bbspLoadingImage">
    </div>
</div>