<header class="c-header {{ headerAdditionalClasses }}">

    <div class="c-header__inner l-container">

    	{{> molecules-logo }}

        {{> molecules-primary-nav }}

    </div><!--end l-container-->
    <div class="search-toggle" aria-hidden="true">
        {{> organisms-search }}
    </div>

</header><!--end c-header-->